<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-5-services.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS Services - NHS.UK
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
      <div>
        <ol class="nhsuk-breadcrumb__list ">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-5/">Home</a></li>
          <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-5/a-to-z">Health A to Z</a>
          </li> -->

        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-5/home">Home</a>
        </p>
      </div>
    </nav>

    <!-- Change the page title here -->
    <h1>
      NHS services
    </h1>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text">Find services near you, manage your prescriptions and use online NHS services.</p>
      </div>
    </div>

  </div>

  </div>

  <div class="nhsuk-grid-row ">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-action-link nhsuk-u-margin-bottom-6">
        <a class="nhsuk-action-link__link" href="javascript:void(0);">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">When to call 999</span>
        </a>
      </div>
      <div class="nhsuk-action-link nhsuk-u-margin-bottom-2">
        <a class="nhsuk-action-link__link" href="javascript:void(0);">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">When to contact 111</span>
        </a>
      </div>


    </div>
    <br><br><br>
  </div>



  <section id="Introduction">

    <div class="nhsuk-grid-row nhsuk-card-group nhsuk-u-margin-top-6">

      <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card_canon">
          <a class="nhsuk-card__link-wrapper" href="javascript:void(0)">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">Find services near you</h3>
              <p class="nhsuk-card__description">
                Find your nearest health service, including GPs, pharmacies and A&E.
              </p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>



      <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card_canon">
          <a class="nhsuk-card__link-wrapper" href="/lab-5/nhs-services/prescriptions">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">Prescriptions</h3>
              <p class="nhsuk-card__description">Order repeat prescriptions and check prescription costs.
              </p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

    </div>


    <div class="nhsuk-grid-row nhsuk-card-group">

      <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card_canon">
          <a class="nhsuk-card__link-wrapper" href="/lab-5/nhs-services/online-services">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">Online services</h3>
              <p class="nhsuk-card__description">Includes how to book GP appointments and register as an organ donor.
              </p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card_canon">
          <a class="nhsuk-card__link-wrapper" href="javascript:void(0)">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">Using the NHS</h3>
              <p class="nhsuk-card__description">Answer your questions about how to access NHS services.
              </p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

    </div>



    <div class="nhsuk-grid-row nhsuk-card-group">

      <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card_canon">
          <a class="nhsuk-card__link-wrapper" href="javascript:void(0)">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">Health records</h3>
              <p class="nhsuk-card__description">
                How to access your health records and choose how your information is used or shared.

              </p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card_canon">
          <a class="nhsuk-card__link-wrapper" href="javascript:void(0)">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">Electronic referrals system</h3>
              <p class="nhsuk-card__description">
                Book, cancel or change a referral appointment.
              </p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

    </div>

    <div class="nhsuk-grid-row nhsuk-card-group">

      <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card_canon">
          <a class="nhsuk-card__link-wrapper" href="javascript:void(0)">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">Help with health costs</h3>
              <p class="nhsuk-card__description">Includes help with eye tests, glasses, dental costs and low income needs.

              </p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

    </div>


  </section>






</div>
</div>
{% endblock %}