<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Metformin - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/metformin">Metformin</a></li>

            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/metformin">Metformin</a></p>
          </div>
        </nav>

      <h1>
        About metformin
      </h1>

      <section id="About-metformin">
        <p>Metformin is a medicine used to treat <a href="/lab-4/a-to-z/diabetes/type-2-diabetes">type 2 diabetes</a> and to help prevent type 2 diabetes if you're at high risk of developing it.</p>
        <p>Metformin is used when treating <a href="javascript:void(0);" title="">polycystic ovary syndrome (PCOS)</a>, although it's not officially approved for PCOS.</p>
        <p>Type 2 diabetes is an illness where the body does not make enough insulin, or the insulin that it makes does not work properly. This can cause high blood sugar levels <a href="javascript:void(0);" title="">(hyperglycaemia).</a></p>
        <p>PCOS is a condition that affects how the ovaries work.</p>
        <p>Metformin lowers your blood sugar levels by improving the way your body handles insulin.</p>
        <p>It's usually prescribed for diabetes when diet and exercise alone have not been enough to control your blood sugar levels.</p>
        <p>For women with PCOS, metformin lowers insulin and blood sugar levels, and can also stimulate ovulation.</p>
        <p>Metformin is available on prescription as tablets and as a liquid that you drink.</p>
      </section>



      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
          <h2 class="">More in <a href="/lab-4/a-to-z/metformin">Metformin</a></a></h2>
          <ul class="nhsuk-list app-side-nav__list">

              <li class="app-side-nav__item "><a class="app-side-nav__link" href="">About metformin</a></li>
      
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="">Key facts</a></li>
            
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="">Who can and can't take metformin</a></li>
            
              <li class="app-side-nav__item "><a class="app-side-nav__link" href="">Understanding medicine</a></li>
            
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="">How and when to take it</a></li>
            
              <li class="app-side-nav__item "><a class="app-side-nav__link" href="">Side effects</a></li>
              
              <li class="app-side-nav__item app-side-nav__item--current">How to cope with side effects</li>
      
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="">Pregnancy and breastfeeding</a></li>

              <li class="app-side-nav__item"><a class="app-side-nav__link" href="">Cautions with other medicines</a></li>

              <li class="app-side-nav__item"><a class="app-side-nav__link" href="">Common questions</a></li>
      




              
  
              
              
   






            </ul>
        </nav>

    </div>      
</div>
{% endblock %}
