<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Metformin - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/metformin">Metformin</a></li>

            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/metformin">Metformin</a></p>
          </div>
        </nav>

      <h1>
        About metformin
      </h1>

      <section id="About-metformin">
        <p>Metformin is a medicine used to treat <a href="/lab-4/a-to-z/diabetes/type-2-diabetes">type 2 diabetes</a> and to help prevent type 2 diabetes if you're at high risk of developing it.</p>
        <p>Metformin is used when treating <a href="javascript:void(0);" title="">polycystic ovary syndrome (PCOS)</a>, although it's not officially approved for PCOS.</p>
        <p>PCOS is a condition that affects how the ovaries work.</p>
        <p>Type 2 diabetes is an illness where the body does not make enough insulin, or the insulin that it makes does not work properly. This can cause high blood sugar levels (<a href="javascript:void(0);" title="">hyperglycaemia</a>).</p>
        <p>Metformin lowers your blood sugar levels by improving the way your body handles insulin.</p>
        <p>It's usually prescribed for diabetes when diet and exercise alone have not been enough to control your blood sugar levels.</p>
        <p>For women with PCOS, metformin lowers insulin and blood sugar levels, and can also stimulate ovulation.</p>
        <p>Metformin is available on prescription as tablets and as a liquid that you drink.</p>
        <h4>Related conditions</h4>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p><a href="/lab-4/a-to-z/diabetes/type-2-diabetes">Type 2 diabetes</a></p>
            <p><a href="javascript:void(0);" title="">Polycystic ovary syndrome (PCOS)</a></p>
            <p><a href="javascript:void(0);" title="">Hyperglycaemia</a></p>
          </div>


      </section>



      <nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation" aria-label="Pages in this guide">
          <h2 class="">More in <a href="/lab-4/a-to-z/metformin">Metformin</a></a></h2>
          <ul class="nhsuk-list app-side-nav__list">

              <li class="app-side-nav__item app-side-nav__item--current">About metformin</li>
      
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/key-facts">Key facts</a></li>
            
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/who-can-take">Who can and can't take metformin</a></li>
                        
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/how-and-when-to-take">How and when to take it</a></li>
            
              <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/side-effects">Side effects</a></li>
              
              <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/how-to-cope-with-side-effects">How to cope with side effects</a></li>
      
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/pregnancy-and-breastfeeding">Pregnancy and breastfeeding</a></li>

              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/cautions-with-other-medicines">Cautions with other medicines</a></li>

              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/common-questions">Common questions</a></li>
      




              
  
              
              
   






            </ul>
        </nav>


        <div class="nhsuk-review-date nhsuk-u-padding-top-5">
            <p class="nhsuk-body-s">
              Page last reviewed: 8 August 2017<br>
              Next review due: 8 August 2020
            </p>
          </div>

    </div>      
</div>
{% endblock %}
