<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Metformin - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/metformin">Metformin</a></li>

            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/metformin">Metformin</a></p>
          </div>
        </nav>

      <h1>
        How and when to take metformin
      </h1>

      <section id="who-can-take-metformin">
        <p>Metformin is prescribed for adults, and children aged 10 years and older.</p>
        <p><strong>Metformin is not suitable for some people. Tell your doctor before starting the medicine if you:</strong></p>
        <ul>
          <li>have had an allergic reaction to metformin or other medicines in the past</li>
          <li>have uncontrolled diabetes</li>
          <li>have liver or kidney problems</li>
          <li>have a severe infection</li>
          <li>are being treated for <a href="javascript:void(0);" title="">heart failure</a> or have recently had a <a href="javascript:void(0);" title="">heart attack</a></li>
          <li>have severe problems with your circulation or breathing difficulties</li>
          <li>drink a lot of alcohol</li>
        </ul>
        <p><strong>You may need to stop taking metformin before having surgery and certain medical tests. Tell your doctor if you need to have:</strong></p>
        <ul>
          <li>a test such as an X-ray or scan involving the injection of a dye that contains iodine into your blood</li>
          <li>surgery where you'll be put to sleep</li>
        </ul>
      </section>

    </div>      
</div>
{% endblock %}
