<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Metformin - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/metformin">Metformin</a></li>

            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/metformin">Metformin</a></p>
          </div>
        </nav>

      <h1>
        Pregnancy and breastfeeding while taking metformin
      </h1>

      <section id="pregnancy-and-breastfeeding">
        <p>Metformin is usually safe to take during pregnancy, either alone or in combination with insulin.</p>
        <p>For more information about how metformin can affect you and your baby during pregnancy, <a href="/bumps-website/"> read this leaflet on the Best Use of Medicines in Pregnancy (BUMPS) website.</a></p>
        <h3>Metformin and breastfeeding</h3>
        <p>You can take metformin while you're breastfeeding.</p>
        <p>Metformin passes into breast milk, but the amount is too small to affect your baby.</p>
        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">Important</h3>
          <p>Tell your doctor if you're trying to get pregnant, already pregnant or breastfeeding.</p>
        </div>
      </section>


    </div>      
</div>
{% endblock %}
