<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Erythromycin - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/antibiotics">Antibiotics</a></li>

            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/antibiotics">Antibiotics</a></p>
          </div>
        </nav>

      <h1>
          Erythromycin
      </h1>

      <p class="nhsuk-lede-text">Erythromycin is an antibiotic.</p>
      <section id="key-links" class="nhsuk-u-padding-bottom-8">
        <!--<h3 class="nhsuk-u-margin-bottom-0">Pages in this guide</h3>-->
        <ul class="key-links" class="nhsuk-u-padding-top-0 ">
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/about" title="">About erythromycin</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/key-facts">Key facts</a></li>
          <li><a href= "/lab-4/a-to-z/antibiotics/erythromycin/who-can-take">Who can and can't take erythromycin</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/how-and-when-to-take">How and when to take it</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/side-effects">Side effects</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/how-to-cope-with-side-effects">How to cope with side effects</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/pregnancy-and-breastfeeding">Pregnancy and breastfeeding</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/cautions-with-other-medicines">Cautions with other medicines</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/common-questions">Common questions</a></li>
        </ul>
    </section>


    <aside>
        <div class="nhsuk-panel-with-label">
          <h3 class="nhsuk-panel-with-label__label">Related conditions</h3>
          <ul>
            
              <li><a href="javascript:void(0);">Chest infection</a></li>
              <li><a href="javascript:void(0);">Ear infections</a></li>
              <li><a href="javascript:void(0);">Sexually transmitted infections (STIs)</a></li>
            
          </ul>
        </div>
      </aside>



      <aside>
          <div class="nhsuk-panel-with-label">
            <h3 class="nhsuk-panel-with-label__label">Useful resources</h3>
            <ul>
              
                <li><a href="javascript:void(0);">Erythromycin: forum</a></li>
                    <li><a href="javascript:void(0);">Urinary tract infections: forum</a></li>
                        <li><a href="javascript:void(0);">British Lung Foundation: charity</a></li>
                            <li><a href="javascript:void(0);">British Skin Foundation: charity</a></li>
              
            </ul>
          </div>
        </aside>


    </div>      
</div>
{% endblock %}
