<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Metformin - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/antibiotics">Antibiotics</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/antibiotics/erythromycin">Erythromycin</a></li>

            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/antibiotics/erythromycin">Erythromycin</a></p>
          </div>
        </nav>

      <h1>
        Side effects of erythromycin
      </h1>


      <section id="side-effects">
          <div class="block-richtext"><p>Like all medicines, erythromycin can cause side effects, although not everyone gets them.</p>
    <h3>Common side effects</h3>
    <p>These common side effects of erythromycin happen in more than 1 in 100 people. Keep taking the medicine, but talk to your doctor or pharmacist if these side effects bother you or don't go away:</p>
    <ul>
    <li>feeling sick (nausea)</li>
    <li>being sick (vomiting) and diarrhoea</li>
    <li>stomach cramps</li>
    <li>loss of appetite</li>
    <li>bloating and indigestion</li>
    </ul>
    <h3>Serious side effects</h3>
    <p>Serious side effects are rare and happen in less than 1 in 1,000 people.</p>
    <p>Call a doctor straight away if you get:</p>
    <ul>
    <li>chest pains or your heart is beating abnormally</li>
    <li>skin rash</li>
    <li>severe stomach pain - this can be a sign of pancreas problems</li>
    <li>yellowing of the skin or the whites of the eyes, or pale poo with dark pee - these can be signs of liver or gallbladder problems</li>
    <li>seizures</li>
    <li>hallucinations (seeing or hearing things that aren't there)</li>
    <li>ringing in the ears, temporary hearing loss, or feeling unsteady on your feet</li>
    <li>a temperature of 38C and above</li>
    </ul>
    <h4>Serious allergic reaction</h4>
    <p>In rare cases, it's possible to have a serious allergic reaction (<a href="/conditions/anaphylaxis/">anaphylaxis</a>) to erythromycin.</p>
    </div>
    <div class="block-care_card">
    <div class="nhsuk-care-card nhsuk-care-card--immediate">
      <div class="nhsuk-care-card__heading-container">
        <h3 class="nhsuk-care-card__heading">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 or go to A&amp;E if:
          </span>
        </h3>
        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
      </div>
      <div class="nhsuk-care-card__content">
        
          <ul>
    <li>you get a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
    <li>you're wheezing</li>
    <li>you get tightness in the chest or throat</li>
    <li>you have trouble breathing or talking</li>
    <li>your mouth, face, lips, tongue or throat start swelling</li>
    </ul>
    <p>You could be having a serious allergic reaction and may need immediate treatment in hospital.</p>
    
        
      </div>
    </div>
    </div>

    <h4>Allergic reaction links</h4>
                <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p><a href="javascript:void(0);" title="">Anaphylaxis</a></p>
                </div>
        </section>


      <nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation" aria-label="Pages in this guide">
          <h2 class="">More in <a href="/lab-4/a-to-z/antibiotics/erythromycin">erythromycin</a></a></h2>
          <ul class="nhsuk-list app-side-nav__list">

              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/about">About erythromycin</a></li>
      
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/key-facts">Key facts</a></li>
            
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/who-can-take">Who can and can't take erythromycin</a></li>
                        
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/how-and-when-to-take">How and when to take it</a></li>
            
              <li class="app-side-nav__item app-side-nav__item--current">Side effects</li>
              
              <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/how-to-cope-with-side-effects">How to cope with side effects</a></li>
      
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/pregnancy-and-breastfeeding">Pregnancy and breastfeeding</a></li>

              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/cautions-with-other-medicines">Cautions with other medicines</a></li>

              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/common-questions">Common questions</a></li>
      
            </ul>
        </nav>


        <div class="nhsuk-review-date nhsuk-u-padding-top-5">
            <p class="nhsuk-body-s">
              Page last reviewed: 8 August 2017<br>
              Next review due: 8 August 2020
            </p>
          </div>



    </div>      
</div>
{% endblock %}
