<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4a.html' %} {% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Symptoms - NHS {% endblock %}

<!-- Coronavirus (COVID-19) banner -->
{% block beforeContent %}
<div class="app-global-alert" id="app-global-alert" role="complementary">
    <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="app-global-alert__content">
                    <div class="app-global-alert__message">
                        <h2>Coronavirus (COVID-19)</h2>
                        <p><a href="">Get the latest advice about COVID-19</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a href="" class="nhsuk-breadcrumb__backlink">
                <span class="nhsuk-u-visually-hidden">Back to </span>Home
            </a>
        </p>
    </div>
</nav>
{% endblock %}

<!-- Symptom content -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>Tremor or shaking hands</h1>
    </div>
</div>
<article>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <section>
                <p data-block-key="rp950"><b>A tremor is when you're not able to control shaking or trembling in part of your body. See a GP if a tremor is affecting your life as treatment may help to reduce it.</b></p>
            </section>
            <section>
                <h2>When a tremor is normal</h2>
                <p data-block-key="09x87">It's normal to have a slight tremor. For example, if you hold your hands or arms out in front of you, they will not be completely still.</p>
                <p data-block-key="7wccv">Sometimes a tremor becomes more noticeable.</p>
                <p data-block-key="dux1e">This often happens:</p>
                <ul>
                    <li data-block-key="qe5rb">as you get older</li>
                    <li data-block-key="qh9js">when you're stressed, tired, anxious or angry</li>
                    <li data-block-key="dlmsz">after drinking caffeine (for example, in tea, coffee or cola) or smoking</li>
                    <li data-block-key="zlnsk">if you're very hot or cold</li>
                </ul>
                <p data-block-key="5w61w">Some medicines and conditions can also cause a tremor. Speak to your GP before you stop taking any prescribed medicine.</p>
            </section>
            <section>
                <div class="nhsuk-care-card nhsuk-care-card--primary">
                    <div class="nhsuk-care-card__heading-container">
                        <h3 class="nhsuk-care-card__heading">
                            <span role="text">
          <span class="nhsuk-u-visually-hidden">Non-urgent advice:  </span>See a GP if:
                            </span>
                        </h3>
                        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
                    </div>
                    <div class="nhsuk-care-card__content">
                        <p data-block-key="jbsk7">you have a tremor or shaking hands and:</p>
                        <ul>
                            <li data-block-key="l2h7j">it's getting worse over time</li>
                            <li data-block-key="gdxzt">it's affecting your daily activities</li>
                        </ul>
                        <p data-block-key="qdiel">Your doctor will want to make sure the tremor is not caused by another condition. They may also be able to offer treatment.</p>
                        <div class="nhsuk-inset-text">
                            <span class="nhsuk-u-visually-hidden">Information: </span>
                            <h3>Coronavirus (COVID-19) update: how to contact a GP</h3>
                            <p>It's still important to get help from a GP if you need it. To contact your GP surgery:</p>
                            <ul>
                                <li>visit their website</li>
                                <li>use the <a href="/using-the-nhs/nhs-services/the-nhs-app/">NHS App</a></li>
                                <li>call them</li>
                            </ul>
                            <p><a href="/conditions/coronavirus-covid-19/using-the-nhs-and-other-health-services/">Find out about using the NHS during COVID-19</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h2>What happens at your GP appointment</h2>
                <p data-block-key="wlfcg">Your GP will examine you and ask:</p>
                <ul>
                    <li data-block-key="g2udy">if you have any other symptoms</li>
                    <li data-block-key="3gmy0">if you're taking any medicine</li>
                    <li data-block-key="wuecy">about your and your family's medical history – some types of tremor run in families</li>
                </ul>
                <p data-block-key="wlr1w">A mild tremor that is not caused by another condition does not usually need any treatment. Your GP may want to monitor you to make sure it does not get any worse.</p>
                <p data-block-key="ln7an">Your GP may refer you to a specialist for further tests if your tremor could be a symptom of a condition such as <a href="/conditions/parkinsons-disease/">Parkinson's disease</a> or <a href="/conditions/multiple-sclerosis/">multiple sclerosis</a>.</p>
            </section>
            <section>
                <h2>Treating a severe tremor</h2>
                <p data-block-key="xrqmu">If you have a tremor that's affecting your life, your GP may prescribe medicine. Medicine will not cure the tremor, but it often helps to reduce the shaking or trembling.</p>
                <p data-block-key="p4usm">You may need to take medicine all the time, or only when you need it – for example, before a stressful situation that causes your tremor to get worse.</p>
                <p data-block-key="6s4mm">If a tremor is affecting your head or voice, you may be offered injections to block the nerves and relax the muscles.</p>
                <p data-block-key="g6lvs">In rare cases, brain surgery may be an option to treat a severe tremor that is not helped by medicine.</p>
                <p data-block-key="7d609"><a href="https://tremor.org.uk/surgery-tremor">Read more about brain surgery for severe tremor on the National Tremor Foundation (NTF) website</a></p>
                <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p data-block-key="umfa3"><a href="http://www.tremor.org.uk/">The NTF</a> also offers support and information on tremor if it's affecting your life.</p>
                </div>
            </section>
            <div>
                <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
                    Page last reviewed: 30 November 2020<br> Next review due: 30 November 2023
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock %}