<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4a.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Symptoms</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Symptoms
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Paralysis</h1>
    </div>
    <p><strong>Paralysis is the loss of the ability to move some or all of your body.</strong></p>
    <p>It can have lots of different causes, some of which can be serious. Depending on the cause, it may be temporary or permanent.</p>

    <h2>Symptoms of paralysis</h2>
    <p>The main symptom of paralysis is the inability to move part of your body, or not being able to move at all.</p>
    <p>It can start suddenly or gradually. Sometimes it comes and goes.</p>
    <p>Paralysis can affect any part of the body, including:</p>
    <ul>
      <li>the face</li>
      <li>the hands</li>
      <li>one arm or leg (monoplegia)</li>
      <li>one side of the body (hemiplegia)</li>
      <li>both legs (paraplegia)</li>
      <li>both arms and legs (tetraplegia or quadriplegia)</li>
    </ul>
    <p>The affected part of your body may also be:</p>
    <ul>
      <li>stiff (spastic paralysis), with occasional muscle spasms</li>
      <li>floppy (flaccid paralysis)</li>
      <li>numb, painful or tingly</li>
    </ul>

    <h2>See a GP if you have paralysis</h2>
    <p>A GP can do some tests if you have paralysis or weakness that:</p>
    <ul>
      <li>started gradually</li>
      <li>is getting slowly worse</li>
      <li>comes and goes</li>
    </ul>
    <p>They may refer you to a hospital specialist for more tests if they're unsure what's causing your symptoms.</p>

    <h2>Call 999 for emergency help</h2>
    <p>Call 999 for an ambulance if you or someone else has paralysis or weakness that:</p>
    <ul>
      <li>starts suddenly</li>
      <li>starts after a serious injury, such as a fall or car crash</li>
      <li>causes problems with speech, breathing or swallowing</li>
    </ul>
    <p>These problems could be a sign of something serious that needs to be treated in hospital straight away.</p>

    <h2>Causes of paralysis</h2>
    <p>There are many possible causes of paralysis.</p>
    <p>Do not try to identify the cause yourself. See a doctor to get a proper diagnosis.</p>
    <h3>Main causes</h3>
    <p>Some of the main causes of paralysis are:</p>
    <ul>
      <li>sudden weakness on one side of the face, with arm weakness or slurred speech – a <a href="javascript:void(0);">stroke</a> or <a href="javascript:void(0);">transient ischaemic attack (TIA or "mini-stroke")</a></li>
      <li>sudden weakness on one side of the face, with <a href="javascript:void(0);">earache</a> or face pain – <a href="javascript:void(0);">Bell's palsy</a></li>
      <li>temporary paralysis when waking up or falling asleep – sleep paralysis</li>
      <li>paralysis after a serious accident or injury – a <a href="javascript:void(0);">severe head injury</a> or spinal cord (back) injury</li>
      <li>weakness in the face, arms or legs that comes and goes – <a href="javascript:void(0);">multiple sclerosis</a> or, less commonly, <a href="javascript:void(0);">myasthenia gravis</a> or hypokalaemia periodic paralysis</li>
    </ul>
    <h3>Other causes</h3>
    <p>Other causes of paralysis include:</p>
    <ul>
      <li>gradual weakness on one side of the body – a <a href="javascript:void(0);">brain tumour</a></li>
      <li>gradual weakness in the legs – <a href="javascript:void(0);">hereditary spastic paraplegia</a>, <a href="javascript:void(0);">Friedreich's ataxia</a> or <a href="javascript:void(0);">muscular dystrophy</a></li>
      <li>gradual weakness in the arms and legs – <a href="javascript:void(0);">motor neurone disease</a>, <a href="javascript:void(0);">spinal muscular atrophy</a> or <a href="javascript:void(0);">Lambert-Eaton mysathenic syndrome</a></li>
      <li>paralysis in the legs that spreads to the arms and face over a few days or weeks – <a href="javascript:void(0);">Guillain-Barré syndrome<</a>/li>
      <li>paralysis from birth – <a href="javascript:void(0);">cerebral palsy</a>, <a href="javascript:void(0);">spina bifida</a> or spinal muscular atrophy</li>
      <li>paralysis that starts in the weeks, months or years after a tick bite – <a href="javascript:void(0);">Lyme disease</a></li>
      <li>paralysis that starts many years after a polio infection – <a href="javascript:void(0);">post-polio syndrome</a></li>
      <li>gradual weakness in parts of the face – a tumour on a nerve, <a href="javascript:void(0);">melanoma</a> skin cancer or <a href="javascript:void(0);">head and neck cancer</a></li>
    </ul>

    <h2>Treatment and support for paralysis</h2>
    <p>Paralysis can have a big impact on your life, but support is available to help you live as independently as you can and have the best possible quality of life.</p>
    <p>The help you need will largely depend on what's causing your paralysis.</p>
    <p>Some of the things that can help people who are paralysed include:</p>
    <ul>
      <li><a href="javascript:void(0);">mobility equipment</a> – such as wheelchairs and limb supports (braces)</li>
      <li><a href="javascript:void(0);">physiotherapy</a> to help you maintain as much strength and muscle mass as you can</li>
      <li><a href="javascript:void(0);">occupational therapy</a> to help adapt your home so everyday tasks like dressing and cooking are easier</li>
      <li>medicines to relieve problems such as pain, stiffness and muscle spasms</li>
    </ul>
    <p>For more information about the help and support available, see:</p>
    <ul>
      <li><a href="javascript:void(0);">Your guide to care and support</a></li>
      <li><a href="javascript:void(0);">Disabled living foundation</a></li>
      <li><a href="javascript:void(0);">GOV.UK: Help and advice for disabled people</a></li>
      <li><a href="javascript:void(0);">Headway: The brain injury association</a></li>
    </ul>


    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>


    <aside class="nhsuk-grid-column">
      <div id="sibling-nav" class="app-related-nav beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="app-related-nav__heading nhsuk-u-padding-bottom-3">
          More in
          
            <a href="/lab-4/a/symptoms/body-part/legs-feet-toes">Legs and feet</a>
          
        </h2>
        <nav role="navigation" class="app-related-nav__nav-section">
          <ul class="app-related-nav__list beta-hub-sibling-nav__list">

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/ankle-pain">
                Ankle pain
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/foot-drop">
                Foot drop
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/heel-pain">
                Heel pain
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/hip-pain">
                Hip pain
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/hip-pain-children">
                Hip pain in children
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/joint-pain">
                Joint pain
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/knee-pain">
                Knee pain
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/leg-cramps">
              Leg cramps
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/limp-children">
              Limp in children
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/pain-ball-foot">
              Pain in the ball of the foot
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/pain-bottom-foot">
                Pain in the bottom of the foot
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/pain-top-foot">
                Pain in the top of the foot
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item  beta-hub-sibling-nav--current" aria-current="true">
              Paralysis
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/pins-and-needles">
                Pins and needles
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/smelly-feet">
                Smelly feet
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/swollen-ankles">
                Swollen ankles
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/legs-feet-toes/toe-pain">
                Toe pain
              </a>
            </li>

            
          </ul>
        </nav>
      </div>
    </aside>






  </div>
</div>
{% endblock %}
