// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
@import 'beta';
  

.nhsuk-expander .nhsuk-details__summary-text {
    color: #005eb8;
    cursor: pointer;
    display: inline-block;
    padding: 4px 4px 4px 38px;
    position: relative;
}
.nhsuk-details__summary-text {
    text-decoration: underline;
}