{% extends 'layout-lab-3-pregnant.html' %}

{% block pageTitle %}
  Pregnancy - Being pregnant - Foods to avoid in pregnancy - NHS.UK 
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}

{% endblock %}

{% block content %}
<section>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <section>
        <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
            <div >
              <ol class="nhsuk-breadcrumb__list ">
                  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/pregnancy">Pregnancy</a></li>             
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/pregnancy/pregnant">Being pregnant</a></li>  
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/pregnancy/food-and-drink">Food and drink in pregnancy</a></li>      
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/pregnancy/foods-to-avoid">Food and drink to avoid in pregnancy </a></li>           

              </ol>
              <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/pregnancy/foods-to-avoid">Food and drink to avoid in pregnancy </a></p>
            </div>
          </nav> 


      <h1>
        <span role="text">
          Eggs, nuts and others
        </span>
      </h1> 
      <p >Some products are risky in pregnancy. Find out what you can and can't eat.</p>
      </div>
    </section>
        

    <section>
    	<article class="eggs">
        <h2>Eggs</h2>
        <h3>Avoid some raw or partially cooked eggs if you're pregnant</h3>
        <p>Some eggs are produced under a food safety standard called the British Lion Code of Practice. Eggs produced in this way have a logo stamped on their shell, showing a red lion.</p>

        <p>Lion Code eggs are considered very low risk for salmonella, and safe for pregnant women to eat raw or partially cooked. So you can eat raw hen eggs or food containing lightly cooked hen eggs (such as soft boiled eggs, mousses, soufflés and fresh mayonnaise) provided that the eggs are produced under the Lion Code.</p>

        <p>If they are not Lion Code, <a href="javascript:void(0);" title="">make sure eggs are thoroughly cooked</a> until the whites and yolks are solid to prevent the risk of salmonella food poisoning. Salmonella food poisoning is unlikely to harm your baby, but it can give you a severe bout of diarrhoea and vomiting.</p>

        <p>If you don't know whether the eggs used are Lion Code or not (for example in a restaurant or cafe), ask the staff or, to be on the safe side, you can follow the advice for non-Lion Code eggs.</p>

        <p>Non-hen eggs such as duck, goose and quail eggs should always be cooked thoroughly.</p>
        <h4>Safety with eggs</h4>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p><a href="javascript:void(0);" title="">Storing and handling eggs safely</a></p>
        </div>
      </article>
       
        
      <article class="nuts">
        <h2>Nuts</h2>
        <h3>Peanuts are safe in pregnancy</h3>

        <p>You can eat peanuts or food containing peanuts, such as peanut butter, during pregnancy, unless you're allergic to them or a health professional advises you not to.</p>

        <p>You may have heard peanuts should be avoided during pregnancy. This is because the government previously advised women to avoid eating peanuts if there was a history of allergy – such as <a href="javascript:void(0);" title="">asthma</a>, <a href="javascript:void(0);" title="">eczema</a>, <a href="javascript:void(0);" title="">hay fever</a> and <a href="javascript:void(0);" title="">food allergy</a> – in their child's immediate family.</p>

        <p>This advice has now changed because the latest research has shown no clear evidence that eating peanuts during pregnancy affects the chances of your baby developing a peanut allergy.</p>
        <h4>Peanuts in pregnancy links</h4>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p><a href="javascript:void(0);" title="">Asthma</a></p>
          <p><a href="javascript:void(0);" title="">Eczema</a></p>
          <p><a href="javascript:void(0);" title="">Hay fever</a></p>
          <p><a href="javascript:void(0);" title="">Food allergies</a></p>
        </div>
      </article>
      <article class="paté">
        <h2>Paté</h2>
        <p>Avoid all types of pâté, including vegetable pâtés, as they can contain listeria.</p>
      </article>
      <article class="soil">

        <h2>Foods with soil on them</h2>
        <p>Wash fruit, vegetables and salads to remove all traces of soil and visible dirt.</p>
      </article>
      <article class="misc">

        <h2>Liquorice</h2>

        <p>You can have moderate amounts of liquorice sweets or liquorice teas in pregnancy – there's no recommendation to avoid them. However, you should avoid the herbal remedy liquorice root.</p>
        <h3>Can eating too much black liquorice be bad for you?</h3>

        <p>Yes, particularly if you're over 40 and have a history of heart disease or high blood pressure, or both.</p>

        <p>Eating more than 57g (2 ounces) of black liquorice a day for at least 2 weeks could lead to potentially serious health problems, such as an increase in blood pressure and an irregular heart rhythm (arrhythmia).</p>

        <p>For most people, liquorice found in foods is safe to eat and safe when consumed in large amounts in medicines for short periods of time.</p>

        <h3>General health advice about black liquorice</h3>

        <p>No matter how old you are, you should avoid eating large amounts of black liquorice over a short space of time.</p>

        <p>If you have been eating a lot of black liquorice and have heart palpitations, muscle weakness or other health-related problems, stop eating it immediately and seek medical advice.</p>

        <p>Black liquorice can interact with some medications, herbs and dietary supplements.</p>

        <p>Get advice from a GP or pharmacist if you have questions about possible interactions with a medication or supplement you're taking.</p>
      </article>
    	</section>
      <section>
          <nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation" aria-label="Pages in this guide">
              <h2 class="">More in <a href="/lab-4/a-to-z/pregnancy/foods-to-avoid">Food and drink to avoid in pregnancy</a></a></h2>
              <ul class="nhsuk-list app-side-nav__list">
      
                  <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/pregnancy/foods-to-avoid-meat">Meat and fish</a></li>
          
                  <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/pregnancy/foods-to-avoid-dairy">Dairy</a></li>
                
                  <li class="app-side-nav__item app-side-nav__item--current">Eggs, nuts and others</li>
                            
                  <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/pregnancy/foods-to-avoid-drinks">Drinks</a></li>
      
                </ul>
            </nav>
      
      
            <div class="nhsuk-review-date nhsuk-u-padding-top-5">
                <p class="nhsuk-body-s">
                  Page last reviewed: 8 August 2017<br>
                  Next review due: 8 August 2020
                </p>
              </div>
      </section>
    </div>
  </div>
</section>

  {% endblock %}