<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-5-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Erythromycin - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/antibiotics">Antibiotics</a></li>

            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/antibiotics">Antibiotics</a></p>
          </div>
        </nav>

      <h1>
          Erythromycin
      </h1>

      <p class="nhsuk-lede-text">NHS medicines information on erythromycin - what it’s used for, side effects, dosage and who can take it.</p>
      <section id="key-links" class="nhsuk-u-padding-bottom-8">
        <!--<h3 class="nhsuk-u-margin-bottom-0">Pages in this guide</h3>-->
        <ul class="key-links" class="nhsuk-u-padding-top-0 ">
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/about" title="">About erythromycin</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/key-facts">Key facts</a></li>
          <li><a href= "/lab-4/a-to-z/antibiotics/erythromycin/who-can-take">Who can and can't take erythromycin</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/how-and-when-to-take">How and when to take it</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/side-effects">Side effects</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/how-to-cope-with-side-effects">How to cope with side effects</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/pregnancy-and-breastfeeding">Pregnancy and breastfeeding</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/cautions-with-other-medicines">Cautions with other medicines</a></li>
          <li><a href="/lab-4/a-to-z/antibiotics/erythromycin/common-questions">Common questions</a></li>
        </ul>
    </section>


    <section id="key-links" class="border-top" >
        <h3 class="nhsuk-u-margin-bottom-0">Related information</h3>
        <ul class="related-links" class="nhsuk-u-padding-top-0">
          <li><a href="javascript:void(0);" title="" >Chest infection</a></li>
          <li><a href="javascript:void(0);" title="">Ear infections</a></li>
          <li><a href="javascript:void(0);" title="">Sexually transmitted infections (STIs)</a></li>
        </ul>
    </section>

    <section id="key-links" class="border-top" >
        <h3 class="">Useful resources</h3>
  
  
  
        <div class="nhsuk-inset-text nhsuk-inset_external nhsuk-inset-text__arrow nhsuk-u-margin-top-0  nhsuk-u-margin-bottom-2 ">
            <div class="nhsuk-inset-text__content">
              <p><a href="javascript:void(0);" title="External website">Erythromycin: forum</a></p> 
              <p>healthunlocked.com</p>
            </div>
            <div class="arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="12.638" height="21.033" viewBox="0 0 12.638 21.033">
                <g id="icon-plus" transform="translate(-14.169 -7.107)">
                  <g id="Group_1" data-name="Group 1" transform="translate(16.291 9.229) rotate(45)">
                    <path id="Path" d="M0,0V11.873" transform="translate(11.873 0)" fill="none" stroke="#ae2573" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                    <path id="Path-2" data-name="Path" d="M0,0H11.873" fill="none" stroke="#ae2573" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                  </g>
                </g>
              </svg>
            </div>
          </div> 

          <div class="nhsuk-inset-text nhsuk-inset_external nhsuk-inset-text__arrow nhsuk-u-margin-top-0  nhsuk-u-margin-bottom-2 ">
              <div class="nhsuk-inset-text__content">
                <p><a href="javascript:void(0);" title="External website">Urinary tract infections: forum</a></p> 
                <p>healthunlocked.com</p>
              </div>
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="12.638" height="21.033" viewBox="0 0 12.638 21.033">
                  <g id="icon-plus" transform="translate(-14.169 -7.107)">
                    <g id="Group_1" data-name="Group 1" transform="translate(16.291 9.229) rotate(45)">
                      <path id="Path" d="M0,0V11.873" transform="translate(11.873 0)" fill="none" stroke="#ae2573" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                      <path id="Path-2" data-name="Path" d="M0,0H11.873" fill="none" stroke="#ae2573" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                    </g>
                  </g>
                </svg>
              </div>
            </div> 


            <div class="nhsuk-inset-text nhsuk-inset_external nhsuk-inset-text__arrow nhsuk-u-margin-top-0  nhsuk-u-margin-bottom-2 ">
                <div class="nhsuk-inset-text__content">
                  <p><a href="javascript:void(0);" title="External website">British Lung Foundation: charity</a></p> 
                  <p>blf.org.uk</p>
                </div>
                <div class="arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12.638" height="21.033" viewBox="0 0 12.638 21.033">
                    <g id="icon-plus" transform="translate(-14.169 -7.107)">
                      <g id="Group_1" data-name="Group 1" transform="translate(16.291 9.229) rotate(45)">
                        <path id="Path" d="M0,0V11.873" transform="translate(11.873 0)" fill="none" stroke="#ae2573" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                        <path id="Path-2" data-name="Path" d="M0,0H11.873" fill="none" stroke="#ae2573" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                      </g>
                    </g>
                  </svg>
                </div>
              </div> 

              <div class="nhsuk-inset-text nhsuk-inset_external nhsuk-inset-text__arrow nhsuk-u-margin-top-0  nhsuk-u-margin-bottom-2 ">
                  <div class="nhsuk-inset-text__content">
                    <p><a href="javascript:void(0);" title="External website">British Skin Foundation: charity</a></p> 
                    <p>britishskinfoundation.org.uk</p>
                  </div>
                  <div class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.638" height="21.033" viewBox="0 0 12.638 21.033">
                      <g id="icon-plus" transform="translate(-14.169 -7.107)">
                        <g id="Group_1" data-name="Group 1" transform="translate(16.291 9.229) rotate(45)">
                          <path id="Path" d="M0,0V11.873" transform="translate(11.873 0)" fill="none" stroke="#ae2573" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                          <path id="Path-2" data-name="Path" d="M0,0H11.873" fill="none" stroke="#ae2573" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div> 




        </section>





      

    </div>      
</div>
{% endblock %}
