<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-5-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Metformin - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/antibiotics">Antibiotics</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/antibiotics/erythromycin">Erythromycin</a></li>

            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/antibiotics/erythromycin">Erythromycin</a></p>
          </div>
        </nav>

      <h1>
        Key facts about erythromycin
      </h1>

      <section id="Key-facts">
          <ul>
              <li>Take erythromycin 2 or 4 times a day as prescribed by your doctor.</li>
              <li>For most infections, you should feel better within a few days.</li>
              <li>For skin conditions like acne and rosacea, it may take a couple of months before you see an improvement.</li>
              <li>The most common side effects of erythromycin are feeling or being sick (nausea or vomiting), stomach cramps and diarrhoea.</li>
              <li>Drinking alcohol with erythromycin may slightly reduce or delay the medicine's benefits.</li>
              <li>Erythromcyin is also called by the brand names Erythrocin, Erythrolar, Erymax, Tiloryth, Rommix, Erythroped A and Erythroped.</li>
              </ul>
      </section>


      <nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation" aria-label="Pages in this guide">
          <h2 class="">More in <a href="/lab-4/a-to-z/antibiotics/erythromycin">Erythromycin</a></a></h2>
          <ul class="nhsuk-list app-side-nav__list">
  
              
              <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/about">About erythromycin</a></li>
      
              <li class="app-side-nav__item app-side-nav__item--current">Key facts</li>
            
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/who-can-take">Who can and can't take erythromycin</a></li>
                        
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/how-and-when-to-take">How and when to take it</a></li>
            
              <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/side-effects">Side effects</a></li>
              
              <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/how-to-cope-with-side-effects">How to cope with side effects</a></li>
      
              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/pregnancy-and-breastfeeding">Pregnancy and breastfeeding</a></li>

              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/cautions-with-other-medicines">Cautions with other medicines</a></li>

              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/antibiotics/erythromycin/common-questions">Common questions</a></li>
  
            </ul>
        </nav>
  
  
        <div class="nhsuk-review-date nhsuk-u-padding-top-5">
            <p class="nhsuk-body-s">
              Page last reviewed: 8 August 2017<br>
              Next review due: 8 August 2020
            </p>
          </div>


    </div>      
</div>
{% endblock %}
