<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-5-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Diabetes -  Finding help and support - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}

{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}


<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px;">
  <section>      
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <section>
          <!-- Change the page title here -->
         <!-- <p class="nhsuk-u-margin-bottom-2" ><a href="/lab-4/a-to-z/diabetes/type-2-diabetes" >Type 2 diabetes</a></p>-->
         <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
            <div >
              <ol class="nhsuk-breadcrumb__list ">
                  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
  
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/diabetes">Diabetes</a></li>    
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes">Type 2 Diabetes</a></li>             
              </ol>
              <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/diabetes/type-2-diabetes">Type 2 Diabetes</a></p>
            </div>
          </nav> 
         
         
         <h1>
            <span role="text">Help and support with type 2 diabetes
            </span>
          </h1>
          <p><strong>There is a lot of information and support available for type 2 diabetes. Some of the support depends on the area you live in.</strong></p>
        </section>
        <section>
          <h2 class="nhsuk-u-margin-top-4">Take a course to help you manage your diabetes</h2>
          <p>There are free education courses to help you learn more about and manage your type 2 diabetes.</p>         
          <p>Your GP will need to refer you, but you can phone your GP surgery to get a referral letter, so you don't need to make an appointment.</p><div class="nhsuk-inset-text nhsuk-inset_external nhsuk-inset-text__arrow">
            <div class="nhsuk-inset-text__arrow">
              <div class="nhsuk-inset-text__content">
                <p><a href="javascript:void(0);" title="">Diabetes UK has advice on how to check your feet</a></p>
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">diabetes.org.uk</p>
              </div>
            </div>                 
        </section>
        <section>
          <h2 class="nhsuk-u-margin-top-7">Telling DVLA you have type 2 diabetes</h2>
          <p>If you're taking insulin for your type 2 diabetes, you will need to <a href="javascript:void(0);" title="External website">tell the DVLA</a>. This is because of the risk of <a href="javascript:void(0);" title="">low blood sugar</a> (hypoglycaemia). You can be fined if you don't tell DVLA.</p>
          <h4>Driving while diabetic links</h4>
          <div class="nhsuk-inset-text nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-0">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p><a href="javascript:void(0);" title="">Hypoglycaemia</a></p>
          </div>
          <div class="nhsuk-inset-text nhsuk-inset_external nhsuk-inset-text__arrow nhsuk-u-margin-top-0">
            <div class="nhsuk-inset-text__content">
              <p><a href="javascript:void(0);" title="">Tell the DVLA about your diabetes</a></p>
              <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">gov.uk</p>
            </div>
          </div> 
        </section>
        <section >
          <h2 class="nhsuk-u-margin-top-7">Support groups for type 2 diabetes</h2>
          <p>The charity <a href="javascript:void(0);" title="">Diabetes UK</a> runs local support groups</a>. </p>  
          <p>These can help with things like managing your diabetes on a daily basis, diet, exercise or dealing with emotional problems, such as depression. They offer a place to talk and find out how others live with the condition.</p>
          <div class="nhsuk-inset-text nhsuk-inset_external nhsuk-inset-text__arrow">
            <div class="nhsuk-inset-text__content">
              <p><a href="javascript:void(0);" title="">Local support groups for diabetes</a></p>
              <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">diabetes.org.uk</p>
            </div>
          </div> 
          </div>
        </section>
        <section >
          <h2 class="nhsuk-u-margin-top-7">Blogs, forums and apps</h2>
          <p>The NHS has a collection of <a href="javascript:void(0);" title="">apps and tools</a> to help you manage your diabetes, including some that link you to a lifestyle coach.</p>
          <h4>Links to tools</h4>
          <div class="nhsuk-inset-text nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-0">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p><a href="javascript:void(0);" title="">NHS Apps Library</a></p>
          </div>
          <div class="nhsuk-inset-text nhsuk-inset_external nhsuk-inset-text__arrow nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
            <div class="nhsuk-inset-text__content">
              <p><a href="javascript:void(0);" title="">Diabetes forum about managing diabetes</a></p>
              <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">diabetes.co.uk</p>
            </div>
          </div>
          <div class="nhsuk-inset-text nhsuk-inset_external nhsuk-inset-text__arrow nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
            <div class="nhsuk-inset-text__content">
              <p><a href="javascript:void(0);" title="">Diabetes UK blogs</a></p>
              <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">diabetes.org.uk</p>
            </div>
          </div>
          <div class="nhsuk-inset-text nhsuk-inset_external nhsuk-inset-text__arrow nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
            <div class="nhsuk-inset-text__content">
              <p><a href="javascript:void(0);" title="">Scheduled chats with healthcare professionals</a></p>
              <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">diabetes.co.uk</p>
            </div>
          </div>   
          </section>
          <section>
            <h2 class="nhsuk-u-margin-top-7">Telling others can be difficult</h2>
            <p>It can be difficult to tell others you have diabetes, but it can help for certain people to know:</p>         
            <ul>
              <li>family can support you – especially as you will need to make changes to what you eat</li>
              <li>it's important your colleagues or employer know in case of an emergency</li>
              <li>being diagnosed with diabetes can affect your mood – telling your partner will help them understand how you feel</li>
            </ul>
          </section>
          <section>
            <h2 class="nhsuk-u-margin-top-7">Carry medical ID in case of an emergency</h2>
            <p>Some people choose to wear a special wristband or carry something in their wallet that says they have diabetes, in case of an emergency.</p>
            <p>If it's known that you have diabetes, this can make a difference to the treatment you'll receive.</p>
            <p>Search the internet for "medical ID" to find websites that sell them.</p>
          </section>
          <section class="nhsuk-u-padding-bottom-8">
              <h2>Social care and support guide</h2>     
              <p>If you:</p>             
              <ul>
                <li>need help with day-to-day living because of illness or disability</li>
                <li>care for someone regularly because they're ill, elderly or disabled – including family members</li>
              </ul>
              <p>Our <p><a href="javascript:void(0);" title="">guide to care and support</a> explains your options and where you can get support.</p>
              <h4>Social care links</h4>
              <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p><a href="javascript:void(0);" title="">Care and support guide</a></p>
              </div>  
              
              


              <section>
                  <div>
                      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
                          <h2 class="">More in <a href="/lab-4/a-to-z/diabetes/type-2-diabetes">type 2 diabetes</a></a></h2>
                          <ul class="nhsuk-list app-side-nav__list">
                  
                              <li class="app-side-nav__item "><a class="app-side-nav__link" href="javascript:void(0);">What is type 2 diabetes?</a></li>
                      
                              <li class="app-side-nav__item"><a class="app-side-nav__link" href="javascript:void(0);">Symptoms</a></li>
                            
                              <li class="app-side-nav__item"><a class="app-side-nav__link" href="javascript:void(0);">Getting diagnosed</a></li>
                            
                              <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/medicines">Medicines</a></li>
                            
                              <li class="app-side-nav__item"><a class="app-side-nav__link" href="javascript:void(0);">Food and activity</a></li>
                            
                              <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/regular-check-ups">Regular check-ups</a></li>
                              
                              <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/health-problems">Health problems</a></li>
                      
                              <li class="app-side-nav__item app-side-nav__item--current">Help and support</li>
                      
                            </ul>
                        </nav>
                      </div>      
                  <div class="nhsuk-review-date nhsuk-u-padding-top-5">
                    <p class="nhsuk-body-s">
                      Page last reviewed: 8 August 2017<br>
                      Next review due: 8 August 2020
                    </p>
                  </div>
                </section>

            </div>
          </section>


      
      </div>
    </div>
  </section>
</main>

{% endblock %}
