<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-5-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Type 2 Diabetes - NHS.UK
{% endblock %}


<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}


{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->

      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>

              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/diabetes">Diabetes</a></li>              
            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/diabetes">Diabetes</a></p>
          </div>
        </nav>


      <h1>Type 2 diabetes</h1>
      <p class="nhsuk-lede-text">This for adults with type 2 diabetes. There's separate information about <a href= "/lab-4/a-to-z/diabetes/type-1-diabetes">type 1 diabetes.</a></p>
      <section id="key-links" >
        <!--<h3 class="nhsuk-u-margin-bottom-0">Pages in this guide</h3>-->
        <ul class="key-links" class="nhsuk-u-padding-top-0">
          <li><a href="javascript:void(0);" title="">What is type 2 diabetes?</a></li>
          <li><a href="/lab-4/a-to-z/diabetes/type-2-diabetes/symptoms" title="">Symptoms</a></li>
          <li><a href="javascript:void(0);" title="">Getting diagnosed</a></li>
          <li><a href= "/lab-4/a-to-z/diabetes/type-2-diabetes/medicines">Medicines</a></li>
          <li><a href="javascript:void(0);" title="">Food and activity</a></li>
          <li><a href="/lab-4/a-to-z/diabetes/type-2-diabetes/regular-check-ups">Regular check-ups</a></li>
          <li><a href="/lab-4/a-to-z/diabetes/type-2-diabetes/health-problems">Health problems</a></li>
          <li><a href="/lab-4/a-to-z/diabetes/type-2-diabetes/help-and-support">Help and support</a></li>
        </ul>
    </section>
    <section id="key-links" class="border-top" >
      <h3 class="nhsuk-u-margin-bottom-0">Related information</h3>
      <ul class="related-links" class="nhsuk-u-padding-top-0">
        <li><a href="/lab-4/a-to-z/metformin" title="">Metformin</a></li>
        <li><a href="/lab-4/a-to-z/diabetic-retinopathy" title="">Diabetic retinopathy</a></li>
        <li><a href="/lab-4/a-to-z/diabetic-eye-screening" title="">Diabetic eye screening</a></li>
      </ul>
  </section>

    </div>      
</div>
{% endblock %}
