<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-5-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Metformin - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/metformin">Metformin</a></li>

            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/metformin">Metformin</a></p>
          </div>
        </nav>

      <h1>
          Common questions with metformin
      </h1>




      <section id="common-questions">
        <div class="block-common_question">
          <details class="nhsuk-details">
          <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
            <span class="nhsuk-details__summary-text">How does metformin work in diabetes?</span>
          </summary>
          <div class="nhsuk-details__text" id="details-content-0" aria-hidden="true">
          <div class="block-markdown"><p>Metformin reduces the amount of sugar your liver releases into your blood. </p>
            <p>It also makes your body respond better to insulin. </p>
            <p>Insulin is the hormone that controls the level of sugar in your blood.</p>
          </div>
          </div>
        </details>
       </div>
      
        <div class="block-common_question">
          <details class="nhsuk-details">
          <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-1" aria-expanded="false">
            <span class="nhsuk-details__summary-text">How does metformin work in PCOS?</span>
          </summary>
        <div class="nhsuk-details__text" id="details-content-1" aria-hidden="true">
          <div class="block-markdown"><p>Metformin stimulates ovulation in women with <a href="javascript:void(0);" title="">PCOS</a> and can encourage regular periods, even if you do not have diabetes. </p>
          <p>PCOS cannot be cured, but the symptoms can be managed.</p>
          <p>Metformin is not licensed to treat PCOS specifically, but it can sometimes be prescribed to improve fertility. You may have to see a specialist doctor for this.</p>
          <p>It'll normally be prescribed when other treatments, such as clomifene, have not worked. </p>
          <p>With treatment, most women with PCOS are able to get pregnant.</p>
        </div>
        </div>
        </details>
        </div>

        <div class="block-common_question">
          <details class="nhsuk-details">
          <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-2" aria-expanded="false">
            <span class="nhsuk-details__summary-text">When will I feel better?</span>
          </summary>
        <div class="nhsuk-details__text" id="details-content-2" aria-hidden="true">
          <div class="block-markdown">
          <p>You may not have any symptoms of diabetes, so you will not necessarily feel any different when you take metformin.</p>
          <p>This does not mean that metformin is not working, and it's important to keep taking it.</p>
          <p>Metformin will help keep your blood sugar level stable and reduce your chances of diabetes-related problems in the future.</p>
        </div>
        </div>
        </details>
        </div>

        <div class="block-common_question">
          <details class="nhsuk-details">
          <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-3" aria-expanded="false">
            <span class="nhsuk-details__summary-text">How long will I take metformin for?</span>
          </summary>
          <div class="nhsuk-details__text" id="details-content-3" aria-hidden="true">
          <div class="block-markdown"><p>Treatment for diabetes is usually for life. </p>
          <p>Keep taking metformin tablets, unless your doctor tells you to stop.</p>
         </div>
        </div>
        </details>
  
  
  
  </div>
  <div class="block-common_question">
  
  
  
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-4" aria-expanded="false">
      <span class="nhsuk-details__summary-text">
      Can I take metformin for a long time?
      </span>
    </summary>
    <div class="nhsuk-details__text" id="details-content-4" aria-hidden="true">
      <div class="block-markdown"><p>Metformin is safe to take for a long time. It will not make you put on weight, and may even help you lose some weight. </p>
  
  <p>It also helps keep your cholesterol at a healthy level.</p>
  
  <p>Your doctor will check how well your kidneys work at least once a year. </p>
  
  <p>You may need more checks if you're an older person or your kidneys are not working normally.</p>
  
  <p>If your kidneys are not working properly, your doctor will tell you to stop taking metformin.</p>
  
  <p>Metformin can cause <a href="javascript:void(0);" title="">vitamin B12 deficiency</a> if you take it for a long time. </p>
  
  <p>Your doctor may also check the vitamin B12 level in your blood. </p>
  
  <p>If you become deficient, this can be treated by taking vitamin B12 supplements.</p>
  </div>
    </div>
  </details>
  
  
  
  </div>
  <div class="block-common_question">
  
  
  
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-5" aria-expanded="false">
      <span class="nhsuk-details__summary-text">
      Can I come off metformin?
      </span>
    </summary>
    <div class="nhsuk-details__text" id="details-content-5" aria-hidden="true">
      <div class="block-markdown"><p>Do not stop taking metformin without talking to your doctor.</p>
  
  <p>If you stop taking metformin suddenly, you may reduce the control over your diabetes.</p>
  
  <p>Treatment for diabetes is usually for life. But if your kidneys are not working properly, your doctor will tell you to stop taking metformin.</p>
  </div>
    </div>
  </details>
  
  
  
  </div>
  <div class="block-common_question">
  
  
  
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-6" aria-expanded="false">
      <span class="nhsuk-details__summary-text">
      Are there other diabetes medicines?
      </span>
    </summary>
    <div class="nhsuk-details__text" id="details-content-6" aria-hidden="true">
      <div class="block-markdown"><p>Metformin is usually the first choice of medicine prescribed to treat type 2 diabetes.</p>
  
  <p>There are other groups of medicines that lower blood sugar levels:</p>
  
  <ul>
  <li>sulphonylureas, such as <a href="javascript:void(0);" title="">gliclazide</a></li>
  <li>pioglitazone</li>
  <li>DPP-4 inhibitors, such as saxagliptin</li>
  <li>SGLT2 inhibitors, such as dapagliflozin</li>
  <li>GLP-1 agonists, such as exenatide</li>
  <li>insulin</li>
  </ul>
  
  <p>All of these medicines can be prescribed on their own or together with metformin.</p>
  </div>
    </div>
  </details>
  
  
  
  </div>
  <div class="block-common_question">
  
  
  
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-7" aria-expanded="false">
      <span class="nhsuk-details__summary-text">
      Can I get diabetes medicines for free?
      </span>
    </summary>
    <div class="nhsuk-details__text" id="details-content-7" aria-hidden="true">
      <div class="block-markdown"><p>If you have <a href="/conditions/diabetes/">diabetes</a>, you're entitled to free prescriptions for all of your medicines, not just your diabetes ones.</p>
  
  <p>To claim your free prescriptions, you'll need to have a medical exemption certificate.</p>
  
  <p>The application form for the medical exemption certificate is called FP92A. You can get this from your doctor's surgery. </p>
  
  <p>You will need to fill in the form, then your doctor will sign it and send it off.</p>
  </div>
    </div>
  </details>
  
  
  
  </div>
  <div class="block-common_question">
  
  
  
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-8" aria-expanded="false">
      <span class="nhsuk-details__summary-text">
      Will it affect my contraception?
      </span>
    </summary>
    <div class="nhsuk-details__text" id="details-content-8" aria-hidden="true">
      <div class="block-markdown"><p>Metformin will not affect the <a href="javascript:void(0);" title="">combined pill</a> or <a href="javascript:void(0);" title="">emergency contraception</a>.</p>
  
  <p>But some women might need a small adjustment in their metformin dose after starting contraceptive pills. </p>
  
  <p>That's because contraceptive pills change how your body handles sugar.</p>
  </div>
    </div>
  </details>
  
  
  
  </div>
  <div class="block-common_question">
  
  
  
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-9" aria-expanded="false">
      <span class="nhsuk-details__summary-text">
      Will it affect my fertility?
      </span>
    </summary>
    <div class="nhsuk-details__text" id="details-content-9" aria-hidden="true">
      <div class="block-markdown"><p>There's no firm evidence to suggest that taking metformin will reduce fertility in either men or women.</p>
  
  <p>But speak to a pharmacist or a doctor if you're trying to get pregnant. They may want to review your treatment.</p>
  </div>
    </div>
  </details>
  
  
  
  </div>
  <div class="block-common_question">
  
  
  
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-10" aria-expanded="false">
      <span class="nhsuk-details__summary-text">
      Can I take metformin before surgery?
      </span>
    </summary>
    <div class="nhsuk-details__text" id="details-content-10" aria-hidden="true">
      <div class="block-markdown"><p>Your doctor may tell you to stop taking metformin a few days before having an operation or medical tests.</p>
  
  <p>Metformin may interact with the dye used for an X-ray or CT scan. </p>
  
  <p>A <a href="javascript:void(0);" title="">general anaesthetic</a> that puts you to sleep can also hide low blood sugar.</p>
  </div>
    </div>
  </details>
  
  
  
  </div>
  <div class="block-common_question">
  
  
  
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-11" aria-expanded="false">
      <span class="nhsuk-details__summary-text">
      Can I drink alcohol with it?
      </span>
    </summary>
    <div class="nhsuk-details__text" id="details-content-11" aria-hidden="true">
      <div class="block-markdown"><p>Yes, you can drink alcohol while taking metformin, but it's best for men and women to drink no more than 2 units per day. </p>
  
  <p>Drinking more than this can increase the risk of low blood sugar.</p>
  
  <p>Try to keep to the recommended guidelines of no more than 14 units of alcohol a week. </p>
  
  <p>A standard glass of wine (175ml) is 2 units. A pint of lager or beer is usually 2 to 3 units of alcohol.</p>
  </div>
    </div>
  </details>
  
  
  
  </div>
  <div class="block-common_question">
  
  
  
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-12" aria-expanded="false">
      <span class="nhsuk-details__summary-text">
      Is there any food or drink I need to avoid?
      </span>
    </summary>
    <div class="nhsuk-details__text" id="details-content-12" aria-hidden="true">
      <div class="block-markdown"><p>It's a good idea to cut down on foods with added sugar. </p>
  
  <p>Check the nutrition labels, as many foods and drinks are high in sugar, such as:</p>
  
  <ul>
  <li>sweets</li>
  <li>cakes</li>
  <li>biscuits</li>
  <li>chocolate</li>
  <li>some fizzy drinks</li>
  <li>juice drinks</li>
  </ul>
  
  <p>Be careful eating food and drink containing karela. This is because it can lower your blood sugar levels and mean your diabetes is not controlled as well as it should be.</p>
  
  <p>Karela (also called bitter gourd) is used to flavour foods, such as curries like bitter gourd masala. </p>
  
  <p>It has a bitter taste and is also made into juice and tea.</p>
  </div>
    </div>
  </details>
  
  
  
  </div>
  <div class="block-common_question">
  
  
  
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-13" aria-expanded="false">
      <span class="nhsuk-details__summary-text">
      Can I drive or ride a bike?
      </span>
    </summary>
    <div class="nhsuk-details__text" id="details-content-13" aria-hidden="true">
      <div class="block-markdown"><p>If your blood sugar levels are stable, taking metformin should not affect your ability to drive, cycle or use machinery and tools.</p>
  
  <p>Metformin itself will not make your blood sugar levels too low, but your doctor might prescribe it alongside other medicines for diabetes that can affect your blood sugar.</p>
  
  <p>If your blood sugar levels become too low, this can reduce your concentration. </p>
  
  <p>If this happens to you, do not drive, cycle or use machines or tools until you feel better.</p>
  </div>
    </div>
  </details>
  
  
  
  </div>
  <div class="block-common_question">
  
  
  
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-14" aria-expanded="false">
      <span class="nhsuk-details__summary-text">
      Can lifestyle changes help diabetes and PCOS?
      </span>
    </summary>
    <div class="nhsuk-details__text" id="details-content-14" aria-hidden="true">
      <div class="block-markdown"><p>There are some lifestyle changes you can make to help control the symptoms of diabetes and PCOS.</p>
  
  <p>These include:</p>
  
  <ul>
  <li><a href="javascript:void(0);" title="">eating a healthy diet</a></li>
  <li><a href="javascript:void(0);" title="">losing any excess weight</a></li>
  <li><a href="javascript:void(0);" title="">not smoking</a></li>
  <li><a href="javascript:void(0);" title="">cutting down on alcohol</a> - try to keep to the recommended guidelines of no more than 14 units of alcohol a week. A standard glass of wine (175ml) is 2 units. A pint of lager or beer is usually 2 to 3 units of alcohol.</li>
  <li><a href="javascript:void(0);" title="">exercising</a> - up to 30 minutes a day, 5 times a week is ideal</li>
  </ul>
  
  <p>Metformin is usually prescribed when diet and exercise alone has not been enough to control your blood sugar levels.</p>
  </div>
    </div>
  </details>
    </div>
    </section>


    <nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation" aria-label="Pages in this guide">
        <h2 class="">More in <a href="/lab-4/a-to-z/metformin">Metformin</a></a></h2>
        <ul class="nhsuk-list app-side-nav__list">

            <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/about">About metformin</a></li>
    
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/key-facts">Key facts</a></li>
          
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/who-can-take">Who can and can't take metformin</a></li>
                      
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/how-and-when-to-take">How and when to take it</a></li>
          
            <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/side-effects">Side effects</a></li>
            
            <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/how-to-cope-with-side-effects">How to cope with side effects</a></li>
    
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/pregnancy-and-breastfeeding">Pregnancy and breastfeeding</a></li>

            <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/metformin/cautions-with-other-medicines">Cautions with other medicines</a></li>

            <li class="app-side-nav__item app-side-nav__item--current">Common questions</li>

          </ul>
      </nav>


      <div class="nhsuk-review-date nhsuk-u-padding-top-5">
          <p class="nhsuk-body-s">
            Page last reviewed: 8 August 2017<br>
            Next review due: 8 August 2020
          </p>
        </div>


    </div>      
</div>
{% endblock %}
