<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-5.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Heart attack - NHS.UK
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
      <div>
        <ol class="nhsuk-breadcrumb__list ">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-/">Home</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-5/a-to-z">Health A to Z</a>
          </li>

        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-5/a-to-z">Health A to Z</a>
        </p>
      </div>
    </nav>

    <!-- Change the page title here -->
    <h1>
      Chest pain
    </h1>

    <section id="Introduction">
      <p class="lede-text">
        Most chest pain isn't a sign of anything serious but you should get medical advice just in case. Get immediate medical help if you think you're having a heart attack.
      </p>

      <div class="nhsuk-care-card nhsuk-care-card--immediate">
        <div class="nhsuk-care-card__heading-container">
          <h3 class="nhsuk-care-card__heading">
            <span role="text">
              <span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 if you have sudden chest pain that:
            </span>
          </h3>
          <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
        </div>
        <div class="nhsuk-care-card__content">
          
            <ul><li>spreads to your arms, back, neck or jaw</li><li>makes your chest feel tight or heavy</li><li>also started with shortness of breath, sweating and feeling or being sick</li><li>lasts more than 15 minutes</li></ul><p>You could be having a <a href="/lab-5/a-to-z/heart-attack">heart attack</a>. Call 999 immediately as you need immediate treatment in hospital.</p>
          
        </div>
      </div>

      <div class="nhsuk-care-card nhsuk-care-card--primary">
        <div class="nhsuk-care-card__heading-container">
          <h3 class="nhsuk-care-card__heading">
            <span role="text">
              <span class="nhsuk-u-visually-hidden">Non-urgent advice:  </span>See a GP or go to your local walk-in centre if:
            </span>
          </h3>
          <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
        </div>
        <div class="nhsuk-care-card__content">
          
            <ul><li>you have chest pain that comes and goes</li><li>you have chest pain that goes away quickly but you're still worried</li></ul><p>It's important to get medical advice to make sure it's nothing serious.</p><p><a href="/service-search/walk-in%20centre/locationsearch/663">Find a walk-in centre</a></p>
          
        </div>
      </div>

    </section>

      <section id="key-links">
        <!--<h3 class="nhsuk-u-margin-bottom-0">Pages in this guide</h3>-->
        <ul class="key-links" class="nhsuk-u-padding-top-0">
          <!-- <li>  
            <a href="/lab-5/a-to-z/heart-attack/overview/">
              Heart attack overview
            </a>
          </li>            
          <li>  
            <a href="/lab-5/a-to-z/heart-attack/symptoms/">
              Symptoms
            </a>
          </li>
          <li>  
            <a href="/lab-5/a-to-z/heart-attack/causes/">
              Causes
            </a>
          </li>
          <li>  
            <a href="javascript:void(0)">
              Diagnosis
            </a>
          </li>
          <li>  
            <a href="javascript:void(0)">
              Treatment
            </a>
          </li>
          <li>  
            <a href="javascript:void(0)">
              Recovery
            </a>
          </li>
          <li>  
            <a href="javascript:void(0)">
              Complications
            </a>
          </li>
          <li>  
            <a href="javascript:void(0)">
              Prevention
            </a>
          </li> -->


        </ul>
      </section>

        <div class="">
          <ul class="key-links">
            <h2>Related information</h2>
            <li><a href="javascript:void(0);" title="">Statins</a></li>
            <li><a href="javascript:void(0);" title="">Coronary heart disease</a></li>
            <li><a href="javascript:void(0);" title="">Blood clots</a></li>
          </ul>
        </div>

    

  </div>
</div>
{% endblock %}