<!-- Extends the layout from /views/layout.html -->
{% extends './layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK Pregnancy - I'm pregnant - Early days
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [
    {
      href: "/search/im-pregnant",
      text: "I'm pregnant"
    }
  ],
    href: "/search/early-days",
    text: "Early days"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>
        <span role="text">
            Early days
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden">
                -
              </span>
                I'm pregnant
            </span>
          </span>
      </h1>
      <p class="nhsuk-lede-text">This page provides links to all the pages and topics relating to early days of pregnancy. You should see a midwife or GP as soon as you find out you're pregnant. This is so they can organise your NHS pregnancy care (also called antenatal care).</p>
      <p class="nhsuk-lede-text">Your first appointment with a midwife should happen before you're <strong>10 weeks pregnant</strong>.</p> 
       <p class="nhsuk-lede-text">If you're <strong>more than 10 weeks</strong> pregnant and haven't seen a GP or midwife, contact a GP or midwife as soon as possible. They'll see you quickly and help you start your NHS pregnancy care.</p> 
      <hr class="nhsuk-hr">
    </div>
  </div>
</section>
<section>
  <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="block-links_list_group">
      <h2>Related pages</h2>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="javascript:void(0);">Signs and symptoms of pregnancy</a></li>
              <li><a href="/pregnancy-to-do-list">Your pregnancy to-do list</a></li>
              <li><a href="javascript:void(0);" title="">Find maternity services near you</a></li> 
              <li><a href="javascript:void(0);" title="">Pregnancy due date calculator</a></li>
              <li><a href="javascript:void(0);" title="">Health things you should know in pregnancy</a></li>              
            </ul>
        </div>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
          <ul class="nhsuk-list nhsuk-list-links">
            <li><a href="javascript:void(0);">What is antenatal care?</a></li>
            <li><a href="javascript:void(0);">Antenatal checks and tests</a></li>
            <li><a href="javascript:void(0);">The 12 week pregnancy dating scan</a></li>
            <li><a href="javascript:void(0);" title="">Vitamins, supplements and nutrition in pregnancy</a></li>
            <li><a href="/foods-to-avoid">Foods to avoid in pregnancy</a></li> 
          </ul>
        </div>
      </div>
     
  </div>
</div> 
 <hr class="nhsuk-hr">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Related topics</h2>
    <div class="nhsuk-grid-row nhsuk-promo-group">
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Your NHS pregnancy journey",
            "headingLevel": 2,
            "description": "You should start your antenatal care as soon as possible once you know you're pregnant. Find out what's available."
          }) }}
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Tests and scans",
            "headingLevel": 2,
            "description": "Make sure you know about what and when you will be offered a range of scans and tests."
          }) }}
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Existing health conditions",
            "headingLevel": 2,
            "description": "If you have an existing health condition ther may be information that you need to consider. Find out what you need to know. "
          }) }}
      </div>
    </div>
    <hr class="nhsuk-hr">
  </div>
</div>
</section>



{% endblock %}