{% extends './layout.html' %}

{% block pageTitle %}
  NHS - Pregnancy - I'm pregnant - Foods to avoid in pregnancy - Meat and fish
{% endblock %}

{% block beforeContent %}



  {{ breadcrumb({
    items: [
    {
      href: "/search/pregnancy",
      text: "Pregnancy"
    },
    {
      href: "/search/im-pregnant",
      text: "I'm pregnant"
    }
  ],
    href: "/search/foods-to-avoid",
    text: "Foods to avoid in pregnancy"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <section>
      <div class="nhsuk-grid-column-two-thirds">
        <h1>
          <span role="text">
            Foods to avoid in pregnancy
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden">
                -
              </span>
              I'm pregnant
            </span>
          </span>
        </h1>   
        <p class="nhsuk-lede-text">There are some foods to avoid or take care with when you're pregnant as they might make you ill or harm your baby. </p>
        <p class="nhsuk-lede-text">Make sure you know the important facts about which foods you should avoid or take precautions with when you're pregnant.</p>
        
         {{ contentsList({
            items: [
              {
                href: "foods-to-avoid",
                text: "Meat and Fish",
                current: "true"
              },
              {
                href: "foods-to-avoid-2",
                text: "Dairy"
              },
              {
                href: "foods-to-avoid-3",
                text: "Eggs, nuts and others"
              },
              {
                href: "foods-to-avoid-4",
                text: "Drinks and alcohol"
              }
            ]
          }) }}
      </div>
    </section>
    <section>
      <div class="nhsuk-grid-column-two-thirds">
        <article class="meat">
          <h2>Meat</h2>
          <h3>Raw or undercooked meat is risky in pregnancy</h3>

          <p>Do not eat raw or undercooked meat, including meat joints and steaks cooked rare, because of the potential risk of toxoplasmosis.</p>

          <p>Cook all meat and poultry thoroughly so it's steaming hot and there's no trace of pink or blood – especially with poultry, pork, sausages and minced meat, including burgers. </p>

          <p>Wash all surfaces and utensils thoroughly after preparing raw meat to avoid the spread of harmful bugs. Wash and dry your hands after touching or handling raw meat.</p>

          <h3>Toxoplasmosis</h3>
          <p>Toxoplasmosis is an infection caused by a parasite found in raw and undercooked meat, unpasteurised goats' milk, soil, cat poo, and untreated water.</p>

          <p>If you're pregnant, the infection can damage your baby, but it's important to remember toxoplasmosis in pregnancy is very rare.</p>

          <p>Toxoplasmosis often has no symptoms, but if you feel you may have been at risk, discuss it with your GP, midwife or obstetrician. If you're infected while you're pregnant, treatment for toxoplasmosis is available.</p>

          <p>Read more about toxoplasmosis.</p>

          <h3>Be cautious with cold cured meats in pregnancy</h3>

          <p>Many cold meats, such as salami, prosciutto, chorizo and pepperoni, are not cooked, they're just cured and fermented. This means there's a risk they contain toxoplasmosis-causing parasites.</p>

          <p>It's best to check the instructions on the pack to see whether the product is ready to eat or needs cooking first.</p>

          <p>For ready-to-eat meats, you can reduce any risk from parasites by freezing cured or fermented meats for 4 days at home before you eat them. Freezing kills most parasites and makes the meat safer to eat.</p>

          <p>If you're planning to cook the meat – for instance, pepperoni on pizza – you don't need to freeze it first.</p>

          <p>If you're eating out in a restaurant that sells cold cured or fermented meats, they may not have been frozen. If you're concerned, ask the staff or avoid eating it.</p>


          <h3>Pre-packed meat is safe to eat if you're pregnant</h3>

          <p>Pre-packed meats such as ham and corned beef are safe to eat in pregnancy. Some websites based in other countries may suggest that you avoid pre-packed meats when pregnant, but this is not the advice in the UK.</p>

          <h3>Liver can harm your unborn baby</h3>

          <p>Don't eat liver or products containing liver, such as liver pâté, liver sausage or haggis, as they may contain a lot of vitamin A. Too much vitamin A can harm your baby.</p>
          <h3>Game</h3>

          <p>It's best to avoid eating game that has been shot with lead pellets while you're pregnant, as it may contain higher levels of lead. Venison and other large game sold in supermarkets is usually farmed and contains no or very low levels of lead. If you're not sure whether a product may contain lead shot, ask a retailer.</p>
          </p>
        </article>
         
        <article class="fish">
          <h2>Fish</h2>
          <h3>Vitamin and fish oil supplements</h3>

          <p>Don't take high-dose multivitamin supplements, fish liver oil supplements, or any supplements containing vitamin A.</p>

          <h3>Fish in pregnancy</h3>

          <p>You can eat most types of fish when you're pregnant. Eating fish is good for your health and the development of your baby, but you should avoid some types of fish and limit the amount you eat of some others.</p>

          <h3>Fish to avoid</h3>

          <p>When you're pregnant or planning to get pregnant, you shouldn't eat shark, swordfish or marlin.</p>

          <h3>Fish to restrict</h3>

          <p>You should also limit the amount of tuna you eat to:</p>

          <ul>
            <li>no more than 2 tuna steaks a week (about 140g cooked or 170g raw each), or</li>
            <li>4 medium-sized cans of tuna a week (about 140g when drained)</li>
          </ul>

          <p>This is because tuna contains more mercury than other types of fish. The amount of mercury we get from food isn't harmful for most people, but could affect your baby's developing nervous system if you take in high levels of mercury when you're pregnant.</p>

          <p>When you're pregnant, you should also avoid having more than 2 portions of oily fish a week, such as salmon, trout, mackerel and herring, as it can contain pollutants like dioxins and polychlorinated biphenyls (PCBs).</p>

          <p>Remember, tuna doesn't count as oily fish, so you can eat tuna (2 tuna steaks or 4 medium-sized cans) on top of the maximum amount of 2 portions of oily fish.</p>

          <h3>Shellfish in pregnancy</h3>

          <p>Always eat cooked, rather than raw, shellfish – including mussels, lobster, crab, prawns, scallops and clams – when you're pregnant, as they can contain harmful bacteria and viruses that can cause food poisoning. Cold pre-cooked prawns are fine.</p>

          <p>Read more about eating shellfish in pregnancy.</p>

          <h3>Smoked fish in pregnancy is safe</h3>

          <p>Smoked fish, which includes smoked salmon and smoked trout, is considered safe to eat in pregnancy.</p>

          <h3>Sushi and pregnancy</h3>

          <p>It's fine to eat raw or lightly cooked fish in dishes like sushi when you're pregnant, as long as any raw wild fish used to make it has been frozen first.</p>

          <p>This is because, occasionally, wild fish contains small parasitic worms that could make you ill. Freezing kills the worms and makes raw fish safe to eat. Cooking will also kill them.</p>

          <p>Certain farmed fish destined to be eaten raw in dishes like sushi, such as farmed salmon, no longer need to be frozen beforehand.</p>

          <p>This is because farmed fish are very unlikely to contain parasitic worms as a result of the rearing methods used. If you're unsure, contact the Food Standards Agency (FSA) for advice.</p>

          <p>Lots of the sushi sold in shops is not made at the shop. This type of sushi should be fine to eat – if a shop or restaurant buys in ready-made sushi, the raw fish used to make it will have been subject to an appropriate freezing treatment.</p>

          <p>If you're in any doubt, you might want to avoid eating the kinds of sushi that contain raw fish, such as tuna.</p>

          <p>The safest way to enjoy sushi is to choose the fully cooked or vegetarian varieties, which can include:</p>
          <ul>
            <li>cooked seafood – for example, fully cooked eel (unagi) or shrimp (ebi)</li>
            <li>vegetables – for example, cucumber (kappa) maki</li>
            <li>avocado – for example, California roll</li>
            <li>fully cooked egg</li>
          </ul>

          <p>If a shop or restaurant makes its own sushi on the premises, it must still be frozen first before being served. If you're concerned, ask the staff.</p>

          <p>If you make your own sushi at home, freeze the fish for at least 4 days before using it.</p>
        </article>
       



    

          {{ pagination({
            "nextUrl": "foods-to-avoid-2",
            "nextPage": "Dairy"
          }) }}

        
        
        
        
        
      </div>
    </section>
       <!-- End of content -->
  </div>
{% endblock %}
