<!-- Extends the layout from /views/layout.html -->
{% extends './layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK home
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [
    {
      href: "/search/home",
      text: "Home"
    }
  ],
    href: "/search/a-to-z",
    text: "Health A to Z"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

        
                    <div class="nhsuk-grid-row">
                      <div class="nhsuk-grid-column-two-thirds">
                  
                        
                    
                      <h1>
                        <span role="text">Overview
                          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                            <span class="nhsuk-u-visually-hidden"> - </span>
                            Physiotherapy
                          </span>
                        </span>
                      </h1>
                  
                      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
                        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
                        <ol class="nhsuk-contents-list__list">
                          
                            
                              <li class="nhsuk-contents-list__item" aria-current="page">
                                <span class="nhsuk-contents-list__current">
                                  
                                    Overview
                                  
                                </span>
                              </li>
                            
                          
                            
                              <li class="nhsuk-contents-list__item">
                                <a class="nhsuk-contents-list__link" href="/physiotherapy-techniques">
                                  
                                    Techniques
                                  
                                </a>
                              </li>
                            
                          
                            
                              <li class="nhsuk-contents-list__item">
                                <a class="nhsuk-contents-list__link" href="/physiotherapy-access">
                                  
                                    Accessing physiotherapy
                                  
                                </a>
                              </li>
                            
                          
                        </ol>
                      </nav>
                    
                  
                  
                      </div>
                    </div>
                  
                    <article>
                      <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                  
                          
                    
                    
                      
                  
                  
                    <section>
                      
                  
                      
                  
                      
                  
                        
                        
                          <p><strong>Physiotherapy helps to restore movement and function when someone is affected by injury, illness or disability. It can also help to reduce your risk of injury or illness in the future.</strong></p>
                  
                  <p>It takes a holistic approach that involves the patient directly in their own care.</p>
                  
                        
                      
                    </section>
                  
                  
                    
                      
                  
                  
                    <section>
                      
                        
                        <a id="when-is-physiotherapy-used"></a>
                      
                  
                      
                  
                      
                  
                        
                        
                          <h2>When is physiotherapy used?</h2>
                  
                  <p>Physiotherapy can be helpful for people of all ages with a wide range of health conditions, including&nbsp;problems affecting the:</p>
                  
                  <ul>
                  <li><strong>bones, joints and soft tissue</strong> –&nbsp;such as&nbsp;<a href="/conditions/back-pain/">back pain</a>, <a href="/conditions/neck-pain-and-stiff-neck/">neck pain</a>, <a href="/conditions/shoulder-pain/">shoulder pain</a> and&nbsp;<a href="/conditions/sports-injuries/">sports injuries</a></li>
                  <li><strong>brain or nervous system</strong> – such as movement problems resulting from a <a href="/conditions/stroke/">stroke</a>,&nbsp;<a href="/conditions/multiple-sclerosis/">multiple sclerosis (MS)</a> or&nbsp;<a href="/conditions/parkinsons-disease/">Parkinson's disease</a></li>
                  <li><strong>heart and circulation</strong>&nbsp;– such as rehabilitation after a&nbsp;<a href="/conditions/heart-attack/">heart attack</a></li>
                  <li><strong>lungs and breathing</strong> – such as&nbsp;<a href="/conditions/chronic-obstructive-pulmonary-disease-copd/">chronic obstructive pulmonary disease (COPD)</a> and&nbsp;<a href="/conditions/cystic-fibrosis/">cystic fibrosis</a></li>
                  </ul>
                  
                  <p>Physiotherapy can improve your physical activity while helping you to prevent further injuries.</p>
                  
                        
                      
                    </section>
                  
                  
                    
                      
                  
                  
                    <section>
                      
                        
                        <a id="physiotherapists"></a>
                      
                  
                      
                  
                      
                  
                        
                        
                          <h2>Physiotherapists</h2>
                  
                  <p>Physiotherapy is provided by specially trained and regulated practitioners called physiotherapists.</p>
                  
                  <p>Physiotherapists often work as part of a multidisciplinary team&nbsp;in various areas of medicine and settings, including:</p>
                  
                  <ul>
                  <li>hospitals </li>
                  <li>community health centres or clinics </li>
                  <li>some GP surgeries </li>
                  <li>some sports teams, clubs, charities and workplaces </li>
                  </ul>
                  
                  <p>Some physiotherapists can also offer home visits.</p>
                  
                        
                      
                    </section>
                  
                  
                    
                      
                  
                  
                    <section>
                      
                        
                        <a id="what-physiotherapists-do"></a>
                      
                  
                      
                  
                      
                  
                        
                        
                          <h2>What physiotherapists do</h2>
                  
                  <p>Physiotherapists consider the body as a whole, rather than just focusing on the individual&nbsp;aspects of an injury or illness.</p>
                  
                  <p>Some of the main approaches used by physiotherapists include:</p>
                  
                  <ul>
                  <li><strong>education and advice</strong> –&nbsp;physiotherapists can give general advice about things that can affect your daily lives, such as posture and correct lifting or carrying techniques to help prevent injuries </li>
                  <li><strong>movement, tailored exercise and physical activity advice</strong> – exercises may be recommended to improve your general health and mobility, and to strengthen specific parts of your body </li>
                  <li><strong>manual therapy</strong> –&nbsp;where the physiotherapist uses their hands to help relieve pain and stiffness, and to encourage better movement of the body </li>
                  </ul>
                  
                  <p>There are other techniques that may sometimes be used, such as exercises carried out in water (hydrotherapy or aquatic therapy)&nbsp;or <a href="/conditions/acupuncture/">acupuncture</a>.</p>
                  
                  <p>Read more about the <a href="/conditions/physiotherapy/how-it-works/">main physiotherapy techniques</a>.</p>
                  
                        
                      
                    </section>
                  
                  
                    
                      
                  
                  
                    <section>
                      
                        
                        <a id="finding-a-physiotherapist"></a>
                      
                  
                      
                  
                      
                  
                        
                        
                          <h2>Finding a physiotherapist</h2>
                  
                  <p>Physiotherapy is available through the NHS or privately.</p>
                  
                  <p>You&nbsp;may need a referral from your GP to have physiotherapy on the NHS, although in some areas it's possible to refer yourself directly.</p>
                  
                  <p>To find out whether self-referral is available in your area, ask the reception staff at your GP surgery or contact&nbsp;<a href="/Service-Search/Clinical%20Commissioning%20Group/LocationSearch/1">your local NHS Clinical Commissioning Group (CCG)</a> or hospital trust.</p>
                  
                  <p>Waiting lists for NHS treatment can be long and some people choose to pay for private treatment<em>.</em> Most private physiotherapists accept direct self-referrals.</p>
                  
                  <p>Read more about <a href="/conditions/physiotherapy/accessing/">accessing physiotherapy</a>.</p>
                  
                        
                      
                    </section>
                  
                  
                    
                  
                    <div class="nhsuk-review-date">
                      <p class="nhsuk-body-s">
                        Page last reviewed: 26 November 2018<br>
                        Next review due: 26 November 2021
                      </p>
                    </div>
                  
                    
                      
                  
                  <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
                    <ul class="nhsuk-list nhsuk-pagination__list">
                    
                    
                      <li class="nhsuk-pagination-item--next">
                        <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="/physiotherapy-techniques">
                          <span class="nhsuk-pagination__title">Next</span>
                          <span class="nhsuk-u-visually-hidden">:</span>
                          <span class="nhsuk-pagination__page">Techniques</span>
                          <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                          </svg>
                        </a>
                      </li>
                    
                    </ul>
                  </nav>
                  
                    
                  
                  
                        </div>
                  
                        
                  
                      </div>
                    </article>
                  
                    
                  
                  
                        </main>

{% endblock %}
