{% extends './layout.html' %}

{% block pageTitle %}
  NHS - Pregnancy - I'm pregnant - Your pregnancy to do list
{% endblock %}

{% block beforeContent %}



  {{ breadcrumb({
    items: [
    {
      href: "/search/pregnancy",
      text: "Pregnancy"
    },
    {
      href: "/search/im-pregnant",
      text: "I'm pregnant"
    }
  ],
    href: "/search/pregnancy-to-do-list",
    text: "Your pregnancy to do list"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <section>
      <div class="nhsuk-grid-column-two-thirds">
        <h1>
          <span role="text">
            Your pregnancy to do list
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden">
                -
              </span>
              I'm pregnant
            </span>
          </span>
        </h1>   
        <p class="nhsuk-lede-text">Stay organised throughout your pregnancy. You can  keep track of things you need to do and when you need to do them during your pregnancy, such as book antenatal classes, tell your work you're pregnant and think about where you'd like to have your baby.</p>
      </div>
    </section>
    <hr class="nhsuk-hr">
    <section>
      <div class="nhsuk-grid-column-two-thirds">
        <h2>Early days</h2>
    <ul>
      <li>Take a pregnancy test: finding out if you're pregnant</li>
      <li>Make an appointment to see your midwife or GP: starting your antenatal care</li>
      <li>For partners, prepare for the birth and beyond: about the birth and becoming a parent</li>
    </ul>
    <div class="nhsuk-navigation__contextual-links">
      <ul>
        <li><a href="javascript:void(0);" title="">Doing a pregnancy test</a></li>
        <li><a href="javascript:void(0);" title="">Find maternity services near you</a></li> 
        <li><a href="javascript:void(0);" title="">Pregnancy, birth and beyond for dads and partners</a></li>
      </ul>
    </div>
    <hr class="nhsuk-hr">

    <h2>Tests and scans</h2>
    <ul>
      <li>Make sure you've been offered all your screening tests: antenatal tests and screening</li>
      <li>Ask to hear your baby's heartbeat: about antenatal care</li>
    </ul>
    <div class="nhsuk-navigation__contextual-links">
      <ul>
        <li><a href="javascript:void(0);">What is antenatal care?</a></li>
        <li><a href="javascript:void(0);">Antenatal checks and tests</a></li>
      </ul>
    </div>
    <hr class="nhsuk-hr">

    <h2>Staying well during your pregnancy</h2>
    <ul>
      <li>Book antenatal classes: all about antenatal classes</li>
      <li>Stay active, start exercising: exercises and keeping active</li>
      <li>Take folic acid: vitamins, minerals and special diets</li>
      <li>If you smoke, get help to quit: smoking in pregnancy</li>
      <li>Feeling hungry? Stick to a sensible diet: healthy eating in pregnancy and foods to avoid</li>
    </ul>
    <div class="nhsuk-navigation__contextual-links">
      <ul>
        <li><a href="javascript:void(0);" title="">Antenatal classes</a></li>
        <li><a href="javascript:void(0);" title="">Exercise in pregnancy</a></li>
        <li><a href="javascript:void(0);" title="">Vitamins, supplements and nutrition in pregnancy</a></li>
        <li><a href="javascript:void(0);" title="">Stop smoking in pregnancy</a></li>
        <li><a href="/foods-to-avoid" title="">Foods to avoid in pregnancy</a></li> 
        <li><a href="javascript:void(0);" title="">Have a healthy diet in pregnancy</a></li>
        
      </ul>
    </div>
    <hr class="nhsuk-hr">

    <h2>Benefits and beyond</h2>  
    <ul>
      <li>Learn about the benefits you are entitled to: your rights and benefits</li>
      <li>Claim free milk, fruit and vegetables through Healthy Start: free vitamins and vouchers</li>
      <li>Make an appointment to see a dentist: free dental care and other benefits</li>
      <li>Find out about your rights at work: maternity leave and employment rights</li>
      <li>See if you're eligible for a Sure Start Maternity Grant: about the Sure Start Maternity Grant</li>
      <li>Write to your employer 15 weeks before you plan to stop work: maternity leave and how to give notice to your employer</li>
      <li>Claim Maternity Allowance after week 26: about Maternity Allowance</li>
    </ul>
    <div class="nhsuk-navigation__contextual-links">
      <ul> 
        <li><a href="javascript:void(0);" title="">Maternity and paternity benefits and leave</a></li>
      </ul>
    </div>
    <hr class="nhsuk-hr">


    <h2>Preparing for the birth</h2>
    <ul>
      <li>Visit the maternity unit you plan to give birth in: questions to ask your maternity service</li>
      <li>Start buying the things you'll need for your baby: what you need for your baby</li>
      <li>Start your birth plan: print a birth plan template</li>
      <li>Pack a bag ready for the birth: what you'll need for the birth</li>
    </ul>
    <div class="nhsuk-navigation__contextual-links">
      <ul>
        <li><a href="javascript:void(0);" title="">Where to give birth: the options</a></li>
        <li><a href="javascript:void(0);" title="">What you'll need for your baby</a></li>
        <li><a href="javascript:void(0);" title="">How to make a birth plan</a></li>
        <li><a href="javascript:void(0);">Pack your bag for labour</a></li>
      </ul>
    </div>
    <hr class="nhsuk-hr">


    <h2>The labour</h2>
    <ul>
      <li>Make sure you know the signs of labour: about the signs of labour</li>
      <li>When in labour, phone the maternity unit before leaving home: when to go to the maternity unit or call the midwife</li>
    </ul>
    <div class="nhsuk-navigation__contextual-links">
      <ul>
        <li><a href="javascript:void(0);">Signs that labour has begun</a></li>
        <li><a href="javascript:void(0);" title="">At the hospital or birth centre</a></li>
      </ul>
    </div>
    <hr class="nhsuk-hr">
    <h2>External links</h2>
    <ul>
      <li><a href="javascript:void(0);" title="">Healthy Start - free vitamins and vouchers</a></li>
      <li><a href="javascript:void(0);" title="">Gov.uk - Maternity pay and leave</a></li>
      <li><a href="javascript:void(0);" title="">Gov.uk - Sure Start Maternity Grant</a></li>
      <li><a href="javascript:void(0);" title="">Gov.uk - Maternity pay and leave</a></li>
      <li><a href="javascript:void(0);" title="">Gov.uk - Maternity Allowance</a></li>
    </ul>
    <hr class="nhsuk-hr">
  
      </div>
    </section>

       <!-- End of content -->
  </div>
{% endblock %}
