<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4a.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Symptoms</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Symptoms
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>Soiling (child pooing their pants)</h1>
  </div>
</div>
<article>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <section>
        <p><b>Soiling is when a child regularly poos their pants. If they're already potty-trained, the soiling is
          usually because they are badly constipated. Treatment from a GP can help.</b></p>
      </section>
      <section>
        <h2>Causes of soiling</h2>
        <p>You may feel angry or frustrated when your child keeps pooing themselves. But they are not doing it on
          purpose and may not even realise it's happening.</p>
        <p>Soiling usually happens when a child is so constipated that a large, hard piece of poo becomes stuck at the
          end of their gut (rectum).</p>
        <p>Fresh poo from higher up the gut then runs around the hard poo and leaks out, staining their pants.</p>
        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
    Check if your child is badly constipated
    </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Your child may have:</p>
            <ul>
              <li>runny poo (you may mistake this for diarrhoea) or bits of hard poo appearing regularly in their
                pants
              </li>
              <li>pain when they poo – they may try to hold in their poos because of this</li>
              <li>tummy pain that comes and goes</li>
              <li>big, hard poos, or "rabbit droppings"</li>
              <li>fewer than 3 poos a week</li>
            </ul>
          </div>
        </details>
      </section>
      <section>
        <div class="nhsuk-care-card nhsuk-care-card--primary">
          <div class="nhsuk-care-card__heading-container">
            <h3 class="nhsuk-care-card__heading">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">Non-urgent advice:  </span>See a GP if:
      </span>
            </h3>
            <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
          </div>
          <div class="nhsuk-care-card__content">
            <ul>
              <li>your child is regularly soiling their pants</li>
            </ul>
            <p>It's important not to try to sort out soiling by yourself.</p>
            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <h3>Coronavirus (COVID-19) update: how to contact a GP</h3>
              <p>It's still important to get help from a GP if you need it. To contact your GP surgery:</p>
              <ul>
                <li>visit their website</li>
                <li>use the <a href="/using-the-nhs/nhs-services/the-nhs-app/">NHS App</a></li>
                <li>call them</li>
              </ul>
              <p><a href="/conditions/coronavirus-covid-19/using-the-nhs-and-other-health-services/">Find out about
                using the NHS during COVID-19</a></p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2>Treatment from a GP</h2>
        <p>A GP can prescribe laxatives to clear out the hard poo and get your child pooing regularly and comfortably
          again. This can take a few months to work. The GP will want to see your child regularly to check how they are
          doing.</p>
        <p>The soiling may get worse before it gets better.</p>
      </section>
      <section>
        <h2>Things you can do at home</h2>
        <ul>
          <li>set up a regular toilet routine for your child – for example, they could sit on the toilet for 5 minutes
            every day after each meal and before going to bed
          </li>
          <li>be positive and encouraging – you could use a star chart to reward your child for sitting on the toilet
            (whether or not they do a poo), or leave some toys or books next to the toilet
          </li>
          <li>encourage your child to go to the toilet as soon as they get the urge to during the day</li>
          <li>make sure your child is drinking plenty of fluids and has enough <a
                  href="/live-well/eat-well/how-to-get-more-fibre-into-your-diet/">fibre</a> in their diet
          </li>
          <li>encourage your child to be physically active – see <a
                  href="/live-well/exercise/physical-activity-guidelines-children-under-five-years/">physical activity
            ideas for under-5s</a></li>
        </ul>
        <p><a href="/conditions/pregnancy-and-baby/constipation-and-soiling/">Read more about constipation</a></p>
      </section>
      <div>
        <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
          Page last reviewed: 18 November 2020<br>
          Next review due: 18 November 2023
        </p>
      </div>
    </div>
  </div>
</article>


{% endblock %}
