<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-1b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Constipation</h1>
    </div>

    
    <p><strong>Constipation is common and it affects people of all ages. You can usually treat it at home with simple changes to your diet and lifestyle.</strong></p>
    <p>This page is about constipation in adults. There's separate information on <a href="javascript:void(0);">constipation in babies and children</a>.</p>
    <h2>Check if it's constipation</h2>
    <p>It's likely to be constipation if:</p>
   <ul>
     <li>you have not had a poo at least 3 times during the last week</li>
     <li>the poo is often large and dry, hard or lumpy</li>
     <li>you are straining or in pain when you have a poo</li>
   </ul>
   <p>You may also have a <a href="javascript:void(0);">stomach ache</a> and feel bloated or sick.</p>
   <p>If you're caring for someone with dementia, constipation may be easily missed. It's important to be aware of any changes in their behaviour that might mean they are in pain or discomfort, although it's not always easy.</p>
   <a href="javascript:void(0);">Read more about dementia behaviour changes</a>

   <h2>What causes constipation</h2>
    <p>Constipation in adults has many possible causes. Sometimes there's no obvious reason.</p>
    <p>The most common causes include:</p>
   <ul>
     <li>not eating enough fibre – such as fruit, vegetables and cereals</li>
     <li>not drinking enough fluids</li>
     <li>not moving enough and spending long periods sitting or lying in bed</li>
     <li>being less active and not exercising</li>
     <li>often ignoring the urge to go to the toilet</li>
     <li>changing your diet or daily routine</li>
     <li>a side effect of medicine</li>
     <li>stress, anxiety or depression</li>
   </ul>
   <p>Constipation is also common during pregnancy and for 6 weeks after giving birth.</p>
    <p>Rarely, constipation may be caused by a medical condition.</p>
    <h2>How you can treat and prevent constipation yourself</h2>
    <p>Making simple changes to your diet and lifestyle can help treat constipation.</p>
    <p>It's safe to try these simple measures when you're pregnant.</p>
    <p>You may notice a difference within a few days. Sometimes it takes a few weeks before your symptoms improve.</p>
    <h3>Make changes to your diet</h3>
    <p>To make your poo softer and easier to pass:</p>
    <ul>
      <li>drink plenty of fluids and avoid alcohol</li>
      <li><a href="javascript:void(0);">increase the fibre in your diet</a></li>
      <li>add some wheat bran, oats or linseed to your diet</li>
    </ul>
    <h3>Improving your toilet routine</h3>
    <p>Keep to a regular time and place and give yourself plenty of time to use the toilet.</p>
    <p>Do not delay if you feel the urge to poo.</p>
    <p>To make it easier to poo, try resting your feet on a low stool while going to the toilet. If possible, raise your knees above your hips.</p>
    <h3>Consider increasing your activity</h3>
    <p>A daily walk or run can help you poo more regularly.</p>
    <ul>
      <li><a href="javascript:void(0);">Getting started with exercise</a></li>
      <li><a href="javascript:void(0);">Getting active with a disability or long-term condition</a></li>
      <li><a href="javascript:void(0);">Exercise during pregnancy</a></li>
    </ul>

    <h2>A pharmacist can help with constipation</h2>
    <p>Speak to a pharmacist if diet and lifestyle changes are not helping.</p>
    <p>They can suggest a suitable <a href="javascript:void(0);">laxative</a>. These are medicines that help you poo more regularly.</p>
    <p>Most laxatives work within 3 days. They should only be used for a short time.</p>
    <div class="nhsuk-action-link">
  
      <a class="nhsuk-action-link__link" href="javascript:void(0);">
      
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="36" width="36">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Find a pharmacy</span>
      </a>
    </div>

    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>See a GP if you:</span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
    
      <div class="nhsuk-card__content">
    
        <ul>
          <li>are not improving with treatment</li>
          <li>are regularly constipated and it lasts a long time</li>
          <li>are bloated and it lasts a long time</li>
          <li>have <a href="javascript:void(0);">blood in your poo</a></li>
          <li>feel very tired all the time</li>
          <li>are taking medicine that’s causing constipation – such as opioid painkillers</li>
        </ul>
        <p>Speak to the GP before you stop taking any prescribed medicine.</p>
    
      </div>
    </div>

    <h2>Complications of long-term constipation</h2>
    <p>Long-term constipation can lead to faecal impaction. This is where poo has built up in the last part of the large intestine (rectum).</p>
    <p>The main symptom is <a href="javascript:void(0);">diarrhoea</a> after a long bout of constipation.</p>
    <p>Faecal impaction may be treated with:</p>
    <ul>
      <li>stronger laxatives – prescribed by a GP</li>
      <li>a suppository – medicine you place in your bottom</li>
      <li>a mini enema – where fluid is passed through your bottom, into your bowel</li>
      <li>a healthcare professional removing some of the poo – this is not something you should do yourself</li>
    </ul>


    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>





    

  </div>
</div>
{% endblock %}


