<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-6-a-to-z.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Symptoms of coronavirus - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}


      <!-- Change the page title here -->
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-6/"></a>Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-6/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-6/a-to-z/coronavirus">Coronavirus</a></li>

              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-6/a-to-z/coronavirus/high-risk">People at higher risk </a></li>

            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-6/a-to-z/coronavirus/high-risk">People at higher risk </a></p>
          </div>
        </nav>


      
      <article>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
      
                               <h1>
                    Other conditions and coronavirus
      </h1> 
        
          <section>
            
      
      <section id="">
        
          <p>Some charities have worked with the NHS to produce advice about coronavirus (COVID-19) and certain health conditions.</p>
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">Alzheimer's disease and dementia</h2>
          
          <p><a href="https://www.alzheimers.org.uk/get-support/coronavirus-support-person-dementia-living-alone#content-start">Alzheimer's Society: coronavirus – support for a person with dementia living alone</a> 
            <br />www.alzheimers.org.uk</p>
          
          <p><a href="https://www.dementiauk.org/get-support/coronavirus-covid-19/questions-and-answers/">Dementia UK: coronavirus – questions and answers</a>
            <br />www.dementiauk.org</p>
          
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">Arthritis and other joint or muscle conditions</h2>
          <p><a href="https://www.versusarthritis.org/news/2020/march/coronavirus-covid-19-what-is-it-and-where-to-go-for-information/">Versus Arthritis: coronavirus (COVID-19)</a><br />www.versusarthritis.org</p>
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">Asthma, COPD and other lung conditions</h2>
          <p><a href="https://www.asthma.org.uk/coronavirus/">Asthma UK: coronavirus (COVID-19)</a>
          <br />www.asthma.org.uk</p>
          
          <p><a href="https://www.blf.org.uk/support-for-you/coronavirus">British Lung Foundation: coronavirus (COVID-19</a>)
          <br />www.blf.org.uk</p>
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">Cancer</h2>
          <p><a href="https://www.cancerresearchuk.org/about-cancer/cancer-in-general/coronavirus-and-cancer">Cancer Research UK: coronavirus (COVID-19) and cancer</a>
            <br />www.cancerresearchuk.org/</p>
          
          <p><a href="https://www.macmillan.org.uk/coronavirus/cancer-and-coronavirus">Macmillan: coronavirus (COVID-19) guidance for people with cancer</a>
          <br />www.macmillan.org.uk</p>
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">Cystic fibrosis</h2>
          
          <p><a href="https://www.cysticfibrosis.org.uk/life-with-cystic-fibrosis/coronavirus">Cystic Fibrosis Trust: coronavirus help and advice</a>
          <br />www.cysticfibrosis.org.uk</p>
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">Heart disease</h2>
          
          <p><a href="https://www.bhf.org.uk/informationsupport/heart-matters-magazine/news/coronavirus-and-your-health">British Heart Foundation: coronavirus – what it means for you if you have heart or circulatory disease</a>
            <br />www.bhf.org.uk</p>
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">HIV</h2>
          
          <p><a href="https://www.tht.org.uk/news/coronavirus-covid-19">Terrence Higgins Trust: coronavirus (COVID-19)
            </a><br />www.tht.org.uk</p>
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">Kidney disease</h2>
          
          <p><a href="https://www.kidneycareuk.org/news-and-campaigns/coronavirus-advice/">Kidney Care UK: coronavirus (COVID-19) guidance for patients with kidney disease</a>
          <br /> www.kidneycareuk.org</p>
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">Liver disease</h2>
          
          <p><a href="https://britishlivertrust.org.uk/coronavirus-covid-19-health-advice-for-people-with-liver-disease-and-liver-transplant-patients/">British Liver Trust: coronavirus (COVID-19) – health advice for people with liver disease and liver transplant patients</a>
          <br />britishlivertrust.org.uk
          </p>
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">Mental health</h2>
          
          <p><a href="https://www.mind.org.uk/information-support/coronavirus/coronavirus-and-your-wellbeing/">Mind: coronavirus and your wellbeing</a>
          <br />www.mind.org.uk</p>
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">Motor neurone disease</h2>
          
          <p><a href="https://www.mndassociation.org/mnd-and-coronavirus/">MND Association: coronavirus and MND</a>
          <br />www.mndassociation.org</p>
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">Sickle cell</h2>
          
          <p><a href="https://www.sicklecellsociety.org/coronavirus-and-scd/">Sickle Cell Society: coronavirus (COVID-19) and sickle cell disorder</a><br />
            www.sicklecellsociety.org</p>
          
          <h2 class="nhsuk-heading-m nhsuk-u-padding-top-5">Stroke</h2>
          
          <p><a href="https://www.stroke.org.uk/finding-support/information-coronavirus-stroke-survivors">Stroke Association: information on coronavirus for stroke survivors</a>
            <br />www.stroke.org.uk</p>
        
      </section>
      
          </section>
        
      
      
            </div>
      

      
          </div>
        </article>


      

      

    <div>
        <nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation"
          aria-label="Pages in this guide">
          <h2 class="">More in <a href="/lab-6/a-to-z/coronavirus/high-risk">people at higher risk </a></h2>
          <ul class="nhsuk-list app-side-nav__list">


            <li class="app-side-nav__item "><a href="/lab-6/a-to-z/coronavirus/high-risk/who" title="">Who's at higher risk from coronavirus?</a></li>
            <li class="app-side-nav__item "><a href="/lab-6/a-to-z/coronavirus/high-risk/very-high-risk" title="">People at very high risk from coronavirus (extremely vunerable)</a></li>
            <li class="app-side-nav__item "><a href="/lab-6/a-to-z/coronavirus/high-risk/living" title="">Living with someone at very high risk from coronavirus</a></li>
            <li class="app-side-nav__item app-side-nav__item--current">Other conditions and coronavirus</li>
            <li class="app-side-nav__item "><a href="javascript:void(0);" title="">Pregnancy and coronavirus</a></li>
            <li class="app-side-nav__item "><a href="javascript:void(0);" title="">Coron≈avirus in care homes</a></li>
            <li class="app-side-nav__item "><a href="javascript:void(0);" title="">Apply for an NHS volunteer to help an at-risk person</a></li>







            <li class="app-side-nav__item "><a href="javascript:void(0);" title="">Changes to social distancing advice</a></li>



          </ul>
        </nav>
      </div>





    </div>
</div>
{% endblock %}
