<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-6-a-to-z.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Symptoms of coronavirus - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-6/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-6/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-6/a-to-z/coronavirus">Coronavirus</a></li>

              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-6/a-to-z/coronavirus/isolation">Self isolation and treatment</a></li>

            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-6/a-to-z/coronavirus/isolation">Self isolation and treatment</a></p>
          </div>
        </nav>

      <h1>
          Treating symptoms at home
      </h1>

      
      <article>

        
          <section>
            
      
      <section id="">
        
          <p>There is currently no specific treatment for coronavirus (COVID-19), but you can often ease your symptoms at home until you recover.</p>
        
      </section>
      
          </section>
        
          <section>
            
      
      <section id="">
        
          <h2 class="nhsuk-u-padding-top-6"><b>How to ease your symptoms</b></h2>
        
          <div class="nhsuk-do-dont-list">
        <h3 class="nhsuk-do-dont-list__label">Do</h3>
        <ul class="nhsuk-list nhsuk-list--tick">
          
          <li>
            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
            <p>get lots of rest and sleep</p>
          </li>
          
          <li>
            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
            <p>drink plenty of water to avoid dehydration – drink enough so your pee is light yellow and clear</p>
          </li>
          
          <li>
            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
            </svg>
            <p>take paracetamol or ibuprofen to lower your temperature if you are uncomfortable</p>
          </li>
          
        </ul>
      </div>
      
        
          
      <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details0">
        <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
          <span class="nhsuk-details__summary-text">
          Can I take ibuprofen if I have symptoms of coronavirus?
          </span>
        </summary>
        <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">
          
            <p>There have been some news reports of anti-inflammatory painkillers, such as ibuprofen, making coronavirus worse.</p><p>The Commission on Human Medicines has now confirmed there is no clear evidence that using ibuprofen to treat symptoms such as a high temperature makes coronavirus worse.</p><p>You can take paracetamol or ibuprofen to treat symptoms of coronavirus. Try paracetamol first if you can, as it has fewer side effects than ibuprofen and is the safer choice for most people.</p><p>Always follow the instructions that come with your medicine.</p>
          
        </div>
      </details>
      
        
          <h2 class="nhsuk-u-padding-top-6">What to do if your symptoms get worse</h2><p>It's important to get medical help if your symptoms get worse.</p>
        
      </section>
      
          </section>
        
          <section>
            
      
      <section id="">
        
          
      
      <div class="nhsuk-care-card nhsuk-care-card--urgent">
        <div class="nhsuk-care-card__heading-container">
          <h3 class="nhsuk-care-card__heading">
            <span role="text">
              <span class="nhsuk-u-visually-hidden">Urgent advice: </span>Use the 111 online coronavirus service if:
            </span>
          </h3>
          <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
        </div>
        <div class="nhsuk-care-card__content">
          
            <ul><li>you feel you cannot cope with your symptoms at home</li><li>your symptoms get worse and you're not sure what to do</li></ul>
          
            <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="https://111.nhs.uk/covid-19/">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Use the 111 online coronavirus service</span>
        </a>
      </div>
      
          
            <p><b>Only call 111 if you cannot get help online.</b></p>
          
          
        </div>
      </div>
      
        
      </section>
      
          </section>
        
      

        </article>

      

    <div>
        <nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation"
          aria-label="Pages in this guide">
          <h2 class="">More in <a href="/lab-6/a-to-z/coronavirus/isolation">self-isolation and treatment if you or someone you live with has symptoms</a></h2>
          <ul class="nhsuk-list app-side-nav__list">


            <li class="app-side-nav__item "><a href="/lab-6/a-to-z/coronavirus/isolation/self-isolation" title="">Self-isolating if you have coronavirus symptoms</a></li>
            <li class="app-side-nav__item app-side-nav__item--current">Treating symptoms at home</li>
            <li><a class="app-side-nav__item " href="javascript:void(0);" title="">What to do if symptoms get worse</a></li>
            <li><a class="app-side-nav__item " href="javascript:void(0);" title="">Hospital treatment for coronavirus</a></li>
            <li><a class="app-side-nav__item " href="javascript:void(0);" title="">Recovering from coronavirus</a></li>
            <li><a class="app-side-nav__item " href="javascript:void(0);" title="">New treatments in development</a></li>


          </ul>
        </nav>
      </div>





    </div>
</div>
{% endblock %}
