<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-1b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Anal pain</h1>
    </div>

    
    <p><strong>Anal pain (pain in the bottom) can be distressing, but it's often just the result of a minor, treatable problem.</strong></p>
    <p>The medical name for pain in and around the anus or rectum is proctalgia.</p>
    

   
    <h2>Common causes of anal pain</h2>
    <h3>Anal fissures</h3>
    <p>An <a href="javascript:void(0);">anal fissure</a> is a small tear in the skin of the anus that can be caused by passing a large or hard poo.</p>
    <p>Symptoms of an anal fissure include:</p>
    <ul>
      <li>a severe, sharp pain when doing a poo</li>
      <li>a burning or gnawing pain that lasts several hours after doing a poo</li>
      <li><a href="javascript:void(0);">rectal bleeding</a> – you may notice a small amount of blood on the toilet paper after you wipe</li>
    </ul>
    <p>Anal fissures can be very painful, but many heal on their own in a few weeks.</p>
    <p><a href="javascript:void(0);">Eating more fibre</a>, drinking plenty of fluids and taking <a href="javascript:void(0);">laxatives</a> and over-the-counter painkillers can help.</p>
    <p>If the pain persists, you may need special ointment that relaxes the ring of muscle around your anus.</p>
    <p>Occasionally, you may need surgery to help the fissure heal.</p>
    <p>Read more about the <a href="javascript:void(0);">treatments for anal fissures</a>.</p>
    <h3>Piles (haemorrhoids)</h3>
    <p><a href="javascript:void(0);">Piles</a>are swollen blood vessels that are found inside or around your bottom (anus). They're often thought to be caused by straining on the toilet as a result of <a href="javascript:void(0);">constipation</a>.</p>
    <p>In many cases, piles do not cause symptoms. If you do have symptoms, they may include:</p>
    <ul>
      <li>bleeding after doing a poo</li>
      <li>an <a href="javascript:void(0);">itchy bottom</a></li>
      <li>feeling like there's a lump in or around your anus</li>
      <li>soreness and redness around your anus</li>
      <li>anal pain, if the blood supply to the pile becomes blocked</li>
    </ul>
    <p>The symptoms often pass after a few days. <a href="javascript:void(0);">Eating more fibre</a>, drinking plenty of fluids and taking <a href="javascript:void(0);">laxatives</a> and over-the-counter painkillers can help.</p>
    <h3>Anal fistulas and abscesses</h3>
    <p>An anal fistula is a small tunnel that develops between the end of the bowel and the skin near the anus. It's usually caused by an infection near the anus resulting in a collection of pus (an<a href="javascript:void(0);"> abscess</a>).</p>
    <p>Symptoms of an anal fistula or abscess can include:</p>
    <ul>
      <li>a constant, throbbing pain that may be worse when you sit down</li>
      <li>skin irritation around the anus</li>
      <li>passing pus or blood when you poo</li>
      <li>swelling and redness around your anus</li>
      <li>a high temperature</li>
    </ul>
    <p>Your GP may prescribe <a href="javascript:void(0);">antibiotics</a> if an abscess is picked up early on. If it persists, it may need to be drained in hospital, possibly under <a href="javascript:void(0);">general anaesthetic</a> (while you're asleep).</p>
    <p>If a fistula develops, you'll usually need surgery because they rarely heal by themselves.</p>
    <p>Read more about <a href="javascript:void(0);">treatments for anal fistulas</a>.</p>

    <h2>Less common causes of anal pain</h2>
    <p>Less common causes of anal pain include:</p>
    <ul>
      <li>proctalgia fugax – a condition that causes episodes of sudden, severe anal pain that last for a few minutes at a time; medicine that relaxes the muscles in the pelvis may help</li>
      <li>levator ani syndrome – an aching or pressure sensation in and around the anus that may be constant or last for hours or days at a time; treatment to relax the muscles in the pelvis may help</li>
      <li>an <a href="javascript:void(0);">inflammatory bowel disease</a> such as <a href="javascript:void(0);">Crohn's disease</a> – other symptoms can include tummy cramps, bloody <a href="javascript:void(0);">diarrhoea</a> and weight loss; treatments are available to help relieve the symptoms</li>
      <li>an infection – such as a fungal infection or rectal <a href="javascript:void(0);">sexually transmitted infection (STI)</a></li>
      <li>a bone-related problem – such as <a href="javascript:void(0);">coccydynia</a> (tailbone pain)  or pain that spreads from your lower back, pelvis or hips, caused by <a href="javascript:void(0);">arthritis</a> or <a href="javascript:void(0);">bone tumours</a></li>
      <li>a urinary tract problem – such as <a href="javascript:void(0);">prostatitis</a> (inflammation or infection of the prostate gland)</li>
      <li><a href="javascript:void(0);">cancer of the anus</a> or lower rectum – this can have symptoms similar to those of piles and anal fissures, but is much rarer</li>
    </ul>

    <h2>When to get medical advice</h2>
    <p>Many common causes of anal pain improve with simple self-care treatments, so you do not always need to see your GP.</p>
    <p>But it's a good idea to see your GP if:</p>
    <ul>
      <li>your pain is severe</li>
      <li>your pain does not improve after a few days</li>
      <li>you have rectal bleeding</li>
    </ul>
    <p>Do not feel embarrassed to see your GP – anal pain is a common problem that they're used to seeing. Your GP can try to work out what the problem is and give you treatment advice.</p>
    <p>They'll probably ask to see your bottom and may carry out a <a href="javascript:void(0);">rectal examination</a> (where they gently insert a gloved finger into your bottom) to check for any abnormalities.</p>
    <p>If the cause is not immediately obvious, they may refer you to a specialist for advice and further tests.</p>

    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>



    

  </div>
</div>
{% endblock %}


