<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4a.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptom checker - NHS
{% endblock %}


{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="/lab-4/a/symptoms/" class="nhsuk-breadcrumb__link">Symptoms</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="/lab-4/a/symptoms/" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Symptoms
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- NHS symptoms content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Heading -->
    <div class="nhsuk-u-reading-width">
      <h1 class="nhsuk-u-margin-bottom-2">Tummy and digestive symptoms</h1>
    </div>

    <section class="nhsuk-u-margin-bottom-6">
      <ul class="nhsuk-hub-key-links beta-hub-key-links">

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-4/a/symptoms/body-part/stomach/bloating">
              Bloating
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-4/a/symptoms/body-part/stomach/constipation">
              Constipation
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-4/a/symptoms/body-part/stomach/diarrhoea-vomiting">
              Diarrhoea and vomiting
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-4/a/symptoms/body-part/stomach/feeling-sick">
              Feeling sick (nausea)
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-4/a/symptoms/body-part/stomach/flatulence">
              Flatulence
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-4/a/symptoms/body-part/stomach/heartburn">
              Heartburn and acid reflux
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-4/a/symptoms/body-part/stomach/indigestion">
              Indigestion
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-4/a/symptoms/body-part/stomach/reflux-babies">
              Reflux in babies
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-4/a/symptoms/body-part/stomach/soiling">
              Child pooing their pants (soiling)
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-4/a/symptoms/body-part/stomach/stomach-ache">
              Stomach ache
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-4/a/symptoms/body-part/stomach/unintentional-weight-loss">
              Unintentional weight loss
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-4/a/symptoms/body-part/stomach/vomiting-blood">
              Vomiting blood
            </a>
          </li>

         
    
      </ul>
    </section>


    </article>

  </div>
</div>

{% endblock %}


