<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-6-a-to-z.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Symptoms of coronavirus - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-6/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-6/a-to-z">Health A to Z</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-6/a-to-z/coronavirus">Coronavirus</a></li>


            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-6/a-to-z/coronavirus">Coronavirus</a></p>
          </div>
        </nav>

      <h1>
        Testing and contract tracing
      </h1>

      <p >Who can get tested, how to get a test, what your test result means and how to use the NHS contact tracing app. </p>
      <section id="key-links" class="nhsuk-u-padding-bottom-8">
        <!--<h3 class="nhsuk-u-margin-bottom-0">Pages in this guide</h3>-->
        <ul class="key-links" class="nhsuk-u-padding-top-0 ">
          <li><a href="/lab-6/a-to-z/coronavirus/testing/testing-for-coronavirus" title="">Testing for coronavirus</a></li>
          <li><a href="javascript:void(0);" title="">NHS Contact tracing app</a></li>
        </ul>
    </section>


    <section id="key-links" class="border-top" >
        <h3 class="nhsuk-u-margin-bottom-0">Related services</h3>
        <ul class="related-links" class="nhsuk-u-padding-top-0">
          <li><a href="javascript:void(0);">GOV.UK: Visit a test center</a><br />www.gov.uk</li>
          <li><a href="javascript:void(0);" title="" >GOV.UK: Get a home test kit</a><br />www.gov.uk</li>
          <li><a href="javascript:void(0);" title="">NHS Contact tracing app download</a></li>

        </ul>
    </section>






    </div>
</div>
{% endblock %}
