<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-9-services.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Find services near you - NHS.UK
{% endblock %}


<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}


{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->

      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-9/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-9/nhs-services">NHS services</a></li>

            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-9/nhs-services">NHS services</a></p>
          </div>
        </nav>


      <h1>Opt out of sharing your health records</h1>

      <h2>Why your data is important</h2>
      <p>The NHS uses information about patients (patient data) to research, plan and improve:</p>
      <ul>
        <li>the services we offer</li>
        <li>the treatment and care patients receive</li>
      </ul>
      <p>We get this data from your GP surgery, hospitals and other healthcare providers. The organisation that collects your data is called <a href="javascript:void(0);" title="">NHS Digital</a>.</p>
      <p>To help improve services, NHS Digital shares this data with researchers from organisations such as universities or hospitals. This type of data-sharing has been happening for many years.</p>
      <p>All data that is collected and shared is protected by strict rules around privacy, confidentiality and security.</p>
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p data-block-key="nfvug">We never sell patient data or share it with insurance or marketing companies.</p>
      </div>
      <p>Find out more about how NHS Digital is <a href="javascript:void(0);" title="">looking after your data</a>.</p>

      <h2>Opting out of sharing your data</h2>
      <p>You can choose whether or not your data is used for research and planning. There are different types of data-sharing you can opt out of.</p>
      <div class="block-details">

        <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details0">
          <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
            <span class="nhsuk-details__summary-text">
            1. Stop your GP surgery from sharing your data
            </span>
          </summary>
          <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">
            <p data-block-key="aohbo">This is called a Type 1 Opt-out.</p><ul><li data-block-key="cjdh0">To do this you need to fill in an opt-out form and return it to your GP surgery. <a href="https://assets.nhs.uk/nhsuk-cms/documents/Type1Opt-outform.docx">Download a Type 1 Opt-out form</a>.</li><li data-block-key="8stgb">Only your GP surgery can process your opt-out form. They will be able to tell you if, and when, you have been opted out.</li></ul><p data-block-key="2us9v">If you choose a Type 1 Opt-out, your GP will not share your data for research and planning. However, NHS Digital will still be able to collect and share data from other healthcare providers, such as hospitals.</p><p data-block-key="99sgi">Find out more about Type 1 Opt-out from <a href="https://digital.nhs.uk/data-and-information/data-collections-and-data-sets/data-collections/general-practice-data-for-planning-and-research/transparency-notice">NHS Digital’s transparency notice</a></p>
          </div>
        </details>
        </div>
        <div class="block-details">

          <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details1">
            <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text1" tabindex="0" aria-expanded="false">
              <span class="nhsuk-details__summary-text">
              2. Stop NHS Digital and other health and care organisations from sharing your data for research and planning
              </span>
            </summary>
            <div class="nhsuk-details__text" id="nhsuk-details__text1" aria-hidden="true">
              <p data-block-key="aohbo">This is called the National Data Opt-out.</p><ul><li data-block-key="b6dqj">To opt out online or find out more, visit <a href="/your-nhs-data-matters/manage-your-choice/">Make your choice</a>.</li><li data-block-key="6vbtl">If you choose this opt-out, NHS Digital and other health and care organisations will not be able to share any of your personal data with other organisations for research and planning, except in certain situations. For example, when required by law.</li><li data-block-key="a5k58">If you want to check if you have opted out, you can enter your details again at <a href="/your-nhs-data-matters/manage-your-choice/">Make your choice</a> or check your settings in the <a href="/nhs-app/">NHS App</a>.</li></ul>
            </div>
          </details>
          </div>
          <p>You can opt out, or opt back in again, at any time.</p>
          <section>
          <div class="block-feature_card">
            <div class="nhsuk-card  nhsuk-card--feature ">
              <div class="nhsuk-card__content nhsuk-card__content nhsuk-card__content--feature">
               <h3 class="nhsuk-card__heading--feature">Data used for your care</h3>
               <p data-block-key="fiuzi">If you choose to opt out of sharing your data, your personal health information will still be used to make sure you get the treatment and care you need. For example, your data may be shared so that you can be referred to hospital or get a prescription.</p>
              </div>
            </div>
          </div>
        </section>
     





    <!--<section id="key-links" class="border-top" >

            <h3 class="nhsuk-u-margin-bottom-0">Related services</h3>
            <ul class="related-links" class="nhsuk-u-padding-top-0">
    
                    <li><a href="javascript:void(0);" title="">Access all your medical records online</a></li>
    
            </ul>
        </section>-->




    </div>
</div>
{% endblock %}
