<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-1b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Hallucinations and hearing voices</h1>
    </div>
    <p><strong>Hallucinations are where someone sees, hears, smells, tastes or feels things that don't exist outside their mind.</strong></p>
    <p>They're common in people with <a href="javascript:void(0);">schizophrenia</a>, and are usually experienced as hearing voices.</p>
    <p>Hallucinations can be frightening, but there's usually an identifiable cause. For example, they can occur as a result of:</p>
    <ul>
      <li>taking illegal <a href="javascript:void(0);">drugs</a> or <a href="javascript:void(0);">alcohol</a></li>
      <li>a mental illness, such as <a href="javascript:void(0);">schizophrenia</a></li>
      <li>a progressive neurological condition, such as <a href="javascript:void(0);">Alzheimer's disease</a> or <a href="javascript:void(0);">Parkinson's disease</a></li>
      <li><a href="javascript:void(0);">loss of vision</a> caused by a condition such as <a href="javascript:void(0);">macular degeneration</a> – this is known as <a href="javascript:void(0);">Charles Bonnet syndrome</a></li>
    </ul>
    <p>See your GP straight away if you're experiencing hallucinations. The recommended treatment options for hallucinations will depend on the underlying cause. For example, antipsychotic medication may help with hallucinations for people living with schizophrenia.</p>
    <p>Hallucinations can make you feel nervous, paranoid and frightened, so it's important to be with someone you can trust.</p>
    <p>The following information explains the typical types of hallucinations, including why they occur and what you can do.</p>
    <p>It covers:</p>
    <ul>
      <li>hearing voices</li>
      <li>drug-induced hallucinations</li>
      <li>hallucinations and sleep</li>
      <li>hallucinations in children with a fever</li>
      <li>Charles Bonnest syndrome</li>
      <li>hallucinations in older people with delirium</li>
    </ul>
    <p>Hallucinations can also occur as a result of extreme tiredness or recent <a href="javascript:void(0);">bereavement</a>. However, these and other rarer causes are not covered here.</p>
    <h2>Hearing voices</h2>
    <p>Hearing voices in the mind is the most common type of hallucination in people with mental health conditions such as schizophrenia. The voices can be critical, complimentary or neutral, and may make potentially harmful commands or engage the person in conversation. They may give a running commentary on the person's actions.</p>
    <p>The experience is usually very distressing, but it's not always negative. Some people who hear voices are able to live with them and get used to them, or may consider them a part of their life. </p>
    <p>It's not uncommon for recently bereaved people to hear voices, and this may sometimes be the voice of their loved one.</p>
    <h3>Practical advice</h3>
    <p>If you're hearing voices, discuss any concerns you have with your GP. If necessary, they'll refer you to a psychiatrist. This is important in determining whether you have a serious mental illness.</p>
    <p>If your voices are due to schizophrenia, the earlier your treatment is started, the better the outcome.</p>    
    <p>You may also find the following advice helpful:</p>
    <ul>
      <li><strong>talk to other voice hearers</strong> – the <a href="javascript:void(0);">Hearing Voices Network</a> is a UK-based charity that can give you help and support, and put you in touch with other people in a similar situation to you</li>
      <li><strong>be open to discussing your voices</strong></li>
      <li><strong>try to understand where the voices come from, why and what triggers them</strong></li>
    </ul>
    <p>The Mental Health Foundation has more information and <a href="javascript:void(0);">practical advice about how to deal with hearing voices</a>.</p>

    <h2>Drug-induced hallucinations</h2>
    <h3>Illegal drugs and alcohol</h3>
    <p>People can experience hallucinations when they're high on illegal drugs such as amphetamines, cocaine, LSD or ecstasy. They can also occur during withdrawal from alcohol or drugs if you suddenly stop taking them.</p>
    <p>Drug-induced hallucinations are usually visual, but they may affect other senses. They can include flashes of light or abstract shapes, or they may take the form of an animal or person. More often, visual distortions occur that alter the person's perception of the world around them. </p>
    <p>The hallucinations can occur on their own or as a part of drug-induced <a href="javascript:void(0);">psychosis</a>. After long-term drug use, they may cause schizophrenia.</p>
    <p>Some people take cannabis to "calm themselves" and relieve their psychotic symptoms, without realising that in the longer term, the cannabis makes the psychosis worse.</p>
    <p><a href="javascript:void(0);">Heavy alcohol use</a> can also lead to psychotic states, hallucinations and dementia.</p>
    <p>Find out how to <a href="javascript:void(0);">get help for a drug problem</a>.</p>
    <h3>Medication</h3>
    <p>Various prescription medicines can occasionally cause hallucinations. Elderly people may be at particular risk.</p>
    <p>Hallucinations caused by medication can be dose-related and they usually stop when you stop taking the medicine. However, never stop taking a medicine without speaking to your doctor first and, if necessary, after being assessed by a psychiatrist.</p>
    <p>Speak to your GP about how the medication is affecting you, so you can discuss the possibility of switching to another medicine.</p>

    <h2>Hallucinations and sleep</h2>
    <p>Some people experience hallucinations just as they're falling asleep (hypnagogic), or as they start to wake up (hypnopompic).</p>
    <p>The hallucination may take the form of sounds, or the person may see things that don't exist, such as moving objects, or a formed image, such as a person (the person may think they've seen a ghost).</p>
    <p>Hypnagogic and hypnopompic hallucinations are particularly common in people with <a href="javascript:void(0);">narcolepsy</a>. However, they can also occur in people without narcolepsy or any disorder. They're essentially like dreams, and in themselves are nothing to worry about.</p>

    <h2>Hallucinations in children with a fever</h2>
    <p>Hallucinations can sometimes occur in children who are ill with a fever. Call your GP if your child is unwell with a body temperature of 38C or above and you think they're hallucinating.</p>
    <p>In the meantime, stay calm, keep your child cool and reassure them. Encourage them to drink plenty of fluids and give them <a href="javascript:void(0);">paracetamol</a> or <a href="javascript:void(0);">ibuprofen</a> (always read the patient information leaflet to find out the correct dose and frequency for your child's age, and check they're not allergic to medicines you give). The hallucinations should pass after a few minutes.</p>
    <p>Read more about <a href="javascript:void(0);">fever in children</a>.</p>

    <h2>Charles Bonnet syndrome</h2>
    <p>Some people with <a href="javascript:void(0);">visual impairment</a> may experience temporary visual hallucinations.</p>
    <p>This is known as <a href="javascript:void(0);">Charles Bonnet syndrome</a> and it tends to affect older people who have started to lose their sight, although it can affect people of any age.</p>
    <p>The hallucinations usually last for about 12 to 18 months and can take the form of simple, repeated patterns or complex images of people, objects or landscapes.</p>
    <p>Some of the most common causes of visual impairment include:</p>
    <ul>
      <li><a href="javascript:void(0);">age-related macular degeneration (AMD)</a> – where the central part of the back of the eye (the macula, which plays an important role in central vision) stops working properly</li>
      <li><a href="javascript:void(0);">cataracts</a> – when changes in the lens of the eye cause it to become less transparent (clear)</li>
      <li><a href="javascript:void(0);">glaucoma</a> – where fluid builds up inside the eye, damaging the optic nerve (which relays information from the eye to the brain)</li>
      <li><a href="javascript:void(0);">diabetic retinopathy</a> – where blood vessels that supply the eye become damaged from a build-up of glucose</li>
    </ul>
    <p>In the UK, around 100,000 people are thought to be affected by Charles Bonnet syndrome.</p>

    <h2>Hallucinations in older people with delirium</h2>
    <p>Hallucinations can sometimes occur in frail older people who are ill. The hallucinations may start before other signs that the person is unwell. They may be caused by a <a href="javascript:void(0);">chest infection</a> or <a href="javascript:void(0);">urine infection</a>, for example.</p>
    <p>Call the GP or 111 if your elderly relative suddenly develops hallucinations, particularly if they appear unwell in any other way.</p>


    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>





    

  </div>
</div>
{% endblock %}


