<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4a.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Exophthalmos (bulging eyes)</h1>
    </div>

    
    <p><strong>Exophthalmos, also known as proptosis, is the medical term for bulging or protruding eyeballs. It can affect 1 or both eyes and is most often caused by thyroid eye disease.</strong></p>
    <p>If you have exophthalmos, there is a small risk of your optic nerve (which sends signals between your eye and brain) becoming compressed, which may affect your sight permanently if it is not treated quickly.</p>
    <p>Many of the symptoms of thyroid eye disease tend to improve over time, although this can take several years. There's a chance your eyes will continue to protrude if corrective surgery is not done.</p>
    <p>Some people with exophthalmos are left with long-term vision problems, such as <a href="javascript:void(0);">double vision</a>. However, permanent <a href="javascript:void(0);">loss of vision</a> is rare if the condition is diagnosed and treated quickly.</p>
    <h2>When to get medical advice</h2>
    <p>See a GP or an optician if you notice that 1 or both of your eyes are protruding.</p>
    <p>It's important to identify the cause, as treatment is often more effective if it's started as soon as possible.</p>
    <p>If necessary, a GP or optician can refer you to an eye specialist (ophthalmologist) for further assessment.</p>
    <h2>Diagnosing exophthalmos</h2>
    <p>If you're referred to an eye specialist (ophthalmologist), they may:</p>
    <ul>
      <li>check how well you're able to move your eyes</li>
      <li>use an instrument called an exophthalmometer to measure how far your eyeball protrudes</li>
      <li>arrange for a <a href="javascript:void(0);">CT scan</a> or <a href="javascript:void(0);">MRI scan</a></li>
      <li>arrange for a <a href="javascript:void(0);">blood test</a> to check how well your thyroid gland is working</li>
    </ul>
    <p>You may be referred to a doctor who specialise in conditions affecting glands and hormones (endocrinologist) if your thyroid hormone levels are found to be abnormal.</p>
    <h2>Causes of exophthalmos</h2>
    <p>One of the main causes of exophthalmos in the UK is thyroid eye disease, also known as Graves' ophthalmopathy disease.</p>
    <p>Graves' ophthalmopathy disease affects around 1 in every 3 people with an <a href="javascript:void(0);">overactive thyroid gland (hyperthyroidism)</a> caused by Graves' disease. It's more common in women and people who smoke.</p>
    <p>Graves' disease is an autoimmune condition, which is where the immune system mistakenly attacks healthy tissue.</p>
    <p>In the case of thyroid eye disease, the immune system attacks the muscles and fatty tissues around and behind the eye, making them swollen.</p>
    <p>Thyroid eye disease can also occasionally affect people with an <a href="javascript:void(0);">underactive thyroid gland (hypothyroidism)</a> and, in rare cases, people with normal thyroid function</p>
    <h3>Other causes</h3>
    <p>Exophthalmos can also have other causes, but these are generally less common.</p>
    <p>Other causes of exophthalmos can include:</p>
    <ul>
      <li>an injury to the eyes</li>
      <li>bleeding behind the eyes</li>
      <li>abnormally shaped blood vessels behind the eyes</li>
      <li>an infection of the tissue in the eye socket</li>
      <li>cancerous tumours, such as those caused by <a href="javascript:void(0);">neuroblastoma</a> and some <a href="javascript:void(0);">soft tissue sarcomas</a></li>
    </ul>
    <p>Rarely, exophthalmos can also affect newborn babies.</p>
    <h2>Treating exophthalmos</h2>
    <p>If exophthalmos is caused by thyroid eye disease, the following treatments are often helpful:</p>
    <ul>
      <li>medicine to correct the level of thyroid hormones in your blood. This will not necessarily improve the problems with your eyes, but may stop them getting worse</li>
      <li><a href="javascript:void(0);">steroid injections</a> into a vein (intravenously) – this can help reduce the inflammation associated with the condition</li>
      <li>corrective surgery – this may be done to improve the appearance of your eyes once the inflammation is under control</li>
    </ul>
    <p>Other useful treatments include using eye drops to reduce eye dryness and irritation, and wearing special lenses to correct double vision. Stopping smoking can also help.</p>
    <p>In other cases, treatment will vary depending on the cause. For example, <a href="javascript:void(0);">radiotherapy</a>, <a href="javascript:void(0);">chemotherapy</a> and/or surgery may be recommended if exophthalmos is caused by a tumour.</p>
    <p>Find out more about <a href="javascript:void(0);">treating exophthalmos</a>.</p>
    <h2>Complications of exophthalmos</h2>
    <p>Depending on what's causing your bulging eyes, you may also have other associated symptoms. For example, if exophthalmos is caused by a thyroid eye disease, your eyes may also be:</p>
    <ul>
      <li>inflames, red and painful</li>
      <li>dry and "gritty"</li>
      <li>tearful</li>
      <li>sensitive to light (photophobia)</li>
    </ul>
    <p>You may also experience some<a href="javascript:void(0);">double vision</a>.</p>
    <p>If you have severe exophthalmos, you may not be able to close your eyes properly. This can damage the transparent tissue that covers the front of your eyes (corneas) by causing them to dry out.</p>
    <p>If your corneas become very dry, an infection or ulcers may develop. These could damage your vision if left untreated.</p>
    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>


    <aside class="nhsuk-grid-column">
      <div id="sibling-nav" class="app-related-nav beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="app-related-nav__heading nhsuk-u-padding-bottom-3">
          More in
          
            <a href="/lab-4/a/symptoms/type/sight-and-eye">Sight and eye problems</a>
          
        </h2>
        <nav role="navigation" class="app-related-nav__nav-section">
          <ul class="app-related-nav__list beta-hub-sibling-nav__list">

            <li class="beta-hub-sibling-nav__item  beta-hub-sibling-nav--current" aria-current="true">
              Bulging eyes
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/sight-and-eye/double-vision">
                Double vision
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/sight-and-eye/dry-eyes">
                Dry eyes
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/sight-and-eye/eyelid-problems">
                Eyelid problems
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/sight-and-eye/floaters-eye">
                Floaters in the eye
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/sight-and-eye/red-eye">
                Red eye
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/sight-and-eye/twitching-eyes">
                Twitching eyes
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/sight-and-eye/watering-eyes">
                Watering eyes
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>


  </div>
</div>
{% endblock %}


