<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-2b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptom checker - NHS
{% endblock %}


{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="/lab-1/a/symptoms/" class="nhsuk-breadcrumb__link">Symptoms</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="/lab-1/a/symptoms/" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Symptoms
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- NHS symptoms content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Heading -->
    <div class="nhsuk-u-reading-width">
      <h1 class="nhsuk-u-margin-bottom-2">Eating and digestion problems</h1>
    </div>

    <section class="nhsuk-u-margin-bottom-6">
      <ul class="nhsuk-hub-key-links beta-hub-key-links">
        
          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/bloating">
              Bloating
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/constipation">
              Constipation
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/diarrhoea-vomiting">
              Diarrhoea and vomiting
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/feeling-sick">
              Feeling sick (nausea)
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/flatulence">
              Flatulence
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/heartburn">
              Heartburn and acid reflux
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/hiccups">
              Hiccups
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/indigestion">
              Indigestion
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/metallic-taste">
              Metallic taste
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/mouth-ulcers">
              Mouth ulcers
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/stomach-ache">
              Stomach ache
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/swallowing-problems">
              Swallowing problems
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/teeth-grinding">
              Teeth grinding
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/unintentional-weight-loss">
              Unintentional weight loss
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/vomiting-blood">
              Vomiting blood
            </a>
          </li>

          <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
            <a href="/lab-1/a/symptoms/eating-and-digestion/worms-in-humans">
              Worms in humans
            </a>
          </li>

      </ul>
    </section>

    </article>

  </div>
</div>

{% endblock %}


