<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-10.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Healthy weight - NHS
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->

{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list ">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-10/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-10/live-well">Live well</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-10/live-well">Live well</a></a></p>
  </div>
</nav>
{% endblock %}



{% block content %}

    <h1>Healthy weight</h1>
    <figure class="nhsuk-image nhsuk-u-margin-top-0">
      <img class="nhsuk-image__img" alt="A_0218_healthy-weight-main_M24ENF.jpg" src="https://assets.nhs.uk/nhsuk-cms/images/A_0218_healthy-weight-main_M24ENF.width-690.jpg" sizes="(min-width: 1020px) 690px, 100vw" srcset="https://assets.nhs.uk/nhsuk-cms/images/A_0218_healthy-weight-main_M24ENF.width-345.jpg 345w, https://assets.nhs.uk/nhsuk-cms/images/A_0218_healthy-weight-main_M24ENF.width-690.jpg 690w">
    </figure>
    <p><b>To find out if you're a healthy weight for your height, work out your body mass index (BMI).</b></p>
    <p>You can easily check your BMI by using this <a href="javascript:void(0);">BMI calculator</a>. A BMI between 18.5 and 24.9 is considered healthy.</p>
    <p>The BMI calculator can also be used to check if your child is a healthy weight.</p>
    <h2>If you or your child are overweight</h2>
    <p>Weight gain occurs when you regularly eat and drink more calories than you burn through normal bodily functions and physical activity. Read about the <a href="/live-well/healthy-weight/hidden-causes-of-weight-gain/">hidden causes of weight gain</a>.</p>
    <p>To lose weight, you should try to <a href="javascript:void(0);">cut down on how much you eat and drink</a> and <a href="javascript:void(0);">be more active</a>.</p>
    <p>Find out more about <a href="javascript:void(0);">calories and your weight</a>.</p>
    <h3>Next steps</h3>
    <p>Take action now and <a href="javascript:void(0);">start losing weight</a>.</p>
    <p>You can:</p>
    <ul>
      <li>start the <a href="javascript:void(0);">NHS weight loss plan</a></li>
      <li>sign up for <a href="javascript:void(0);">weight loss email support</a></li>
      <li>start running with <a href="javascript:void(0);">Couch to 5K</a></li>
      <li>try our <a href="javascript:void(0);">12-week fitness plan</a></li>
      <li>get fit with <a href="javascript:void(0);">Strength and Flex</a></li>
      <li>try our <a href="javascript:void(0);">tips to help you lose weight</a></li>
      <li>learn how to achieve a <a href="javascript:void(0);">healthy, balanced diet</a></li>
      <li>read about <a href="javascript:void(0);">walking for health</a></li>
    </ul>
    <h2>If you or your child are underweight</h2>
    <p>Being underweight isn't good for your health either. If you're concerned about yourself or someone else, read our pages on:</p>
    <ul>
      <li><a href="javascript:void(0);">underweight adults</a></li>
      <li><a href="javascript:void(0);">underweight teen boys</a></li>
      <li><a href="javascript:void(0);">underweight teen girls</a></li>
      <li><a href="javascript:void(0);">underweight children aged 6 to 12</a></li>
      <li><a href="javascript:void(0);">underweight children aged 2 to 5</a></li>
    </ul>
    

  

{% endblock %}
