<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Foot pain - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [
    {
      href: "/home",
      text: "Home"
    }
  ],
    href: "/a-to-z",
    text: "Health A to Z"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
  <!-- Change the page title here -->
    <h1>
        Foot pain
    </h1>

    <p class="nhsuk-lede-text">Choose which area of your foot hurts most to read about:</p>
    <ul class="nhsuk-lede-text">
      <li>treatments</li>
      <li>when to get medical help</li>
      <li>possible causes</li>

    </ul>
    <article>
      <div class="nhsuk-grid-row nhsuk-promo-group">

        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="javascript: void(0);">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Ankle pain</h3>
                
              </div>
            </a>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="javascript: void(0);">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Heel pain</h3>
                
              </div>
            </a>
          </div>
        </div>
      </div>
      
      <div class="nhsuk-grid-row nhsuk-promo-group">
    
        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="javascript: void(0);">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Toe pain</h3>
              </div>
            </a>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="javascript: void(0);">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Pain in the top of the foot</h3>  
              </div>
            </a>
          </div>
        </div>
    
      </div>
        
      <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="/lab-2/foot-pain-bottom">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Pain in the bottom of the foot</h3>
              </div>
            </a>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="javascript: void(0);">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Pain in the ball of the foot</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </article>
      <!-- Add your content here -->
      <!-- End of content -->
  </div>  
</div>
{% endblock %}
