<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-2.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Physiotherapy techniques - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [
    {
      href: "/lab-2/home",
      text: "Home"
    }
  ],
    href: "/lab-2/a-to-z",
    text: "Health A to Z"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

        
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      <span role="text">Techniques
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden"> - </span>
          Physiotherapy
        </span>
      </span>
    </h1>
    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
      <h2 class="nhsuk-u-visually-hidden">Contents</h2>
      <ol class="nhsuk-contents-list__list">
        <li class="nhsuk-contents-list__item"><a class="nhsuk-contents-list__link" href="/lab-2/physiotherapy">Overview</a></li>
        <li class="nhsuk-contents-list__item" aria-current="page"><span class="nhsuk-contents-list__current">Techniques</span></li>
        <li class="nhsuk-contents-list__item"><a class="nhsuk-contents-list__link" href="/lab-2/physiotherapy-access">Accessing physiotherapy</a></li>  
      </ol>
    </nav>
  </div>
</div>
<article>
  <div class="nhsuk-grid-row">
     <div class="nhsuk-grid-column-two-thirds">            
      <section>               
        <p><strong>Physiotherapy can involve a number of different treatment and preventative approaches, depending on the specific problems you're experiencing.</strong></p>
        <p>At your first appointment, you will have an assessment to help determine what help you might need.</p>
        <p>Three of the main approaches a physiotherapist may use are:</p>
        <ul>
            <li>education and advice</li>
            <li>movement and exercise</li>
            <li>manual therapy</li>
        </ul>
        <p>Sometimes other techniques, such as acupuncture or ultrasound treatment, may also be tried.</p>
      </section>

      <section>
        <a id="education-and-advice"></a>
        <h2>Education and advice</h2>
        <p>One of the main aspects of physiotherapy involves looking at the body as a whole, rather than focusing on the individual factors of an injury.</p>
        <p>Therefore, giving general advice about ways to improve your wellbeing – for example, by taking
            <a href="javascript:void(0);" title="">regular exercise</a> and maintaining a
                <a href="javascript:void(0);" title="">healthy weight</a> for your height and build – is an important part of treatment.
        </p>
        <p>A physiotherapist can also give you specific advice that you can apply to everyday activities to look after yourself and reduce your risk of pain or injury.</p>
        <p>For example, if you have
            <a href="javascript:void(0);" title="">back pain</a>, you may be given advice about good posture, correct lifting or carrying techniques, and avoiding awkward twisting, over-stretching or prolonged standing.
        </p>
      </section>

      <section>
        <a id= "movement-and-exercise"></a>
        <h2>Movement and exercise</h2>
        <p>Physiotherapists usually recommend movement and exercise to help improve your mobility and function. This may include:</p>
        <ul>
          <li><strong>exercises designed to improve movement and strength in a specific part of the body</strong> – these usually need to be repeated regularly for a set length of time
          </li>
          <li><strong>activities that involve moving your whole body,</strong>
              such as <a href="javascript:void(0);" title="">walking</a> or <a href="javascript:void(0);" title="">swimming</a> – these can help if you're recovering from an operation or injury that affects your mobility</li>
          <li><strong>exercises carried out in warm, shallow water (hydrotherapy or aquatic therapy)</strong> – the water can help relax and support the muscles and joints, while providing resistance to help you gradually get stronger</li>
          <li><strong>advice and exercises to help you increase or maintain your physical activity</strong>
              – advice will be given on the importance of keeping active, and how to do this in a safe, effective way</li>
          <li><strong>providing mobility aids</strong> – such as crutches or a walking stick to help you move around</li>
        </ul>
        <p>Your physiotherapist may also recommend exercises that you can continue doing to help you manage pain in the long term or reduce your risk of injuring yourself again.</p>
        <p>You can find <a href="javascript:void(0);" title="">exercise advice leaflets for some common problems</a>, as well as <a href="javascript:void(0);" title="">exercises to prevent falls</a>, on the Chartered Society of Physiotherapy (CSP) website.</p>
      </section>

      <section>
        <a id="manual-therapy"></a>
        <h2>Manual therapy</h2>
        <p>Manual therapy is a technique where a physiotherapist uses their hands to manipulate, mobilise and massage the body tissues.</p>
        <p>This can help:</p>
        <ul>
          <li>relieve pain and stiffness</li>
          <li>improve blood circulation</li>
          <li>help fluid drain more efficiently from parts of the body</li>
          <li>improve the movement of different parts of the body</li>
          <li>promote relaxation</li>
        </ul>
        <p>Manual therapy can be used to treat specific problems, such as back pain, but may also be useful for a range of conditions that don't affect the bones, joints or muscles.</p>
        <p>For example, massage may improve quality of life for some people with serious or long-term conditions by reducing levels of anxiety and improving sleep quality. Manual techniques are also used to help certain lung conditions.</p>     
      </section>
                  
      <section>
        <a id="other-techniques"></a>
        <h2>Other techniques</h2>
        <p>Other techniques sometimes used by physiotherapists that may help to ease pain and promote healing include:</p>
        <ul>
          <li><strong><a href="javascript:void(0);" title="">acupuncture</a></strong> – where fine needles are inserted into specific points of the body, with the aim of reducing pain and promoting recovery
          </li>
          <li><strong><a href="javascript:void(0);" title="">transcutaneous electrical nerve stimulation (TENS)</a></strong> – a small, battery-operated device is used to deliver an electric current to the affected area, with the aim of relieving pain
          </li>
          <li><strong>ultrasound</strong> – where high-frequency sound waves are used to treat deep tissue injuries by stimulating blood circulation and cell activity, with the aim of reducing pain and spasms, as well as speeding up healing
          </li>
        </ul>
        <p>Some people have found these treatments effective, but there isn't much scientific evidence to support them.</p>
        <p>There is some positive evidence for acupuncture, but the
            <a href="javascript:void(0);" title="">National Institute for Health and Care Excellence (NICE)</a> only recommends considering it for chronic
            <a href="javascript:void(0);" title="">tension-type headaches</a> and
            <a href="javascript:void(0);" title="">migraines</a>
        </p>
      </section>             
      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">
          Page last reviewed: 26 November 2018<br>
          Next review due: 26 November 2021
        </p>
      </div>
      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="/lab-2/physiotherapy">
              <span class="nhsuk-pagination__title">Previous</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">Physiotherapy</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
              </svg>
            </a>
          </li> 
        </ul>
      </nav>         
      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="/lab-2/physiotherapy-access">
              <span class="nhsuk-pagination__title">Next</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">Accessing physiotherapy</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div> 
</article>


{% endblock %}
