<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Prickly heat - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a href="/lab-2/home" class="nhsuk-breadcrumb__link">Home</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="/lab-2/a-to-z" class="nhsuk-breadcrumb__link">Health A to Z</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-2/a-to-z">Back to Health A to Z</a></p>
      </div>
      </nav>
      
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->
      <h1>Heat rash (prickly heat)</h1>

      <section id="overview">
        <p class="nhsuk-lede-text"><strong>Heat rash is uncomfortable, but usually harmless. It should clear up on its own after a few days.</strong></p>
        <h2>Check if you have heat rash</h2>
        <p>The symptoms of heat rash are:</p>
        <ul>
          <li>small red spots</li>
          <li>an itchy, prickly feeling</li>
          <li>redness and mild swelling</li>
        </ul>
        <p>The symptoms are often the same in adults and children.</p>
        <p>It can appear anywhere on the body and spread, but it's not infectious to other people.</p>
        <h3>If you're not sure it's heat rash</h3>
        <p>Look at other<a href= "javascript: void (0);" title="">rashes in children</a></p>
      </section>

      <section id="How-you-can-treat-or-prevent-heat-rash">
        <h2>How you can treat or prevent heat rash yourself</h2>
        <p>The main thing to do is keep your skin cool so you do not sweat and irritate the rash.</p>
        <h3>To keep your skin cool</h3>
        <ul>
          <li>wear loose cotton clothing</li>
          <li>use lightweight bedding</li>
          <li>take cool baths or showers</li>
          <li>drink plenty of fluid to avoid dehydration</li>
        </ul>
        <h3>To calm the itching or prickly rash</h3>
        <ul>
          <li>apply something cold, such as a damp cloth or ice pack (wrapped in a tea towel) for no more than 20 minutes</li>
          <li>tap or pat the rash instead of scratching it</li>
          <li>do not use perfumed shower gels or creams</li>
        </ul>
      </section>

      <section id="A-pharmacist-can-help-with-heat-rash">
        <h2>A pharmacist can help with heat rash</h2>
        <p>Speak to a pharmacist about heat rash. They can give advice and suggest the best treatment to use.</p>
        <p>A pharmacist might recommend:</p>
        <ul>
          <li>calamine lotion</li>
          <li>antihistamine tablets</li>
          <li>hydrocortisone cream – though not for children under 10 or pregnant women as they need to get advice from a doctor before using this treatment</li>
        </ul>
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="javascript: void (0);">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Find a pharmacy</span>
          </a>
        </div>
        <div class="nhsuk-care-card nhsuk-care-card--non-urgent">
          <div class="nhsuk-care-card__heading-container">
            <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>See a GP if:</span></h3>
            <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
          </div>
          <div class="nhsuk-care-card__content">
            <ul>
              <li>the rash does not improve after a few days</li>
              <li>your baby has a rash and you're worried</li>
            </ul> 
          </div>
        </div>
      </section>

      <section id="Causes-of-heat-rash">
        <h2>Causes of heat rash</h2>
        <p>Heat rash is usually caused by excessive sweating.</p>
        <p>Sweat glands get blocked and the trapped sweat leads to a rash developing a few days later.</p>
        <p>Babies often get it because they cannot control their temperature as well as adults and children can.</p>
      </section>

      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">Page last reviewed: 18 September 2017<br> Next review due: 18 September 2020</p>
      </div>

        <!-- End of content -->

  </div>

</div>
{% endblock %}
