<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-pregnant.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}

{{ details({
  "classes": "alpha-lab-breadcrumbs",
  "text": "Being pregnant",
  "HTML": "
  <ul class=\"bradcrumbs\">
    <li class=\"bradcrumbs__item--active\">
      <a href=\"\">
        Antenatal care
      </a>
    </li>
    <li>
      <a href=\"\">
        Test and scans
      </a>
    </li>
    <li>
      <a href=\"\">
        Pregnancy-induced conditions
      </a>
    </li>
    <li>
      <a href=\"\">
        Food and drink during pregnancy 
      </a>
    </li>
    <li>
      <a href=\"\">
        Existing health conditions
      </a>
    </li>    
    <li>
      <a href=\"\">
        Medicines during pregnancy
      </a>
    </li>
    <li>
      <a href=\"\">
        Existing health conditions
      </a>
    </li>
    <li>
      <a href=\"\">
        Free prescriptions and more
      </a>
    </li>
    <li>
      <a href=\"\">
        Illness during pregnancy
      </a>
    </li>
    <li>
      <a href=\"\">
        Common pregnancy ailments
      </a>
    </li>
    <li>
      <a href=\"\">
        Lifestyle and wellbeing
      </a>
    </li>
    <li>
      <a href=\"\">
        When pregnancy goes wrong
      </a>
    </li>
    <li>
      <a href=\"\">
        Partners
      </a>
    </li>
  </u\l>
  "
}) }}
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <section>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
          <!--<p class="nhsuk-u-margin-bottom-1" ><a href="/lab-3/a-to-z/pregnancy/pregnant" >Being pregnant</a></p>-->
        <section>
          <h1>
            <span role="text">
                Antenatal care
              </span>
          </h1>
          <p class="nhsuk-lede-text">This page provides links to all the pages and topics relating to your antenatal care. You should start your antenatal care as soon as possible once you know you're pregnant. You can do this by contacting a midwife or GP.</p>  
          <hr class="nhsuk-hr">
        </section>

      <section>
        <h2 class="nhsuk-u-visually-hidden">All antenatal pages</h2>
        <ul class="key-links">
          <li><a href="javascript:void(0);">What is antenatal care?</a></li>
          <li><a href="javascript:void(0);">Antenatal checks and tests</a></li>
          <li><a href="javascript:void(0);">Your antenatal appointments</a></li>
          <li><a href="javascript:void(0);">Antenatal support: meet the team</a></li> 
          <li><a href="javascript:void(0);">Antenatal classes</a></li>   
        </ul>
      </section>
    </div>
  </div>
</section>
{% endblock %}  