<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-pregnant.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - Being pregnant -  Early days - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}

{{ details({
  "classes": "alpha-lab-breadcrumbs",
  "text": "Being pregnant",
  "HTML": "
  <ul class=\"bradcrumbs\">
    <li>
      <a href=\"/lab-4/a-to-z/pregnancy/pregnant\">
        Being pregnant
      </a>
    </li>
    <li class=\"bradcrumbs__item--active\">
      <a href=\"/lab-4/a-to-z/pregnancy/early-days\">
        Early days
      </a>
    </li>
    <li>
      <a href=\"/lab-4/a-to-z/pregnancy/antenatal\">
        Antenatal care
      </a>
    </li>
    <li>
      <a href=\"/lab-4/a-to-z/pregnancy/tests-and-scans\">
        Test and scans
      </a>
    </li>
    <li>
      <a href=\"#\">
        Pregnancy-induced conditions
      </a>
    </li>
    <li>
      <a href=\"/lab-4/a-to-z/pregnancy/food-and-drink\">
        Food and drink during pregnancy 
      </a>
    </li>
    <li>
      <a href=\"#\">
        Existing health conditions
      </a>
    </li>    
    
    <li>
      <a href=\"#\">
        Free prescriptions and more
      </a>
    </li>
    <li>
      <a href=\"#\">
        Illness during pregnancy
      </a>
    </li>
    <li>
      <a href=\"#\">
        Lifestyle and wellbeing
      </a>
    </li>
    <li>
      <a href=\"#\">
        Medicines during pregnancy
      </a>
    </li>
    <li>
      <a href=\"#\">
       Multiple pregnancies
      </a>
    </li>
    <li>
      <a href=\"#\">
        Partners
      </a>
    </li>
    <li>
      <a href=\"#\">
        When pregnancy goes wrong
      </a>
    </li>
  </u\l>
  "
}) }}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <!-- Change the page title here -->
      <section>
        <h1>
          <span role="text">
            Early days
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">
              <!--<span class="nhsuk-u-visually-hidden">
                -
              </span>
              Being pregnant
            </span>-->
          </span>
        </h1> 
        <p class="nhsuk-lede-text">Find out everything you’ll need to know and do, once you’ve confirmed that you’re pregnant. You should see a midwife or GP as soon as you know you're pregnant.</p> 
        <hr class="nhsuk-hr">
      </section>
      <section>
        <h2 class="nhsuk-u-visually-hidden">Shortcuts</h2>
        <ul class="key-links">
          <li><a href="javascript:void(0);">Signs and symptoms of pregnancy</a></li>
          <li><a href="/lab-4/a-to-z/pregnancy/to-do">Your pregnancy to-do list</a></li>
          <li><a href="javascript:void(0);" title="">Find maternity services near you</a></li> 
          <li><a href="javascript:void(0);" title="">Pregnancy due date calculator</a></li>
          <li><a href="javascript:void(0);" title="">Health things you should know in pregnancy</a></li>   
          <li><a href="javascript:void(0);" title="">What is the umbilical cord?</a></li>  
          <li><a href="javascript:void(0);" title="">What is the placenta?</a></li>  
          <li><a href="javascript:void(0);" title="">What is the amniotic sac?</a></li>  
          <li><a href="javascript:void(0);" title="">Can I find out the sex of my baby?</a></li>   
          <li><a href="javascript:void(0);" title="">Not sure if you want to be pregnant?</a></li>
        </ul>
      </section>
    </div>      
  </div>
</section>
{% endblock %}
