
{% extends 'layout-lab-3-pregnant.html' %}

{% block pageTitle %}
 Pregnancy - Being pregnant - Foods to avoid in pregnancy - NHS.UK 
{% endblock %}


<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}
{{ details({
  "classes": "alpha-lab-breadcrumbs",
  "text": "Food and drink in pregnancy",
  "HTML": "
  <ul class=\"bradcrumbs\">
    <li>
      <a href=\"/lab-3/a-to-z/pregnancy/food-and-drink\">
        Food and drink in pregnancy
      </a>
    </li>
    <li>
      <a href=\"#\">
        Have a healthy diet
      </a>
    </li>
    <li  class=\"bradcrumbs__item--active\">
      <a href=\"/lab-3/a-to-z/pregnancy/foods-to-avoid\">
        Food and drink to avoid in pregnancy
      </a>
    </li>
    <li>
      <a href=\"#\">
        Can I eat soya products during pregnancy?
      </a>
    </li>
    <li>
      <a href=\"#\">
        Should pregnant and breastfeeding women avoid some types of fish?
      </a>
    </li>
    <li>
      <a href=\"#\">
        How can I avoid food poisoning during pregnancy?
      </a>
    </li>
    <li>
      <a href=\"#\">
        Vitamins, supplements and nutrition in pregnancy
      </a>
    </li>
    <li>
      <a href=\"#\">
        Why do I need folic acid in pregnancy?
      </a>
    </li>
    <li>
      <a href=\"#\">
        Find health start vitamins services
      </a>
    </li>
  </u\l>
  "
}) }}
{% endblock %}


{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <section>
      
        <!--  <p class="nhsuk-u-margin-bottom-1" ><a href="/lab-3/a-to-z/pregnancy/pregnant" >Being pregnant</a></p>-->

        <h1>
          <span role="text">
            Food and drink to avoid in pregnancy
          </span>
        </h1> 
        <p class="nhsuk-lede-text">Know important facts about food and drink you should avoid, or be careful with, when you're pregnant.</p>
      </div>
    </section>
    <section>
        <h2 class="nhsuk-u-visually-hidden">Shortcuts</h2>
        <ul class="key-links">
          <li><a href="/lab-3/a-to-z/pregnancy/foods-to-avoid-meat">Meat and fish</a></li>
            <li><a href="/lab-3/a-to-z/pregnancy/foods-to-avoid-dairy">Dairy</a></li>
            <li><a href="/lab-3/a-to-z/pregnancy/foods-to-avoid-eggs-nuts">Eggs, nuts and others</a></li>
            <li><a href="/lab-3/a-to-z/pregnancy/foods-to-avoid-drinks">Drinks</a></li>
        </ul>
    </section>
       <!-- End of content -->
    </div>
  </div>
</section>
{% endblock %}
