<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-pregnant.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - Being pregnant - Food and drink - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        Mr. Brad Crumb - immediate parent = Being pregnant, - siblings = that long list of canons on the being pregnant page
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <section>
        <h1>
          <span role="text">
            Food and drink
          </span>
        </h1>
        <p class="nhsuk-lede-text">
          There are some foods to avoid or take care with when you're pregnant as they might make you ill or harm your baby
        </p> 
      </section>
      <section>
          <h2 class="nhsuk-u-visually-hidden">Shortcuts</h2>
          <ul class="key-links">
            <li><a href="javascript:void(0);">Have a healthy diet in pregnancy</a></li>
            <li><a href="/lab-3/a-to-z/pregnancy/foods-to-avoid">Foods to avoid in pregnancy</a></li>
            <li><a href="javascript:void(0);">Can I eat soya products during pregnancy?</a></li>
            <li><a href="javascript:void(0);">Should pregnant and breastfeeding women avoid some types of fish?</a></li>
            <li><a href="javascript:void(0);">How can I avoid food poisoning during pregnancy?</a></li>
            <li><a href="javascript:void(0);">Vitamins, supplements and nutrition in pregnancy</a></li>
            <li><a href="javascript:void(0);">Why do I need folic acid in pregnancy?</a></li>
            <li><a href="javascript:void(0);">Find health start vitamins services</a></li>
          </ul>
      </section>
    </div>
  </div>
</section>

{% endblock %}
