{% extends 'layout-lab-3-pregnant.html' %}

{% block pageTitle %}
 Pregnancy - Being pregnant - Foods to avoid in pregnancy - NHS.UK 
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}
{{ details({
  "classes": "alpha-lab-breadcrumbs",
  "text": "Food and drink to avoid in pregnancy",
  "HTML": "
  <ul class=\"bradcrumbs\">
    <li>
      <a href=\"/lab-3/a-to-z/pregnancy/food-and-drink\">
        Food and drink to avoid in pregnancy
      </a>
    </li>
    <li>
      <a href=\"/lab-3/a-to-z/pregnancy/foods-to-avoid-meat\">
        Meat and fish
      </a>
    </li>
    <li>
      <a href=\"/lab-3/a-to-z/pregnancy/foods-to-avoid-dairy\">
        Dairy
      </a>
    </li>
    <li>
      <a href=\"/lab-3/a-to-z/pregnancy/foods-to-avoid-eggs-nuts\">
        Eggs, nuts and others
      </a>
    </li>
    <li class=\"bradcrumbs__item--active\">
      <a href=\"/lab-3/a-to-z/pregnancy/foods-to-avoid-drinks\">
        Drinks
      </a>
    </li>
  </u\l>
  "
}) }}
{% endblock %}

{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
     <section>
      <h1>
        <span role="text">
          Drinks
        </span>
      </h1> 
      <p class="nhsuk-lede-text">Some drinks are risky in pregnancy. Find out what you can and can't drink.</p>
      </div>
    </section>

    <section>
        <article class="drinks">
          <h2>Drinks</h2>

          <h3>Caffeine</h3>
          <p>If you're pregnant, limit the amount of caffeine you have to 200 milligrams (mg) a day. This is about the same as 2 mugs of instant coffee.</p>

          <p>High levels of caffeine in pregnancy can result in babies having a low birthweight, which can increase the risk of health problems in later life. Too much caffeine can also cause a miscarriage.</p>

          <h4>What has caffeine in it?</h4>

          <p>Caffeine is found naturally in some foods and drinks, such as:</p>
          <ul>
            <li>tea</li> 
            <li>coffee </li>
            <li>chocolate</li>
          </ul>
          <p>It's also added to:</p>
          <ul>
            <li>energy drinks</li>
            <li>cold and flu remedies</li>
            <li>some soft drinks, such as cola</li>
          </ul>

          <h4>Should I avoid caffeine in pregnancy?</h4>


          <p>Green tea can contain the same amount of caffeine as regular tea.</p>

          <p>Some cold and flu remedies also contain caffeine. Talk to your midwife, doctor or pharmacist before taking these remedies.</p>

          <h4>Reducing your caffeine intake</h4>

          <p>Try water, fruit juice, or decaffeinated tea or coffee. Limit the amount of energy drinks you have, as they can be high in caffeine.</p>

          <p>If you occasionally exceed the recommended limit, don't worry. The risks are quite small.</p>

          <p>Always talk to your midwife, pharmacist or another healthcare professional before taking any medicines in pregnancy, including cold and flu remedies.</p>

          <p>You don't need to cut out caffeine completely, but don't have more than 200mg a day.</p>

          <p>The approximate amount of caffeine found in food and drinks is:</p>
          <ul>
            <li>one mug of instant coffee: 100mg </li>
            <li>one mug of filter coffee: 140mg </li>
            <li>one mug of tea: 75mg</li>
            <li>one can of cola: 40mg </li>
            <li>one 250ml can of energy drink: 80mg (larger cans of energy drink may have up to 160mg caffeine)</li>
            <li>one 50g bar of plain (dark) chocolate: most UK brands contain less than 25mg</li>
            <li>one 50g bar of milk chocolate: most UK brands contain less than 10mg</li>
          </ul>
          <p>So, if you have one can of cola and one mug of filter coffee, for example, you have reached almost 200mg of caffeine. Don't worry if you occasionally have more than this amount – the risks are small.</p>

          <p>To cut down on caffeine, try decaffeinated tea and coffee, fruit juice or mineral water instead of regular tea, coffee, cola and energy drinks.</p>

          <h3>Herbal teas in pregnancy</h3>

          <p>There's little information on the safety of herbal teas in pregnancy, so it's best to drink them in moderation.</p>

          <p>The FSA recommends drinking no more than around 4 cups of herbal tea a day during pregnancy, and to seek advice from your GP or midwife if you're unsure about which herbal products are safe to consume.</p>
        </article>
        <article class="alcohol">
          <h2>Alcohol</h2>
          <p>Experts are still unsure exactly how much – if any – alcohol is completely safe for you to have while you're pregnant, so the safest approach is not to drink at all while you're expecting.</p>

          <h4>Is it safe to drink alcohol when pregnant?</h4>

          <p>The Chief Medical Officers for the UK recommend that if you're pregnant or planning to become pregnant, the safest approach is not to drink alcohol at all to keep risks to your baby to a minimum.</p>

          <p>Drinking in pregnancy can lead to long-term harm to the baby, with the more you drink, the greater the risk.</p>

          <h4>How does alcohol affect my unborn baby?</h4>

          <p>When you drink, alcohol passes from your blood through the placenta and to your baby.</p>

          <p>A baby's liver is one of the last organs to develop and doesn't mature until the later stages of pregnancy.</p>

          <p>Your baby cannot process alcohol as well as you can, and too much exposure to alcohol can seriously affect their development.</p>

          <p>Drinking alcohol, especially in the first three months of pregnancy, increases the risk of miscarriage, premature birth and your baby having a low birth weight.</p>

          <p>Drinking after the first three months of your pregnancy could affect your baby after they're born.</p>

          <p>The risks are greater the more you drink. The effects include learning difficulties and behavioural problems.</p>

          <p>Drinking heavily throughout pregnancy can cause your baby to develop a serious condition called foetal alcohol syndrome (FAS).</p>

          <p>Children with FAS have:</p>
          <ul>
            <li>poor growth</li>
            <li>facial abnormalities</li>
            <li>learning and behavioural problems</li>
          </ul>

          <p>Drinking less heavily, and even drinking heavily on single occasions, may be associated with lesser forms of FAS. The risk is likely to be greater the more you drink.</p>

          <h4>How to avoid alcohol in pregnancy</h4>

          <p>It may not be as difficult as you think to avoid alcohol completely for nine months, as many women go off the taste of alcohol early in pregnancy.</p>

          <p>Most women do give up alcohol once they know they're pregnant or when they're planning to become pregnant.</p>

          <p>Women who find out they're pregnant after already having drunk in early pregnancy should avoid further drinking.</p>

          <p>However, they should not worry unnecessarily, as the risks of their baby being affected are likely to be low.</p>

          <p>If you're concerned, talk to your midwife or doctor.</p>

          <h4>What is a unit of alcohol?</h4>

          <p>If you do decide to drink when you're pregnant, it's important to know how many units you are consuming.</p>

          <p>One UK unit is 10 millilitres (ml) – or eight grams – of pure alcohol. This is equal to: </p>
          <ul>
            <li>half a pint of beer, lager or cider at 3.5% alcohol by volume (ABV: you can find this on the label)</li>
            <li>a single measure (25ml) of spirit, such as whisky, gin, rum or vodka, at 40% ABV</li>
            <li>half a standard (175ml) glass of wine at 11.5% ABV</li>
          </ul>
          <p>You can find out how many units there are in different types and brands of drinks with the Drinkaware unit and calorie calculator. </p>

          <p>If you have an Android smartphone, iPhone, iPad or iPod touch, you can download the free One You Drinks Tracker from Google Play or the iTunes App Store. It allows you to keep a drinks diary and get feedback on your drinking.</p>
        </article>
        </section>
       <section>
        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
          <h2 class="">More in food and drink to avoid in pregnancy</h2>
          <ul class="bradcrumbs">
            <li><a href="/lab-3/a-to-z/pregnancy/foods-to-avoid-meat">Meat and fish</a></li>
            <li class=""><a href="/lab-3/a-to-z/pregnancy/foods-to-avoid-dairy">Dairy</a></li>
            <li class=""><a href="/lab-3/a-to-z/pregnancy/foods-to-avoid-eggs-nuts">Eggs, nuts and others</a></li>
            <li class="bradcrumbs__item--active" aria-current="page"><a href="/lab-3/a-to-z/pregnancy/foods-to-avoid-drinks">Drinks</a></li>
          </ul>
        </nav>
        <div class="nhsuk-review-date">
          <p class="nhsuk-body-s">
              Page last reviewed: 23 January 2017 
              <br>
              Next review due: 23 January 2020
          </p>
        </div>
    </section>
    </div>  
  </div>
</section>
  {% endblock %}