<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-pregnant.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/home" class="nhsuk-breadcrumb__link">Home</a>
              </li>
      
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/a-to-z" class="nhsuk-breadcrumb__link">Health A to Z</a>
              </li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-3/a-to-z">Back to Health A to Z</a></p>
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
          <span role="text">
           Pregnant women and free NHS prescriptions
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden">
                -
              </span>
              Prescriptions and more
            </span>
          </span>
        </h1> 
        <p class="nhsuk-lede-text">If you're pregnant, you're entitled to free NHS prescriptions as long as you have a valid Maternity Exemption Certificate or card (MatEx).</p>
      </div>
    </div>
</section>
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2>How to apply for a maternity exemption certificate</h2>

      <p>You should apply for a maternity exemption certificate using application form FW8, available from your midwife, GP or health visitor. They'll also need to sign the form.</p>

      <p>Send the completed form to:</p>
      <address>
        NHS Business Services Authority <br />
        Maternity Exemption Certificates <br />
        Bridge House <br />
        152 Pilgrim Street <br />
        Newcastle upon Tyne <br />
        NE1 6SN<br />
      </address>

      <p>The certificate will be valid from 1 month before the date the application is received until:</p>
      <ul>
        <li>12 months after the expected date of the baby's birth, or</li>
        <li>if the baby has already been born, 12 months after their date of birth</li>
      </ul>

      <h2>How to claim a refund for prescriptions before you receive your certificate</h2>

      <p>You can claim money back for any charges you paid on or after the start date of your exemption certificate.</p>

      <p>When you pay, ask your pharmacist for an official NHS receipt (form FP57 in England or WP57 in Wales) and refund claim form when you pay.</p>

      <h2>Free NHS prescriptions after your baby is born</h2>

      <p>You're also entitled to free NHS prescriptions for 12 months after your baby is born.</p> 

      <p>You'll need to show a valid maternity exemption certificate to prove your entitlement.</p>

      <p>If you did not apply for a maternity exemption certificate while you were pregnant, you can still apply at any time in the 12 months after your baby is born.</p>

      <p><a href="javascript:void(0);" title="">Read the answers to more questions about NHS services and treatments</a>.</p>    

      <h2>Further information</h2>
      <ul>
        <li><a href="javascript:void(0);" title="">Are pregnant women entitled to free NHS dental treatment? </a></li>
        <li><a href="javascript:void(0);" title="">Help with prescription costs</a></li>
        <li><a href="/lab-3/a-to-z/pregnancy/maternity-leave" title="">Maternity and paternity benefits and leave</a></li>
        <li><a href="/lab-3/a-to-z/pregnancy/antenatal" title="">Your antenatal care</a></li>
        <li><a href="javascript:void(0);" title="">NHS Business Services Authority: Maternity Exemption Certificates</a></li>
      </ul>

    </div>      
  </div>      
</section>
      

{% endblock %}
