<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-pregnant.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - NHS.UK
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>
        Pregnancy
      </h1>
      <p class="nhsuk-lede-text">
        <strong>This page provides links to all the pages and topics relating to pregnancy</strong>. Whatever you want to know about getting pregnant, being pregnant and giving birth you should find it here.
      </p> 
      <hr class="nhsuk-hr">
    </div>
  </div>
</section>
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">    
      <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Getting pregnant",
            "headingLevel": 1,
            "description": "Whatever you want to know about getting pregnant, you should find here."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/lab-3/a-to-z/pregnancy/pregnant",
            "heading": "Being pregnant",
            "headingLevel": 1,
            "description": "All the information that you need regarding your pregnancy."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/lab-3/a-to-z/pregnancy/labour-and-birth",
            "heading": "Labour and birth",
            "headingLevel": 1,
            "description": "What you need to know in order to prepare for the birth of your child."
          }) }}

        </div>
      </div> these need to look different from the early days hub below
      <hr class="nhsuk-hr">
      <div class="nhsuk-grid-row nhsuk-promo-group">  
        <div class="nhsuk-grid-column-full nhsuk-promo-group__item">
          {{ promo({
            "href": "/lab-3/a-to-z/pregnancy/early-days",
            "heading": "Early days",
            "headingLevel": 1,
            "description": "Find out everything you will need to know and do once you've confirmed that you're pregnant."
          }) }}
        </div>
      </div>
      <hr class="nhsuk-hr">
    </div>
  </div>
</section>
<section>
  <h2>Popular pages -- to edit down/convert</h2>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full"> 
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="javascript:void(0);" title="">How to make a birth plan</a></li>
              <li><a href="javascript:void(0);">Signs and symptoms of pregnancy</a></li>
              <li><a href="javascript:void(0);">Antenatal checks and tests</a></li>
              <li><a href="javascript:void(0);">The 12 week pregnancy dating scan</a></li>
              <li><a href="/foods-to-avoid">Foods to avoid in pregnancy</a></li>    
            </ul>
          </div>
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="/pregnancy-to-do-list">Your pregnancy to-do list</a></li>
              <li><a href="javascript:void(0);">Pain relief in labour</a></li>
              <li><a href="javascript:void(0);">Signs that labour has begun</a></li>
              <li><a href="javascript:void(0);">Tips for your birth partner</a></li>              
              <li><a href="javascript:void(0);">What happens during labour and birth</a></li> 
            </ul>
          </div>
        </div>
    </div> 
  </div>
  
  </div>
</section>

{% endblock %}
