<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/home" class="nhsuk-breadcrumb__link">Home</a>
              </li>
      
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/a-to-z" class="nhsuk-breadcrumb__link">Health A to Z</a>
              </li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-3/a-to-z">Back to Health A to Z</a></p>
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>
        Pregnancy
      </h1>
      <p class="nhsuk-lede-text">
        <strong>This page provides links to all the pages and topics relating to pregnancy</strong>. Whatever you want to know about getting pregnant, being pregnant and giving birth you should find it here. You'll find detailed week-by-week guides and lots of expert videos, parents' tips and interactive tools to explore.
      </p> 
      <hr class="nhsuk-hr">
    </div>
  </div>
</section>
<section>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      
      <div class="nhsuk-grid-row nhsuk-promo-group">
        
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Getting pregnant",
            "headingLevel": 1,
            "description": "Whatever you want to know about getting pregnant, you should find here."
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/im-pregnant",
            "heading": "I'm pregnant",
            "headingLevel": 1,
            "description": "All the information that you need regarding your pregnancy."
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Labour and birth",
            "headingLevel": 1,
            "description": "What you need to know in order to prepare for the birth of your child."
          }) }}
        </div>
      </div>
      <hr class="nhsuk-hr">
      <div class="nhsuk-grid-row nhsuk-promo-group">  
        <div class="nhsuk-grid-column-full nhsuk-promo-group__item">
          {{ promo({
            "href": "/early-days",
            "heading": "Early days",
            "headingLevel": 1,
            "description": "Find out everything you will need to know and do once you've confirmed that you're pregnant."
          }) }}
        </div>
      </div>
      <hr class="nhsuk-hr">
    </div>
  </div>
</section>
<section>
  
  
  <h2>Most popular topics</h2>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
     
      <div class="nhsuk-grid-row nhsuk-promo-group">

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Your pregnancy journey",
            "headingLevel": 1,
            "description": "You should start your antenatal care as soon as possible once you know you're pregnant. Find out what's available."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Tests and scans",
            "headingLevel": 1,
            "description": "Make sure you know about what and when you will be offered a range of scans and tests."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Help getting pregnant",
            "headingLevel": 2,
            "description": "Find out what help is available when trying to get pregnant."
          }) }}
        </div>

      </div>
      <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Pregnancy-induced conditions",
            "headingLevel": 1,
            "description": "Information about gestational diabetes, pre-eclampsia and Hyperemesis gravidarum (severe vomiting)."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Preparing for birth",
            "headingLevel": 1,
            "description": "From pain relief, what to pack for the birth, to what happens whilst you're in labour."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Medicines during pregnancy",
            "headingLevel": 2,
            "description": "Before taking any medicine when you're pregnant, including painkillers, check with your pharmacist, midwife or GP that it's suitable."
          }) }}
        </div>
      </div>

    </div>
  </div>
  
  </div>
</section>

{% endblock %}
