<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-pregnant.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - Labour and birth - Signs that labour has begun - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}

{{ details({
  "classes": "alpha-lab-breadcrumbs",
  "text": "Signs that labour has begun",
  "HTML": "
  <ul class=\"bradcrumbs\">
    <li>
      <a href=\"/lab-3/a-to-z/pregnancy/signs-of-labour\">
        Signs that labour has begun
      </a>
    </li>
    <li>
      <a href=\"/lab-3/a-to-z/pregnancy/labour-signs\">
        The early signs of labour
      </a>
    </li>
    <li>
      <a href=\"/lab-3/a-to-z/pregnancy/labour-symptoms\">
        The symptoms of labour
      </a>
    </li>
    
    <li class=\"bradcrumbs__item--active\">
      <a href=\"/lab-3/a-to-z/pregnancy/labour-cope\">
        How to cope when labour begins
      </a>
    </li>
  </u\l>
  "
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <section>
        <h1>
          <span role="text">
            How to cope when labour begins
          </span>
        </h1>
          <p class="nhsuk-lede-text">Breathing exercises, massage and having a warm bath or shower may help ease pain during this early stage of labour.</p>
      </section>     
      <section>
        <h2></h2>
        <p>At the beginning of labour, you can:
          <ul>
            <li>walk or move about, if you feel like it</li>
            <li>drink fluids – you may find sports (isotonic) drinks help keep your energy levels up</li>
            <li>have a snack, although many women don't feel very hungry and some feel, or are, sick</li>
            <li>try any relaxation and breathing exercises you've learned to deal with contractions as they get stronger and more painful – your birth partner can help by doing these with you</li>
            <li>have your birth partner rub your back – this can help relieve pain</li>
            <li>take paracetamol according to the instructions on the packet – paracetamol is safe to take in labour </li>
            <li>have a warm bath</li>
          </ul>
        </p>
        <hr class="nhsuk-hr">
      </section>
      <section>
        <h2>How will I know I am in labour?</h2>
          <link href="/static/css/core-videos.cf16adba2d44.css" rel="stylesheet" type="text/css">
          <div class="nksuk-core_video">
            <div style="position: relative; display: block; max-width: 100%;">
              <div style="padding-top: 56.25%;">
                <div tabindex="-1" id="vjs_video_3" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;" class="video-js vjs-mouse vjs-paused vjs-controls-enabled vjs-workinghover vjs-v5 bc-player-EkC1XU82e_default vjs-dock vjs-plugins-ready vjs-contextmenu vjs-contextmenu-ui vjs-player-info vjs-errors not-hover vjs-user-inactive" data-application-id="" data-embed="default" data-player="EkC1XU82e" data-account="79855382001" data-video-id="5679197542001" role="region" aria-label="video player">
                  <!-- === start edit === -->
                  <video data-video-id="5679197520001" data-account="79855382001" data-player="EkC1XU82e" data-embed="default" data-application-id="" class="vjs-tech" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;" id="vjs_video_3_html5_api" tabindex="-1" aria-labelledby="vjs-dock-title-1" aria-describedby="vjs-dock-description-2" poster="https://f1.media.brightcove.com/8/1336131381001/1336131381001_1559711333001_46-HowwillIknowIaminlabour-Cut4-Large-1568476228001.jpg?pubId=79855382001&amp;videoId=5679197520001" src="blob:https://www.nhs.uk/04c768e3-6955-4df5-b62c-6ae2d36eae63">
                    </video>
                  <div class="vjs-poster" tabindex="-1" aria-disabled="false" style="background-image: url(&quot;https://f1.media.brightcove.com/8/1336131381001/1336131381001_1559711333001_46-HowwillIknowIaminlabour-Cut4-Large-1568476228001.jpg?pubId=79855382001&amp;videoId=5679197520001&quot;);"></div>
                  <div class="vjs-text-track-display" aria-live="off" aria-atomic="true">
                    <div style="position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; margin: 1.5%;"></div>
                  </div>
                  <div class="vjs-dock-text">
                    <div class="vjs-dock-title" title="" id="vjs-dock-title-1">How will I know I am in labour?</div>
                    <div class="vjs-dock-description" title="" id="vjs-dock-description-2">Watch this film to learn how you will know you are in labour.</div>
                  </div>
                  <!-- === end edit change === -->
                  <div class="vjs-dock-shelf"></div>
                  <div class="vjs-loading-spinner" dir="ltr"></div>
                  <button class="vjs-big-play-button" type="button" aria-live="polite" title="Play Video" aria-disabled="false">
                    <span class="vjs-control-text">Play Video</span>
                  </button>
                  <div class="vjs-control-bar" dir="ltr" role="group">
                    <button class="vjs-play-control vjs-control vjs-button" type="button" aria-live="polite" title="Play" aria-disabled="false"></button>
                    <div class="vjs-volume-menu-button vjs-menu-button vjs-menu-button-inline vjs-control vjs-button vjs-volume-menu-button-horizontal vjs-vol-3" tabindex="0" role="button" aria-live="polite" title="Mute" aria-disabled="false">
                      <div class="vjs-menu">
                        <div class="vjs-menu-content">
                          <div tabindex="0" class="vjs-volume-bar vjs-slider-bar vjs-slider vjs-slider-horizontal" role="slider" aria-valuenow="100.00" aria-valuemin="0" aria-valuemax="100" aria-label="volume level" aria-valuetext="100.00%">
                            <div class="vjs-volume-level"><span class="vjs-control-text"></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <script src="//vjs.zencdn.net/vttjs/0.12.5/vtt.global.min.js"></script>
                </div>
                <script src="//players.brightcove.net/79855382001/EkC1XU82e_default/index.min.js"></script>
              </div>
            </div>
            </div>
            <hr class="nhsuk-hr">
        </section>
     <!-- <section>
        <div class="nhsuk-navigation__contextual-links">
          <h3>Related pages</h3>
          <ul>
            <li><a href="javascript:void(0);" title="">Tips_for_partners</a></li>
            <li><a href="javascript:void(0);" title="">What happens during labour and birth</a></li>
            <li><a href="javascript:void(0);" title="">Pain relief</a></li>
            <li><a href="javascript:void(0);" title="">At the hospital or birth centre</a></li>
            <li><a href="javascript:void(0);" title="">What happens during labour and birth</a></li>
          </ul>
        </div>
        <h2>External links</h2>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
          <ul class="nhsuk-list nhsuk-list-links">
             <li><a href="javascript:void(0);" title="">Start4Life</a></li>
            <li><a href="javascript:void(0);">Start4Life's weekly emails</a></li>
            <li><a href="javascript:void(0);" title="">NICE - Guidance on the care of women and their babies during labour and childbirth</a></li>
          </ul>
        </div> 
        <hr class="nhsuk-hr">     
      </section>--> 
       <section>
          <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
            <h2 class="nhsuk-u-visually-hidden">Contents</h2>
            <ul class="bradcrumbs">
              <li>
                <a href="/lab-3/a-to-z/pregnancy/signs-of-labour">Signs that labour has begun</a>
              </li>
              <li class="">
                <a href="/lab-3/a-to-z/pregnancy/labour-signs">The early signs of labour</a>
              </li>
              <li class="">
                <a href="/lab-3/a-to-z/pregnancy/labour-symptoms">The symptoms of labour</a>
              </li>
              <li  class="bradcrumbs__item--active" aria-current="page">
                <a href="/lab-3/a-to-z/pregnancy/labour-cope">How to cope when labour begins</a>
              </li>
            </ul>
          </nav>
          <div class="nhsuk-review-date">
    <p class="nhsuk-body-s">
        Page last reviewed: 30 April 2017
        <br>
        Next review due: 30 April 2020
    </p>
  </div>
 
      </section>
    </div>
  </div>
</section>
{% endblock %}
