<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-pregnant.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/home" class="nhsuk-breadcrumb__link">Home</a>
              </li>
      
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/a-to-z" class="nhsuk-breadcrumb__link">Health A to Z</a>
              </li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-3/a-to-z">Back to Health A to Z</a></p>
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <section>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h1>
          <span role="text">
              Lifestyle and wellbeing
              <span class="nhsuk-caption-xl nhsuk-caption--bottom">
                <span class="nhsuk-u-visually-hidden">
                  -
                </span>
                  Being pregnant
              </span>
            </span>
        </h1>
        <p class="nhsuk-lede-text">This page provides links to all the pages and topics relating to your antenatal care. You should start your antenatal care as soon as possible once you know you're pregnant. You can do this by contacting a midwife or GP.</p>  
        <hr class="nhsuk-hr">
      </div>
    </div>
  </section>

  <section>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h2>All lifestyle and wellbeing pages</h2>
        <ul class="nhsuk-list nhsuk-list-links">
          <li><a href="javascript:void(0);">Feelings, relationships and pregnancy</a></li>
          <li><a href="javascript:void(0);">Sex in pregnancy</a></li>
          <li><a href="/lab-3/a-to-z/pregnancy/tiredness">Tiredness in pregnancy</a></li>
          <li><a href="javascript:void(0);">Stop smoking in pregnancy</a></li>
          <li><a href="javascript:void(0);">Exercise in pregnancy</a></li>
          <li><a href="javascript:void(0);">Illegal drugs in pregnancy</a></li> 
          <li><a href="javascript:void(0);">Your baby's movements</a></li>
          <li><a href="javascript:void(0);">If you're a teeneager</a></li>
          <li><a href="javascript:void(0);">How much weight will I put on during my pregnancy?</a></li> 
          <li><a href="javascript:void(0);">Work and pregnancy</a></li>
          <li><a href="javascript:void(0);">Why should pregnant women avoid sheep during the lambing season?</a></li>
          <li><a href="javascript:void(0);">Can paint fumes affect my unborn baby?</a></li>
          <li><a href="javascript:void(0);">Travelling in pregnancy</a></li>
          <li><a href="javascript:void(0);">Is it safe to fly while pregnant?</a></li>
          <li><a href="javascript:void(0);">Is it safe to use a sauna or jacuzzi if I'm pregnant?</a></li>
          <li><a href="javascript:void(0);">What are the risks of group B streptococcus (GBS) infection during pregnancy?</a></li>
          <li><a href="javascript:void(0);">Are sunbeds safe to use during pregnancy?</a></li>
          <li><a href="javascript:void(0);">Is it safe to use fake tan during pregnancy?</a></li>
          <li><a href="javascript:void(0);">Is it safe to use hair dye when I'm pregnant or breastfeeding?</a></li>
          <li><a href="javascript:void(0);">What are the risks of toxoplasmosis during pregnancy?</a></li>
          <li><a href="javascript:void(0);">Why shouldn't I change cat litter during pregnancy?</a></li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}  