<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/home" class="nhsuk-breadcrumb__link">Home</a>
              </li>
      
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/a-to-z" class="nhsuk-breadcrumb__link">Health A to Z</a>
              </li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-3/a-to-z">Back to Health A to Z</a></p>
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->
      <h1>
        <span role="text">
          Maternity and paternity benefits and leave
          <span class="nhsuk-caption-xl nhsuk-caption--bottom">
            <span class="nhsuk-u-visually-hidden">
              -
            </span>
            Free precriptions and more
          </span>
        </span>
      </h1>
      <p class="nhsuk-lede-text">This page lists the benefits you're entitled to when you're pregnant, and has information on maternity, paternity and shared parental leave. It also lists other benefits you might be able to receive, depending on your circumstances.</p>
    </div>
  </div>
</section>
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Leave and time off</h2>

      <p>When you're pregnant, you're entitled to up to a year of maternity leave.  </p>

      <h3>Statutory Maternity Leave</h3>

      <p>All employed pregnant women are entitled to 52 weeks (1 year) of maternity leave, no matter how long they've worked for their employer.</p>

      <p>This is made up of 26 weeks of ordinary maternity leave and 26 weeks of additional maternity leave.</p>

      <p>You have a range of rights during this period and can also request that your employer provides flexible working arrangements if you decide to return to work at the end of your leave.</p>

      <p><a href="javascript:void(0);">Find out more about statutory maternity leave</a>.</p>

      <p>The GOV.UK website has an online tool that can give you personalised guidance on maternity rights.</p>

      <p>Your employment terms (for example, your pension contributions) are protected while you're on Statutory Maternity Leave.</p>

      <p>If you're made redundant while on Statutory Maternity Leave, you also have extra rights.</p>

      <h2>Working when pregnant</h2>

      <p>If you're pregnant, your employer must protect your health and safety, and you may have the right to paid time off for antenatal care. You're also protected against unfair treatment. </p> 

      <p>If you enjoy your work and like the people you work with, you may have mixed feelings when you go on maternity leave.</p>

      <p>Try to make the most of these few weeks before your baby is born. It's also a good opportunity to make some new friends.</p>

      <p>You may meet other pregnant women you want to keep in touch with at antenatal classes, or you may get to know more people living close by.</p>

      <p><a href="javascript:void(0);">Find out about your employee rights when you're on maternity, adoption or parental leave.</a>

      <h2>Planning childcare</h2>

      <p>You may have decided that you're going to spend some time at home with your baby, or you may be planning to return to work, either full time or part time, fairly soon after the birth.</p>

      <p>If you plan to go back to work, start thinking in advance about who will look after your baby.</p>

      <p>It's not always easy to find satisfactory childcare arrangements, and it may take you some time.</p>

      <p>You may have a relative who's willing to look after your child. If not, contact the Family Information Service at your local authority for a list of registered childminders and nurseries in your area.</p>

      <p>You may also want to think about organising care in your own home, either on your own or sharing with other parents.</p>

      <p>Care in your own home doesn't need to be registered, but make sure your carer is experienced and trained to care for babies.</p>

      <p>The GOV.UK website has more information on help paying for childcare.</p>

      <h2>Returning to work after Statutory Maternity Leave</h2>

      <p>You have employment rights and responsibilities when you go back to work. </p>

      <p>Make sure you know what these are and what to do if you have any problems or you're denied your rights.</p>

      <p><a href="javascript:void(0);">Find out more about your right to return to work after Statutory Maternity Leave</a>.</p>

      <h2>Requesting flexible working</h2>

      <p>Parents of children aged 16 and under, or of disabled children aged 18 and under, are entitled to request a flexible working pattern.</p>

      <p>You need to follow a specific procedure when making your request.</p>

      <p><a href="javascript:void(0);">ind out more about asking for flexible working</a>.</p>

      <h2>Paternity Leave</h2>

      <p>If you're a father-to-be or a pregnant woman's partner – including same-sex partner – you could have the right to paternity leave.</p>

      <p>You may have the right to up to 26 weeks' Additional Paternity Leave.</p>

      <p><a href="javascript:void(0);">Find out more about paternity leave</a>.</p> 

      <p>GOV.UK has an online tool that can give you personalised guidance on paternity rights at work. </p>

      <h2>Shared Parental Leave</h2>

      <p>You may be eligible to share parental leave and pay with your partner.</p>

      <p>Shared parental leave is designed to give parents the flexibility to decide when to return to work and allow families to spend time together in the early stages of a child's life.</p>

      <p>Leave and pay can be shared following the first 2 weeks after your baby's birth. This means up to 50 weeks of leave and 37 weeks of pay can be shared.</p>
      <p>You don't have to take all of your shared parental leave at the same time.</p>
      <p>You can take shared parental leave in up to 3 blocks (each block must be a minimum of 1 week) and return to work in between.
      Shared parental leave can be taken by both parents at the same time so you and your partner can spend time at home together with your baby.</p>
      <p><a href="javascript:void(0);">Find out more about shared parental leave and check your eligibility</a>.</p>

      <h2>Benefits for pregnant women</h2>

      <p>There are benefits and financial help for pregnant women, whether they're employed or not.</p> 

      <h3>Free prescriptions and dental care</h3>

      <p>All prescriptions and NHS dental treatment are free while you're pregnant and for 12 months after your baby's due date. Children also get free prescriptions until they're 16.</p>

      <p>To claim free prescriptions, ask your doctor or midwife for form FW8 and send it to your health authority.</p>

      <p>You'll be sent a maternity exemption certificate (MATEX) that lasts for 12 months after your due date. You must have a valid exemption certificate to claim free prescriptions and dental care.</p>

      <p>Most of the links in this list take you to the GOV.UK website, where you'll find the most up-to-date information about rights and benefits, including those for pregnant women and parents.</p>

      <h3>Healthy Start</h3>

      <p>Free milk, infant formula, vitamins, fruit and vegetables for pregnant women receiving certain benefits, and for all pregnant women under 18.</p>

      <p><a href="javascript:void(0);">Find out more on the Healthy Start website</a>.</p>

      <h3>Tax credits </h3>

      <p>Child Tax Credit gives financial support for children, and Working Tax Credit helps people in lower-paid jobs by topping up their wages.</p>

      <p><a href="javascript:void(0);">Find out more about tax credits</a>.</p>

      <h2>Statutory Maternity Pay</h2>

      <p>A weekly payment from your employer to help you take time off before and after your baby is born.</p>

      <p><a href="javascript:void(0);">Find out more about Statutory Maternity Pay</a>, including when you need to tell your employer that you're pregnant.</p>

      <h3>Maternity Allowance</h3>

      <p>If you're pregnant or have a new baby but don't qualify for Statutory Maternity Pay, you might be able to claim Maternity Allowance through Jobcentre Plus.</p>

      <p><a href="javascript:void(0);">Find out more about Maternity Allowance, including how to apply</a>.</p>

      <h2>Statutory Paternity Pay</h2>

      <p>If your wife, partner (including same-sex partner) or civil partner gives birth or adopts a child, you may be able to claim Statutory Paternity Pay to help you take time off work to support her.</p>

      <p><a href="javascript:void(0);">Find out more about Statutory Paternity Pay</a>, including when you need to let your employer know that you're expecting.</p>

      <h2>Statutory Adoption Pay</h2>

      <p>A weekly payment from your employer to help you take time off if you adopt a child.</p>

      <p><a href="javascript:void(0);">Find out more about Statutory Adoption Pay</a>, including how and when to let your employer know.</p>

      <h2>Other financial help</h2>

      <p><a href="javascript:void(0);">Sure Start Maternity Grant</a></p>

      <p>If you're on a low income and get certain benefits or tax credits, and there are no other children under 16 in your family, you could get this one-off payment.</p>

      <p><a href="javascript:void(0);">Find out more about the Sure Start Maternity Grant</a>.</p>

      <h3>Jobseeker's Allowance</h3>

      <p>The main benefit for people of working age who are out of work.</p>

      <p><a href="javascript:void(0);">Find out more about Jobseeker's Allowance</a>.</p>

      <h3>Income Support</h3>

      <p>If you can't be available for full-time work and haven't got enough money to live on, you might qualify for Income Support, depending on your circumstances.</p>

      <p><a href="javascript:void(0);">Find out more about Income Support</a>, including how and where to claim.</p>

      <h3>Employment and Support Allowance</h3>

      <p>This has replaced Income Support for people who can't work because of illness or disability.</p>

      <p><a href="javascript:void(0);">Find out more about Employment and Support Allowance</a>.</p>

      <h3>Housing Benefit</h3>

      <p>You might be eligible for help with all or part of your rent if you're on a low income.</p>

      <p><a href="javascript:void(0);">Find out more about Housing Benefit</a>.</p>

      <h3>Support for Mortgage Interest</h3>

      <p>Help with mortgage interest repayments if you receive certain benefits.</p>

      <p><a href="javascript:void(0);">Find out more about Support for Mortgage Interest</a>.</p>

      <h3>Council Tax Reduction</h3>

      <p>You might be eligible for help with paying your council tax if your income is low.</p>

      <p><a href="javascript:void(0);">Find out more about Council Tax Reduction</a>.</p>

      <h3>Help with transport costs to hospital</h3>

      <p>You might be able to get help from the Healthcare Travel Costs Scheme, depending on your circumstances.</p>

      <p><a href="javascript:void(0);">Find out more about help with transport costs to hospital</a>.</p>

      <h2>Where to get help and support</h2>

      <p>You should get advice on benefits as soon as you find out you're pregnant. Benefits have to be claimed on different forms, from different offices, depending on what you're claiming. </p>

      <p>There are lots of voluntary organisations that are happy to help, so don't hesitate to ask for advice or get an opinion.</p>

      <ul>
        <li>Some local authorities have welfare rights officers – phone your social services department and ask.</li>
        <li>Some voluntary organisations give information and advice on benefits and rights at work – try Gingerbread and Working Families.</li>
        <li>For advice on your rights at work, call ACAS on 08457 474747.</li>
        <li>If you're 19 or under, you can get advice on work from the National Careers Service on 0800 100 900.</li>
      </ul>
      <h3>Find your local:</h3>
      <ul>
        <li>Jobcentre Plus</li>
        <li>Citizens Advice</li> 
        <li>Library</li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
