<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/home" class="nhsuk-breadcrumb__link">Home</a>
              </li>
      
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/a-to-z" class="nhsuk-breadcrumb__link">Health A to Z</a>
              </li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-3/a-to-z">Back to Health A to Z</a></p>
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>
        <span role="text">
            Being pregnant
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden">
                -
              </span>
                Pregnancy
            </span>
          </span>
      </h1>
      <p class="nhsuk-lede-text">This page provides links to all the pages and topics relating to your antenatal care. You should start your antenatal care as soon as possible once you know you're pregnant. You can do this by contacting a midwife or GP.</p>  
      <hr class="nhsuk-hr">
    </div>
  </div>
</section>
<section>
  <div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="block-links_list_group">

      <h2>What's this section heading called now?</h2>
      <div class="nhsuk-grid-row nhsuk-promo-group"> 
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        {{ promo({
          "href": "/lab-3/a-to-z/pregnancy/antenatal",
          "heading": "Antenatal care",
          "headingLevel": 2,
          "description": "Antenatal care is the care you get from health professionals during your pregnancy. It's sometimes called pregnancy care or maternity care."
        }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        {{ promo({
          "href": "/lab-3/a-to-z/pregnancy/tests-and-scans",
          "heading": "Tests and scans",
          "headingLevel": 2,
          "description": "During your pregnancy, you'll be offered a range of tests, including blood tests and ultrasound baby scans."
        }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        {{ promo({
          "href": "/lab-3/a-to-z/pregnancy/pregnant/prescriptions",
          "heading": "Free prescriptions and more",
          "headingLevel": 2,
          "description": "Pregnant women are entitled to free prescriptions, dental treatment and other benefits."
        }) }}     
        </div>
      </div>

      <div class="nhsuk-grid-row nhsuk-promo-group"> 
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        {{ promo({
          "href": "/lab-3/a-to-z/pregnancy/foods-to-avoid",
          "heading": "Food and drink in pregnancy",
          "headingLevel": 2,
          "description": "Pregnant women are entitled to free prescriptions, dental treatment and other benefits."
        }) }}     
        </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Existing health conditions",
            "headingLevel": 2,
            "description": "If you have an existing health condition ther may be information that you need to consider. Find out what you need to know."
          }) }}
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Pregnancy-induced conditions",
            "headingLevel": 2,
            "description": "Information about gestational diabetes, pre-eclampsia and Hyperemesis gravidarum (severe vomiting)."
          }) }}
      </div>
    </div>

    <div class="nhsuk-grid-row nhsuk-promo-group"> 
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Illness during pregnancy",
            "headingLevel": 2,
            "description": "From food poisioning to chicken pox, get advice and how this may affect you and your baby."
          }) }}
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/lab-3/a-to-z/pregnancy/lifestyle-and-wellbeing",
            "heading": "Lifestyle and wellbeing",
            "headingLevel": 2,
            "description": "There are things you can do, and things you can avoid, to keep you and your baby as healthy as possible in pregnancy."
          }) }}
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Medicines during pregnancy",
            "headingLevel": 2,
            "description": "Before taking any medicine when you're pregnant, including painkillers, check with your pharmacist, midwife or GP that it's suitable."
          }) }}
      </div>   
    </div>
    <div class="nhsuk-grid-row nhsuk-promo-group"> 
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Multiple pregnancies",
            "headingLevel": 2,
            "description": "Women with multiple pregnancies should be offered an ultrasound scan at around 11 to 14 weeks. It's important to attend this appointment.."
          }) }}
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "Partners",
            "headingLevel": 2,
            "description": "If you're the partner of a pregnant woman, the closer the two of you are, the more you'll be able to share the experience of pregnancy and birth."
          }) }}
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "javascript:void(0);",
            "heading": "When pregnancy goes wrong",
            "headingLevel": 2,
            "description": "Sadly, sometimes pregnancy can go wrong. Women may have to face a miscarriage, an ectopic pregnancy or the death of the baby."
          }) }}
      </div>   
    </div>

  </div>
</div>
</section>
{% endblock %}
