<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-pregnant.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - NHS.UK
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      
      <section>
        <p class="nhsuk-u-margin-bottom-1"><a href="/lab-3/a-to-z/pregnancy" >Pregnancy</a></p>
        <h1>
          <span role="text">
              Being pregnant
            </span>
        </h1>
        <p class="nhsuk-lede-text">This page provides links to all the pages and topics relating to your pregnacy care.</p>  
        <hr class="nhsuk-hr">
      </section>

      <section>
        <h2 class="nhsuk-u-visually-hidden">All pages in being pregnant</h2>

        <!-- group 1 -->
        <div class="nhsuk-grid-row nhsuk-promo-group">

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
              <a class="nhsuk-promo__link-wrapper" href="/lab-3/a-to-z/pregnancy/early-days">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Early days</h3>
                  <p class="nhsuk-promo__description">Find out everything you will need to know and do once you've confirmed that you're pregnant</p>
                </div>
                <div class="arrow" style="">
                  <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                    <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                    <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                      <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                    </g>
                  </svg>
                </div>
              </a>
            </div>
          </div>

          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
              <a class="nhsuk-promo__link-wrapper" href="/lab-3/a-to-z/pregnancy/antenatal">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Antenatal care</h3>
                  <p class="nhsuk-promo__description">Antenatal care is the care you get from health professionals during your pregnancy. It's sometimes called pregnancy care or maternity care</p>
                </div>
                <div class="arrow" style="">
                  <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                    <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                    <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                      <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                    </g>
                  </svg>
                </div>
              </a>
            </div>
          </div>

          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
              <a class="nhsuk-promo__link-wrapper" href="/lab-3/a-to-z/pregnancy/tests-and-scans">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Tests and scans</h3>
                  <p class="nhsuk-promo__description">During your pregnancy, you'll be offered a range of tests, including blood tests and ultrasound baby scans</p>
                </div>
                <div class="arrow" style="">
                  <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                    <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                    <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                      <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                    </g>
                  </svg>
                </div>
              </a>
            </div>
          </div>

        </div>  
        <!-- group 2 -->
        <div class="nhsuk-grid-row nhsuk-promo-group"> 

          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
              <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Pregnancy-induced conditions</h3>
                  <p class="nhsuk-promo__description">Information about gestational diabetes, pre-eclampsia and Hyperemesis gravidarum (severe vomiting)</p>
                </div>
                <div class="arrow" style="">
                  <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                    <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                    <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                      <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                    </g>
                  </svg>
                </div>
              </a>
            </div>
          </div>

          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
              <a class="nhsuk-promo__link-wrapper" href="/lab-3/a-to-z/pregnancy/foods-to-avoid">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Food and drink in pregnancy</h3>
                  <p class="nhsuk-promo__description">There are some foods to avoid or take care with when you're pregnant as they might make you ill or harm your baby</p>
                </div>
                <div class="arrow" style="">
                  <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                    <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                    <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                      <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                    </g>
                  </svg>
                </div>
              </a>
            </div>
          </div>

          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
              <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Existing health conditions</h3>
                  <p class="nhsuk-promo__description">If you have an existing health condition there may be information that you need to consider. Find out what you need to know</p>
                </div>
                <div class="arrow" style="">
                  <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                    <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                    <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                      <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                    </g>
                  </svg>
                </div>
              </a>
            </div>
          </div>

        </div>
        <!-- group 3 -->
        <div class="nhsuk-grid-row nhsuk-promo-group"> 

          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
              <a class="nhsuk-promo__link-wrapper" href="/lab-3/a-to-z/pregnancy/prescriptions">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Free prescriptions and more</h3>
                  <p class="nhsuk-promo__description">Pregnant women are entitled to free prescriptions, dental treatment and other benefits</p>
                </div>
                <div class="arrow" style="">
                  <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                    <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                    <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                      <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                    </g>
                  </svg>
                </div>
              </a>
            </div>
          </div>

           <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Illness during pregnancy</h3>
                    <p class="nhsuk-promo__description">From food poisioning to chicken pox, get advice and how this may affect you and your baby</p>
                  </div>
                  <div class="arrow" style="">
                    <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                      <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                      <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                        <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                        <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      </g>
                    </svg>
                  </div>
                </a>
              </div>
            </div>

             <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="/lab-3/a-to-z/pregnancy/lifestyle-and-wellbeing">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Lifestyle and wellbeing</h3>
                    <p class="nhsuk-promo__description">There are things you can do, and things you can avoid, to keep you and your baby as healthy as possible in pregnancy</p>
                  </div>
                  <div class="arrow" style="">
                    <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                      <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                      <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                        <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                        <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      </g>
                    </svg>
                  </div>
                </a>
              </div>
            </div>

          </div>
          <!-- group 4 -->
          <div class="nhsuk-grid-row nhsuk-promo-group">  

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Medicines during pregnancy</h3>
                    <p class="nhsuk-promo__description">Before taking any medicine when you're pregnant, including painkillers, check with your pharmacist, midwife or GP that it's suitable</p>
                  </div>
                  <div class="arrow" style="">
                    <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                      <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                      <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                        <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                        <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      </g>
                    </svg>
                  </div>
                </a>
              </div>
            </div>


          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
              <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Multiple pregnancies</h3>
                  <p class="nhsuk-promo__description">Women with multiple pregnancies should be offered an ultrasound scan at around 11 to 14 weeks. It's important to attend this appointment</p>
                </div>
                <div class="arrow" style="">
                  <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                    <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                    <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                      <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                    </g>
                  </svg>
                </div>
              </a>
            </div>
          </div> 

          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
              <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Partners</h3>
                  <p class="nhsuk-promo__description">If you're the partner of a pregnant woman, the closer the two of you are, the more you'll be able to share the experience of pregnancy and birth</p>
                </div>
                <div class="arrow" style="">
                  <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                    <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                    <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                      <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                    </g>
                  </svg>
                </div>
              </a>
            </div>
          </div>
        
        </div>
        <!-- group 5 -->
        <div class="nhsuk-grid-row nhsuk-promo-group">

          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo_canon">
              <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">When pregnancy goes wrong</h3>
                  <p class="nhsuk-promo__description">Sadly, sometimes pregnancy can go wrong. Women may have to face a miscarriage, an ectopic pregnancy or the death of the baby</p>
                </div>
                <div class="arrow" style="">
                  <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                    <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                    <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                      <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                    </g>
                  </svg>
                </div>
              </a>
            </div>
          </div>

        </div>
      </section>
      
      <section>
        <h2 class="nhsuk-u-visually-hidden">Shortcuts</h2>
        <ul class="key-links">
          <li><a href="/pregnancy-to-do-list">Your pregnancy to-do list</a></li>
          <li><a href="javascript:void(0);">Signs and symptoms of pregnancy</a></li>
          <li><a href="javascript:void(0);">The 12 week pregnancy dating scan</a></li>
          <li><a href="/foods-to-avoid">Foods to avoid in pregnancy</a></li>
          <li><a href="javascript:void(0);">Signs that labour has begun</a></li>
        </ul>
      </section>
    </div>
  </div>
</section>
{% endblock %}
