<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/home" class="nhsuk-breadcrumb__link">Home</a>
              </li>
      
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/a-to-z" class="nhsuk-breadcrumb__link">Health A to Z</a>
              </li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-3/a-to-z">Back to Health A to Z</a></p>
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-u-margin-bottom-1" ><a href="/lab-3/a-to-z/pregnancy/tests-and-scans" >Tests and scans</a></p>


      <h1>
        <span role="text">
            12-week pregnancy dating scan
          </span>
      </h1>
      <p class="nhsuk-lede-text">All pregnant women in England are offered an ultrasound scan at around <strong>8 to 14 weeks</strong> of pregnancy. This is called the dating scan. It's used to see how far along in your pregnancy you are and check your baby's development.</p>
  </div>
  </div>
</section>
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    <h2>Heading?</h2>   
      <p>Your midwife or doctor will book you a dating scan appointment. It will usually take place at your local hospital ultrasound department. The person performing the scan is called a sonographer.</p>
      <p>You may need to have a full bladder for this scan, as this makes the ultrasound image clearer. You can ask your midwife or doctor before the scan if this is the case. The dating scan usually takes about 20 minutes.</p>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2>What is the purpose of the dating scan?</h2>
      <p>The purpose of the dating scan is to check:
      <ul>
        <li>how many weeks pregnant you are and work out your due date (the estimated date of delivery, or EDD)</li>
        <li>whether you're expecting more than one baby</li>
        <li>that the baby is growing in the right place</li>
        <li>your baby's development</li>
        <li>Some abnormalities may also be detected at this scan, such as neural tube defects (spina bifida is a type of neural tube defect).</li>
      </ul>
      <h2>Does screening for Down's syndrome happen at the dating scan?</h2>
      <p>This depends on whether you have agreed to have the screening and when the scan takes place. Screening for Down's syndrome will happen at the dating scan if:
        <ul>
          <li>you have agreed to have screening for the condition</li>
          <li>the scan takes place between <strong>11 and 14 weeks</strong> of pregnancy</li>
        </ul>
      </p>
      <p>The screening test for Down's syndrome used at this stage of pregnancy is called the "combined test". It involves a blood test and measuring the fluid at the back of the baby's neck (nuchal translucency) with an ultrasound scan. This is sometimes called a nuchal translucency scan.</p>
      <p>The nuchal translucency measurement can be taken during the dating scan. If you have agreed to have screening for Down's syndrome, the dating scan and the screening will usually happen at the same time.</p>
      <p>You won't be offered the combined screening test if your dating scan happens after <strong>14 weeks</strong>. Instead, you will be offered another blood test between <strong>14 and 20 weeks</strong> of pregnancy to screen for the risk of Down's syndrome. This test is not quite as accurate as the combined test.</p>
      
      <div class="nhsuk-navigation__contextual-links">
        <h3>Related pages</h3>
        <ul>   
          <li><a href="javascript:void(0);" title="">Ultrasound scans in pregnancy</a></li>
          <li><a href="javascript:void(0);" title="">Screening for Down's, Edwards' and Patau's syndromes</a></li>
          <li><a href="javascript:void(0);" title="">The 20-week anomaly scan</a></li>
          <li><a href="javascript:void(0);" title="">Ultrasound scans in pregnancy</a></li>
          <li><a href="javascript:void(0);" title="">NHS - Spina bifida</a></li>
        </ul>
      </div>
    </div>  
  </div>
</section>
{% endblock %}
