<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-pregnant.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - Being pregnant - Tests and scans - The 12 week dating scan NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}

{{ details({
  "classes": "alpha-lab-breadcrumbs",
  "text": "Tests and scans",
  "HTML": "
  <ul class=\"bradcrumbs\">
    <li>
      <a href=\"/lab-3/a-to-z/pregnancy/tests-and-scans\">
        Tests and scans
      </a>
    </li>
    <li class=\"bradcrumbs__item--active\">
      <a href=\"/lab-3/a-to-z/pregnancy/scan\">
        The 12 week pregnancy dating scan
      </a>
    </li>
    <li>
      <a href=\"#\">
        The mid pregnancy scan
      </a>
    </li>
    <li>
      <a href=\"#\">
        Screening for Down's, Edwards' and Patau's syndromes
      </a>
    </li>
    <li>
      <a href=\"#\">
        Ultrasound scans in pregnancy
      </a>
    </li>
  </u\l>
  "
}) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <!--<p class="nhsuk-u-margin-bottom-1" ><a href="/lab-3/a-to-z/pregnancy/tests-and-scans" >Tests and scans</a></p>-->

      <section>
        <h1>
          <span role="text">
              12-week pregnancy dating scan
            </span>
        </h1>
        <p class="nhsuk-lede-text">All pregnant women in England are offered an ultrasound scan at around <strong>8 to 14 weeks</strong> of pregnancy. This is called the dating scan. It's used to see how far along in your pregnancy you are and check your baby's development.</p>
      </section>
      <section>
        <h2>How it works</h2>   
        <p>Your midwife or doctor will book you a dating scan appointment. It will usually take place at your local hospital ultrasound department. The person performing the scan is called a sonographer.</p>
        <p>You may need to have a full bladder for this scan, as this makes the ultrasound image clearer. You can ask your midwife or doctor before the scan if this is the case. The dating scan usually takes about 20 minutes.</p>
      </section>
      <section>
        <h2>What is the purpose of the dating scan?</h2>
        <p>The purpose of the dating scan is to check:
          <ul>
            <li>how many weeks pregnant you are and work out your due date (the estimated date of delivery, or EDD)</li>
            <li>whether you're expecting more than one baby</li>
            <li>that the baby is growing in the right place</li>
            <li>your baby's development</li>
            <li>Some abnormalities may also be detected at this scan, such as neural tube defects (spina bifida is a type of neural tube defect).</li>
          </ul>
        </p>
      </section>
      <section>
        <h2>Does screening for Down's syndrome happen at the dating scan?</h2>
        <p>This depends on whether you have agreed to have the screening and when the scan takes place. Screening for Down's syndrome will happen at the dating scan if:
          <ul>
            <li>you have agreed to have screening for the condition</li>
            <li>the scan takes place between <strong>11 and 14 weeks</strong> of pregnancy</li>
          </ul>
        </p>
        <p>The screening test for Down's syndrome used at this stage of pregnancy is called the "combined test". It involves a blood test and measuring the fluid at the back of the baby's neck (nuchal translucency) with an ultrasound scan. This is sometimes called a nuchal translucency scan.</p>
        <p>The nuchal translucency measurement can be taken during the dating scan. If you have agreed to have screening for Down's syndrome, the dating scan and the screening will usually happen at the same time.</p>
        <p>You won't be offered the combined screening test if your dating scan happens after <strong>14 weeks</strong>. Instead, you will be offered another blood test between <strong>14 and 20 weeks</strong> of pregnancy to screen for the risk of Down's syndrome. This test is not quite as accurate as the combined test.</p>
        <hr class="nhsuk-hr">
      </section>
      <section>
        <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
          <h2>More in tests and scans</h2>
          <ul class="bradcrumbs">
            <li  class="bradcrumbs__item--active" aria-current="page">
              <a href="javascript:void(0);">The 12 week pregnancy dating scan</a>
            </li>
            <li>
              <a href="javascript:void(0);">The mid pregnancy scan</a>
            </li>
            <li class="">
              <a href="javascript:void(0);">Screening for Down's, Edwards' and Patau's syndromes</a>
            </li>
            <li class="">
               <a href="javascript:void(0);">Ultrasound scans in pregnancy</a>
            </li>
          </ul>
        </nav>
        <div class="nhsuk-review-date">
          <p class="nhsuk-body-s">
              Page last reviewed: 4 December 2017 <br>
              Next review due: 4 December 2020
          </p>
        </div>
      </section>
    </div>
  </div>
</section>
{% endblock %}
