/* ==========================================================================
   APP PAGES / #HOMEPAGE
   ========================================================================== */

   .app-width-container--full {
    margin: 0;
    max-width: none;
  }
  
  .app-main-wrapper--no-padding {
    padding: 0;
  }
  
  .app-homepage {
    background-color: $color_nhsuk-white;
  
    .nhsuk-section {
      &:nth-of-type(odd) {
        background: $color_nhsuk-grey-5;
      }
  
      &:nth-of-type(2) {
        @include mq($from: tablet) {
          padding-top: nhsuk-spacing(6);
        }
        // A fix for the spacing below the hero
        @include mq($until: 421px) {
          padding-top: nhsuk-spacing(6);
        }
      }
    }
  }
  
  .app-section__content {
    @include top-and-bottom;
  
    padding-bottom: nhsuk-spacing(9);
    padding-top: nhsuk-spacing(9);
  
    &:empty {
      display: none;
    }
  
    @include mq($until: desktop) {
      padding-bottom: nhsuk-spacing(7);
      padding-top: nhsuk-spacing(7);
  
      +.app-section__content {
        padding-top: 0;
      }
    }
  
    h2 {
      padding-top: 0;
    }
  }
  
  .app-section__description {
    color: $nhsuk-secondary-text-color;
  }
  
  .app-homepage .app-section__content .nhsuk-action-link {
    padding-top: nhsuk-spacing(2);
  }
  
  .app-list-signage {
    list-style: none;
    padding-left: 0;
    padding-top: nhsuk-spacing(2);
  
    li {
      display: inline-block;
      margin: 2px 0;
      width: 100%;
  
      &:last-of-type {
        margin-bottom: 2px;
      }
  
      a {
        background: $color_nhsuk-blue;
        color: $color_nhsuk-white;
        display: block;
        padding: 12px 24px;
        position: relative;
        text-decoration: none;
        width: 100%;
  
        @include mq($until: tablet) {
          padding: 12px 16px;
        }
  
        &:hover {
          background: $color_shade-nhsuk-blue-35;
          box-shadow: none;
          text-decoration: underline;
        }
  
        &:active {
          background: $color_shade-nhsuk-blue-50;
        }
  
        &:focus {
          background: $nhsuk-focus-color;
          box-shadow: inset 0 -4px 0 0 $nhsuk-focus-text-color;
          color: $nhsuk-focus-text-color;
  
          .nhsuk-icon {
            fill: $nhsuk-focus-text-color;
          }
  
          &:hover {
            text-decoration: none;
          }
        }
  
        .nhsuk-icon {
          fill: $color_nhsuk-white;
          height: 24px;
          position: absolute;
          right: 12px;
          top: 14px;
          width: 24px;
          @include mq($until: tablet) {
            top: 12px;
          }
        }
      }
    }
  }
  
  .app-list-signage--two-columns {
    @include mq($from: desktop) {
      column-count: 2;
      column-gap: 32px;
    }
  }
  
  .app-list-apps {
    padding: 0;
  }
  
  .app-list-apps__item {
    display: inline-block;
    list-style: none;
    margin: 0;
    width: 100%;
  
    @include mq($until: desktop) {
      border-bottom: 1px solid $color_nhsuk-grey-4;
  
      &:last-child {
        border: 0;
        margin-bottom: 0;
      }
    }
  }
  
  .app-list-apps__link {
    display: block;
    min-height: 100px;
    padding: nhsuk-spacing(3) 0 nhsuk-spacing(3) 92px;
    position: relative;
    text-decoration: none;
  
    &:focus,
    &:active {
      background: none;
      box-shadow: none;
      outline: none;
  
      .app-list-apps__title {
        background: $nhsuk-focus-color;
        box-shadow: inset 0 -4px 0 0 $nhsuk-focus-text-color;
        color: $nhsuk-focus-text-color;
      }
    }
  
    @include mq($until: desktop) {
      min-height: 92px;
      padding-left: 80px;
    }
  
    @include mq($until: tablet) {
      min-height: 88px;
      padding-left: 68px;
    }
  }
  
  .app-list-apps__icon {
    border: 1px solid $color_nhsuk-grey-5;
    border-radius: 12px;
    height: 72px;
    left: 0;
    position: absolute;
    top: nhsuk-spacing(3);
    width: 72px;
  
    @include mq($until: desktop) {
      height: nhsuk-spacing(9);
      width: nhsuk-spacing(9);
    }
  
    @include mq($until: tablet) {
      height: nhsuk-spacing(8);
      width: nhsuk-spacing(8);
    }
  }
  
  .app-list-apps__title {
    @include nhsuk-font(22, bold);
  
    text-decoration: underline;
  }
  
  .app-list-apps__category {
    @include nhsuk-font(16);
  
    color: $nhsuk-secondary-text-color;
    display: block;
    margin-top: nhsuk-spacing(2);
  
    @include mq($until: desktop) {
      margin-top: nhsuk-spacing(1);
    }
  }
  
  .app-list-apps--two-columns {
    @include mq($from: desktop) {
      column-count: 2;
      column-gap: 32px;
    }
  }
  