<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Diabetes -  Finding help and support - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}
{{ details({
  "classes": "alpha-lab-breadcrumbs",
  "text": "Type 2 diabetes",
  "HTML": "
  <ul class=\"bradcrumbs\">
    <li>
      <a href=\"/lab-4/a-to-z/diabetes/type-2-diabetes\">
        Type 2 diabetes
      </a>
    </li>
    <li>
      <a href=\"#\">
        What is type 2 diabetes?
      </a>
    </li>
    <li>
      <a href=\"#\">
        Symptoms
      </a>
    </li>
    <li>
      <a href=\"#\">
        Getting diagnosed
      </a>
    </li>
    <li class=\"\">
      <a href=\"/lab-4/a-to-z/diabetes/understanding-medicine\">
        Understanding medicine
      </a>
    </li>
    <li>
      <a href=\"#\">
        Food and keeping active
      </a>
    </li>
    <li>
      <a href=\"/lab-4/a-to-z/diabetes/going-for-check-up\">
        Going for regular check-ups
      </a>
    </li>
    <li>
      <a href=\"/lab-4/a-to-z/diabetes/health-problems\">
        Health problems
      </a>
    </li>
    <li class=\"bradcrumbs__item--active\">
      <a href=\"/lab-4/a-to-z/diabetes/finding-help\">
        Finding help and support
      </a>
    </li>                    
  </u\l>
  "
}) }}
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}


<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;">
  <section>      
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <section>
          <!-- Change the page title here -->
         <!-- <p class="nhsuk-u-margin-bottom-2" ><a href="/lab-4/a-to-z/diabetes/type-2-diabetes" >Type 2 diabetes</a></p>-->
          <h1>
            <span role="text"> Finding help and support
            </span>
          </h1>
          <p class="nhsuk-lede-text">There is a lot of information and support available for type 2 diabetes. Some of the support depends on the area you live in.</p>
        </section>
        <section>
          <h2 class="nhsuk-u-margin-top-4">Take a course to help you manage your diabetes</h2>
          <p>There are free education courses to help you learn more about and manage your type 2 diabetes.</p>         
          <p>Your GP will need to refer you, but you can phone your GP surgery to get a referral letter, so you don't need to make an appointment.</p>          
          <p>Read more information about <a href="javascript:void(0);" title="External website">education courses for type 2 diabetes</a>.</p>
        </section>
        <section >
          <h2 class="nhsuk-u-margin-top-7">Telling DVLA you have type 2 diabetes</h2>
          <p>If you're taking insulin for your type 2 diabetes, you will need to <a href="javascript:void(0);" title="External website">tell DVLA</a>. This is because of the risk of <a href="javascript:void(0);">low blood sugar (hypoglycaemia)</a>. You can be fined if you don't tell DVLA.</p>
        </section>
        <section >
          <h2 class="nhsuk-u-margin-top-7">Support groups for type 2 diabetes</h2>
          <p>The charity Diabetes UK runs <a href="javascript:void(0);" title="External website">local support groups</a>. </p>         
          <p>These can help with things like managing your diabetes on a daily basis, diet, exercise or dealing with emotional problems, such as depression. They offer a place to talk and find out how others live with the condition.</p>
        </section>
        <section >
          <h2 class="nhsuk-u-margin-top-7">Blogs, forums and apps</h2>
          <ul>
            <li><a href="javascript:void(0);" title="External website">Diabetes.co.uk forum</a> – discussions about living with and managing diabetes</li>
            <li><a href="javascript:void(0);" title="External website">Diabetes UK blogs</a> – a collection of blogs on work and diabetes, food, eyes and more</li>
            <li><a href="javascript:void(0);" title="External website">Diabetes Chat</a> – scheduled chats with healthcare professionals or just the chance to talk to others</li>
            <li><a href="javascript:void(0);">NHS Apps Library</a> – find apps and tools to help you manage your diabetes, including some&nbsp;that link you to a lifestyle coach</li>
          </ul>
          </section>
          <section>
            <h2 class="nhsuk-u-margin-top-7">Telling others can be difficult</h2>
            <p>It can be difficult to tell others you have diabetes, but it can help for certain people to know:</p>         
            <ul>
              <li>family can support you – especially as you will need to make changes to what you eat</li>
              <li>it's important your colleagues or employer know in case of an emergency</li>
              <li>being diagnosed with diabetes can affect your mood – telling your partner will help them understand how you feel</li>
            </ul>
          </section>
          <section>
            <h2 class="nhsuk-u-margin-top-7">Carry medical ID in case of an emergency</h2>
            <p>Some people choose to wear a special wristband or carry something in their wallet that says they have diabetes, in case of an emergency.</p>
            <p>If it's known that you have diabetes, this can make a difference to the treatment you'll receive.</p>
            <p>Search the internet for "medical ID" to find websites that sell them.</p>
          </section>
          <section>
            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <h3>Social care and support guide</h3>     
              <p>If you:</p>             
              <ul>
                <li>need help with day-to-day living because of illness or disability</li>
                <li>care for someone regularly because they're ill, elderly or disabled – including family members</li>
              </ul>
              <p>Our <a href="javascript:void(0);" title="">guide to care and support</a> explains your options and where you can get support.</p>
            </div>
          </section>
          <section>
           <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
            <h2 class="">More in type 2 diabetes</h2>
            <ul class="bradcrumbs">
              <li class="">
                <a href="javascript:void(0);" title="">
                  What is type 2 diabetes?
                </a>
              </li>
              <li class="">
                <a href="javascript:void(0);" title="">
                  Symptoms
                </a>
              </li>
              <li class="">
                <a href="javascript:void(0);" title="">
                  Getting diagnosed
                </a>
              </li>
              <li class="">
                <a class="" href="/lab-4/a-to-z/diabetes/understanding-medicine">
                  Understanding medicine
                </a>
              </li>
              <li class="">
                <a class="" href="javascript:void(0);">
                  Food and keeping active
                </a>
              </li>
              <li class="">
                <a class="" href="/lab-4/a-to-z/diabetes/going-for-check-up">
                  Going for regular check-ups
                </a>
              </li>
              <li aria-current="page">
                <a href="/lab-4/a-to-z/diabetes/health-problems">
                  Health problems
                </a>
              </li>
              <li class="bradcrumbs__item--active">
                <a class="" href="/lab-4/a-to-z/diabetes/finding-help">
                  Finding help and support
                </a>
              </li>
            </ul>
          </nav>
          <div class="nhsuk-review-date">
            <p class="nhsuk-body-s">
              Page last reviewed: 8 August 2017<br>
              Next review due: 8 August 2020
            </p>
          </div>
        </section>
      </div>
    </div>
  </section>
</main>

{% endblock %}
