<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Diabetes - Health problems - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}
{{ details({
  "classes": "alpha-lab-breadcrumbs",
  "text": "Type 2 diabetes",
  "HTML": "
  <ul class=\"bradcrumbs\">
    <li>
      <a href=\"lab-3/a-to-z/diabetes/type-2-diabetes\">
        Type 2 diabetes
      </a>
    </li>
    <li>
      <a href=\"#\">
        What is type 2 diabetes?
      </a>
    </li>
    <li>
      <a href=\"#\">
        Symptoms
      </a>
    </li>
    <li>
      <a href=\"#\">
        Getting diagnosed
      </a>
    </li>
    <li class=\"\">
      <a href=\"/lab-3/a-to-z/diabetes/understanding-medicine\">
        Understanding medicine
      </a>
    </li>
    <li>
      <a href=\"#\">
        Food and keeping active
      </a>
    </li>
    <li>
      <a href=\"/lab-3/a-to-z/diabetes/going-for-check-up\">
        Going for regular check-ups
      </a>
    </li>
    <li class=\"bradcrumbs__item--active\">
      <a href=\"/lab-3/a-to-z/diabetes/health-problems\">
        Health problems
      </a>
    </li>
    <li>
      <a href=\"/lab-3/a-to-z/diabetes/finding-help\">
        Finding help and support
      </a>
    </li>  
  </u\l>
  "
}) }}
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<main class="nhsuk-main-wrapper" id="maincontent" style="    padding-top: 0px;
">
        
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
  
          
          <p class="nhsuk-u-margin-bottom-2" ><a href="/lab-3/a-to-z/diabetes/type-2-diabetes" >Type 2 diabetes</a></p>
    
      <h1>
        <span role="text">Health problems

        </span>
      </h1>
  
     
    
  
  
      </div>
    </div>
  
    <article>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
  
          
    
    
      
  
  
    <section>
      
  
      
  
      
  
        
        
          <p>You need to have regular check-ups if you have type 2 diabetes because it can lead to:</p>
  
  <ul>
  <li><a href="/conditions/coronary-heart-disease/">heart disease</a> and <a href="/conditions/stroke/">stroke</a></li>
  <li>loss of feeling and pain (nerve damage) – causing problems with sex</li>
  <li>foot problems, like sores and infections</li>
  <li>eye issues, like vision loss and blindness</li>
  <li>miscarriage and stillbirth</li>
  <li>problems with your kidneys</li>
  </ul>
  
  <p>Controlling your blood sugar level and having regular diabetes check-ups is the best way to lower your risk of complications.</p>
  
        
      
    </section>
  
  
    
      
  
  
    <section>
      
        
        <a id="getting-your-heart-checked"></a>
      
  
      
  
      
  
        
        
          <h2 class="nhsuk-u-padding-top-5">Getting your heart checked</h2>
  
  <p>You should have your cholesterol (blood fats) and blood pressure checked at least once a year. Diabetes increases your risk of heart disease and stroke, so it's important that high blood pressure and high cholesterol are spotted and treated early.</p>
  
  <p>If you're already being treated for high cholesterol and high blood pressure, keep taking your medicine.</p>
  
  <p>Diabetes also worsens the effects of smoking on your heart. <a href="/live-well/quit-smoking/10-self-help-tips-to-stop-smoking/">Get help to quit smoking</a>.</p>
  
        
      
    </section>
  
  
    
      
  
  
    <section>
      
        
        <a id="loss-of-feeling"></a>
      
  
      
  
      
  
        
        
          <h2 class="nhsuk-u-padding-top-5">Loss of feeling</h2>
  
  <p>You should let your GP or diabetes nurse know if you notice any changes in your body.</p>
  
  <p>Diabetes can damage your nerves (neuropathy). This usually affects your feet, but it can affect other parts of your body, causing:</p>
  
  <ul>
  <li>numbness</li>
  <li>pain or tingling</li>
  <li>problems with sex</li>
  <li>constipation or diarrhoea</li>
  </ul>
  
  <p>Early treatment can prevent nerve damage getting worse.</p>
  
        
      
    </section>
  
  
    
      
  
  
    <section>
      
        
        <a id="looking-after-your-feet"></a>
      
  
      
  
      
  
        
        
          <h2 class="nhsuk-u-padding-top-5">Looking after your feet</h2>
  
  <p>You should check your feet every day. Diabetes can reduce the blood supply to your feet and cause a loss of feeling. </p>
  
  <p>This means foot injuries don't heal well and you may not notice if your foot is sore or injured. These problems can lead to ulcers and infections.</p>
  
  <p>Simple things are important, like:</p>
  
  <ul>
  <li>keeping feet clean and dry to avoid infection</li>
  <li>trying not to go barefoot outside to avoid nicks and cuts</li>
  <li>wearing shoes that fit well</li>
  </ul>
  
  <p>Speak to your GP or diabetes nurse if you notice any changes in your feet, including:</p>
  
  <ul>
  <li>cuts, cracks or blisters</li>
  <li>pain or tingling</li>
  <li>numb feet</li>
  </ul>
  
  <p>Diabetes UK has advice on <a href="https://www.diabetes.org.uk/Guide-to-diabetes/Complications/Feet/" title="External website">how to check your feet</a>.</p>
  
  <p>Your feet should also be checked every year by your GP, diabetes nurse or podiatrist.</p>
  
  <p>Sores or infections that aren't treated early can lead to gangrene. More than 135 amputations resulting from diabetes are carried out every week in the UK.</p>
  
        
      
    </section>
  
  
    
      
  
  
    <section>
      
        
        <a id="checking-your-eyes"></a>
      
  
      
  
      
  
        
        
          <h2 class="nhsuk-u-padding-top-5">Checking your eyes</h2>
  
  <p><a href="/lab-3/a-to-z/diabetic-eye-screening">Your eyes should be checked every year</a> for damaged blood vessels, which can cause <a href="/lab-3/a-to-z/diabetic-retinopathy">sight problems (diabetic retinopathy)</a> and blindness.</p>
  
  <p>Eye checks can detect damage before it affects your sight. Treating damaged blood vessels early can prevent sight problems.</p>
  
  <p>Speak to your GP immediately if you notice changes to your sight, including:</p>
  
  <ul>
  <li>blurred vision, especially at night</li>
  <li>shapes floating in your vision (floaters)</li>
  <li>sensitivity to light</li>
  </ul>
  
  <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/Diabetic-eye-screening/LocationSearch/1911">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Find a diabetic eye screening clinic</span>
      </a>
    </div>
      
    </section>
  
  
    
      
  
  
    <section>
      
        
        <a id="pregnancy-and-diabetes"></a>
      
  
      
  
      
  
        
        
          <h2 class="nhsuk-u-padding-top-5">Pregnancy and diabetes</h2>
  
  <p>Speak to your GP or care team if you're thinking of having a baby.</p>
  
  <p>You can have a safe pregnancy and birth if you have type 2 diabetes. But you will need to take extra precautions and have more appointments before and during pregnancy.</p>
  
        
      
    </section>
  
  
    
  

  <br>
    
      
  
    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
      <h2 class="nhsuk-u-visually-hidden">Contents</h2>
      <ul class="bradcrumbs">
        <li class="">
          <a class="" href="#">
            What is type 2 diabetes?
          </a>
        </li>
        <li class="">
          <a class="" href="#">
            Symptoms
          </a>
        </li>
        <li class="">
          <a class="" href="#">
            Getting diagnosed
          </a>
        </li>
        <li class="">
          <a class="" href="/lab-3/a-to-z/diabetes/understanding-medicine">
            Understanding medicine
          </a>
        </li>
        <li class="">
          <a class="" href="#">
            Food and keeping active
          </a>
        </li>
        <li class="">
          <a class="" href="/lab-3/a-to-z/diabetes/going-for-check-up">
            Going for regular check-ups
          </a>
        </li>
        <li class="bradcrumbs__item--active" aria-current="page">
          <a href="/lab-3/a-to-z/diabetes/health-problems">
            Health problems
          </a>
        </li>
        <li class="">
          <a class="" href="/lab-3/a-to-z/diabetes/finding-help">
            Finding help and support
          </a>
        </li>
      </ul>
    </nav>
  
      <div class="nhsuk-review-date">
        <p class="nhsuk-body-s">
          Page last reviewed: 8 August 2017<br>
          Next review due: 8 August 2020
        </p>
      </div>
  
  
        </div>
  
        
  
      </div>
    </article>
  
    
  
  
        </main>
{% endblock %}
