<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Diabetes - NHS.UK
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Diabetes
      </h1>

      <section id="Introduction">
          <p class="lede-text">Diabetes is a lifelong condition that causes a person's blood sugar level to become too high. There are different types of diabetes:</p>
          <div class="nhsuk-grid-row nhsuk-promo-group">

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="/javascript:void(0);">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Pre-diabetes</h3>
                    <p class="nhsuk-promo__description">Many more people have blood sugar levels above the normal range, but not high enough to be diagnosed as having diabetes.</p>
                  </div>
                  <div class="arrow" style="">
                    <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                      <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                      <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                        <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                        <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      </g>
                    </svg>
                  </div>
                </a>
              </div>
            </div>

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="/javascript:void(0);">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Type 1 diabetes</h3>
                    <p class="nhsuk-promo__description">Type 1 diabetes causes the level of glucose (sugar) in your blood to become too high.</p>
                  </div>
                  <div class="arrow" style="">
                    <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                      <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                      <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                        <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                        <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      </g>
                    </svg>
                  </div>
                </a>
              </div>
            </div>

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="/javascript:void(0);">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Type 2 diabetes</h3>
                    <p class="nhsuk-promo__description">Type 2 diabetes occurs when where the body does not produce enough insulin, or the body's cells do not react to insulin.</p>
                  </div>
                  <div class="arrow" style="">
                    <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                      <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                      <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                        <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                        <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      </g>
                    </svg>
                  </div>
                </a>
              </div>
            </div>

            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="/javascript:void(0);">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Gestational diabetes</h3>
                    <p class="nhsuk-promo__description">Gestational diabetes is high blood sugar (glucose) that develops during pregnancy and usually disappears after giving birth.</p>
                  </div>
                  <div class="arrow" style="">
                    <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                      <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                      <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                        <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                        <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      </g>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
      </section>
      
    </div>      
</div>
{% endblock %}
