<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Diabetes - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/home" class="nhsuk-breadcrumb__link">Home</a>
              </li>
      
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/a-to-z" class="nhsuk-breadcrumb__link">Health A to Z</a>
              </li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-3/a-to-z">Back to Health A to Z</a></p>
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Diabetes
      </h1>

      <section>
    
        <p><strong>Diabetes is a lifelong condition that causes a person's blood sugar level to become too high.</strong></p>
      
        <p>There are&nbsp;2 main types of diabetes:</p>
      
        <ul>
          <li><a href="/lab-3/a-to-z/diabetes/type-1-diabetes">type 1 diabetes</a> – where&nbsp;the body's immune system attacks and
            destroys the cells that produce insulin </li>
          <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes">type 2 diabetes</a>&nbsp;–&nbsp;where the body does not produce enough
            insulin, or the body's cells do not react to insulin </li>
        </ul>
      
        <p>Type 2 diabetes is far more common than type 1. In&nbsp;the UK,&nbsp;around 90% of all adults&nbsp;with diabetes
          have type 2.</p>
      
        <p>During pregnancy, some women have such high levels of blood glucose that their body is unable to&nbsp;produce
          enough insulin to absorb it all. This is known as&nbsp;<a href="/conditions/gestational-diabetes/">gestational
            diabetes</a>.</p>
      
      
      
      </section>
      
    </div>      
</div>
{% endblock %}
