<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Diabetes - NHS.UK
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <!--<p class="nhsuk-u-margin-bottom-1" ><a href="/lab-3/a-to-z/diabetes" >Diabetes</a></p>-->
      <!-- Change the page title here -->
      <h1>
        Type 1 diabetes
      </h1>
        <p class="nhsuk-u-margin-bottom-7">This guide is for adults with type 1 diabetes. There's separate information about <a href= "/lab-3/a-to-z/diabetes/type-2-diabetes">type 2 diabetes</a></p>

      <section id="key-links">
        <div class="key-link">
          <h3><a href= "/lab-3/a-to-z/diabetes/type-1-newly-diagnosed">Newly diagnosed: things to help</a></h3>
          <p>Includes how to inject insulin, how to check your blood glucose levels and your check ups and appointments.</p>
        </div>
        <div class="key-link">
          <h3><a href= "/lab-3/a-to-z/diabetes/type-1-get-support">Get support</a></h3>
          <p>Includes support groups, social media, helplines and how to get psychological therapy services.</p>
        </div>
        <hr class="nhsuk-hr">
      </section>

      <section id="about-type-1">
        <h2>About type 1 diabetes</h2>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-third">
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">What it is</h3>
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="/lab-3/a-to-z/diabetes/type-1-diabetes/about-type-1/">About type 1 diabetes</a></li>
              <li><a href="/lab-3/a-to-z/diabetes/type-1-diabetes/symptoms/">Symptoms and getting diagnosed</a></li>
              <li><a href="/lab-3/a-to-z/diabetes/type-1-diabetes/newly-diagnosed/">Newly diagnosed: things to help</a></li>
            </ul>
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Under 18</h3>
            <ul class="nhsuk-list nhsuk-list-links">
             <li><a href="javascript:void(0);" title="">Type 1 diabetes in children</a></li>
            </ul>
            <hr class="nhsuk-hr">
        </div>
        </div>
      </section>
      
      <section id="managing-insulin">
        <h2>Managing insulin and blood glucose levels</h2>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-third">
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Insulin</h3>
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="/lab-3/a-to-z/diabetes/insulin">About insulin</a></li>
              <li><a href="javascript:void(0);" title="">When your treatment might change</a></li>
            </ul>
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Blood glucose levels</h3>
            <ul class="nhsuk-list nhsuk-list-links">
             <li><a href="javascript:void(0);" title="">Hypoglycaemia (hypos)</a></li>
             <li><a href="javascript:void(0);" title="">Hyperglycaemia</a></li>
             <li><a href="javascript:void(0);" title="">What to do when you're ill</a></li>
             <li><a href="javascript:void(0);" title="">Avoiding complications</a></li>
            </ul>
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Technology</h3>
            <ul class="nhsuk-list nhsuk-list-links">
             <li><a href="javascript:void(0);" title="">Insulin pumps</a></li>
             <li><a href="javascript:void(0);" title="">Sharing blood glucose data with your team</a></li>
             <li><a href="javascript:void(0);" title="">Continuous glucose monitoring (CGMs)</a></li>
             <li><a href="javascript:void(0);" title="">Flash monitoring</a></li>
            </ul>
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Learning to count carbohydrates</h3>
            <ul class="nhsuk-list nhsuk-list-links">
             <li><a href="javascript:void(0);" title="">Counting carbohydrates</a></li>
             <li><a href="javascript:void(0);" title="">Doing a type 1 diabetes course</a></li>
            </ul>
            <hr class="nhsuk-hr">
        </div>
        </div>
      </section>

      <section id="living-with-type-1">
        <h2>Living with type 1 diabetes</h2>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-third">
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Everyday life</h3>
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="javascript:void(0);" title="">Alcohol and drugs</a></li>
              <li><a href="javascript:void(0);" title="">Diabetes and travel</a></li>
              <li><a href="javascript:void(0);" title="">Check you're safe to drive</a></li>
              <li><a href="javascript:void(0);" title="">Exercise and sport</a></li>
            </ul>
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Life events</h3>
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="/lab-3/a-to-z/diabetes/type-1-diabetes/pregnancy-birth/">Pregnancy and birth</a></li>
              <li><a href="javascript:void(0);" title="">Going to university</a></li>
            </ul>
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="/lab-3/a-to-z/diabetes/type-1-diabetes/support">Get support</a></li>  
        </div>
        </div>
      </section>

    </div>      
</div>
{% endblock %}
