<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Diabetes - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/home" class="nhsuk-breadcrumb__link">Home</a>
              </li>
      
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/a-to-z" class="nhsuk-breadcrumb__link">Health A to Z</a>
              </li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-3/a-to-z">Back to Health A to Z</a></p>
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Type 2 diabetes
      </h1>
      <p>This is a guide for adults with type 2 diabetes. There's separate information about <a href= "/lab-3/a-to-z/diabetes/type-1-diabetes">type 1 diabetes.</a></p>

      <section id="key-links">
        <div class="key-link">
          <h3><a href= "/lab-3/a-to-z/diabetes/type-2-diabetes/getting-diagnosed">Getting diagnosed</a></h3>
          <p>Type 2 diabetes is often diagnosed following blood or urine tests for something else.</p>
        </div>
        <div class="key-link">
          <h3><a href= "/lab-3/a-to-z/diabetes/type-2-diabetes/finding-help">Finding help and support</a></h3>
          <p>Includes support groups, social media, helplines and how to get psychological therapy services.</p>
        </div>
        <hr class="nhsuk-hr">
      </section>

      <section id="about-type-2">
        <h2>About type 2 diabetes</h2>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-third">
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">What it is</h3>
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/about/">What is type 2 diabetes?</a></li>
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/symptoms/">Symptoms</a></li>
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/diagnosis/">Getting diagnosed</a></li>
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/health-problems/">Health problems</a></li>
            </ul>
        </div>
        </div>
      </section>

      <section id="management">
        <h2>Management</h2>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-third">
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Medicine</h3>
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/medicine/">Understanding medicine</a></li>
              <li><a href="/lab-3/a-to-z/metformin">Metformin</a></li>
            </ul>
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Lifestyle</h3>
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/food-diet/">Food and diet</a></li>
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/keeping-active">Keeping active</a></li>
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/weight-management">Weight management</a></li>
            </ul>
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Check-ups</h3>
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/regular-checks/">Going for regular checkups</a></li>
              <li><a href="/lab-3/a-to-z/diabetes/diabetic-eye-screening">Diabetic eye screening</a></li>
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/feet-checks">Diabetic feet checking</a></li>
            </ul>
        </div>
        </div>
      </section>

      <section id="living-with-type-2">
        <h2>Living with type 2 diabetes</h2>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-third">
            <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Everyday life</h3>
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/type-2-driving">Driving and type 2 diabetes</a></li>
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/help-support">Finding help and support</a></li>
              <li><a href="/lab-3/a-to-z/diabetes/type-2-diabetes/care-support-guide">Care and support guide</a></li>

    </div>      
</div>
{% endblock %}
