<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Diabetes - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/home" class="nhsuk-breadcrumb__link">Home</a>
              </li>
      
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/a-to-z" class="nhsuk-breadcrumb__link">Health A to Z</a>
              </li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-3/a-to-z">Back to Health A to Z</a></p>
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-u-margin-bottom-1" style="text-color:	#4c6272;"><a href="/lab-3/a-to-z/diabetes" style="text-decoration: none;color:	#4c6272 !important;"><strong>Diabetes</strong></a></p>
      <!-- Change the page title here -->
      <h1>
        Type 2 diabetes
      </h1>
      <p>This is a guide for adults with type 2 diabetes. There's separate information about <a href= "/lab-3/a-to-z/diabetes/type-1-diabetes">type 1 diabetes.</a></p>
      
      

      <section id="key-links" style= padding-top:12px;>
        <h3>Pages in this guide</h3>
        <div class="key-link">
          <h4><a href="javascript:void(0);" title="">What is type 2 diabetes?</a></h4>
        </div>
        <div class="key-link">
          <h4><a href="javascript:void(0);" title="">Symptoms</a></h4>
        </div>
        <div class="key-link">
          <h4><a href="javascript:void(0);" title="">Understanding medicine</a></h4>
        </div>
        <div class="key-link">
          <h4><a href="javascript:void(0);" title="">Food and activity</a></h4>
        </div>
        <div class="key-link">
          <h4><a href= "/lab-3/a-to-z/diabetes/going-for-check-up">Going for regular check-ups</a></h4>
        </div>
        <div class="key-link">
          <h4><a href= "/lab-3/a-to-z/diabetes/health-problems">Health problems</a></h4>
        </div>
        <div class="key-link">
          <h4><a href= "/lab-3/a-to-z/diabetes/finding-help">Finding help and support</a></h4>
        </div>
        <hr class="nhsuk-hr">
      </section>

    </div>      
</div>
{% endblock %}
