<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-8-search-hub.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK home
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
<main class="nhsuk-main-wrapper nhsuk-main-wrapper--no-padding nhsuk-homepage nhsuk-u-padding-top-0" id="maincontent" role="main">










    <section class="nhsuk-section nhsuk-u-padding-top-4">
        <div class="nhsuk-width-container">
          <div class="nhsuk-grid-row">

              <div class="nhsuk-grid-column-full nhsuk-section__content">
                 <div class="">
                    <h1>
                        Search 
                      </h1>

                     
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="example">
                          What is your name?
                        </label>
                        <input class="nhsuk-input" id="example" name="example" type="text">
                      </div>
                      
                      <h4 class="nhsuk-heading-s">Medication</h4>
                      <ul>
                          <li><a href="">Link 1</a></li>
                          <li><a href="">Link 2</a></li>
                      </ul>


                      <h4 class="nhsuk-heading-s">Services</h4>
                      <ul>
                          <li><a href="">Link 1</a></li>
                      </ul>

         </div>
         </div>
        </section>             






{% endblock %}
