<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4a.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptom checker - NHS
{% endblock %}


{% block beforeContent %}

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="/lab-4/a/" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="/lab-4/a/" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- NHS symptoms content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Heading -->
    <div class="nhsuk-u-reading-width">
      <h1>Symptoms by type</h1>
    </div>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
        <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
          <div class="nhsuk-card__content beta-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/lab-4/a/symptoms/type/breathing">
                Breathing problems
              </a>
            </h2>
          <div class="nhsuk-card__description"><p>Difficulty breathing, including wheezing or feeling short of breath</p></div>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
        <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
          <div class="nhsuk-card__content beta-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/lab-4/a/symptoms/type/pain">
                Pain
              </a>
            </h2>
          <div class="nhsuk-card__description"><p>Pain in any part of the body, including headache, chest pain, arm pain, hand pain, knee pain and foot pain</p></div>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
        <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
          <div class="nhsuk-card__content beta-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/lab-4/a/symptoms/type/cold-and-flu">
                Cold and flu
              </a>
            </h2>
          <div class="nhsuk-card__description"><p>Symptoms similar to cold or flu, including high temperature, cough and sore throat</p></div>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
        <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
          <div class="nhsuk-card__content beta-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/lab-4/a/symptoms/type/eating-and-digestion">
                Eating and digestion problems
              </a>
            </h2>
          <div class="nhsuk-card__description"><p>Symptoms that affect eating and digestion, including teeth grinding, bloating and diarrhoea and vomiting</p></div>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
        <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
          <div class="nhsuk-card__content beta-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/lab-4/a/symptoms/type/childhood-symptoms">
                Symptoms in babies and children
              </a>
            </h2>
          <div class="nhsuk-card__description"><p>Symptoms that are more common in children, including reflux in babies and irritable hip</p></div>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
        <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
          <div class="nhsuk-card__content beta-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/lab-4/a/symptoms/type/skin">
                Skin symptoms
              </a>
            </h2>
          <div class="nhsuk-card__description"><p>Any changes to the skin, including rashes, itching and swelling</p></div>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
        <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
          <div class="nhsuk-card__content beta-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/lab-4/a/symptoms/type/sight-and-eye">
                Sight and eye problems
              </a>
            </h2>
          <div class="nhsuk-card__description"><p>Problems with your vision, eyes or eyelids</p></div>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
        <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
          <div class="nhsuk-card__content beta-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/lab-4/a/symptoms/type/periods">
                Period symptoms
              </a>
            </h2>
          <div class="nhsuk-card__description"><p>Problems with your vision, eyes or eyelids</p></div>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-4">
        <div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
          <div class="nhsuk-card__content beta-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/lab-4/a/symptoms/type/mental-health">
                Mental health symptoms
              </a>
            </h2>
          <div class="nhsuk-card__description"><p>Symptoms linked to mental health, including stress, anxiety, low mood, hallucinations and hearing voices</p></div>
          </div>
        </div>
      </li>
    </ul>




      <!-- If you need help now, if you think it's an emergency -->
      <div class="nhsuk-u-reading-width beta-hub-bottom-content">
        <h2>If you need help now, and you&#x27;re not sure what to do</h2>
        <ul>
          <li>Go to <a href="">111.nhs.uk</a> or call 111</li>
        </ul>
        <h2>If you think it&#x27;s an emergency</h2>
        <ul>
          <li><a href="">Find your nearest A&amp;E</a></li>
          <li>Call 999</li>
        </ul>
      </div>

    </article>

  </div>
</div>

{% endblock %}
