<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-1b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Jaundice</h1>
    </div>
    <p><strong>Jaundice is when your skin or the whites of your eyes turn yellow. It can be a sign of something serious, such as liver disease, so you need to get urgent medical help.</strong></p>
    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">Urgent advice: </span>Get advice from 111 now if:</span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
    
      <div class="nhsuk-card__content">
    
        <ul>
          <li>your skin or the white part of your eyes looks yellow</li>
        </ul>
        <p>You may also have itchy skin, darker pee and paler poo than usual.</p>
        <p>111 will tell you what to do. They can arrange a phone call from a nurse or doctor if you need one.</p>
        <p>Go to <a href="javascript:void(0);">111.nhs.uk</a> or <a href="javascript:void(0);">call 111</a>.</p>
    
      </div>
    </div>

    <h2>Causes of jaundice</h2>
    <p>Jaundice is caused by the build-up in your body of a yellow substance called bilirubin.</p>
    <p>There are lots of possible reasons for this and some of them are serious.</p>
    <p>They include:</p>
    <ul>
      <li><a href="javascript:void(0);">gallstones</a></li>
      <li><a href="javascript:void(0);">alcohol-related liver disease</a></li>
      <li><a href="javascript:void(0);">pancreatitis</a></li>
      <li><a href="javascript:void(0);">hepatitis</a></li>
      <li><a href="javascript:void(0);">sickle cell disease</a></li>
    </ul>
    <p>Treatment for jaundice depend on what's causing it.</p>

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <h2>Newborn jaundice</h2>
      <p>Jaundice is common in newborn babies and is usually harmless.</p>
      <p><a href="javascript:void(0);">Find out about newborn jaundice</a></p>
    </div>

    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>





    

  </div>
</div>
{% endblock %}


