<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-1b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Blood in Semen (haematospermia)</h1>
    </div>

    
    <p><strong>It's unusual to find blood in your semen when you ejaculate, but try not to worry. It's usually only temporary and the cause is rarely anything serious.</strong></p>
    <p>The semen may be blood stained, brownish-red in colour or have a pink tinge.</p>
    <p>This page is intended to give you a better idea of the possible causes, but you should always see a GP for a diagnosis.</p>
    <p>In many cases, no obvious cause can be found for blood in the semen and it'll clear up by itself.</p>

    <h2>Common causes</h2>
    <p>Common causes of blood in semen include:</p>
    <ul>
      <li>vesiculitis – inflammation of the glands that produce most of the fluid in ejaculate (the seminal vesicles)</li>
      <li>seminal vesicle cysts – small, fluid-filled sacs in the seminal vesicles</li>
      <li><a href="javascript:void(0);">prostatitis</a> – inflammation of the prostate gland, where semen is made</li>
      <li>recent urological surgery - such as a prostate <a href="javascript:void(0);">biopsy</a>, <a href="javascript:void(0);">cytoscopy</a> or <a href="javascript:void(0);">vasectomy</a></li>
      <li><a href="javascript:void(0);">sexually transmitted infections (STIs)</a> - such as <a href="javascript:void(0);">genital herpes</a>, <a href="javascript:void(0);">chlamydia</a>, <a href="javascript:void(0);">gonorrhoea</a> or <a href="javascript:void(0);">trichomoniasis</a></li>
    </ul>
    <p>These problems generally are not serious and many will get better on their own without treatment or after a course of <a href="javascript:void(0);">antibiotics</a> or <a href="javascript:void(0);">anti-inflammatory painkillers</a>.</p>

    <h2>Less common causes</h2>
    <p>Less often, blood in the semen can be a result of:</p>
    <ul>
      <li>severe <a href="javascript:void(0);">high blood pressure</a> (hypertension)</li>
      <li>a blood clotting disorder</li>
      <li>cancer - including <a href="javascript:void(0);">prostate cancer</a>, <a href="javascript:void(0);">testicular cancer</a> and <a href="javascript:void(0);">bladder cancer</a></li>
      <li>seminal vesicle calculi - small stones in the seminal vesicles</li>
    </ul>
    <p>These conditions are more serious and may require specialist treatment.</p>

    <h2>Seeing a GP</h2>
    <p>A GP will try to determine whether the cause of the blood in your semen is likely to be serious or not.</p>
    <p>They'll consider a number of things, such as:</p>
    <ul>
      <li>how many times you have noticed blood in your semen</li>
      <li>whether you have any other symptoms</li>
      <li>your age</li>
      <li>your medical history</li>
    </ul>
    <p>They may also need to carry out a number of simple tests, including:</p>
    <ul>
      <li>checking your blood pressure</li>
      <li>an examination of your genitals and tummy (abdomen)</li>
      <li>a <a href="javascript:void(0);">rectal examination</a>, where your doctor inserts a finger into your bottom</li>
      <li>urine and <a href="javascript:void(0);">blood tests</a></li>
    </ul>
    <p>If you're younger than 40, have only noticed blood in your semen once or twice and tests do not suggest you have a serious underlying condition, you should not need a hospital referral.</p>
    <p>But your GP should refer you to a urologist, a specialist who treats problems of the urinary system, if:</p>
    <ul>
      <li>you're over 40</li>
      <li>you have persistent or recurrent symptoms</li>
      <li>tests have suggested a potentially serious underlying cause</li>
    </ul>
    <p>A further assessment with a urologist may involve having a biopsy of your prostate gland or a scan, such as an <a href="javascript:void(0);">ultrasound scan</a>.</p>

    <h2>Treating blood in semen</h2>
    <p>The treatment your GP or urologist recommends will depend on what they think is the underlying reason for the blood in your semen.</p>
    <p>In many cases, particularly if you have no other symptoms or the blood in your semen was an isolated incident, no treatment is necessary and the problem will usually resolve on its own.</p>
    <p>If a clear reason is identified, the treatment you're offered will depend on the specific cause.</p>
    <p>For example, you may be given antibiotics to treat an infection and cysts may need to be drained with a needle.</p>
    <p>If there's a serious underlying cause, such as a blood clotting disorder or cancer, you'll be referred to an appropriate specialist for any necessary treatment.</p>

    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>





    

  </div>
</div>
{% endblock %}


