<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-1b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Hair loss</h1>
    </div>
    <p><strong>Losing your hair is not usually anything to be worried about, but it can be upsetting. Treatment may help with some types of hair loss.</strong></p>

    <h2>Causes of hair loss</h2>
    <p>It's normal to lose hair. We can lose between 50 and 100 hairs a day, often without noticing.</p>
    <p>Hair loss is not usually anything to be worried about, but occasionally it can be a sign of a medical condition.</p>
    <p>Some types of hair loss are permanent, like male and female pattern baldness. This type of hair loss usually runs in the family.</p>
    <p>Other types of hair loss may be temporary. They can be caused by:</p>
    <ul>
      <li>an illness</li>
      <li>stress</li>
      <li>cancer treatment</li>
      <li>weight loss</li>
      <li>iron deficiency</li>
    </ul>
    <p><a href="javascript:void(0);">Find out more about cancer and hair loss</a></p>
    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>See a GP if:</span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
    
      <div class="nhsuk-card__content">
    
        <ul>
          <li>you have sudden hair loss</li>
          <li>you develop bald patches</li>
          <li>you're losing hair in clumps</li>
          <li>your head also itches and burns</li>
          <li>you're worried about your hair loss</li>
        </ul>    
      </div>
    </div>

    <h2>What happens at your appointment</h2>
    <p>The GP should be able to tell you what's causing your hair loss by looking at your hair.</p>
    <p>Tell them if your hair loss is affecting your wellbeing, and ask what treatments are available.</p>
    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        
          Important
        
      </h3>
      
        <p>See a GP to get a clear idea about what's causing your hair loss before thinking about going to a commercial hair clinic.</p>
      
    </div>

    <h2>Treatment for hair loss</h2>
    <p>Most hair loss does not need treatment and is either:</p>
    <ul>
      <li>temporary and it'll grow back</li>
      <li>a normal part of getting older</li>
    </ul>
    <p>Hair loss caused by a medical condition usually stops or grows back once you've recovered.</p>
    <p>There are things you can try if your hair loss is causing you distress. But most treatments are not available on the NHS, so you'll have to pay for them.</p>
    <p>No treatment is 100% effective.</p>
    <h3>Finasteride and minoxidil</h3>
    <p>Finasteride and minoxidil are the main treatments for male pattern baldness.</p>
    <p>Minoxidil can also be used to treat female pattern baldness. Women should not use finasteride.</p>
    <p>These treatments:</p>
    <ul>
      <li>do not work for everyone</li>
      <li>only work for as long as they're used</li>
      <li>are not available on the NHS</li>
      <li>can be expensive</li>
    </ul>
    <h3>Wigs</h3>
    <p>Some wigs are available on the NHS, but you may have to pay unless you qualify for financial help.</p>
    <p>Synthetic wigs:</p>
    <ul>
      <li>last 6 to 9 months</li>
      <li>are easier to look after than real-hair wigs</li>
      <li>can be itchy and hot</li>
      <li>cost less than real-hair wigs</li>
    </ul>
    <p>Real-hair wigs:</p>
    <ul>
      <li>last 3 to 4 years</li>
      <li>are harder to look after than synthetic wigs</li>
      <li>look more natural than synthetic wigs</li>
      <li>cost more than synthetic wigs</li>
    </ul>
    <p><a href="javascript:void(0);">Find out more about NHS wigs and costs</a></p>
    <h3>Other hair loss treatments</h3>
    <div class="nhsuk-table-container">
      <table><caption class="nhsuk-u-visually-hidden">Other treatments for hair loss</caption>
<thead>
<tr>
  <th scope="col">Treatment</th>
  <th scope="col">Description</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Steroid injection</td>
  <td>Injections given into bald patches</td>
</tr>
<tr>
  <td>Steroid creams</td>
  <td>Cream applied to bald patches</td>
</tr>
<tr>
  <td>Immunotherapy</td>
  <td>Chemical applied to bald patches</td>
</tr>
<tr>
  <td>Light treatment</td>
  <td>Shining ultraviolet light on bald patches</td>
</tr>
<tr>
  <td>Tattooing</td>
  <td>Tattoo used to look like short hair and eyebrows</td>
</tr>
<tr>
  <td><a href="javascript:void(0);">Hair transplant</a></td>
  <td>Hair is removed from the back of the head and moved to thinning patches</td>
</tr>
<tr>
  <td>Scalp reduction surgery</td>
  <td>Sections of scalp with hair are stretched and stitched together</td>
</tr>
<tr>
  <td>Artificial hair transplant</td>
  <td>Surgery to implant artificial hairs</td>
</tr>
</tbody>
</table>

    </div>

    <p>Some of these treatments may not be available on the NHS.</p>
    <h3>Emotional help</h3>
    <p>Losing hair can be upsetting. For many people, their hair is an important part of who they are.</p>
    <p>If your hair loss is causing you distress, your GP may be able to help you get some counselling.</p>
    <p>You may also benefit from joining a support group, or speaking to other people in the same situation on online forums.</p>
    <p><a href="javascript:void(0);">Find a support group near you on the Alopecia UK website</a></p>
    <h3>Further information and support</h3>
    <ul>
      <li><a href="javascript:void(0);">Cancer Research UK: hair loss</a></li>
      <li><a href="javascript:void(0);">Macmillan: hair loss</a></li>
    </ul>


   
    
   
    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>





    

  </div>
</div>
{% endblock %}


