<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-1b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Symptoms</h1>
    </div>

    <article>
      <ul class="nhsuk-list">
        <li>
          <a href="">
            Anal pain
          </a>
        </li>  
        <li>
          <a href="">
            Ankle pain
          </a>
        </li>  
        <li>
          <a href="">
            Back pain
          </a>
        </li>  
        <li>
          <a href="">
            Bad breath
          </a>
        </li>  
        <li>
          <a href="">
            Bedwetting
          </a>
        </li>  
        <li>
          <a href="">
            Bleeding from the bottom (rectal bleeding)
          </a>
        </li>  
        <li>
          <a href="">
            Bloating
          </a>
        </li>  
        <li>
          <a href="">
            Blood in semen
          </a>
        </li>  
        <li>
          <a href="">
            Blood in urine
          </a>
        </li>  
        <li>
          <a href="">
            Blue skin or lips (cyanosis)
          </a>
        </li>  
        <li>
          <a href="">
            Blushing
          </a>
        </li>  
        <li>
          <a href="">
            Body odour bo
          </a>
        </li>  
        <li>
          <a href="">
            Breast lump
          </a>
        </li>  
        <li>
          <a href="">
            Breast pain
          </a>
        </li>  
        <li>
          <a href="">
            Bulging eyes
          </a>
        </li>  
        <li>
          <a href="">
            Chest pain
          </a>
        </li>  
        <li>
          <a href="">
            Confusion
          </a>
        </li>  
        <li>
          <a href="">
            Constipation
          </a>
        </li>  
        <li>
          <a href="">
            Cough
          </a>
        </li>  
        <li>
          <a href="">
            Coughing up blood
          </a>
        </li>  
        <li>
          <a href="">
            Diarrhoea and vomiting
          </a>
        </li>  
        <li>
          <a href="">
            Dizziness
          </a>
        </li>  
        <li>
          <a href="">
            Double vision
          </a>
        </li>  
        <li>
          <a href="">
            Dry eyes
          </a>
        </li>  
        <li>
          <a href="">
            Dry mouth
          </a>
        </li>  
        <li>
          <a href="">
            Earache
          </a>
        </li>  
        <li>
          <a href="">
            Elbow and arm pain
          </a>
        </li>  
        <li>
          <a href="">
            Erection problems (erectile dysfunction)
          </a>
        </li>  
        <li>
          <a href="">
            Excessive daytime sleepiness (hypersomn
          </a>
        </li>  
        <li>
          <a href="">
            Excessive sweating (hyperhidrosis)
          </a>
        </li>  
        <li>
          <a href="">
            Eyelid problems
          </a>
        </li>  
        <li>
          <a href="">
            Fainting
          </a>
        </li>  
        <li>
          <a href="">
            Feeling sick nausea
          </a>
        </li>  
        <li>
          <a href="">
            Fever in adults
          </a>
        </li>  
        <li>
          <a href="">
            Fever in children
          </a>
        </li>  
        <li>
          <a href="">
            Finger pain
          </a>
        </li>  
        <li>
          <a href="">
            Flatulence
          </a>
        </li>  
        <li>
          <a href="">
            Floaters and flashes in the eyes
          </a>
        </li>  
        <li>
          <a href="">
            Foot drop
          </a>
        </li>  
        <li>
          <a href="">
            Hair loss
          </a>
        </li>  
        <li>
          <a href="">
            Hallucinations and hearing voices
          </a>
        </li>  
        <li>
          <a href="">
            Headaches
          </a>
        </li>  
        <li>
          <a href="">
            Hearing loss
          </a>
        </li>  
        <li>
          <a href="">
            Heart palpitations
          </a>
        </li>  
        <li>
          <a href="">
            Heartburn and acid reflux
          </a>
        </li>  
        <li>
          <a href="">
            Heavy periods
          </a>
        </li>  
        <li>
          <a href="">
            Heel pain
          </a>
        </li>  
        <li>
          <a href="">
            Hiccups
          </a>
        </li>  
        <li>
          <a href="">
            Hip pain
          </a>
        </li>  
        <li>
          <a href="">
            Hip pain children (irritable hip)
          </a>
        </li>  
        <li>
          <a href="">
            Hirsutism
          </a>
        </li>  
        <li>
          <a href="">
            Indigestion
          </a>
        </li>  
        <li>
          <a href="">
            Irregular periods
          </a>
        </li>  
        <li>
          <a href="">
            Itchy anus
          </a>
        </li>  
        <li>
          <a href="">
            Itchy skin
          </a>
        </li>  
        <li>
          <a href="">
            Jaundice
          </a>
        </li>  
        <li>
          <a href="">
            Joint pain
          </a>
        </li>  
        <li>
          <a href="">
            Knee pain
          </a>
        </li>  
        <li>
          <a href="">
            Leg cramps
          </a>
        </li>  
        <li>
          <a href="">
            Limp in children
          </a>
        </li>  
        <li>
          <a href="">
            Loss of libido
          </a>
        </li>  
        <li>
          <a href="">
            Lost or changed sense of smell
          </a>
        </li>  
        <li>
          <a href="">
            Lumps
          </a>
        </li>  
        <li>
          <a href="">
            Memory loss (amnesia)
          </a>
        </li>  
        <li>
          <a href="">
            Metallic taste
          </a>
        </li>  
        <li>
          <a href="">
            Mouth ulcers
          </a>
        </li>  
        <li>
          <a href="">
            Nail problems
          </a>
        </li>  
        <li>
          <a href="">
            Neck pain and stiff neck
          </a>
        </li>  
        <li>
          <a href="">
            Night sweats
          </a>
        </li>  
        <li>
          <a href="">
            Nipple discharge
          </a>
        </li>  
        <li>
          <a href="">
            Ovulation pain
          </a>
        </li>  
        <li>
          <a href="">
            Pain in the back of the hand
          </a>
        </li>  
        <li>
          <a href="">
            Pain in the ball of the foot
          </a>
        </li>  
        <li>
          <a href="">
            Pain in the bottom of the foot
          </a>
        </li>  
        <li>
          <a href="">
            Pain in the palm of the hand
          </a>
        </li>  
        <li>
          <a href="">
            Pain in the top of the foot
          </a>
        </li>  
        <li>
          <a href="">
            Paralysis
          </a>
        </li>  
        <li>
          <a href="">
            Pelvic pain
          </a>
        </li>  
        <li>
          <a href="">
            Period pain
          </a>
        </li>  
        <li>
          <a href="">
            Pins and needles
          </a>
        </li>  
        <li>
          <a href="">
            Post menopausal bleeding
          </a>
        </li>  
        <li>
          <a href="">
            Priapism (painful erections)
          </a>
        </li>  
        <li>
          <a href="">
            Red eye
          </a>
        </li>  
        <li>
          <a href="">
            Reflux in babies
          </a>
        </li>  
        <li>
          <a href="">
            Shortness of breath
          </a>
        </li>  
        <li>
          <a href="">
            Shoulder pain
          </a>
        </li>  
        <li>
          <a href="">
            Smelly feet
          </a>
        </li>  
        <li>
          <a href="">
            Smelly urine
          </a>
        </li>  
        <li>
          <a href="">
            Snoring
          </a>
        </li>  
        <li>
          <a href="">
            Soiling child pooing their pants
          </a>
        </li>  
        <li>
          <a href="">
            Sore or dry lips
          </a>
        </li>  
        <li>
          <a href="">
            Sore or white tongue
          </a>
        </li>  
        <li>
          <a href="">
            Sore throat
          </a>
        </li>  
        <li>
          <a href="">
            Stomach ache
          </a>
        </li>  
        <li>
          <a href="">
            Stopped or missed periods
          </a>
        </li>  
        <li>
          <a href="">
            Stretch marks
          </a>
        </li>  
        <li>
          <a href="">
            Swallowing problems dysphagia
          </a>
        </li>  
        <li>
          <a href="">
            Swollen ankles, feet and legs (oedema)
          </a>
        </li>  
        <li>
          <a href="">
            Swollen arms and hands (oedema)
          </a>
        </li>  
        <li>
          <a href="">
            Swollen glands
          </a>
        </li>  
        <li>
          <a href="">
            Tailbone pain (coccydynia)
          </a>
        </li>  
        <li>
          <a href="">
            Teeth grinding
          </a>
        </li>  
        <li>
          <a href="">
            Testicle lumps and swellings
          </a>
        </li>  
        <li>
          <a href="">
            Thirst
          </a>
        </li>  
        <li>
          <a href="">
            Thumb pain
          </a>
        </li>  
        <li>
          <a href="">
            Tinnitus
          </a>
        </li>  
        <li>
          <a href="">
            Tiredness and fatigue
          </a>
        </li>  
        <li>
          <a href="">
            Toe pain
          </a>
        </li>  
        <li>
          <a href="">
            Toothache
          </a>
        </li>  
        <li>
          <a href="">
            Tremor or shaking hands
          </a>
        </li>  
        <li>
          <a href="">
            Twitching eyes and muscles
          </a>
        </li>  
        <li>
          <a href="">
            Unintentional weight loss
          </a>
        </li>  
        <li>
          <a href="">
            Vaginal discharge
          </a>
        </li>  
        <li>
          <a href="">
            Vaginal dryness
          </a>
        </li>  
        <li>
          <a href="">
            Vertigo
          </a>
        </li>  
        <li>
          <a href="">
            Vomiting blood
          </a>
        </li>  
        <li>
          <a href="">
            Watering eyes
          </a>
        </li>  
        <li>
          <a href="">
            Worms in humans
          </a>
        </li>  
        <li>
          <a href="">
            Wrist pain
          </a>
        </li>   
      </ul>
    </article>

  </div>
</div>
{% endblock %}


