<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-1b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Symptoms</h1>
    </div>

    <article>
      <ul class="nhsuk-list">
        <li>
          <a href="/lab-1/b/symptoms/anal-pain">
            Anal pain
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/ankle-pain">
            Ankle pain
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/back-pain">
            Back pain
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/bad-breath">
            Bad breath
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/bedwetting">
            Bedwetting
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/bleeding-bottom">
            Bleeding from the bottom (rectal bleeding)
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/bloating">
            Bloating
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/blood-semen">
            Blood in semen
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/blood-urine">
            Blood in urine
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/blue-skin">
            Blue skin or lips (cyanosis)
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/blushing">
            Blushing
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/body-odour">
            Body odour bo
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/breast-lump">
            Breast lump
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/breast-pain">
            Breast pain
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/bulging-eyes">
            Bulging eyes
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/chest-pain">
            Chest pain
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/confusion">
            Confusion
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/constipation">
            Constipation
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/cough">
            Cough
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/coughing-blood">
            Coughing up blood
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/diarrhoea-vomiting">
            Diarrhoea and vomiting
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/dizziness">
            Dizziness
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/double-vision">
            Double vision
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/dry-eyes">
            Dry eyes
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/dry-mouth">
            Dry mouth
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/earache">
            Earache
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/elbow-pain">
            Elbow and arm pain
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/erection-problems">
            Erection problems (erectile dysfunction)
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/excessive-daytime-sleepiness">
            Excessive daytime sleepiness (hypersomnia)
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/excessive-sweating">
            Excessive sweating (hyperhidrosis)
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/eyelid-problems">
            Eyelid problems
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/fainting">
            Fainting
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/feeling-sick">
            Feeling sick nausea
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/fever-adults">
            Fever in adults
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/fever-children">
            Fever in children
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/finger-pain">
            Finger pain
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/flatulence">
            Flatulence
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/floaters-eye">
            Floaters and flashes in the eyes
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/foot-drop">
            Foot drop
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/hair-loss">
            Hair loss
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/hallucinations">
            Hallucinations and hearing voices
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/headaches">
            Headaches
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/hearing-loss">
            Hearing loss
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/heart-palpitations">
            Heart palpitations
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/heartburn">
            Heartburn and acid reflux
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/heavy-periods">
            Heavy periods
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/heel-pain">
            Heel pain
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/hiccups">
            Hiccups
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/hip-pain">
            Hip pain
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/hip-pain-children">
            Hip pain children (irritable hip)
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/hirsutism">
            Hirsutism
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/indigestion">
            Indigestion
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/irregular-periods">
            Irregular periods
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/itchy-anus">
            Itchy anus
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/itchy-skin">
            Itchy skin
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/jaundice">
            Jaundice
          </a>
        </li>  
        <li>
          <a href="/lab-1/b/symptoms/joint-pain">
            Joint pain
          </a>
        </li>  
        <li>
          <a href="">
            Knee pain
          </a>
        </li>  
        <li>
          <a href="">
            Leg cramps
          </a>
        </li>  
        <li>
          <a href="">
            Limp in children
          </a>
        </li>  
        <li>
          <a href="">
            Loss of libido
          </a>
        </li>  
        <li>
          <a href="">
            Lost or changed sense of smell
          </a>
        </li>  
        <li>
          <a href="">
            Lumps
          </a>
        </li>  
        <li>
          <a href="">
            Memory loss (amnesia)
          </a>
        </li>  
        <li>
          <a href="">
            Metallic taste
          </a>
        </li>  
        <li>
          <a href="">
            Mouth ulcers
          </a>
        </li>  
        <li>
          <a href="">
            Nail problems
          </a>
        </li>  
        <li>
          <a href="">
            Neck pain and stiff neck
          </a>
        </li>  
        <li>
          <a href="">
            Night sweats
          </a>
        </li>  
        <li>
          <a href="">
            Nipple discharge
          </a>
        </li>  
        <li>
          <a href="">
            Ovulation pain
          </a>
        </li>  
        <li>
          <a href="">
            Pain in the back of the hand
          </a>
        </li>  
        <li>
          <a href="">
            Pain in the ball of the foot
          </a>
        </li>  
        <li>
          <a href="">
            Pain in the bottom of the foot
          </a>
        </li>  
        <li>
          <a href="">
            Pain in the palm of the hand
          </a>
        </li>  
        <li>
          <a href="">
            Pain in the top of the foot
          </a>
        </li>  
        <li>
          <a href="">
            Paralysis
          </a>
        </li>  
        <li>
          <a href="">
            Pelvic pain
          </a>
        </li>  
        <li>
          <a href="">
            Period pain
          </a>
        </li>  
        <li>
          <a href="">
            Pins and needles
          </a>
        </li>  
        <li>
          <a href="">
            Post menopausal bleeding
          </a>
        </li>  
        <li>
          <a href="">
            Priapism (painful erections)
          </a>
        </li>  
        <li>
          <a href="">
            Red eye
          </a>
        </li>  
        <li>
          <a href="">
            Reflux in babies
          </a>
        </li>  
        <li>
          <a href="">
            Shortness of breath
          </a>
        </li>  
        <li>
          <a href="">
            Shoulder pain
          </a>
        </li>  
        <li>
          <a href="">
            Smelly feet
          </a>
        </li>  
        <li>
          <a href="">
            Smelly urine
          </a>
        </li>  
        <li>
          <a href="">
            Snoring
          </a>
        </li>  
        <li>
          <a href="">
            Soiling child pooing their pants
          </a>
        </li>  
        <li>
          <a href="">
            Sore or dry lips
          </a>
        </li>  
        <li>
          <a href="">
            Sore or white tongue
          </a>
        </li>  
        <li>
          <a href="">
            Sore throat
          </a>
        </li>  
        <li>
          <a href="">
            Stomach ache
          </a>
        </li>  
        <li>
          <a href="">
            Stopped or missed periods
          </a>
        </li>  
        <li>
          <a href="">
            Stretch marks
          </a>
        </li>  
        <li>
          <a href="">
            Swallowing problems dysphagia
          </a>
        </li>  
        <li>
          <a href="">
            Swollen ankles, feet and legs (oedema)
          </a>
        </li>  
        <li>
          <a href="">
            Swollen arms and hands (oedema)
          </a>
        </li>  
        <li>
          <a href="">
            Swollen glands
          </a>
        </li>  
        <li>
          <a href="">
            Tailbone pain (coccydynia)
          </a>
        </li>  
        <li>
          <a href="">
            Teeth grinding
          </a>
        </li>  
        <li>
          <a href="">
            Testicle lumps and swellings
          </a>
        </li>  
        <li>
          <a href="">
            Thirst
          </a>
        </li>  
        <li>
          <a href="">
            Thumb pain
          </a>
        </li>  
        <li>
          <a href="">
            Tinnitus
          </a>
        </li>  
        <li>
          <a href="">
            Tiredness and fatigue
          </a>
        </li>  
        <li>
          <a href="">
            Toe pain
          </a>
        </li>  
        <li>
          <a href="">
            Toothache
          </a>
        </li>  
        <li>
          <a href="">
            Tremor or shaking hands
          </a>
        </li>  
        <li>
          <a href="">
            Twitching eyes and muscles
          </a>
        </li>  
        <li>
          <a href="">
            Unintentional weight loss
          </a>
        </li>  
        <li>
          <a href="">
            Vaginal discharge
          </a>
        </li>  
        <li>
          <a href="">
            Vaginal dryness
          </a>
        </li>  
        <li>
          <a href="">
            Vertigo
          </a>
        </li>  
        <li>
          <a href="">
            Vomiting blood
          </a>
        </li>  
        <li>
          <a href="">
            Watering eyes
          </a>
        </li>  
        <li>
          <a href="">
            Worms in humans
          </a>
        </li>  
        <li>
          <a href="">
            Wrist pain
          </a>
        </li>   
      </ul>
    </article>

  </div>
</div>
{% endblock %}


