<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-1b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="/lab-1/b" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="/lab-1/b/symptoms" class="nhsuk-breadcrumb__link">Symptoms</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="/lab-1/b/symptoms" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Symptoms
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Period pain</h1>
    </div>
    <p><strong>Period pain is common and a normal part of your menstrual cycle. Most women get it at some point in their lives.</strong></p>
    <p>It's usually felt as painful muscle cramps in the tummy, which can spread to the back and thighs.</p>
    <p>The pain sometimes comes in intense spasms, while at other times it may be dull but more constant.</p>
    <p>It may also vary with each period. Some <a href="javascript:void(0);">periods</a> may cause little or no discomfort, while others may be more painful.</p>
    <p>Sometimes you may get pelvic pain even when you do not have your period.</p>

    <h2>Causes of period pain</h2>
    <p>Period pain happens when the muscular wall of the womb tightens (contracts). Mild contractions continually occur in your womb, but they're usually so mild that most women cannot feel them.</p>
    <p>During your period, the wall of the womb starts to contract more vigorously to help the womb lining shed as part of your period.</p>
    <p>When the wall of the womb contracts, it compresses the blood vessels lining your womb. This temporarily cuts off the blood supply – and oxygen supply – to your womb. Without oxygen, the tissues in your womb release chemicals that trigger pain.</p>
    <p>While your body is releasing these pain-triggering chemicals, it's also producing other chemicals called prostaglandins. These encourage the womb muscles to contract more, further increasing the level of pain.</p>
    <p>It's not known why some women have more period pain than others. It may be that some women have a build-up of prostaglandins, which means they experience stronger contractions.</p>
    <h3>Period pain caused by a medical condition</h3>
    <p>Less commonly, period pain can be caused by an underlying medical condition.</p>
    <p>Period pain linked to an underlying medical condition tends to affect older women. Women aged 30 to 45 are most commonly affected.</p>
    <p>Medical conditions that can cause period pain include:</p>
    <ul>
      <li><a href="javascript:void(0);">endometriosis</a> – where cells that normally line the womb grow in other places, such as in the fallopian tubes and ovaries; these cells can cause intense pain when they shed</li>
      <li><a href="javascript:void(0);">fibroids</a> – non-cancerous tumours that can grow in or around the womb and can make your periods heavy and painful</li>
      <li><a href="javascript:void(0);">pelvic inflammatory disease</a> – where your womb, fallopian tubes and ovaries become infected with bacteria, causing them to become severely inflamed</li>
      <li>adenomyosis – where the tissue that normally lines the womb starts to grow within the muscular womb wall, making your periods particularly painful</li>
    </ul>
    <h3>Period pain caused by contraceptive devices</h3>
    <p>An <a href="javascript:void(0);">intrauterine device (IUD)</a> is a type of <a href="javascript:void(0);">contraception</a> made from copper and plastic that fits inside the womb. It can also sometimes cause period pain, particularly during the first few months after it's inserted.</p>
    <p>You may notice a change in your normal pattern of pain if your period pain is linked to a medical condition or a contraceptive IUD. For example, the pain may be more severe or it may last much longer than normal.</p>
    <p>You may also have:</p>
    <ul>
      <li><a href="javascript:void(0);">irregular periods</a></li>
      <li><a href="javascript:void(0);">bleeding in between periods</a></li>
      <li>a thick or foul-smelling <a href="javascript:void(0);">vaginal discharge</a></li>
      <li><a href="javascript:void(0);">pain during sex</a></li>
    </ul>
    <p>See a GP if you have any of these symptoms as well as period pain.</p>

    <h2>How long period pain lasts</h2>
    <p>Period pain usually starts when your bleeding begins, although some women have pain several days before the start of their period.</p>
    <p>The pain usually lasts 48 to 72 hours, although it can last longer. It's usually at its worst when your bleeding is heaviest.</p>
    <p>Young girls often have period pain when they begin getting periods. Read more about <a href="javascript:void(0);">starting periods</a>.</p>
    <p>Period pain that does not have an underlying cause tends to improve as a woman gets older. Many women also notice an improvement after they've had children.</p>

    <h2>Treating period pain</h2>
    <p>In most cases period pain is mild enough to treat at home.</p>
    <h3>Painkillers</h3>
    <p>You can take <a href="javascript:void(0);">ibruprofen</a> and <a href="javascript:void(0);">aspirin</a> to help manage your pain.</p>
    <p>However, do not take ibuprofen or aspirin if you have <a href="javascript:void(0);">asthma</a> or stomach, kidney or liver problems. Aspirin should not be taken by anyone under 16 years of age.</p>
    <p>You could also try <a href="javascript:void(0);">paracetamol</a>, but studies have shown that it does not reduce pain as well as ibuprofen or aspirin.</p>
    <p>If ordinary painkillers do not help, your GP may prescribe a stronger painkiller, such as <a href="javascript:void(0);">naproxen</a> or <a href="javascript:void(0);">codeine</a>.</p>
    <h3>Other self-help measures to try</h3>
    <p>You could also try:</p>
    <ul>
      <li><a href="javascript:void(0);">stopping smoking</a> – smoking is thought to increase the risk of period pain
        <a href="javascript:void(0);">exercise</a> – you may not feel like exercising during a painful period, but being active may reduce pain; try some gentle <a href="javascript:void(0);">swimming</a>, <a href="javascript:void(0);">walking</a> or <a href="javascript:void(0);">cycling</a>
        heat – putting a heat pad or hot water bottle (wrapped in a tea towel) on your tummy may help reduce pain
        warm bath or shower – taking a warm bath or shower can relieve pain and help you relax
        massage – light, circular massage around your lower abdomen may also help reduce pain
        relaxation techniques – relaxing activities, such as <a href="javascript:void(0);">yoga</a> or <a href="javascript:void(0);">pilates</a>, may help distract you from feelings of pain and discomfort
        <a href="javascript:void(0);">transcutaneous electronic nerve stimulation (TENS)</a> – a small battery-operated device that delivers a mild electrical current to your tummy to help reduce pain</li>
    </ul>

    <h2>When to see a GP</h2>
    <p>See a GP if you have severe period pain or your normal pattern of periods changes – for example, if your periods become heavier than usual or irregular.</p>
    <h3>Pelvic examination</h3>
    <p>The GP may want to feel your tummy (abdomen) to check it feels normal.</p>
    <p>If your symptoms are unusual, the GP may carry out an internal examination, sometimes known as a pelvic examination. This can be helpful in diagnosing or ruling out other causes of your period pain.</p>
    <h3>Contraceptives</h3>
    <p>You may be prescribed the <a href="javascript:void(0);">contraceptive pill</a>. It can ease period pain because it thins the womb lining and reduces the amount of prostaglandin your body releases.</p>
    <p>A thinner womb lining means the muscles of the womb do not have to contract as much when it sheds. Your period will also be lighter.</p>
    <p>If the contraceptive pill is not suitable for you, the <a href="javascript:void(0);">contraceptive pill</a> or the <a href="javascript:void(0);">contraceptive injection</a> are good alternatives.</p>
    <p>The Mirena <a href="javascript:void(0);">intrauterine system (IUS)</a> can also sometimes help with painful periods.</p>
    <h3>Referral to a specialist</h3>
    <p>If your period pain has not been controlled after 3 months of treatment with painkillers or a suitable hormonal contraceptive, your GP may refer you to a specialist, which will usually be a gynaecologist.</p>
    <p>The specialist will carry out further tests to help confirm or rule out an underlying medical condition. Tests you may have include:</p>
    <ul>
      <li>a urine or <a href="javascript:void(0);">blood test</a></li>
      <li><a href="javascript:void(0);">pelvic ultrasound</a> – where high-frequency sound waves are used to produce an image of the inside of your body; it's painless and will show any abnormalities in your reproductive organs</li>
      <li><a href="javascript:void(0);">laparoscopy</a> – under general anaesthetic, a small cut is made in your abdomen through which a fibro-optic telescope is inserted; it can be used to look at your internal organs as well as take samples of tissue (a <a href="javascript:void(0);">biopsy</a>).</li>
      <li><a href="javascript:void(0);">hysteroscopy</a> – allows the inside of the womb to be examined using a fibro-optic telescope; it's passed through your vagina and into the womb to check for abnormalities</li>
    </ul>
    <h3>Treating an underlying medical condition</h3>
    <p>If your period pain is caused by an underlying medical condition, your treatment will depend on which condition you have.</p>
    <p>For example, if you have <a href="javascript:void(0);">pelvic inflammatory disease (PID)</a>, you may need <a href="javascript:void(0);">antibiotics</a> to treat the infection, while <a href="javascript:void(0);">fibroids</a> may need to be surgically removed.</p>

    <h2>Period pain and fertility</h2>
    <p>Period pain that's part of your normal menstrual cycle will not affect your fertility. However, if the cause is a medical condition, this may affect your fertility.</p>
    <p>For example, endometriosis and pelvic inflammatory disease can cause scarring and a build-up of tissue in your fallopian tubes, making it harder for sperm to reach and fertilise an egg.</p>

    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>







  </div>
</div>
{% endblock %}
