<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Diabetes - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}


{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px;padding-bottom: 0px;">
    <section>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <section>
                    <!--<p class="nhsuk-u-margin-bottom-2" style="text-color:#4c6272;"><a href="/lab-4/a-to-z/diabetes" style="text-decoration: none;color:	#4c6272 !important;"><strong>Diabetes</strong></a></p>-->
                    <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
                            <div >
                              <ol class="nhsuk-breadcrumb__list ">
                                  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
                                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
                  
                                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/antibiotics">Antibiotics</a></li>              
                              </ol>
                              <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/antibiotics/about-antibiotics">About antibiotics</a></p>

                            </div>
                          </nav> 


                    <h1><span role="text">Antibiotics overview</span></h1>
                

                </section>

                <section class="nhsuk-u-padding-bottom-5">
    

    

    

      
                        <p><strong>Antibiotics are used to treat&nbsp;or prevent&nbsp;some types of bacterial infection. They&nbsp;work by killing bacteria or preventing them from&nbsp;spreading.&nbsp;But they do not work for everything.</strong></p>
                <p>Many mild bacterial infections get better on their own without using antibiotics.</p>
                <p>Antibiotics do not work for viral infections such as colds and&nbsp;flu, and&nbsp;most coughs and sore throats.</p>
                <p>Antibiotics are no longer routinely used to treat:</p>
                <ul>
                <li><p>chest infections</p></li>
                <li><p>ear infections in children </p></li>
                <li><p>sore throats</p></li>
                </ul>
                <p>When it comes to antibiotics, take your doctor's advice on whether you need them or not. Antibiotic resistance is a big problem – taking antibiotics when you do not need them can mean they will not work for you in the future.</p>
                
                      
                  </section>


                  <section class="nhsuk-u-padding-bottom-5">
    

    

    

      
                        <h2>When antibiotics are needed</h2>
                <p>Antibiotics may be used to treat <a href="javascript:void(0);" title="">bacterial infections</a> that:</p>
                <ul>
                <li>are unlikely to clear up without antibiotics </li>
                <li>could infect others </li>
                <li>could take too long to clear without treatment </li>
                <li>carry a risk of more serious complications </li>
                </ul>
                <p>People at a high risk of infection may also be given antibiotics as a <a href="javascript:void(0);" title="">precaution</a>, known as antibiotic prophylaxis.</p>
                <h4>When antibiotics are needed links</h4>
                <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p><a href="javascript:void(0);" title="">When antibiotics are used</a></p>
                    <p><a href="javascript:void(0);" title="">Why they are not routinely used to treat infections</a></p>
                </div>
               
                
                      
                  </section>

                  <section class="nhsuk-u-padding-bottom-5">
    

    

    

      
                        <h2>How to take antibiotics?</h2>
                <p>Take antibiotics as directed on the packet or the patient information leaflet that comes with the medicine, or as instructed by your GP or pharmacist.</p>
                <p>Antibiotics can come as:</p>
                <ul>
                <li>tablets, capsules or a liquid that you drink – these can be used to treat most types of mild to moderate infections in the body </li>
                <li>creams, lotions, sprays and drops – these are often used to treat skin infections and eye or ear infections </li>
                <li>injections – these can be given as an injection or through a drip directly into the blood or muscle, and are used for more serious infections </li>
                </ul>
                <h3>Missing a dose of antibiotics</h3>
                <p>If you forget to take a dose of your antibiotics, take that dose as soon as you remember and then continue to take your course of antibiotics as normal.</p>
                <p>But&nbsp;if it's almost time for the next dose, skip the missed dose and continue your regular dosing schedule. Do not take a double dose to make up for a missed one.</p>
                <h3>Accidentally taking an extra dose</h3>
                <p>There's an increased risk of side effects if you take 2 doses closer together than recommended.</p>
                <p>Accidentally taking 1 extra dose of your antibiotic is unlikely to cause you any serious harm.</p>
                <p>But&nbsp;it will increase your chances of getting side effects, such as pain in your stomach, diarrhoea, and feeling or being sick.</p>
                <p>If you accidentally take more than 1 extra dose of your antibiotic, are worried or you get severe side effects, speak to your GP or call <a href="javascript:void(0);">NHS 111</a> as soon as possible.</p>
                
                      
                  </section>


                  <section class="nhsuk-u-padding-bottom-5">
    

    

    

      
                        <h2>Side effects of antibiotics</h2>
                <p>As with any medicine, antibiotics can cause side effects. Most antibiotics do not cause problems if they're used properly and serious side effects are rare.</p>
                <p>The common side effects include:</p>
                <ul>
                <li>being sick </li>
                <li>feeling sick </li>
                <li>bloating and indigestion </li>
                <li>diarrhoea</li>
                </ul>
                <p>Some people may have an&nbsp;<a href="javascript:void(0);">allergic reaction</a> to antibiotics, especially penicillin and a type called cephalosporins. In very rare cases, this can lead to a <a href="javascript:void(0);">serious allergic reaction (anaphylaxis)</a>, which is a medical emergency.</p>
                <p>Read more about the <a href="javascript:void(0);">side effects of antibiotics</a>.</p>
                <h4>Side effects of antibiotics links</h4>
                <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p><a href="javascript:void(0);" title="">Allergic reaction</a></p>
                    <p><a href="javascript:void(0);" title="">Anaphylaxis</a></p>
                    <p><a href="javascript:void(0);" title="">Side effects</a></p>
                </div>
                
                      
                  </section>


                  <section class="nhsuk-u-padding-bottom-5">
    

    

    

      
                        <h2>Considerations and interactions</h2>
                <p>Some antibiotics are not suitable for people with <a href="javascript:void(0);">certain medical problems</a>, or women who are pregnant or breastfeeding. Only ever take antibiotics prescribed&nbsp;for you – never "borrow" them from a friend or family member.</p>
                <p>Some antibiotics <a href="javascript:void(0);">do not mix well with other medicines</a>, such as the&nbsp;contraceptive pill and alcohol. </p>
                <p>Read the information leaflet that comes with your medicine carefully and discuss any concerns with your pharmacist or GP.</p>
                <h4>Considerations and interactions links</h4>
                <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p><a href="javascript:void(0);" title="">Things to consider before taking antibiotics</a></p>
                    <p><a href="javascript:void(0);" title="">How antibiotics interact with other medicines</a></p>
                </div>
                
                      
                  </section>

                  <section class="nhsuk-u-padding-bottom-5">
    

    

    

      
                        <h2>Types of antibiotics</h2>
                <p>There are hundreds of different types of antibiotics, but most of them can be classified into 6 groups. </p>
                <ul>
                <li><strong>Penicillins</strong> (such as penicillin and <a href="javascript:void(0);">amoxicillin</a>) – widely used to treat a variety of infections, including skin infections, <a href="javascript:void(0);">chest infections</a> and <a href="javascript:void(0);">urinary tract infections</a></li>
                <li><strong>Cephalosporins</strong> (such as cephalexin) – used to treat a wide range of infections, but some are also effective&nbsp;for treating more serious infections, such as <a href="javascript:void(0);">septicaemia</a> and <a href="javascript:void(0);">meningitis</a></li>
                <li><strong>Aminoglycosides</strong>&nbsp;(such as gentamicin and tobramycin) – tend to only&nbsp;be&nbsp;used in hospital to treat very serious illnesses such as septicaemia, as they can cause serious side effects, including hearing loss and kidney damage; they're usually given by injection, but&nbsp;may be given as&nbsp;drops for some ear or eye infections </li>
                <li><strong>Tetracyclines</strong> (such as tetracycline and <a href="javascript:void(0);">doxycycline</a>) – can be used to treat a wide range of infections, but&nbsp;are commonly used to treat&nbsp;<a href="javascript:void(0);">acne</a> and a skin condition called&nbsp;<a href="javascript:void(0);">rosacea</a></li>
                <li><strong>Macrolides</strong> (such as <a href="/lab-4/a-to-z/antibiotics/erythromycin">erythromycin</a> and <a href="javascript:void(0);">clarithromycin</a>) – can be particularly useful for treating lung and chest infections, or as an alternative for people with a penicillin allergy, or to treat penicillin-resistant strains of bacteria </li>
                <li><strong>Fluoroquinolones</strong> (such as ciprofloxacin and levofloxacin) – are broad-spectrum antibiotics that were once used to treat a wide range of infections, especially respiratory and urinary tract infections. These antibiotics are no longer used routinely because of the risk of serious side effects</li>
                </ul>
                <h4>Types of antibiotics and related conditions links</h4>
                <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p><a href="javascript:void(0);" title="">Amoxicillin</a></p>
                    <p><a href="javascript:void(0);" title="">Chest infections</a></p>
                    <p><a href="javascript:void(0);" title="">Urinary tract infections</a></p>
                    <p><a href="javascript:void(0);" title="">Septicaemia</a></p>
                    <p><a href="javascript:void(0);" title="">Meningitis</a></p>
                    <p><a href="javascript:void(0);" title="">Doxycycline</a></p>
                    <p><a href="javascript:void(0);" title="">Acne</a></p>
                    <p><a href="javascript:void(0);" title="">Rosacea</a></p>
                    <p><a href="/lab-4/a-to-z/antibiotics/erythromycin" title="">Erythromycin</a></p>
                    <p><a href="javascript:void(0);" title="">Clarithromycin</a></p>
                </div>
                
                      
                  </section>

               



                  <nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation" aria-label="Pages in this guide">
                        <h2 class="">More in <a href="/lab-4/a-to-z/antibiotics/about-antibiotics">About antibiotics</a></a></h2>
                        <ul class="nhsuk-list app-side-nav__list">
                
                            <li class="app-side-nav__item app-side-nav__item--current">Overview</li>
                
                            <li class="app-side-nav__item "><a class="app-side-nav__link" href="javascript:void(0);">Uses</a></li>
                
                            <li class="app-side-nav__item "><a class="app-side-nav__link" href="javascript:void(0);">Considerations</a></li>
                    
                            <li class="app-side-nav__item "><a class="app-side-nav__link" href="javascript:void(0);">Side effects</a></li>
                          
                            <li class="app-side-nav__item "><a class="app-side-nav__link" href="javascript:void(0);">Interactions</a></li>
                                      
                            <li class="app-side-nav__item "><a class="app-side-nav__link" href="javascript:void(0);">Antibiotic resistance</a></li>
                
                          </ul>
                      </nav>
                
                
                
                
                      <div class="nhsuk-review-date nhsuk-u-padding-top-5">
                          <p class="nhsuk-body-s">
                            Page last reviewed: 8 August 2017<br>
                            Next review due: 8 August 2020
                          </p>
                        </div>




















            </div>
        </div>
    </section>
</main>

{% endblock %}
