<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-2b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS Health A to Z - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="/lab-2/b" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}

<!-- Health a-z content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Conditions</h1>
    </div>

    <article>

      <ul class="nhsuk-grid-row nhsuk-card-group">

        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="javascript:void(0);">
                  Allergies
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Conditions that cause allergic reactions, such as hay-fever</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>


        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="javascript:void(0);">
                  Arthritis
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Joint conditions that can cause swelling, stiffness, pain</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>


        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="javascript:void(0);">
                  Autoimmune conditions
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>When the body mistakenly attacks normal cells, including conditions such as lupus and inflammatory bowel disease (IBS)</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>

        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/lab-1/a/symptoms/eating-and-digestion">
                  Breathing and respiratory conditions
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Illnesses that cause problems with your lungs, such as asthma and pneumonia</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>

        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/lab-1/a/symptoms/childhood-symptoms">
                  Cancer
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>When abnormal cells in the body grow uncontrollably such as lung cancer, brain cancer and bone cancer</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>

        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/lab-1/a/symptoms/skin">
                  Dementia
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Conditions that cause problems with the way a person thinks and remembers</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>

        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/lab-1/a/symptoms/sight-and-eye">
                  Digestive health conditions
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Problems that impact the way your body digests food and creates waste, such as Crohn's disease</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>

        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/lab-1/a/symptoms/periods">
                  Infections
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>When germs in your body can cause illness, such as septicaemia</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>


        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/lab-1/a/symptoms/mental-health">
                  Neurological conditions
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>Problems with the brain, nerves and spinal cord such as motor neurone disease and epilepsy</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>


        <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable ">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/lab-1/a/symptoms/injuries">
                  Sexual health conditions
                </a>
              </h2>
              <div class="nhsuk-card__description"><p>An injury to any part of the body, such as a head injury, sprain, strain or broken bone</p></div>
              <div class="beta-hub-arrow">
                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""/><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"/><path data-name="Path" d="M11.667 9.229L15.438 13"/></g></svg>
              </div>
            </div>
          </div>
        </li>

      </ul>
  

  </div>
</div>
{% endblock %}


