<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-tt-1.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Coronavirus (COVID-19) - NHS.UK
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
        <div >
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="javascript:void(0);">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="javascript:void(0);">Health A to Z</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/test-and-trace-v1/a-to-z/coronavirus">Coronavirus (COVID-19)</a></li>

          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/test-and-trace-v1/a-to-z/coronavirus">Coronavirus (COVID-19)</a></p>
        </div>
      </nav>

      <!-- Change the page title here -->
      <h1>
        Self-isolation
      </h1>

      <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
              <p class="nhsuk-lede-text">Self-isolation is when you do not leave your home because you have or might have coronavirus (COVID-19). This helps stop the virus spreading to other people.

              </p>
          </div>
        </div>


        <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-bottom-4 nhsuk-u-padding-top-0">
          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Get a test to check if you have coronavirus on GOV.UK
                    
                    </h3>
                </div>
              </a>
            </div>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
            <div class="nhsuk-promo nhsuk-promo--small">
              <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                <div class="nhsuk-promo__content">
                  <h3 class="nhsuk-promo__heading">Book a coronavirus vaccination if you're eligible
                    
                    </h3>
                </div>
              </a>
            </div>
          </div>
          </div>

          
      <section id="Introduction">



        <div class="nhsuk-grid-row nhsuk-promo-group ">

          <div class="nhsuk-grid-column-one-half " >
            <div class="nhsuk-promo" >
                  <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);" style="background-color:#f0f4f5;">
                    <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
                      <h3 class="nhsuk-promo__heading">Should I self-isolate</h3>
                      <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Advice about when you should self-isolate and when it becomes a legal requirement
                        </p>
                    </div>
                  </a>
            </div>
          </div>

          <div class="nhsuk-grid-column-one-half " >
            <div class="nhsuk-promo" >
                  <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);" style="background-color:#f0f4f5;">
                    <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
                      <h3 class="nhsuk-promo__heading">How you should self-isolate</h3>
                      <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Get advice on how to self-isolate and when to start and stop self-isolating
                        </p>
                    </div>
                  </a>
            </div>
          </div>



        </div>






        <div class="nhsuk-grid-row nhsuk-promo-group ">

  
            <div class="nhsuk-grid-column-one-half " >
              <div class="nhsuk-promo" >
                    <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);" style="background-color:#f0f4f5;">
                      <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
                        <h3 class="nhsuk-promo__heading">Help and support while self-isolating</h3>
                        <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Financial help, practical and emotional support
                          </p>
                      </div>
                    </a>
              </div>
            </div>


           <div class="nhsuk-grid-column-one-half " >
              <div class="nhsuk-promo" >
                    <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);" style="background-color:#f0f4f5;">
                      <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
                        <h3 class="nhsuk-promo__heading">Why self-isolate</h3>
                        <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Self-isolation and work
                            Advice if you're employed, self-employed, an employer or a job seeker                            
                          </p>
                      </div>
                    </a>
              </div>
            </div>
  
  
          </div>














        
        <div class="nhsuk-grid-row nhsuk-promo-group ">


  
            <div class="nhsuk-grid-column-one-half " >
              <div class="nhsuk-promo" >
                    <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);" style="background-color:#f0f4f5;">
                      <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
                        <h3 class="nhsuk-promo__heading">Self-isolation and work</h3>
                        <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Advice if you're employed, self-employed, an employer or a job seeker

                    
                    
                            
                          </p>
                      </div>
                    </a>
              </div>
            </div>
  
            <div class="nhsuk-grid-column-one-half " >
                <div class="nhsuk-promo" >
                      <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);" style="background-color:#f0f4f5;">
                        <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
                          <h3 class="nhsuk-promo__heading">Take the self-isolation quiz</h3>
                          <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">See what you know about self-isolation and update your knowledge by taking our short quiz
                            </p>
                        </div>
                      </a>
                </div>
              </div>
  
  
          </div>
        



          

          <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-top-0">



           


          
            <!--<div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
                {% from 'care-card/macro.njk' import careCard %}

                  {{ careCard({
                    "type": "non-urgent",
                    "heading": "Speak to a GP if:",
                    "HTML": "
                    <ul>
                      <li>you're not sure it's chickenpox</li>
                      <li>the skin around the blisters is red, hot or painful (signs of infection)</li>
                      <li>your child is <a href=\"https://www.nhs.uk/conditions/dehydration\">dehydrated</a></li>
                      <li>you're concerned about your child or they get worse</li>
                    </ul>
                    <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>
                    "
                  }) }}
              </div>-->

      </section>






      <section id="key-links"  >
          <h3 class="nhsuk-u-margin-bottom-0">Related services</h3>
          <ul class="related-links" class="nhsuk-u-padding-top-0">
              <li><a href="javascript:void(0);">GOV.UK: get a test to check if you have coronavirus</a><br />www.gov.uk</li>

            <li><a href="javascript:void(0);">When will I be invited to get vaccinated?</a></li>

            <li><a href="javascript:void(0);">Take part in coronavirus research</a></li>          </ul>
      </section>

     
  


    <!-- <div class="">
      <div>
       <p>Help and support for diabetes</p>

        <p>Diabetes.uk</p>

      </div>
    </div> -->


    </div>
</div>
{% endblock %}
