<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-2a.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Back pain</h1>
    </div>

    
    <p><strong>Back pain is very common and usually improves within a few weeks or months.</strong></p>
    <p>Pain in the lower back (lumbago) is particularly common, although it can be felt anywhere along the spine, from the neck down to the hips.</p>
    <p>In most cases the pain is not caused by anything serious and will usually get better over time.</p>
    <p>There are things you can do to help relieve it. But sometimes the pain can last a long time or keep coming back.</p>
    
    <h2>How to relieve back pain</h2>
    <p>The following tips may help reduce your back pain and speed up your recovery:</p>
    <ul>
      <li>try <a href="javascript:void(0);">exercises and stretches for back pain</a>; other activities such as <a href="javascript:void(0);">walking</a>, <a href="javascript:void(0);">swimming</a>, <a href="javascript:void(0);">yoga</a>, and <a href="javascript:void(0);">pilates</a> may also be helpful</li>
      <li>take <a href="javascript:void(0);">anti-inflammatory painkillers</a>, such as <a href="javascript:void(0);">ibuprofen</a> – remember to check the medicine is safe for you to take and ask a pharmacist if you're not sure</li>
      <li>use hot or cold compression packs for short-term relief – you can buy these from a pharmacy, or a hot water bottle or a bag of frozen vegetables wrapped in a cloth or towel will work just as well</li>
    </ul>
    <p>Although it can be difficult, it helps if you stay optimistic and recognise that your pain should get better. People who manage to stay positive despite their pain tend to recover quicker.</p>
    <p>Back pain usually gets better on its own within a few weeks or months and you may not need to see a doctor or other healthcare professional.</p>
    <p>But it's a good idea to get help if:</p>
    <ul>
      <li>the pain does not start to improve within a few weeks</li>
      <li>the pain stops you doing your day-to-day activities</li>
      <li>the pain is very severe or gets worse over time</li>
      <li>you're worried about the pain or struggling to cope</li>
    </ul>
    <p>If you see a GP they will ask about your symptoms, examine your back and discuss possible treatments.</p>
    <p>They may refer you to a specialist doctor or a <a href="javascript:void(0);">physiotherapist</a> for further help.</p>
    <p>Alternatively, you may want to consider contacting a physiotherapist directly. Some NHS physiotherapists accept appointments without a doctor's referral, or you could choose to pay for private treatment.</p>
    <p>Read more about <a href="javascript:void(0);">how to get access to physiotherapy</a>.</p>

    <h2>Causes of back pain</h2>
    <p>It's often not possible to identify the cause of back pain. Doctors call this non-specific back pain.</p>
    <p>Sometimes the pain may be from an injury such as a <a href="javascript:void(0);">sprain or strain</a>, but often it happens for no apparent reason. It's very rarely caused by anything serious.</p>
    <p>Occasionally back pain can be caused by a medical condition such as:</p>
    <ul>
      <li>a <a href="javascript:void(0);">slipped (prolapsed) disc</a> – where a disc of cartilage in the spine presses on a nearby nerve</li>
      <li><a href="javascript:void(0);">sciatica</a> – irritation of the nerve that runs from the pelvis to the feet</li>
    </ul>
    <p>These conditions tend to cause additional symptoms, such as numbness, weakness or a tingling sensation, and they're treated differently from non-specific back pain.</p>

    <h2>Preventing back pain</h2>
    <p>It's difficult to prevent back pain, but the following tips may help reduce your risk:</p>
    <ul>
      <li>do regular <a href="javascript:void(0);">back exercises and stretches</a> – a GP or physiotherapist may be able to advise you about exercises to try</li>
      <li>stay active - doing regular <a href="javascript:void(0);">exercise</a> can help keep your back strong; adults are advised to do at least <a href="javascript:void(0);">150 minutes of exercise a week</a></li>
      <li>avoid sitting for long periods</li>
      <li>take care when lifting - read some <a href="javascript:void(0);">safe lifting tips</a></li>
      <li>check your posture when sitting, using computers or tablets and watching television – find out <a href="javascript:void(0);">how to sit correctly</a> and <a href="javascript:void(0);">get tips for laptop users</a></li>
      <li>ensure the mattress on your bed supports you properly</li>
      <li>lose weight through a combination of a <a href="javascript:void(0);">healthy diet</a> and regular exercise if you're overweight – being overweight can increase your risk of developing back pain</li>
    </ul>

    <h2>When to get immediate medical advice</h2>
    <p>You should contact a GP or <a href="javascript:void(0);">NHS 111</a> immediately if you have back pain and:</p>
    <ul>
      <li>numbness or tingling around your genitals or buttocks</li>
      <li>difficulty peeing</li>
      <li>loss of bladder or bowel control – peeing or pooing yourself</li>
      <li><a href="javascript:void(0);">chest pain</a></li>
      <li>a high temperature</li>
      <li><a href="javascript:void(0);">unintentional weight loss</a></li>
      <li>a swelling or deformity in your back</li>
      <li>it does not improve after resting or is worse at night</li>
      <li>it started after a serious accident, such as after a car accident</li>
      <li>the pain is so bad you're having problems sleeping</li>
      <li>pain is made worse when sneezing, coughing or pooing</li>
      <li>the pain is coming from the top of your back, between your shoulders, rather than your lower back</li>
    </ul>
    <p>These problems could be a sign of something more serious and need to be checked urgently.</p>

   

    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>




    

  </div>
</div>
{% endblock %}


