<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-7-a-to-z-confirmation.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Diabetic retinopathy - NHS.UKss
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px;">
  <section>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <section>



          <h1>Task Ended</h1>

          <p>Thanks for taking part in this task</p>

<p>Please let us know how you felt the task went by answering XX final questions.</p>

<div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">Answer final questions</span>
  </a>
</div>

          {# <p class="nhsuk-lede-text">A complication of <a href="/lab-4/a-to-z/diabetes">diabetes</a>, caused by high blood sugar levels damaging the back of the eye (retina). It can cause <a href="javascript:void(0);">blindness</a> if left undiagnosed and untreated.</p> #}


          {# <article>
            <section id="key-links" >
              <!--<h3 class="nhsuk-u-margin-bottom-0">Pages in this guide</h3>-->
              <ul class="key-links" class="nhsuk-u-padding-top-0">
                <li class="bradcrumbs__item--active" aria-current="page"><a href="/lab-4/a-to-z/diabetic-retinopathy-overview ">Overview</a></li>
                <li><a href="javascript:void(0);" title="">Stages</a></li>
                <li><a href="javascript:void(0);">Treatment</a></li>
                <li><a href="javascript:void(0);">Prevention</a></li>
              </ul>
            </section>
          </article> #}
        </section>
      </div>
    </div>
  </section>
</main>



{% endblock %}
