<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-9.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block content %}


  
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

<div class="nhsuk-u-reading-width">


<h1>Generalised anxiety disorder in adults</h1>
<p class="nhsuk-lede-text">
Everyone has feelings of anxiety at some point in their life. However, some people find it hard to control their worries. Their feelings of anxiety are more constant and can often affect their daily lives.
</p>


</div>

<article>





<div class="nhsuk-u-reading-width">

</div>



<div class="nhsuk-u-reading-width">

<section>
  <ul class="nhsuk-hub-key-links beta-hub-key-links">
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="javascript:void(0)">
          Overview - Generalised anxiety disorder in adults
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="javascript:void(0)">
          Symptoms - Generalised anxiety disorder in adults
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="javascript:void(0)">
          Diagnosis - Generalised anxiety disorder in adults
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="javascript:void(0)">
          Treatment - Generalised anxiety disorder in adults
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="javascript:void(0)">
          Self-help - Generalised anxiety disorder in adults
        </a>
      </li>
    
  </ul>
</section>


<div class="nhsuk-u-margin-top-6 nhsuk-hub-after-key-links">

</div>


</div>



</article>

</div>
</div>




{% endblock %}
