<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4a.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Irregular periods</h1>
    </div>
    <p><strong>Irregular periods aren't always a sign of a problem, but sometimes it's a good idea to see a doctor about them just in case.</strong></p>
    <h2>What are irregular periods?</h2>
    <p>You have irregular periods if the length of your menstrual cycle (the gap between your periods starting) keeps changing.</p>
    <p>Your periods may come early or late.</p>
    <p>The average menstrual cycle lasts 28 days, although it's normal for it to be a bit shorter or longer than this.</p>
    <p>After puberty, many women develop a regular cycle with a similar length of time between periods. But it's not uncommon for it to vary by a few days each time.</p>
    <h2>Causes of irregular periods</h2>
    <p>There are many possible causes of irregular periods. Sometimes they may just be normal for you.</p>
    <p>Common causes include:</p>
    <ul>
      <li>puberty – your periods might be irregular for the first year or two</li>
      <li>the start of the <a href="javascript:void(0);">menopause</a> (usually between the ages of 45 and 55)</li>
      <li>early pregnancy – take a pregnancy test to rule this out</li>
      <li>some types of hormonal contraception – such as the <a href="javascript:void(0);">contraceptive pill</a> or <a href="javascript:void(0);">intrauterine system (IUS)</a></li>
      <li>extreme weight loss or weight gain, excessive exercise or stress</li>
      <li>medical conditions – such as <a href="javascript:void(0);">polycystic ovary syndrome (PCOS)</a> or a problem with your thyroid</li>
    </ul>
    <h2>When to see a GP</h2>
    <p>You don't need to get medical advice if you have always had slightly irregular periods or you're still going through puberty.</p>
    <p>But see a GP if:</p>
    <ul>
      <li>your periods suddenly become irregular and you're under 45</li>
      <li>you have periods more often than every 21 days or less often than every 35 days</li>
      <li>your periods last longer than 7 days</li>
      <li>there's a big difference (at least 20 days) between your shortest and longest menstrual cycle</li>
      <li>you have irregular periods and you're struggling to get pregnant</li>
    </ul>
    <p>There might not be anything wrong, but it's a good idea to get checked out to see what the cause might be.</p>
    <p>You might be referred to a specialist called a gynaecologist if you need any tests or treatment.</p>
    <h2>Trying for a baby</h2>
    <p>It can be more difficult to get pregnant if you have irregular periods because you might not ovulate (release an egg) regularly.</p>
    <p>It can help to have sex every 2 or 3 days throughout your cycle. You don't need to time sex around ovulation.</p>
    <p>Read more about <a href="javascript:void(0);">trying to get pregnant</a>.</p>
    <p>Sometimes hormone medicine or fertility treatment may be needed if you're struggling to get pregnant naturally.</p>
    <h2>More about periods and other period problems</h2>
    <p>Read more about:</p>
    <ul>
      <li><a href="javascript:void(0);">periods and the menstrual cycle</a></li>
      <li><a href="javascript:void(0);">heavy periods</a></li>
      <li><a href="javascript:void(0);">stopped or missed periods</a></li>
      <li><a href="javascript:void(0);">period pain</a></li>
    </ul>
   

    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>



    <aside class="nhsuk-grid-column">
      <div id="sibling-nav" class="app-related-nav beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="app-related-nav__heading nhsuk-u-padding-bottom-3">
          More in
          
            <a href="/lab-4/a/symptoms/type/periods">Period symptoms</a>
          
        </h2>
        <nav role="navigation" class="app-related-nav__nav-section">
          <ul class="app-related-nav__list beta-hub-sibling-nav__list">

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/periods/breast-pain">
                Breast pain
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/periods/heavy-periods">
                Heavy periods
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item  beta-hub-sibling-nav--current" aria-current="true">
              Irregular periods
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/periods/ovulation-pain">
                Ovulation pain
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/periods/period-pain">
                Period pain
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/periods/post-menopausal-bleeding">
                Post menopausal bleeding
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/periods/stopped-or-missed-periods">
                Stopped or missed periods
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/periods/vaginal-discharge">
                Vaginal discharge
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/periods/vaginal-dryness">
                Vaginal dryness
              </a>
            </li>

          </ul>
        </nav>
      </div>
    </aside>

    

  </div>
</div>
{% endblock %}


