<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Diabetes - Health problems - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}

{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px;">   
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

          <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
              <div >
                <ol class="nhsuk-breadcrumb__list ">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
                  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
    
                  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/diabetes">Diabetes</a></li>    
                  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes">Type 2 Diabetes</a></li>             
                </ol>
                <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/diabetes/type-2-diabetes">Type 2 Diabetes</a></p>
              </div>
            </nav> 

        <h1>
          <span role="text">Health problems with type 2 diabetes
          </span>
        </h1>
        <p class="nhsuk-u-font-weight-bold" >You need to have regular check-ups if you have type 2 diabetes.</p>
      </div>
    </div>
    <article>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <section>     
            <p>It can lead to:</p>
            <ul>
              <li><a href="javascript:void(0);" title="">heart disease</a> and <a href="javascript:void(0);" title="">stroke</a></li>
              <li>loss of feeling and pain (nerve damage) – causing problems with sex</li>
              <li>foot problems, like sores and infections</li>
              <li>eye issues, like vision loss and blindness</li>
              <li>miscarriage and stillbirth</li>
              <li>problems with your kidneys</li>
            </ul>
            <h4>Health problem links</h4>
            <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p><a href="javascript:void(0);" title="">Heart disease</a></p>
              <p><a href="javascript:void(0);" title="">Stroke</a></p>
            </div>           
            <p>Controlling your blood sugar level and having regular diabetes check-ups is the best way to lower your risk of complications.</p>
          </section>
          <section>
            <h2 class="nhsuk-u-padding-top-5">Getting your heart checked</h2>
            <p>You should have your cholesterol (blood fats) and blood pressure checked at least once a year. Diabetes increases your risk of heart disease and stroke, so it's important that high blood pressure and high cholesterol are spotted and treated early.</p>          
            <p>If you're already being treated for high cholesterol and high blood pressure, keep taking your medicine.</p>      
            <p>Diabetes also worsens the effects of <a href="javascript:void(0);" title="">smoking</a> on your heart.
            <h4>Getting your heart checked links</h4>
            <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p><a href="javascript:void(0);" title="">Get help to quit smoking</a></p>
            </div>   
          </section>
          <section>
            <h2 class="nhsuk-u-padding-top-5">Loss of feeling</h2>
            <p>You should let your GP or diabetes nurse know if you notice any changes in your body.</p> 
            <p>Diabetes can damage your nerves (neuropathy). This usually affects your feet, but it can affect other parts of your body, causing:</p>   
            <ul>
              <li>numbness</li>
              <li>pain or tingling</li>
              <li>problems with sex</li>
              <li>constipation or diarrhoea</li>
            </ul>
            <p>Early treatment can prevent nerve damage getting worse.</p>
          </section>
          <section>
            <h2 class="nhsuk-u-padding-top-5">Looking after your feet</h2>
            <p>You should check your feet every day. Diabetes can reduce the blood supply to your feet and cause a loss of feeling. </p>            
            <p>This means foot injuries don't heal well and you may not notice if your foot is sore or injured. These problems can lead to ulcers and infections.</p>           
            <p>Simple things are important, like:</p>           
            <ul>
              <li>keeping feet clean and dry to avoid infection</li>
              <li>trying not to go barefoot outside to avoid nicks and cuts</li>
              <li>wearing shoes that fit well</li>
            </ul>     
            <p>Speak to your GP or diabetes nurse if you notice any changes in your feet, including:</p>
            <ul>
              <li>cuts, cracks or blisters</li>
              <li>pain or tingling</li>
              <li>numb feet</li>
            </ul>
            <div class="nhsuk-inset-text nhsuk-inset_external nhsuk-inset-text__arrow">
              <div class="nhsuk-inset-text__content">
                <p><a href="javascript:void(0);" title="">Diabetes UK: how to check your feet</a></p>
                <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">diabetes.org.uk</p>
              </div>
            </div> 
            <p>Your feet should also be checked every year by your GP, diabetes nurse or podiatrist.</p> 
            <p>Sores or infections that aren't treated early can lead to gangrene. More than 135 amputations resulting from diabetes are carried out every week in the UK.</p>
          </section>
          <section>
            <h2 class="nhsuk-u-padding-top-5">Checking your eyes</h2>
            <p>Your eyes should be checked every year for damaged blood vessels, which can cause sight problems (diabetic retinopathy) and blindness.</p>
            <p>Eye checks can detect damage before it affects your sight. Treating damaged blood vessels early can prevent sight problems.</p>
            <p>Speak to your GP immediately if you notice changes to your sight, including:</p>
            <ul>
              <li>blurred vision, especially at night</li>
              <li>shapes floating in your vision (floaters)</li>
              <li>sensitivity to light</li>
            </ul>       
            <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/lab-4/a-to-z/diabetic-eye-screening-find-a-service">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                  </svg>
                  <span class="nhsuk-action-link__text">Find a diabetic eye screening clinic</span>
                </a>
              </div>
              <h4>Eye check links</h4>
              <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p><a href="/lab-4/a-to-z/diabetic-eye-screening" title="">Diabetic eye screening</a></p>
                <p><a href="/lab-4/a-to-z/diabetic-retinopathy" title="">Diabetic retinopathy</a></p>
              </div>   
            </section>
            <section class="nhsuk-u-padding-bottom-8">
              <h2 class="nhsuk-u-padding-top-5">Pregnancy and diabetes</h2>
              <p>Speak to your GP or care team if you're thinking of having a baby.</p>
              <p>You can have a safe pregnancy and birth if you have type 2 diabetes. But you will need to take extra precautions and have more appointments before and during pregnancy.</p> 
              
            </section>
            <section>
                <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
                    <h2 class="">More in <a href="/lab-4/a-to-z/diabetes/type-2-diabetes">type 2 diabetes</a></a></h2>
                    <ul class="nhsuk-list app-side-nav__list">
          
                        <li class="app-side-nav__item "><a class="app-side-nav__link" href="javascript:void(0);">What is type 2 diabetes?</a></li>
                
                        <li class="app-side-nav__item"><a class="app-side-nav__link" href="javascript:void(0);">Symptoms</a></li>
                      
                        <li class="app-side-nav__item"><a class="app-side-nav__link" href="javascript:void(0);">Getting diagnosed</a></li>
                      
                        <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/medicines">Medicines</a></li>
                      
                        <li class="app-side-nav__item"><a class="app-side-nav__link" href="javascript:void(0);">Food and activity</a></li>
                      
                        <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/regular-check-ups">Regular check-ups</a></li>
                        
                        <li class="app-side-nav__item app-side-nav__item--current">Health problems</li>
                
                        <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/help-and-support">Help and support</a></li>
                
                      </ul>
                  </nav>
              <div class="nhsuk-review-date nhsuk-u-padding-top-5">
                <p class="nhsuk-body-s">
                  Page last reviewed: 8 August 2017<br>
                  Next review due: 8 August 2020
                </p>
              </div>
            </section>
          </div>
        </div>
      </article>
    </main>

{% endblock %}
