<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Diabetes - Going for regular check-ups - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px;">
  <section>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <section>
            <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
                <div >
                  <ol class="nhsuk-breadcrumb__list ">
                      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
      
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/diabetes">Diabetes</a></li>    
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes">Type 2 Diabetes</a></li>             
                  </ol>
                  <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/diabetes/type-2-diabetes">Type 2 Diabetes</a></p>
                </div>
              </nav> 


          <h1>
            <span role="text">Regular check-ups – type 2 diabetes
            </span>
          </h1>
          <p>Type 2 diabetes check-ups help to make sure your condition doesn't lead to other <a href="/lab-4/a-to-z/diabetes/type-2-diabetes/health-problems" title="">health problems.</a></p>
          <h4>Diabetes check-up links</h4>
          <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
            <span class="nhsuk-u-visually-hidden">Information:</span>
            <p><a href="/lab-4/a-to-z/diabetes/type-2-diabetes/health-problems" title="">Health problems</a></p>
          </div> 
        </section>
        <article>
          <section>
            <h2 class="nhsuk-u-padding-top-5">Every 3 months</h2>
            <h3>Blood sugar checks (HbA1C test)</h3>         
            <p>Checks your average blood sugar levels and how close they are to normal.</p>          
            <p>You have these checks every 3 months when newly diagnosed, then every 6 months once you're stable.</p>          
            <p>This can be done by your GP or diabetes nurse.</p> 
           </section>
          <section class="nhsuk-u-padding-bottom-8">
            <h2 class="nhsuk-u-padding-top-5">Once a year</h2>   
            <h3>Feet</h3>    
            <p>Checks if you've lost any feeling in your feet, and for ulcers and infections.</p>    
            <p>This can be done by your GP, diabetes nurse or podiatrist.</p>    
            <p>Speak to your GP immediately if you have cuts, bruises or numbness in your feet.</p> 
            <h3>Eyes</h3>
            <p><a href="/lab-4/a-to-z/diabetic-eye-screening" title="">Diabetic eye screening</a> checks for damage to blood vessels in your eyes.</p>             
            <p>Speak to your GP immediately if you have blurred vision.</p>
            <h4>Eye screening links</h4>
            <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p><a href="/lab-4/a-to-z/diabetic-eye-screening" title="">Diabetic eye screening</a></p>
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p><a href="/lab-4/a-to-z/diabetes/type-2-diabetes/health-problems">Health problems: diabetes - why eye checks are important</a></p>
            </div>           
            <h3>Blood pressure, cholesterol and kidneys</h3>            
            <p>Checks for high blood pressure, heart and kidney disease.</p>            
            <p>This can be done by your GP or diabetes nurse.</p>
            
          </section>
          <section>
              <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
                  <h2 class="">More in <a href="/lab-4/a-to-z/diabetes/type-2-diabetes">type 2 diabetes</a></a></h2>
                  <ul class="nhsuk-list app-side-nav__list">
                  
                      <li class="app-side-nav__item "><a class="app-side-nav__link" href="javascript:void(0);">What is type 2 diabetes?</a></li>
              
                      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/symptoms">Symptoms</a></li>
                    
                      <li class="app-side-nav__item"><a class="app-side-nav__link" href="javascript:void(0);">Getting diagnosed</a></li>
                    
                      <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/medicines">Medicines</a></li>
                    
                      <li class="app-side-nav__item"><a class="app-side-nav__link" href="javascript:void(0);">Food and activity</a></li>
                    
                      <li class="app-side-nav__item app-side-nav__item--current">Regular check-ups</li>
                      
                      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/health-problems">Health problems</a></li>
              
                      <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/help-and-support">Help and support</a></li>
              
                    </ul>
                </nav>
            <div class="nhsuk-review-date nhsuk-u-padding-top-5">
              <p class="nhsuk-body-s">
                Page last reviewed: 8 August 2017<br>
                Next review due: 8 August 2020
              </p>
            </div>
          </section>
        </article>
      </div>
    </div>
  </section>
</main>

{% endblock %}
