<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-5.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS Services - NHS.UK
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
      <div>
        <ol class="nhsuk-breadcrumb__list ">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-/">Home</a></li>
          <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-5/a-to-z">Health A to Z</a>
          </li> -->

        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-5/a-to-z">Health A to Z</a>
        </p>
      </div>
    </nav>

    <!-- Change the page title here -->
    <h1>
      NHS services
    </h1>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-lede-text">Find services near you, manage your prescriptions and use online NHS services.</p>
      </div>
    </div>

  </div>

  </div>

  <div class="nhsuk-grid-row ">
    <div class="nhsuk-grid-column-two-thirds">

      <h2 class="nhsuk-heading-s">If you think it's an emergency</h2>
      <ul class="nhsuk-list">
        <li><a href="javascript:void(0)">Find your
            nearest A&amp;E</a></li>
        <li>Call 999</li>
      </ul>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-top-6">If you need help now, and you're not sure what to do</h2>
      <ul class="nhsuk-list">
        <li>Go to <a href="javascript:void(0)">111.nhs.uk</a> or call 111</li>
      </ul>

    </div>
    <br><br><br>
  </div>



  <section id="Introduction">

    <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-top-6">

      <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
        <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="javascript:void(0)">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Find services near you</h3>
              <p class="nhsuk-promo__description">Find your nearest health service, including dentists, GPs, hospitals and pharmacies.              </p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>


      
      <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
        <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="/lab-5/nhs-services/prescriptions">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Perscriptions</h3>
              <p class="nhsuk-promo__description">Order repeat prescriptions and check prescription charges.</p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

    </div>


    <div class="nhsuk-grid-row nhsuk-promo-group">

      <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
        <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="/lab-5/nhs-services/online-services">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Online services</h3>
              <p class="nhsuk-promo__description">Order repeat prescriptions, book GP appointments, view your health records, or register as an organ donor.              </p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
        <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="javascript:void(0)">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Using the NHS</h3>
              <p class="nhsuk-promo__description">Answer your questions about how to access NHS services.</p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

    </div>



    <div class="nhsuk-grid-row nhsuk-promo-group">

      <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
        <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="javascript:void(0)">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Health records</h3>
              <p class="nhsuk-promo__description"></p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
        <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="javascript:void(0)">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Electronic referrals system</h3>
              <p class="nhsuk-promo__description"></p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

    </div>

    <div class="nhsuk-grid-row nhsuk-promo-group">

      <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
        <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="javascript:void(0)">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Help with health costs</h3>
              <p class="nhsuk-promo__description"></p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

    </div>


  </section>






</div>
</div>
{% endblock %}