<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-10.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Contact us - NHS
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block content %}

          <div class="nhsuk-u-reading-width">
            <h1>Contact the NHS</h1>
            
          </div>
        
          <div class="nhsuk-u-reading-width">
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="javascript:void(0);">Get medical help</a>
            </h2>
            
          </div>
        </div>
      
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="javascript:void(0);">Book, cancel or change an appointment</a>
            </h2>
            
          </div>
        </div>
      
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="javascript:void(0);">Find contact details for GPs, hospitals and other services</a>
            </h2>
            
          </div>
        </div>
      
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="javascript:void(0);">Give feedback or make a complaint</a>
            </h2>
            
          </div>
        </div>
      
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="javascript:void(0);">Report an accessibility problem</a>
            </h2>
            
          </div>
        </div>
      
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="javascript:void(0);">Get help with the isolation note</a>
            </h2>
            
          </div>
        </div>
      
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="javascript:void(0);">Get help with something else</a>
            </h2>
            
          </div>
        </div>
      
            
          </div>
      
        
      
        <div class="block-richtext"><hr>
      <p>Or view <a href="javascript:void(0);">contacts for professionals</a></p>
      </div>
      
      
{% endblock %}
