<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-10.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK home
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
<main class="nhsuk-main-wrapper nhsuk-main-wrapper--no-padding nhsuk-homepage nhsuk-u-padding-top-0" id="maincontent" role="main">

    <section class="nhsuk-section nhsuk-u-padding-top-4">
        <div class="nhsuk-width-container">
          <div class="nhsuk-grid-row">

            <div class="nhsuk-width-container">
              <main class="nhsuk-main-wrapper " id="maincontent" lang="en-GB">
              
      
        
          <div class="nhsuk-u-reading-width">
            <h1>Contact the NHS</h1>
            
          </div>
        
      
        
      
        
      
        
      
          <div class="nhsuk-u-reading-width">
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/contact-us/get-medical-help/">Get medical help</a>
            </h2>
            
          </div>
        </div>
      
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/contact-us/book-cancel-or-change-an-appointment/">Book, cancel or change an appointment</a>
            </h2>
            
          </div>
        </div>
      
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/contact-us/find-contact-details-gps-hospitals-and-other-services/">Find contact details for GPs, hospitals and other services</a>
            </h2>
            
          </div>
        </div>
      
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/lab-9/contact-nhs/complaint">Give feedback or make a complaint</a>
            </h2>
            
          </div>
        </div>
      
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/contact-us/report-accessibility-problem/">Report an accessibility problem</a>
            </h2>
            
          </div>
        </div>
      
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/contact-us/isolation-note-help/">Get help with the isolation note</a>
            </h2>
            
          </div>
        </div>
      
            
              
              
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/contact-us/get-help-with-something-else/">Get help with something else</a>
            </h2>
            
          </div>
        </div>
      
            
          </div>
      
        
      
        <div class="block-richtext"><hr>
      <p>Or view <a href="/contact-us/contacts-for-professionals/">contacts for professionals</a></p>
      </div>
      
      
              
            </main>
          </div>
{% endblock %}
