<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4a.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Blue skin or lips (cyanosis)</h1>
    </div>

    
    <p><strong>Cyanosis is where your skin or lips turn blue. It can be a sign of a serious problem.</strong></p>
    <h2>How to tell if you have blue skin or lips (cyanosis)</h2>
    <p>You may notice a blue colour on your:</p>
    <ul>
      <li>lips</li>
      <li>tongue</li>
      <li>gums</li>
      <li>skin</li>
      <li>ears</li>
      <li>under your nails</li>
    </ul>
    <p>If you have dark skin, cyanosis may be easier to see:</p>
    <ul>
      <li>on your lips, tongue and gums</li>
      <li>under your nails</li>
      <li>around your eyes</li>
    </ul>
    <p>Your hands and feet are usually a normal temperature unless you also have poor blood circulation.</p>

    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--emergency">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 or go to A&E if:</span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
    
      <div class="nhsuk-card__content">
    
        <ul>
          <li>your or your child's lips, tongue, face or skin suddenly turn blue</li>
        </ul>
        <p>You or your child may also have:</p>
        <ul>
          <li>difficulty breathing</li>
          <li>chest pain</li>
        </ul>
        <p>These are signs of a serious medical problem.</a></p>
    
      </div>
    </div>

    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">Urgent advice: </span>Call NHS 111 if</span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
    
      <div class="nhsuk-card__content">
    
        <ul>
          <li>your or your child's fingers, toes, hands and feet are blue</li>
        </ul>
        <p>This may be a sign of poor blood circultation.</p>
    
      </div>
    </div>

    <h2>Causes of blue skin or lips (cyanosis)</h2>
    <p>Cyanosis can mean there's not enough oxygen in your blood, or you have poor blood circulation. It can be caused by a serious problem with the:</p>
    <ul>
      <li>lungs, like <a href="javascript:void(0);">asthma</a> or <a href="javascript:void(0);">pneumonia</a></li>
      <li>airways like choking or <a href="javascript:void(0);">crouo</a></li>
      <li>heart, like heart failure or congenital heart disease</li>
    </ul>
    <p>Other causes of cyanosis include:</p>
    <ul>
      <li><a href="javascript:void(0);">Raynaud's</a>, which affects your fingers and toes</li>
      <li><a href="javascript:void(0);">beta blockers</a>, a medicine used to treat high blood pressure</li>
      <li>a <a href="javascript:void(0);">blood clot</a> that stops the blood supply to or from a limb</li>
      <li>being in cold air or water</li>
      <li>wearing clothing or jewellery that's too tight</li>
    </ul>

    <h2>Treatment for blue skin or lips (cyanosis)</h2>
    <p>Cyanosis is a symptom of many different conditions.</p>
    <p>Treatment depends on the cause.</p>
    


    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>





    

  </div>
</div>
{% endblock %}


