<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4a.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Symptoms</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Symptoms
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Night sweats</h1>
    </div>
    <p><strong>Most people sweat during the night. If you regularly wake up with soaking wet sheets you should get it checked by a GP.</strong></p>
    <h2>What night sweats are</h2>
    <p>It's normal to sweat during the night if the room or your bedding is making you too hot.</p>
    <p>Night sweats are when you sweat so much that your night clothes and bedding are soaking wet, even though where you're sleeping is cool.</p>
    <p>Adults and children can get night sweats.</p>

    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>See a GP if:</span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>

      <div class="nhsuk-card__content">

        <ul>
          <li>have night sweats regularly that wake you up or worry you</li>
          <li>also have a very high temperature (or feel hot and shivery), a cough or diarrhoea</li>
          <li>have night sweats and you're losing weight for no reason</li>
        </ul>
      </div>
    </div>

    <h2>Treatment from a GP</h2>
    <p>If you have night sweats, you will not usually need treatment, but the GP will want to check if you have any other symptoms.</p>
    <p>If you're taking medicine and the GP thinks it might be causing night sweats, they may prescribe a different one.</p>
    <h2>Causes of night sweats</h2>
    <p>The most common reasons for night sweats are:</p>
    <ul>
      <li>menopause symptoms ("hot flushes")</li>
      <li>anxiety</li>
      <li>medicines – some antidepressants, steroids and painkillers</li>
      <li><a href="javascript:void(0);">low blood sugar (hypoglycaemia)</a></li>
      <li>alcohol or drug use</li>
      <li>a harmless condition called <a href="javascript:void(0);">hyperhidrosis</a> that makes you sweat too much all the time</li>
    </ul>
    <p>Sometimes the cause of night sweats is unknown.</p>

    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>

    <aside class="nhsuk-grid-column">
      <div id="sibling-nav" class="app-related-nav beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="app-related-nav__heading nhsuk-u-padding-bottom-3">
          More in
          
            <a href="/lab-4/a/symptoms/body-part/skin">Skin, hair and nails</a>
          
        </h2>
        <nav role="navigation" class="app-related-nav__nav-section">
          <ul class="app-related-nav__list beta-hub-sibling-nav__list">

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/blue-skin">
                Blue skin
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/blushing">
                Blushing
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/body-odour">
                Body odour
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/excessive-sweating">
                Excessive sweating
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/fever-adults">
                Fever in adults
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/fever-children">
                Fever in children
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/hair-loss">
                Hair loss
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/hirsutism">
                Hirsutism
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/itchy-skin">
                Itchy skin
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/jaundice">
                Jaundice
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/lumps">
                Lumps
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/nail-problems">
                Nail problems
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item  beta-hub-sibling-nav--current" aria-current="true">
              Night sweats
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/rashes-babies">
                Rashes in babies
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/sore-or-dry-lips">
                Sore or dry lips
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/skin/stretch-marks">
                Stretch marks
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>







  </div>
</div>
{% endblock %}
