<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-5-pregnant.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - Being pregnant - Antenatal care - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}


{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <section>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <section>
            <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
                <div >
                  <ol class="nhsuk-breadcrumb__list ">
                      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/pregnancy">Pregnancy</a></li>             
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/pregnancy/pregnant">Being pregnant</a></li>             
  
                  </ol>
                  <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/pregnancy/pregnant">Being pregnant</a></p>
                </div>
              </nav> 


          <h1>
            <span role="text">
                Antenatal care
              </span>
          </h1>
          <p class="nhsuk-lede-text">Antenatal care is the care you get from health professionals during your pregnancy. It's sometimes called pregnancy care or maternity care.</p>  
        </section>

      <section>
        <h2 class="nhsuk-u-visually-hidden">All antenatal pages</h2>
        <ul class="key-links">
          <li><a href="javascript:void(0);">What is antenatal care?</a></li>
          <li><a href="javascript:void(0);">Antenatal checks and tests</a></li>
          <li><a href="javascript:void(0);">Your antenatal appointments</a></li>
          <li><a href="javascript:void(0);">Antenatal support: meet the team</a></li> 
          <li><a href="javascript:void(0);">Antenatal classes</a></li>   
        </ul>
      </section>
    </div>
  </div>
</section>
{% endblock %}  