
{% extends 'layout-lab-5-pregnant.html' %}

{% block pageTitle %}
 Pregnancy - Being pregnant - Foods to avoid in pregnancy - NHS.UK 
{% endblock %}


<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}

{% endblock %}


{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <section>
      
        <!--  <p class="nhsuk-u-margin-bottom-1" ><a href="/lab-4/a-to-z/pregnancy/pregnant" >Being pregnant</a></p>-->

        <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
            <div >
              <ol class="nhsuk-breadcrumb__list ">
                  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z">Health A to Z</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/pregnancy">Pregnancy</a></li>             
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/pregnancy/pregnant">Being pregnant</a></li>             
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/a-to-z/pregnancy/food-and-drink">Food and drink in pregnancy</a></li>             


              </ol>
              <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-4/a-to-z/pregnancy/food-and-drink">Food and drink in pregnancy</a></p>
            </div>
          </nav> 

        <h1>
          <span role="text">
            Food and drink to avoid in pregnancy
          </span>
        </h1> 
        <p class="nhsuk-lede-text">Know important facts about food and drink you should avoid, or be careful with, when you're pregnant.</p>
      </div>
    </section>
    <section>
        <h2 class="nhsuk-u-visually-hidden">Shortcuts</h2>
        <ul class="key-links">
          <li><a href="/lab-4/a-to-z/pregnancy/foods-to-avoid-meat">Meat and fish</a></li>
            <li><a href="/lab-4/a-to-z/pregnancy/foods-to-avoid-dairy">Dairy</a></li>
            <li><a href="/lab-4/a-to-z/pregnancy/foods-to-avoid-eggs-nuts">Eggs, nuts and others</a></li>
            <li><a href="/lab-4/a-to-z/pregnancy/foods-to-avoid-drinks">Drinks</a></li>
        </ul>
    </section>
       <!-- End of content -->
    </div>
  </div>
</section>
{% endblock %}
