<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-2b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Double vision</h1>
    </div>

    
    <p><strong>Double vision (diplopia) is not usually serious but it's important to get it checked, even if it comes and goes.</strong></p>
    <h2>Check if you have double vision</h2>
    <p>Double vision is when you look at 1 object but can see 2 images. It may affect 1 eye or both eyes.</p>
    <p>Signs that your child may have problems with their vision include:</p>
    <ul>
      <li>narrowing or squinting their eyes to try to see better</li>
      <li>covering 1 eye with their hand</li>
      <li>turning their head in unusual ways (for example, tilting their head)</li>
      <li>looking at you sideways instead of facing forward</li>
    </ul>
   
    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>See an optician or GP if:</span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
    
      <div class="nhsuk-card__content">
        <p>You think you or your child might have double vision.</p>
        <p><a href="javascript:void(0);">Find an optician</a></p>
      </div>
    </div>

    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">Urgent advice: </span>Get advice from 111 now if:</span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
    
      <div class="nhsuk-card__content">
    
        <ul>
          <li>you have eye pain and double vision</li>
          <li>you have a severe headache with blurred or double vision</li>
        </ul>
        <p>111 will tell you what to do. They can arrange a phone call from a nurse or doctor if you need one.</p>
        <p>Go to <a href="javascript:void(0);">111.nhs.uk</a> or <a href="javascript:void(0);">call 111</a></p>
    
      </div>
    </div>

    <h2>what happens at your appointment</h2>
    <p>An optician or GP can ask about your symptoms and do some simple, painless eye tests. They may refer you to an eye specialist in hospital for tests and treatment.</p>
    <p>The optician can also let you know if you need to see a GP instead.</p>

    <h2>Treating double vision</h2>
    <p>Your eyecare team or GP can advise you about the best treatment for double vision once they work out the cause.</p>
    <p>In some cases, this may be simple treatments such as eye exercises, wearing an eye patch or being prescribed glasses or contact lenses.</p>
    <p>Some conditions that cause double vision may require eye surgery to correct the problem.</p>

    <h2>Causes of double vision</h2>
    <p>Double vision has many possible causes, depending on whether 1 eye or both eyes are affected.</p>
    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>Try covering 1 eye at a time to see if your double vision goes away.</p><p>If you still have double vision in the eye that is not covered, it's probably only affecting that eye.</p>
    </div>

    <h3>Double vision affecting both eyes (binocular)</h3>
    <p>Double vision affecting both eyes is usually a symptom of a <a href="javascript:void(0);">squint</a>.</p>
    <p>This is where problems with the eye muscles or nerves cause the eyes to look in slightly different directions.</p>
    <p>Squints are more common in children but they do not always cause double vision. An untreated squint in children under 7 causes a <a href="javascript:void(0);">lazy eye</a> instead.</p>
    <p>Squints in adults are sometimes a sign of a more serious condition.</p>
    <h3>Double vision affectin 1 eye (monocular)</h3>
    <p>Double vision affecting 1 eye is less common. It's usually caused by eye problems such as:</p>
    <ul>
      <li><a href="javascript:void(0);">dry eyes</a> – where the eyes do not produce enough tears</li>
      <li><a href="javascript:void(0);">astigmatism</a> – a common condition where part of the eye is not a perfect shape</li>
      <li><a href="javascript:void(0);">cataracts</a> – cloudy patches over the front of the eyes</li>
      <li>keratoconus – where the clear outer layer of the eye (cornea) gets thinner and changes shape</li>
    </ul>
    
    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        
          Important
        
      </h3>
      
        <p>You must tell the Driver and Vehicle Licensing Agency (DVLA) if you're diagnosed with double vision as it could affect your ability to drive.</p>
        <p>Find out <a href="javascript:void(0);">how to tell the DVLA about double vision (diplopia)</a>.</p>
      
    </div>
    
    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>





    

  </div>
</div>
{% endblock %}


