<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-9-search-results.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Search - NHS.UK
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
      <div>
        <ol class="nhsuk-breadcrumb__list ">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-5/">Home</a></li>
          <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-5/a-to-z">Health A to Z</a>
          </li> -->

        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-5/home">Home</a>
        </p>
      </div>
    </nav>

    <!-- Change the page title here -->
    <main class="nhsuk-main-wrapper app-main-wrapper nhsuk-u-padding-top-0" id="maincontent">
        
      <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4 ">Search results for jobs</h1>
          <form class="nhsuk-header__search-form nhsuk-header__search-form--search-results" id="search" action="/search/" method="get" role="search">
            <label class="nhsuk-u-visually-hidden" for="search-results-field">Search the NHS website</label>
            <input class="nhsuk-search__input" id="search-results-field" name="search-field" type="search" value="jobs" autocomplete="off">
            <button class="nhsuk-search__submit" type="submit">
              <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
              </svg>
              <span class="nhsuk-u-visually-hidden">Search</span>
            </button>
          </form>
        </div>
      </div>
      <article>









        
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            

            <ul class="nhsuk-list">
                <li class="nhsuk-list-item--border nhsuk-u-padding-bottom-4 nhsuk-u-margin-bottom-4" data-fb-result="https://www.jobs.nhs.uk/" style="border-bottom: 1px solid #d8dde0;">
                    <p class="nhsuk-u-margin-bottom-0 nhsuk-body-s"><strong>External website</strong> &nbsp;·&nbsp; https://jobs.nhs.uk</p>
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2 nhsuk-u-padding-top-0">
                        <a href="/search/click?id=https%3A%2F%2Fwww.jobs.nhs.uk%2F&amp;url=https%3A%2F%2Fwww.jobs.nhs.uk%2F&amp;pos=1&amp;queryId=66f4e681f0f7ca56ddda01bcb9e8c3d8">
                          NHS Jobs - Candidate Homepage
                        </a>
                    </h2>
                    <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
                        Perform a job search, find jobs that match your skills, and apply for NHS jobs online. Register now so you can receive Jobs by E-mail to view new posts to suit your job search every day.
                    </p>
                </li>
                <li class="nhsuk-list-item--border nhsuk-u-padding-bottom-4 nhsuk-u-margin-bottom-4" data-fb-result="https://www.nhs.uk/conditions/downs-syndrome/support-for-adults/" style="border-bottom: 1px solid #d8dde0;">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
                        <a href="/search/click?id=https%3A%2F%2Fwww.nhs.uk%2Fconditions%2Fdowns-syndrome%2Fsupport-for-adults%2F&amp;url=https%3A%2F%2Fwww.nhs.uk%2Fconditions%2Fdowns-syndrome%2Fsupport-for-adults%2F&amp;pos=2&amp;queryId=66f4e681f0f7ca56ddda01bcb9e8c3d8">
                          
    Support for adults
    
                        </a>
                    </h2>
                    <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
                        If you have Down's syndrome you might need help with some things. Here is some information that might help you.
                    </p>
                </li>
                <li class="nhsuk-list-item--border nhsuk-u-padding-bottom-4 nhsuk-u-margin-bottom-4" data-fb-result="https://www.nhs.uk/mental-health/advice-for-life-situations-and-events/return-to-work-after-mental-health-issues/" style="border-bottom: 1px solid #d8dde0;">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
                        <a href="/search/click?id=https%3A%2F%2Fwww.nhs.uk%2Fmental-health%2Fadvice-for-life-situations-and-events%2Freturn-to-work-after-mental-health-issues%2F&amp;url=https%3A%2F%2Fwww.nhs.uk%2Fmental-health%2Fadvice-for-life-situations-and-events%2Freturn-to-work-after-mental-health-issues%2F&amp;pos=3&amp;queryId=66f4e681f0f7ca56ddda01bcb9e8c3d8">
                          Returning to work after mental health issues
                        </a>
                    </h2>
                    <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
                        Read about how to get back into work if you've been unemployed or on long-term sick leave because of mental or emotional health issues, such as depression, anxiety and stress.
                    </p>
                </li>
                <li class="nhsuk-list-item--border nhsuk-u-padding-bottom-4 nhsuk-u-margin-bottom-4" data-fb-result="https://www.nhs.uk/mental-health/advice-for-life-situations-and-events/how-to-cope-with-financial-worries/" style="border-bottom: 1px solid #d8dde0;">
                    <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
                        <a href="/search/click?id=https%3A%2F%2Fwww.nhs.uk%2Fmental-health%2Fadvice-for-life-situations-and-events%2Fhow-to-cope-with-financial-worries%2F&amp;url=https%3A%2F%2Fwww.nhs.uk%2Fmental-health%2Fadvice-for-life-situations-and-events%2Fhow-to-cope-with-financial-worries%2F&amp;pos=4&amp;queryId=66f4e681f0f7ca56ddda01bcb9e8c3d8">
                          Coping with financial worries
                        </a>
                    </h2>
                    <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
                        Read about how worries about money or losing your job can affect mental wellbeing, plus tips on coping with anxiety and where to seek help.
                    </p>
                </li>
        </ul>
            </div>
        </div>
      </article>
    
          </main>


 






</div>
</div>
{% endblock %}