<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3-diabetes.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Cancer - NHS.UK
{% endblock %}


<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}


{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->

      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
          <div >
            <ol class="nhsuk-breadcrumb__list ">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-5/">Home</a></li>
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-5/a-to-z">Health A to Z</a></li>
        
            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-5/a-to-z">Health A to Z</a></p>
          </div>
        </nav>


      <h1>Aspirin</h1>
      <p class="nhsuk-lede-text">Aspirin is an everyday painkiller for aches and pains like <a href="">headache</a>, <a href="">toothache</a> and <a href="">period pain</a>. It can also be used to treat <a href="">colds</a> and <a href="">’flu-like’</a> symptoms.</a></p>
      <section id="key-links" >
        <!--<h3 class="nhsuk-u-margin-bottom-0">Pages in this guide</h3>-->
        <ul class="key-links" class="nhsuk-u-padding-top-0">
          <li><a href="javascript:void(0);" title="">Aspirin for pain relief</a></li>
          <li><a href="/lab-5/a-to-z/aspirin/aspirin-low-dose" title="">Low-dose aspirin</a></li>
        </ul>
    </section>




    <section id="key-links" class="border-top" >
            <h3 class="nhsuk-u-margin-bottom-0">Related information</h3>
            <ul class="related-links" class="nhsuk-u-padding-top-0">
              <li><a href="javascript:void(0);" title="">Angina</a></li>
              <li><a href="/lab-5/a-to-z/heart-attack/" title="">Heart attack</a></li>    
              <li><a href="javascript:void(0);" title="">Stroke</a></li>
            </ul>
        </section>

          

    </div>      
</div>
{% endblock %}
