<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Pregnancy - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/home" class="nhsuk-breadcrumb__link">Home</a>
              </li>
      
              <li class="nhsuk-breadcrumb__item">
                <a href="/lab-3/a-to-z" class="nhsuk-breadcrumb__link">Health A to Z</a>
              </li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-3/a-to-z">Back to Health A to Z</a></p>
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->

      <p class="nhsuk-u-margin-bottom-1" ><a href="#" >Healthy living</a></p>

      <h1>
        <span role="text">
          Sleep and tiredness
        </span>
      </h1>
      <p class="nhsuk-lede-text">Feeling exhausted is so common that it has its own acronym, TATT, which stands for "tired all the time".</p>
    </div>
  </div>
</section>
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2>Why am I tired all the time?</h2>
      <p>We all feel tired from time to time. The reasons are usually obvious and include:</p>
      <ul>
        <li>too many late nights</li>
        <li>long hours spent at work</li>
        <li>a baby keeping you up at night</li>
      </ul>

      <p>But tiredness or exhaustion that goes on for a long time is not normal. It can affect your ability to get on and enjoy your life.</p>

      <p>Unexplained tiredness is one of the most common reasons for people to see their GP.</p>

      <h2>Why you might be tired all the time</h2>

      <p>Before you see a GP, you may want to work out how you became tired in the first place.</p>

      <p>It can be helpful to think about:</p>
      <ul>
        <li>parts of your life, such as work and family, that might be particularly tiring</li>
        <li>any events that may have triggered your tiredness, such as bereavement or a relationship break-up</li>
        <li>how your lifestyle may be making you tired</li>
      </ul>

      <p>A GP will look at the following causes of tiredness:</p>
      <ul>
        <li>psychological causes</li>
        <li>physical causes</li>
        <li>lifestyle causes</li>
      </ul>

      <h2>Psychological causes of tiredness</h2>

      <p>Psychological causes of tiredness are much more common than physical causes.</p>

      <p>Most psychological causes lead to poor sleep or insomnia, both of which cause daytime tiredness.</p>

      <p>Psychological causes include:</p>

      <h3>Stress</h3>

      <p>The strains of daily life can worry most of us at some point. It's also worth remembering that even positive events, such as moving house or getting married, can cause stress. </p>

      <p><a href="javascript:void(0);">Read more about how to deal with stress</a>.</p>

      <h3>Emotional shock</h3>

      <p>A bereavement, redundancy or a relationship break-up can make you feel tired and exhausted.</p>

      <h3>Depression</h3>

      <p>If you feel sad, low and lacking in energy, and you also wake up tired, you may have depression.</p>

      <p>Here's how to tell if you might have depression. See your GP if you think you are depressed.</p>

      <h3>Anxiety</h3>

      <p>If you have constant uncontrollable feelings of anxiety, you may have what doctors call generalised anxiety disorder (GAD).</p>

      <p>As well as feeling worried and irritable, people with GAD often feel tired. See a GP, as medication and talking therapies can help.</p>

      <p>If you think your tiredness may be a result of low mood or anxiety, try this short audio guide to dealing with your sleep problems.</p>

      <h2>Physical causes of tiredness</h2>

      <p>There are several health conditions that can make you feel tired or exhausted.</p>

      <p>These include:</p>
      <ul>
        <li>anaemia</li> 
        <li>underactive thyroid</li>
        <li>sleep apnoea</li>
      </ul>

      <p>Tiredness can also be the result of:</p>
      <ul>
        <li>pregnancy – particularly in the first 12 weeks</li>
        <li>being overweight or obese – your body has to work harder to do everyday activities</li>
        <li>being underweight – poor muscle strength can make you tire more easily</li>
        <li>cancer treatments, such as radiotherapy and chemotherapy</li>
        <li>carbon monoxide poisoning – especially if your gas boiler has not been serviced regularly</li>
        <li>side effects of medicines and some herbal remedies</li>
      </ul>

      <p>If you have been feeling constantly tired for more than 4 weeks, it's a good idea to see your GP so they can confirm or rule out a medical condition that could be causing your tiredness.</p>

      <p><a href="javascript:void(0);">Read more about the medical causes of tiredness</a>.</p>

      <h2>Lifestyle causes of tiredness</h2>

      <p>In today's 24/7 "always on" world, we often try to cram too much into our daily lives.</p>

      <p>And to try to stay on top of things, we sometimes consume too much alcohol or caffeine, or eat sugary and high-fat snacks on the go rather than sitting down for a proper meal.</p>

      <p>The main lifestyle causes of tiredness include:</p>

      <h3>Alcohol</h3>

      <p>Drinking too much interferes with the quality of your sleep. Stick to the guidelines of no more than 14 units a week for both men and women.</p>

      <p><a href="javascript:void(0);">Read more about how to cut down on alcohol</a>.</p>

      <h3>Exercise</h3>

      <p>Too much or too little exercise can affect how tired you feel.</p>

      <p><a href="javascript:void(0);">Read more about the benefits of exercise</a>.</p>

      <h3>Caffeine</h3>

      <p>Too much of this stimulant, found in tea, coffee, colas and energy drinks, can upset sleep and make you feel wound-up as well as tired.</p>

      <p>Try decaffeinated tea and coffee, or gradually cut out caffeine altogether.</p>

      <h3>Night shifts</h3>

      <p>Night workers often find they get tired more easily. This is more likely if the timing of the shifts keeps changing.</p>

      <h3>Daytime naps</h3>

      <p>If you're tired, you may nap during the day, which can make it more difficult to get a good night's sleep.</p>

      <p><a href="javascript:void(0);">Read more about how to change your lifestyle habits to boost your energy</a>.</p>

    </div>
  </div>
</section>
{% endblock %}
