<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-1b.html' %} {% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Symptoms - NHS {% endblock %} {% block beforeContent %}

<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
    <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="app-global-alert__content">
                    <div class="app-global-alert__message">
                        <h2>Coronavirus (COVID-19)</h2>
                        <p><a href="">Get the latest advice about COVID-19</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a href="" class="nhsuk-breadcrumb__backlink">
                <span class="nhsuk-u-visually-hidden">Back to </span>Home
            </a>
        </p>
    </div>
</nav>
{% endblock %}

<!-- Homepage content -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>Sore throat</h1>
    </div>
</div>
<article>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <section>
                <p data-block-key="o9gdf"><b>Sore throats are very common and usually nothing to worry about. They normally get better by themselves within a week.</b></p>
            </section>
            <section>
                <a id="self-care"></a>
                <h2>How to treat a sore throat yourself</h2>
                <p data-block-key="8nxuz">To help soothe a sore throat and shorten how long it lasts, you can:</p>
                <ul>
                    <li data-block-key="830rm">gargle with warm, salty water (children should not try this)</li>
                    <li data-block-key="ml90b">drink plenty of water</li>
                    <li data-block-key="spe5d">eat cool or soft foods</li>
                    <li data-block-key="nis7d">avoid smoking or smoky places</li>
                    <li data-block-key="6ftev">suck ice cubes, ice lollies or hard sweets – but do not give young children anything small and hard to suck because of the risk of choking</li>
                    <li data-block-key="g88hu">rest</li>
                </ul>
                <details class="nhsuk-details">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
    How to gargle with salt water
    </span>
                    </summary>
                    <div class="nhsuk-details__text">
                        <ol>
                            <li data-block-key="m0bqg">Dissolve half a teaspoon of salt in a glass of warm water (warm water helps salt dissolve).</li>
                            <li data-block-key="92rxr">Gargle with the solution, then spit it out (do not swallow it).</li>
                            <li data-block-key="r27ok">Repeat as often as you like.</li>
                        </ol>
                    </div>
                </details>
            </section>
            <section>
            </section>
            <section>
                <a id="medical-treatments"></a>
                <h2>A pharmacist can help with sore throats</h2>
                <p data-block-key="m5bvr">You can ask a pharmacist about ways of relieving the pain and discomfort of a sore throat, such as:</p>
                <ul>
                    <li data-block-key="d7f17"><a href="/medicines/paracetamol-for-adults/">paracetamol</a> or <a href="/medicines/ibuprofen-for-adults/">ibuprofen</a></li>
                    <li data-block-key="i3odl">medicated lozenges containing a local anaesthetic, antiseptic, or anti-inflammatory medicine</li>
                    <li data-block-key="k00mu">anaesthetic spray (although there's little proof they help)</li>
                </ul>
                <p data-block-key="4a8ik">You can buy these treatments from a supermarket or from a pharmacist without a prescription.</p>
            </section>
            <section>
                <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p data-block-key="a900e">Call your pharmacy or contact them online before going in person. You can get medicines delivered or ask someone to collect them.</p>
                </div>
                <div class="nhsuk-action-link">
                    <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/find-a-pharmacy/">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="36" width="36">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
                        <span class="nhsuk-action-link__text">Find a pharmacy</span>
                    </a>
                </div>
                <h3 data-block-key="3ci1n">Antibiotics</h3>
                <p data-block-key="a3lkc">You do not normally need antibiotics for a sore throat because they will not usually relieve your symptoms or speed up your recovery.</p>
                <p data-block-key="aqlet">They'll only be prescribed if a GP thinks you could have a bacterial infection.</p>
            </section>
            <section>
                <a id="non-urgent-medical-help"></a>
                <div class="nhsuk-care-card nhsuk-care-card--primary">
                    <div class="nhsuk-care-card__heading-container">
                        <h2 class="nhsuk-care-card__heading">
                            <span role="text">
        <span class="nhsuk-u-visually-hidden">Non-urgent advice:  </span>See a GP if:
                            </span>
                        </h2>
                        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
                    </div>
                    <div class="nhsuk-care-card__content">
                        <ul>
                            <li data-block-key="46fau">your sore throat does not improve after a week</li>
                            <li data-block-key="rf8bb">you often get sore throats</li>
                            <li data-block-key="0gj02">you're worried about your sore throat</li>
                            <li data-block-key="ls4ee">you have a sore throat and a very high temperature, or you feel hot and shivery</li>
                            <li data-block-key="k0hmt">you have a weakened immune system – for example, because of diabetes or chemotherapy</li>
                        </ul>
                        <p data-block-key="c2vnx">A severe or long-lasting sore throat could be something like strep throat (a bacterial throat infection).</p>
                        <div class="nhsuk-inset-text">
                            <span class="nhsuk-u-visually-hidden">Information: </span>
                            <h3>Coronavirus (COVID-19) update: how to contact a GP</h3>
                            <p>It's still important to get help from a GP if you need it. To contact your GP surgery:</p>
                            <ul>
                                <li>visit their website</li>
                                <li>use the <a href="/using-the-nhs/nhs-services/the-nhs-app/">NHS App</a></li>
                                <li>call them</li>
                            </ul>
                            <p><a href="/conditions/coronavirus-covid-19/using-the-nhs-and-other-health-services/">Find out about using the NHS during COVID-19</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <a id="emergency-medical-help"></a>
                <div class="nhsuk-care-card nhsuk-care-card--immediate">
                    <div class="nhsuk-care-card__heading-container">
                        <h2 class="nhsuk-care-card__heading">
                            <span role="text">
        <span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 if:
                            </span>
                        </h2>
                        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
                    </div>
                    <div class="nhsuk-care-card__content">
                        <p data-block-key="4tq1w">You or your child:</p>
                        <ul>
                            <li data-block-key="uhy15">have difficulty swallowing or breathing</li>
                            <li data-block-key="ldd7f">are drooling – this can be a sign of not being able to swallow</li>
                            <li data-block-key="95gjl">are making a high-pitched sound as you breathe (called stridor)</li>
                            <li data-block-key="alwlq">have severe symptoms and are getting worse quickly</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a id="symptoms"></a>
                <h2>Sore throat symptoms</h2>
                <p data-block-key="zu8zd">If you have a sore throat you might have:</p>
                <ul>
                    <li data-block-key="u5twi">a painful throat, especially when swallowing</li>
                    <li data-block-key="khj1w">a dry, scratchy throat</li>
                    <li data-block-key="wn6kt">redness in the back of your mouth</li>
                    <li data-block-key="cydda">bad breath</li>
                    <li data-block-key="p6l5i">a mild cough</li>
                    <li data-block-key="tn7j9">swollen neck glands</li>
                </ul>
                <p data-block-key="roo54">The symptoms are similar for children, but children can also get a temperature and appear less active.</p>
            </section>
            <section>
                <a id="causes"></a>
                <h2>Causes of sore throats</h2>
                <p data-block-key="34vyr">Sore throats are usually caused by viruses (like cold or flu) or from smoking. Very occasionally they can be caused by bacteria.</p>
                <p data-block-key="koulr">A sore throat can also be caused by:</p>
                <ul>
                    <li data-block-key="zwqph"><a href="/conditions/laryngitis/">laryngitis</a></li>
                    <li data-block-key="s7uss"><a href="/conditions/tonsillitis/">tonsillitis</a></li>
                    <li data-block-key="2oofs">strep throat (a bacterial throat infection)</li>
                    <li data-block-key="b2y93"><a href="/conditions/glandular-fever/">glandular fever</a></li>
                </ul>
            </section>
            <div>
                <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
                    Page last reviewed: 05 February 2021<br> Next review due: 05 February 2024
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock %}