<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-5.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Check a symptom - NHS.UK 
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <section>
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-8">
      <!-- Change the page title here -->


      <h1>
        Check a symptom
      </h1>
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
      <h2 class="nhsuk-heading-m">
        If you think it's an emergency:
      </h2> 
      <ul>
        <li>
          call <a href="">999</a>
        </li>
        <li>
          <a href="">
            find your nearest A&E
          </a>
        </li>
      </ul>

      <h2 class="nhsuk-heading-m">
        If you need help now, but it's not an emergency:
      </h2>
      <ul>
        <li>
          go to <a href="">111.nhs.uk</a> or call <a href="">111</a>
        </li>
      </ul>

      </div>

      <!-- Add your content here -->
      <!-- <h2>If you think there's an emergency</h2>
      {{ actionLink({
        "text": "Get medical help ",
        "href": "#/stuff"
      }) }} -->


      
    </div>
  </section>

  <section>
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-8">
    
      <h2>Body parts</h2>
      <!--<p>Gen text...</p>-->
      <div class="nhsuk-grid-row">


        <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "#/stuff",
            "heading": "Head, hair and face",
            "headingLevel": 3
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "#",
            "heading": "Ears",
            "headingLevel": 3
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "#",
            "heading": "Eyes",
            "headingLevel": 3
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "#/stuff",
            "heading": "Nose",
            "headingLevel": 3
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "#",
            "heading": "Jaw, mouth and teeth",
            "headingLevel": 3
          }) }}
        </div> 

         <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "#/stuff",
            "heading": "Neck and throat",
            "headingLevel": 3
          }) }}
        </div>

         <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "#/stuff",
            "heading": "Shoulders and arms",
            "headingLevel": 3
          }) }}
        </div>
          <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "#/stuff",
            "heading": "Wrists, hands and fingers",
            "headingLevel": 3
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "/lab-5/check-a-symptom/chest",
            "heading": "Chest and upper back",
            "headingLevel": 3
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "/lab-5/check-a-symptom/chest",
            "heading": "Stomach and sides",
            "headingLevel": 3
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "/lab-2/feet-and-legs",
            "heading": "Groin and genitals",
            "headingLevel": 3
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "#/stuff",
            "heading": "Bottom",
            "headingLevel": 3
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "/lab-5/check-a-symptom/heart",
            "heading": "Hips, legs and feet",
            "headingLevel": 3
          }) }}
        </div> 

         <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "#/stuff",
            "heading": "Skin",
            "headingLevel": 3
          }) }}
        </div>

         <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "#/stuff",
            "heading": "Bones",
            "headingLevel": 3
          }) }}
        </div>
          <div class="nhsuk-grid-column-one-half">
          {{ promo({
            "href": "#/stuff",
            "heading": "Whole body",
            "headingLevel": 3
          }) }}
        </div>

      </div>
    </div>  

  </section> 



<!-- End of content -->
</div>

<div >
  <ul class="key-links">
    <h2>Common winter symptoms</h2>
    <li><a href="javascript:void(0);" title="">Sickness and diarrhoea</a></li>
    <li><a href="javascript:void(0);" title="">Temprature</a></li>
    <li><a href="javascript:void(0);" title="">Coughs and sneezes</a></li>
  </ul>
</div>

{% endblock %}
