<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4a.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="/lab-4/a" class="nhsuk-breadcrumb__link">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Home
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Rashes in babies and children</h1>
    </div>

    
    <p><strong>Many things can cause a rash in babies and children, and they're often nothing to worry about.</strong></p>

    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--emergency">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 or go to A&E now if:</span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>
    
      <div class="nhsuk-card__content">
        <p>your child has a rash, is also unwell, and has any of these symptoms:</p>
        <ul>
          <li>a stiff neck</li>
          <li>bothered by light</li>
          <li>seems confused</li>
          <li>a high temperature</li>
          <li>their rash does not fade when you press a glass against it (<a href="javascript:void(0);">do the glass test from Meningitis Now</a>)</li>
          <li>difficulty breathing (you may notice grunting noises or their tummy sucking under their ribs), breathlessness, or they're breathing very fast</li>
          <li>their skin, lips or tongue look pale, blue, grey or blotchy</li>
        </ul>
        <p>These can be <a href="javascript:void(0);">signs of meningitis</a>.</p>
        <p>It can be harder to see a change in skin colour on brown and black skin. Check the soles of the feet, palms, lips, tongue and inside the eyelids for colour changes.</p>
    
      </div>
    </div>

    <p>As a parent, you may know if your child seems seriously unwell and should trust your own judgement.</p>
    
    
    <h2>Rash with a high temperature</h2>
    <h3>Rash on cheeks with high temperature</h3>

    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/C0220892-Fifth_Disease-SPL.width-320.jpg" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
        " srcset="
          https://assets.nhs.uk/nhsuk-cms/images/C0220892-Fifth_Disease-SPL.width-320.jpg 320w,
          https://assets.nhs.uk/nhsuk-cms/images/C0220892-Fifth_Disease-SPL.width-510.jpg 510w,
          https://assets.nhs.uk/nhsuk-cms/images/C0220892-Fifth_Disease-SPL.width-640.jpg 640w,
          https://assets.nhs.uk/nhsuk-cms/images/C0220892-Fifth_Disease-SPL.width-767.jpg 767w,
          https://assets.nhs.uk/nhsuk-cms/images/C0220892-Fifth_Disease-SPL.width-1019.jpg 1019w,
          https://assets.nhs.uk/nhsuk-cms/images/C0220892-Fifth_Disease-SPL.width-1125.jpg 1125w,
          https://assets.nhs.uk/nhsuk-cms/images/C0220892-Fifth_Disease-SPL.width-1534.jpg 1534w,
        " alt="Bright red spots covering a child's cheeks, shown on white skin.">
  

  
    <div class="nhsuk-u-visually-hidden" aria-hidden="true">
    Credit: 
    </div>
  
    </figure>
    
    <p>A rash on 1 or both cheeks plus a high temperature, runny nose, sore throat and headache may be <a href="javascript:void(0);">slapped cheek syndrome</a>. After a few days, a rash may appear on their body.</p>
    <p>Slapped cheek syndrome usually gets better on its own within 3 weeks. <a href="javascript:void(0);">Children's paracetamol</a> or <a href="javascript:void(0);">ibuprofen</a> can bring down a high temperature.</p>

    <h3>Blisters on hands and feet plus mouth ulcers</h3>

    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/2AB6A1W.width-320.png" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
        " srcset="
          https://assets.nhs.uk/nhsuk-cms/images/2AB6A1W.width-320.png 320w,
          https://assets.nhs.uk/nhsuk-cms/images/2AB6A1W.width-510.png 510w,
          https://assets.nhs.uk/nhsuk-cms/images/2AB6A1W.width-640.png 640w,
          https://assets.nhs.uk/nhsuk-cms/images/2AB6A1W.width-767.png 767w,
          https://assets.nhs.uk/nhsuk-cms/images/2AB6A1W.width-1019.png 1019w,
          https://assets.nhs.uk/nhsuk-cms/images/2AB6A1W.width-1125.png 1125w,
          https://assets.nhs.uk/nhsuk-cms/images/2AB6A1W.width-1534.png 1534w,
        " alt="Small, round, pink blisters on a child's hand and wrist, from hand, foot and mouth disease. Shown on white skin.">
        <div class="nhsuk-u-visually-hidden" aria-hidden="true">
          Credit: 
        </div>
    </figure>
    
    <p><a href="javascript:void(0);">Hand, foot and mouth disease</a> is a common childhood illness that causes blisters on the hands and feet, and ulcers in the mouth. It also causes a high temperature and your child may have a sore throat.</p>
    <p>It usually gets better in 7 to 10 days. <a href="javascript:void(0);">Children's paracetamol</a> can bring down a high temperature.</p>

    <h3>Rash on the face and body</h3>
    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/M2600209-Scarlet_fever_rash-SPL.width-320.jpg" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
        " srcset="
          https://assets.nhs.uk/nhsuk-cms/images/M2600209-Scarlet_fever_rash-SPL.width-320.jpg 320w,
          https://assets.nhs.uk/nhsuk-cms/images/M2600209-Scarlet_fever_rash-SPL.width-510.jpg 510w,
          https://assets.nhs.uk/nhsuk-cms/images/M2600209-Scarlet_fever_rash-SPL.width-640.jpg 640w,
          https://assets.nhs.uk/nhsuk-cms/images/M2600209-Scarlet_fever_rash-SPL.width-767.jpg 767w,
          https://assets.nhs.uk/nhsuk-cms/images/M2600209-Scarlet_fever_rash-SPL.width-1019.jpg 1019w,
          https://assets.nhs.uk/nhsuk-cms/images/M2600209-Scarlet_fever_rash-SPL.width-1125.jpg 1125w,
          https://assets.nhs.uk/nhsuk-cms/images/M2600209-Scarlet_fever_rash-SPL.width-1534.jpg 1534w,
        " alt="Red, spotty rash caused by scarlet fever on the chest, arms and neck of a child with white skin.">
      <div class="nhsuk-u-visually-hidden" aria-hidden="true">
        Credit: 
      </div>
    </figure>

    <p><a href="javascript:void(0);">Scarlet fever</a> causes a rash that looks like pinpricks and feels rough, like sandpaper. The rash can be red, but this may be less noticeable on brown and black skin.</p>
    <p>Scarlet fever usually starts with a white coating on the tongue, a sore throat, headache and a high temperature.</p>
    <p>See a GP immediately if you think your child has scarlet fever. It's treated with antibiotics.</p>

    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/S_0218_measles-face_M2100003_qU1SHlL.width-320.jpg" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
        " srcset="
          https://assets.nhs.uk/nhsuk-cms/images/S_0218_measles-face_M2100003_qU1SHlL.width-320.jpg 320w,
          https://assets.nhs.uk/nhsuk-cms/images/S_0218_measles-face_M2100003_qU1SHlL.width-510.jpg 510w,
          https://assets.nhs.uk/nhsuk-cms/images/S_0218_measles-face_M2100003_qU1SHlL.width-640.jpg 640w,
          https://assets.nhs.uk/nhsuk-cms/images/S_0218_measles-face_M2100003_qU1SHlL.width-767.jpg 767w,
          https://assets.nhs.uk/nhsuk-cms/images/S_0218_measles-face_M2100003_qU1SHlL.width-1019.jpg 1019w,
          https://assets.nhs.uk/nhsuk-cms/images/S_0218_measles-face_M2100003_qU1SHlL.width-1125.jpg 1125w,
          https://assets.nhs.uk/nhsuk-cms/images/S_0218_measles-face_M2100003_qU1SHlL.width-1534.jpg 1534w,
          " alt="A red, spotty rash on a child's face and shoulder, caused by measles. Shown on white skin.">
      <div class="nhsuk-u-visually-hidden" aria-hidden="true">
        Credit: 
      </div>
    </figure>

    <p><a href="javascript:void(0);">Measles</a> usually starts with the same symptoms as a cold, plus a high temperature, sore eyes that are sensitive to light and grey spots inside the cheeks.</p>
    <p>After a few days, a spotty rash appears on the head or neck and spreads to the rest of the body. The spots can appear red or brown, but they may be less noticeable on brown and black skin.</p>
    <p>Call a GP if you think your child has measles.</p>

 
    <h2>Rash with itching</h2>
    <h3>Rash caused by heat</h3>
    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/BHE1C7.width-320.jpg" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
        " srcset="
          https://assets.nhs.uk/nhsuk-cms/images/BHE1C7.width-320.jpg 320w,
          https://assets.nhs.uk/nhsuk-cms/images/BHE1C7.width-510.jpg 510w,
          https://assets.nhs.uk/nhsuk-cms/images/BHE1C7.width-640.jpg 640w,
          https://assets.nhs.uk/nhsuk-cms/images/BHE1C7.width-767.jpg 767w,
          https://assets.nhs.uk/nhsuk-cms/images/BHE1C7.width-1019.jpg 1019w,
          https://assets.nhs.uk/nhsuk-cms/images/BHE1C7.width-1125.jpg 1125w,
          https://assets.nhs.uk/nhsuk-cms/images/BHE1C7.width-1534.jpg 1534w,
        " alt="Patches of red skin across the upper back, caused by heat rash. Shown on white skin.">
      <div class="nhsuk-u-visually-hidden" aria-hidden="true">
        Credit: 
      </div>
    </figure>

    <p>Heat and sweat can cause raised spots or patches known as prickly heat or <a href="">heat rash</a>. The rash can look red, but it may be less noticeable on brown or black skin.</p>
    <p>It itches, so you may notice your child scratching.</p>
    <p>Heat rash usually gets better on its own after a few days.</p>

    <h3>Scaly or cracked skin</h3>

    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/C0083614-Atopic_eczema_on_back_of_knees-SPL.width-320.jpg" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
        " srcset="
          https://assets.nhs.uk/nhsuk-cms/images/C0083614-Atopic_eczema_on_back_of_knees-SPL.width-320.jpg 320w,
          https://assets.nhs.uk/nhsuk-cms/images/C0083614-Atopic_eczema_on_back_of_knees-SPL.width-510.jpg 510w,
          https://assets.nhs.uk/nhsuk-cms/images/C0083614-Atopic_eczema_on_back_of_knees-SPL.width-640.jpg 640w,
          https://assets.nhs.uk/nhsuk-cms/images/C0083614-Atopic_eczema_on_back_of_knees-SPL.width-767.jpg 767w,
          https://assets.nhs.uk/nhsuk-cms/images/C0083614-Atopic_eczema_on_back_of_knees-SPL.width-1019.jpg 1019w,
          https://assets.nhs.uk/nhsuk-cms/images/C0083614-Atopic_eczema_on_back_of_knees-SPL.width-1125.jpg 1125w,
          https://assets.nhs.uk/nhsuk-cms/images/C0083614-Atopic_eczema_on_back_of_knees-SPL.width-1534.jpg 1534w,
        " alt="Patches of red, scaly skin on the back of the knees, caused by eczema. Shown on white skin.">
    </figure>

    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/C0151634-Eczema_on_the_feet.width-320.png" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
        " srcset="
          https://assets.nhs.uk/nhsuk-cms/images/C0151634-Eczema_on_the_feet.width-320.png 320w,
          https://assets.nhs.uk/nhsuk-cms/images/C0151634-Eczema_on_the_feet.width-510.png 510w,
          https://assets.nhs.uk/nhsuk-cms/images/C0151634-Eczema_on_the_feet.width-640.png 640w,
          https://assets.nhs.uk/nhsuk-cms/images/C0151634-Eczema_on_the_feet.width-767.png 767w,
          https://assets.nhs.uk/nhsuk-cms/images/C0151634-Eczema_on_the_feet.width-1019.png 1019w,
          https://assets.nhs.uk/nhsuk-cms/images/C0151634-Eczema_on_the_feet.width-1125.png 1125w,
          https://assets.nhs.uk/nhsuk-cms/images/C0151634-Eczema_on_the_feet.width-1534.png 1534w,
        " alt="Patches of grey, scaly skin on a child's ankles and feet, caused by eczema. Shown on dark brown skin.">
    </figure>
    
    <p>Skin that's itchy, dry and cracked may be <a href="javascript:void(0);">atopic eczema</a>. It's common behind the knees, elbows and neck, but it can appear anywhere.</p>
    <p>The affected area may change colour. On white skin, the area may look pink or red. On brown and black skin, it may look grey or purple, or darker than surrounding skin.</p>
    <p>Speak to a GP if you think your child has eczema.</p>

    <h3><b>Raised, itchy spots or patches</b></h3>

    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/AP98R8.width-320.jpg" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
        " srcset="
          https://assets.nhs.uk/nhsuk-cms/images/AP98R8.width-320.jpg 320w,
          https://assets.nhs.uk/nhsuk-cms/images/AP98R8.width-510.jpg 510w,
          https://assets.nhs.uk/nhsuk-cms/images/AP98R8.width-640.jpg 640w,
          https://assets.nhs.uk/nhsuk-cms/images/AP98R8.width-767.jpg 767w,
          https://assets.nhs.uk/nhsuk-cms/images/AP98R8.width-1019.jpg 1019w,
          https://assets.nhs.uk/nhsuk-cms/images/AP98R8.width-1125.jpg 1125w,
          https://assets.nhs.uk/nhsuk-cms/images/AP98R8.width-1534.jpg 1534w,
        " alt="Raised patches and redness on a child's knee, caused by hives. Shown on light brown skin.">
    </figure>

    <p><a href="">Hives</a> causes a raised, itchy rash. It can look red, but this may be less noticeable on brown and black skin.</p>
    <p>The rash can be a sign of an allergic reaction to things like a sting, medicine or food.</p>
    <p>It usually gets better within a few days.</p>
    <p>Speak to a GP if your child keeps getting this type of rash. They may be allergic to something.</p>
    <p>Call 999 if there's swelling around their mouth.</p>

    <h3>Itchy round rash</h3>
    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/A_1017_ringworm_BHJDDF.width-320.jpg" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
        " srcset="
          https://assets.nhs.uk/nhsuk-cms/images/A_1017_ringworm_BHJDDF.width-320.jpg 320w,
          https://assets.nhs.uk/nhsuk-cms/images/A_1017_ringworm_BHJDDF.width-510.jpg 510w,
          https://assets.nhs.uk/nhsuk-cms/images/A_1017_ringworm_BHJDDF.width-640.jpg 640w,
          https://assets.nhs.uk/nhsuk-cms/images/A_1017_ringworm_BHJDDF.width-767.jpg 767w,
          https://assets.nhs.uk/nhsuk-cms/images/A_1017_ringworm_BHJDDF.width-1019.jpg 1019w,
          https://assets.nhs.uk/nhsuk-cms/images/A_1017_ringworm_BHJDDF.width-1125.jpg 1125w,
          https://assets.nhs.uk/nhsuk-cms/images/A_1017_ringworm_BHJDDF.width-1534.jpg 1534w,
        " alt="Circular patch of dry, red skin with a darker crust forming around the edge, caused by ringworm. Shown on white skin.">
    </figure>

    <figure class="nhsuk-image">
    <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/CT07BH_3YG697J.width-320.png" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
      " srcset="
        https://assets.nhs.uk/nhsuk-cms/images/CT07BH_3YG697J.width-320.png 320w,
        https://assets.nhs.uk/nhsuk-cms/images/CT07BH_3YG697J.width-510.png 510w,
        https://assets.nhs.uk/nhsuk-cms/images/CT07BH_3YG697J.width-640.png 640w,
        https://assets.nhs.uk/nhsuk-cms/images/CT07BH_3YG697J.width-767.png 767w,
        https://assets.nhs.uk/nhsuk-cms/images/CT07BH_3YG697J.width-1019.png 1019w,
        https://assets.nhs.uk/nhsuk-cms/images/CT07BH_3YG697J.width-1125.png 1125w,
        https://assets.nhs.uk/nhsuk-cms/images/CT07BH_3YG697J.width-1534.png 1534w,
      " alt="An oval-shaped patch of scaly, reddish-brown skin on a child's cheek, caused by ringworm. Shown on medium brown skin.">
    </figure>

    <p>An itchy, dry, ring-shaped patch of skin may be <a href="javascript:void(0);">ringworm</a>. The patch may look red, pink, silver, or darker than surrounding skin.</p><p data-block-key="fsm4g">Ask a pharmacist for a cream or lotion to treat ringworm.</p><p data-block-key="qdjvb">Speak to a GP if it appears on your child's scalp, as it may need to be treated with prescription medicine.</p>

    <h3>Small spots and blisters</h3>

    <figure class="nhsuk-image">
    <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/E5R0KE.width-320.jpg" sizes="
    (min-width: 1020px) 320px
    (min-width: 768px) 50vw
    100vw
  " srcset="
    https://assets.nhs.uk/nhsuk-cms/images/E5R0KE.width-320.jpg 320w,
    https://assets.nhs.uk/nhsuk-cms/images/E5R0KE.width-510.jpg 510w,
    https://assets.nhs.uk/nhsuk-cms/images/E5R0KE.width-640.jpg 640w,
    https://assets.nhs.uk/nhsuk-cms/images/E5R0KE.width-767.jpg 767w,
    https://assets.nhs.uk/nhsuk-cms/images/E5R0KE.width-1019.jpg 1019w,
    https://assets.nhs.uk/nhsuk-cms/images/E5R0KE.width-1125.jpg 1125w,
    https://assets.nhs.uk/nhsuk-cms/images/E5R0KE.width-1534.jpg 1534w,
  " alt="A red, spotty rash on the face, arms and back of a child caused by chickenpox. Shown on white skin.">  
    </figure>

    <p><a href="">Chickenpox</a> starts with small, itchy spots. The spots may look red, pink, the same colour or darker than surrounding skin, depending on your child's skin tone. At the start, the spots may be harder to see on brown and black skin.</p>
    <p>The spots quickly form blisters and then scabs.</p>
    <p>Some children have a few spots, while others have them all over their body.</p>
    
    <h3>Itchy sores or blisters</h3>

    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/S_0618_impetigo_on_face_of_child_M1800059.width-320.jpg" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
        " srcset="
          https://assets.nhs.uk/nhsuk-cms/images/S_0618_impetigo_on_face_of_child_M1800059.width-320.jpg 320w,
          https://assets.nhs.uk/nhsuk-cms/images/S_0618_impetigo_on_face_of_child_M1800059.width-510.jpg 510w,
          https://assets.nhs.uk/nhsuk-cms/images/S_0618_impetigo_on_face_of_child_M1800059.width-640.jpg 640w,
          https://assets.nhs.uk/nhsuk-cms/images/S_0618_impetigo_on_face_of_child_M1800059.width-767.jpg 767w,
          https://assets.nhs.uk/nhsuk-cms/images/S_0618_impetigo_on_face_of_child_M1800059.width-1019.jpg 1019w,
          https://assets.nhs.uk/nhsuk-cms/images/S_0618_impetigo_on_face_of_child_M1800059.width-1125.jpg 1125w,
          https://assets.nhs.uk/nhsuk-cms/images/S_0618_impetigo_on_face_of_child_M1800059.width-1534.jpg 1534w,
        " alt="The lower half of a child's face with red and yellow weepy sores on the nose and around the mouth caused by impetigo. Shown on white skin.">
    </figure>

    
    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/M1800105-Impetigo_skin_infection.width-320.png" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
      " srcset="
        https://assets.nhs.uk/nhsuk-cms/images/M1800105-Impetigo_skin_infection.width-320.png 320w,
        https://assets.nhs.uk/nhsuk-cms/images/M1800105-Impetigo_skin_infection.width-510.png 510w,
        https://assets.nhs.uk/nhsuk-cms/images/M1800105-Impetigo_skin_infection.width-640.png 640w,
        https://assets.nhs.uk/nhsuk-cms/images/M1800105-Impetigo_skin_infection.width-767.png 767w,
        https://assets.nhs.uk/nhsuk-cms/images/M1800105-Impetigo_skin_infection.width-1019.png 1019w,
        https://assets.nhs.uk/nhsuk-cms/images/M1800105-Impetigo_skin_infection.width-1125.png 1125w,
        https://assets.nhs.uk/nhsuk-cms/images/M1800105-Impetigo_skin_infection.width-1534.png 1534w,
      " alt="Impetigo on the chin. The patches are about 2cm wide, red and slightly orange, with darker scabs in the middle. Shown on brown skin.">
    </figure>

    <p>Red sores or blisters that burst and leave crusty, golden-brown patches could be <a href="">impetigo</a>. The redness may be harder to see on brown and black skin.</p>
    <p>The sores or blisters can be itchy, get bigger or spread to other parts of the body. They often appear on the face, hands or around the middle of the body.</p>
    <p>Speak to a GP if you think your child may have impetigo.</p>

    <h3>Tiny and very itchy spots</h3>
    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/ATB09B.width-320.jpg" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
        " srcset="
          https://assets.nhs.uk/nhsuk-cms/images/ATB09B.width-320.jpg 320w,
          https://assets.nhs.uk/nhsuk-cms/images/ATB09B.width-510.jpg 510w,
          https://assets.nhs.uk/nhsuk-cms/images/ATB09B.width-640.jpg 640w,
          https://assets.nhs.uk/nhsuk-cms/images/ATB09B.width-767.jpg 767w,
          https://assets.nhs.uk/nhsuk-cms/images/ATB09B.width-1019.jpg 1019w,
          https://assets.nhs.uk/nhsuk-cms/images/ATB09B.width-1125.jpg 1125w,
          https://assets.nhs.uk/nhsuk-cms/images/ATB09B.width-1534.jpg 1534w,
        " alt="A child's feet with many dark red spots from scabies. Some spots have redness around them. Shown on white skin.">
    </figure>

    <p><a href="javascript:void(0);">Scabies</a> is caused by tiny mites that burrow into the skin.</p>
    <p>Ask a pharmacist for a cream or lotion to treat scabies. Everyone in the household needs to be treated at the same time – even if they do not have symptoms.</p>
    <p>You should take your baby to a GP for advice if they are under 2 months old.</p>

      
    <h2>Rash without fever or itching</h2>
    <h3>Tiny spots on a baby's face</h3>
    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/A8E2HF.width-320.jpg" sizes="
      (min-width: 1020px) 320px
      (min-width: 768px) 50vw
      100vw
    " srcset="
      https://assets.nhs.uk/nhsuk-cms/images/A8E2HF.width-320.jpg 320w,
      https://assets.nhs.uk/nhsuk-cms/images/A8E2HF.width-510.jpg 510w,
      https://assets.nhs.uk/nhsuk-cms/images/A8E2HF.width-640.jpg 640w,
      https://assets.nhs.uk/nhsuk-cms/images/A8E2HF.width-767.jpg 767w,
      https://assets.nhs.uk/nhsuk-cms/images/A8E2HF.width-1019.jpg 1019w,
      https://assets.nhs.uk/nhsuk-cms/images/A8E2HF.width-1125.jpg 1125w,
      https://assets.nhs.uk/nhsuk-cms/images/A8E2HF.width-1534.jpg 1534w,
    " alt="Lots of white spots on a baby's nose. The spots are very small and close together. Shown on white skin.">
    </figure>

    <p>Very small spots, called milia, often appear on a baby's face when they're a few days old.</p>
    <p>Milia may appear white or yellow, depending on your baby's skin tone.</p>
    <p>They usually go away within a few weeks and do not need treatment.</p>
    <h3>Red, yellow and white spots in babies</h3>

    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/E5C9HA.width-320.jpg" sizes="
      (min-width: 1020px) 320px
      (min-width: 768px) 50vw
      100vw
    " srcset="
      https://assets.nhs.uk/nhsuk-cms/images/E5C9HA.width-320.jpg 320w,
      https://assets.nhs.uk/nhsuk-cms/images/E5C9HA.width-510.jpg 510w,
      https://assets.nhs.uk/nhsuk-cms/images/E5C9HA.width-640.jpg 640w,
      https://assets.nhs.uk/nhsuk-cms/images/E5C9HA.width-767.jpg 767w,
      https://assets.nhs.uk/nhsuk-cms/images/E5C9HA.width-1019.jpg 1019w,
      https://assets.nhs.uk/nhsuk-cms/images/E5C9HA.width-1125.jpg 1125w,
      https://assets.nhs.uk/nhsuk-cms/images/E5C9HA.width-1534.jpg 1534w,
    " alt="A red, spotty rash all over a baby's face. Some spots are in clusters. Shown on white skin.">
    </figure>

    <p>Raised red, yellow and white spots (erythema toxicum) can appear on babies when they're born. They usually appear on the face, body, upper arms and thighs.</p>
    <p>The rash can disappear and reappear.</p>
    <p>It should get better in a few weeks without treatment.</p>

    <h3>Pink or skin-coloured spots</h3>

    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/C0295240-Molluscum_contagiosum_papules.width-320.png" sizes="
      (min-width: 1020px) 320px
      (min-width: 768px) 50vw
      100vw
    " srcset="
      https://assets.nhs.uk/nhsuk-cms/images/C0295240-Molluscum_contagiosum_papules.width-320.png 320w,
      https://assets.nhs.uk/nhsuk-cms/images/C0295240-Molluscum_contagiosum_papules.width-510.png 510w,
      https://assets.nhs.uk/nhsuk-cms/images/C0295240-Molluscum_contagiosum_papules.width-640.png 640w,
      https://assets.nhs.uk/nhsuk-cms/images/C0295240-Molluscum_contagiosum_papules.width-767.png 767w,
      https://assets.nhs.uk/nhsuk-cms/images/C0295240-Molluscum_contagiosum_papules.width-1019.png 1019w,
      https://assets.nhs.uk/nhsuk-cms/images/C0295240-Molluscum_contagiosum_papules.width-1125.png 1125w,
      https://assets.nhs.uk/nhsuk-cms/images/C0295240-Molluscum_contagiosum_papules.width-1534.png 1534w,
  " alt="Raised, skin-coloured, fluid-filled spots from molluscum contagiosum. They’re 1mm to 5mm. Shown on medium brown skin.">
    </figure>

    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/S_0917_Molluscum-contagiosum_M2100039.width-320.jpg" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
    " srcset="
      https://assets.nhs.uk/nhsuk-cms/images/S_0917_Molluscum-contagiosum_M2100039.width-320.jpg 320w,
      https://assets.nhs.uk/nhsuk-cms/images/S_0917_Molluscum-contagiosum_M2100039.width-510.jpg 510w,
      https://assets.nhs.uk/nhsuk-cms/images/S_0917_Molluscum-contagiosum_M2100039.width-640.jpg 640w,
      https://assets.nhs.uk/nhsuk-cms/images/S_0917_Molluscum-contagiosum_M2100039.width-767.jpg 767w,
      https://assets.nhs.uk/nhsuk-cms/images/S_0917_Molluscum-contagiosum_M2100039.width-1019.jpg 1019w,
      https://assets.nhs.uk/nhsuk-cms/images/S_0917_Molluscum-contagiosum_M2100039.width-1125.jpg 1125w,
      https://assets.nhs.uk/nhsuk-cms/images/S_0917_Molluscum-contagiosum_M2100039.width-1534.jpg 1534w,
    " alt="About 20 raised, pink to brown spots caused by molluscum contagiosum. Shown on white skin.">
    </figure>

    <p>Small, firm, raised spots that can appear anywhere on the body are common in children and known as <a href="">molluscum contagiosum</a>.</p>
    <p>The spots can be the same colour as surrounding skin, darker than surrounding skin, or pink.</p>
    <p>Treatment is not recommended because the spots get better on their own, although it can take more than a year.</p>

    <h3>Red patches on a baby's bottom</h3>
    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/CB75D0.width-320.jpg" sizes="
        (min-width: 1020px) 320px
        (min-width: 768px) 50vw
        100vw
      " srcset="
        https://assets.nhs.uk/nhsuk-cms/images/CB75D0.width-320.jpg 320w,
        https://assets.nhs.uk/nhsuk-cms/images/CB75D0.width-510.jpg 510w,
        https://assets.nhs.uk/nhsuk-cms/images/CB75D0.width-640.jpg 640w,
        https://assets.nhs.uk/nhsuk-cms/images/CB75D0.width-767.jpg 767w,
        https://assets.nhs.uk/nhsuk-cms/images/CB75D0.width-1019.jpg 1019w,
        https://assets.nhs.uk/nhsuk-cms/images/CB75D0.width-1125.jpg 1125w,
        https://assets.nhs.uk/nhsuk-cms/images/CB75D0.width-1534.jpg 1534w,
      " alt="Rash on a baby's bottom. There is 1 very red patch. The skin surrounding that area is pink. Shown on white skin.">
    </figure>

    <p>With <a href="">nappy rash</a> your baby's skin may look sore and feel hot. There may be red patches on your baby's bottom or around the whole nappy area.</p>
    <p>There may be spots or blisters. It can make your child feel uncomfortable or distressed.</p>
    <p>You can buy cream from a pharmacy to help.</p>

    <h3>Pimples on the cheeks, nose and forehead</h3>
    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/T_1017_baby-acne_136651134.width-320.jpg" sizes="
      (min-width: 1020px) 320px
      (min-width: 768px) 50vw
      100vw
      " srcset="
        https://assets.nhs.uk/nhsuk-cms/images/T_1017_baby-acne_136651134.width-320.jpg 320w,
        https://assets.nhs.uk/nhsuk-cms/images/T_1017_baby-acne_136651134.width-510.jpg 510w,
        https://assets.nhs.uk/nhsuk-cms/images/T_1017_baby-acne_136651134.width-640.jpg 640w,
        https://assets.nhs.uk/nhsuk-cms/images/T_1017_baby-acne_136651134.width-767.jpg 767w,
        https://assets.nhs.uk/nhsuk-cms/images/T_1017_baby-acne_136651134.width-1019.jpg 1019w,
        https://assets.nhs.uk/nhsuk-cms/images/T_1017_baby-acne_136651134.width-1125.jpg 1125w,
        https://assets.nhs.uk/nhsuk-cms/images/T_1017_baby-acne_136651134.width-1534.jpg 1534w,
      " alt="A few small pink acne spots on a baby’s cheeks. Shown on white skin.">
    </figure>

    <p>Baby acne can appear within a month after birth but usually gets better after a few weeks or months.</p>
    <p>Washing your baby's face with water and a mild moisturiser can help.</p>
    <p>Do not use acne medicines intended for older children and adults.</p>

    <h3>Yellow, scaly patches on the scalp</h3>

    <figure class="nhsuk-image">
      <img class="nhsuk-image__img" src="https://assets.nhs.uk/nhsuk-cms/images/shutterstock_561450823.width-320.png" sizes="
      (min-width: 1020px) 320px
      (min-width: 768px) 50vw
      100vw
    " srcset="
      https://assets.nhs.uk/nhsuk-cms/images/shutterstock_561450823.width-320.png 320w,
      https://assets.nhs.uk/nhsuk-cms/images/shutterstock_561450823.width-510.png 510w,
      https://assets.nhs.uk/nhsuk-cms/images/shutterstock_561450823.width-640.png 640w,
      https://assets.nhs.uk/nhsuk-cms/images/shutterstock_561450823.width-767.png 767w,
      https://assets.nhs.uk/nhsuk-cms/images/shutterstock_561450823.width-1019.png 1019w,
      https://assets.nhs.uk/nhsuk-cms/images/shutterstock_561450823.width-1125.png 1125w,
      https://assets.nhs.uk/nhsuk-cms/images/shutterstock_561450823.width-1534.png 1534w,
    " alt="Yellow crusty patches on a baby's head. Some are larger than others. Shown on light brown skin.">
    </figure>

    <p><a href="">Cradle cap</a> is when a baby gets yellow or white, greasy, scaly patches on their scalp.</p>
    <p>It usually gets better without treatment in a few weeks or months.</p>
    <p>Gently washing your baby's hair and scalp with baby shampoo may help prevent more patches.</p>

   
    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>


    <aside class="nhsuk-grid-column">
      <div id="sibling-nav" class="app-related-nav beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="app-related-nav__heading nhsuk-u-padding-bottom-3">
          More in
          
            <a href="/lab-4/a/symptoms/type/childhood-symptoms">Symptoms in babies and children</a>
          
        </h2>
        <nav role="navigation" class="app-related-nav__nav-section">
          <ul class="app-related-nav__list beta-hub-sibling-nav__list">

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/childhood-symptoms/bedwetting">
                Bedwetting
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/childhood-symptoms/fever-children">
                Fever in children
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/childhood-symptoms/hip-pain-children">
               Hip pain in children
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/childhood-symptoms/limp-children">
                Limp in children
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item  beta-hub-sibling-nav--current" aria-current="true">
              Rashes in babies and children
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/childhood-symptoms/reflux-babies">
                Reflux in babies
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/type/childhood-symptoms/soiling">
                Soiling
              </a>
            </li>
              
          </ul>
        </nav>
      </div>
    </aside>




    

  </div>
</div>
{% endblock %}


