<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Symptoms</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Symptoms
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Chest pain</h1>
    </div>


    <p><strong>Most chest pain is not a sign of anything serious but you should get medical advice just in case. Get immediate medical help if you think you're having a heart attack.</strong></p>
    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--emergency">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 if:</span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>

      <div class="nhsuk-card__content">
        <p>You have sudden chest pain that:</p>
        <ul>
          <li>spreads to your arms, back, neck or jaw</li>
          <li>makes your chest feel tight and heavy</li>
          <li>also started with shortness of breath, sweating and feeling or being sick</li>
          <li>lasts more than 15 minutes</li>
        </ul>
        <p>You could be having a <a href="javascript:void(0);">heart attack</a>. Call 999 immediately as you need immediate treatment in hospital.</p>

      </div>
    </div>

    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
      <div class="nhsuk-card--care__heading-container">
        <h2 class="nhsuk-card--care__heading">
          <span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>See a GP if:</span>
        </h2>
        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
      </div>

      <div class="nhsuk-card__content">

        <ul>
          <li>you have chest pain that comes and goes</li>
          <li>you have chest pain that goes away quickly but you're still worried</li>
        </ul>
      </div>
    </div>
    <h2>Common causes of chest pain</h2>
    <p>Chest pain has many different causes. In most cases, chest pain is not caused by a heart problem.</p>
    <p>Your symptoms might give you an idea of the cause. Don't self-diagnose – see a GP if you're worried.</p>

    <div class="nhsuk-table-container">
      <table><caption class="nhsuk-u-visually-hidden">Possible causes</caption>
<thead>
<tr>
  <th scope="col">Chest pain symptoms</th>
  <th scope="col">Possible cause</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Starts after eating, bringing up food or bitter tasting fluids, feeling full and bloated</td>
  <td><a href="javascript:void(0);">heartburn</a> or <a href="javascript:void(0);">indigestion</a></td>
</tr>
<tr>
  <td>Starts after chest injury or chest exercise, feels better when resting the muscle</td>
  <td><a href="javascript:void(0);">chest sprain or strain</a></td>
</tr>
<tr>
  <td>Triggered by worries or a stressful situation, heartbeat gets faster, sweating, dizziness</td>
  <td><a href="javascript:void(0);">anxiety</a> or <a href="javascript:void(0);">panic attack</a></td>
</tr>
<tr>
  <td>Gets worse when you breathe in and out, coughing up yellow or green mucus, high temperature</td>
  <td><a href="javascript:void(0);">chest infection</a> or <a href="javascript:void(0);">pneumonia</a></td>
</tr>
<tr>
  <td>Tingling feeling on skin, skin rash appears that turns into blisters</td>
  <td><a href="javascript:void(0);">shingles</a></td>
</tr>
</tbody>
</table>

    </div>

    <h2>Chest pain and heart problems</h2>
    <p>The most common heart problems that cause chest pain include:</p>
    <ul>
      <li><a href="javascript:void(0);">pericarditis</a> – which usually causes a sudden, sharp, stabbing pain that gets worse when you breathe deeply or lie down</li>
      <li><a href="javascript:void(0);">angina</a> or a <a href="javascript:void(0);">heart attack</a> – which have similar symptoms but a heart attack is life-threatening</li>
    </ul>
    <p>You're more likely to have heart problems if you're older or know you're at risk of <a href="javascript:void(0);">coronary heart disease</a>.</p>
    <p>For example, if you:</p>
    <ul>
      <li>smoke</li>
      <li>are <a href="javascript:void(0);">very overweight (obese)</a></li>
      <li>have <a href="javascript:void(0);">high blood pressure</a>, <a href="javascript:void(0);">diabetes</a> or <a href="javascript:void(0);">high cholesterol</a></li>
      <li>have a history of heart attacks or angina in family members under 60 years old</li>
    </ul>


    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>







  </div>
</div>
{% endblock %}
