<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->
<div class="app-global-alert" id="app-global-alert" role="complementary">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="app-global-alert__content">
          <div class="app-global-alert__message">
            <h2>Coronavirus (COVID-19)</h2>
            <p><a href="">Get the latest advice about COVID-19</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Symptoms</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Symptoms
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Jaundice</h1>
    </div>
    <p><strong>Joint pain is a very common problem with many possible causes, but it's usually a result of injury or arthritis.</strong></p>
    <p>In older people, joint pain that gets steadily worse is usually a sign of <a href="javascript:void(0);">osteoarthritis</a>. It may affect just 1 joint or many.</p>
    <p>See your GP if you have persistent <a href="javascript:void(0);">symptoms of osteoarthritis</a>.</p>
    <p>The information and advice on this page should not be used to self-diagnose your condition, but may give you a better idea of what's causing your pain.</p>
    <h2>Pain in just 1 joint</h2>
    <h3>Knee pain</h3>
    <p>The knee joint is probably the most frequently damaged joint and is particularly vulnerable as it takes the full weight of your body.</p>
    <p>But knee pain is not always a joint problem. Learn about the most common <a href="javascript:void(0);">causes of knee pain</a> and what you should do.</p>
    <h3>Inflammation of the joint lining</h3>
    <p>If you have injured the joint recently and it suddenly becomes painful again, the thin layer of tissue lining the joints and tendons may be inflamed, a condition called traumatic synovitis.</p>
    <p>It usually does not cause any redness or heat.</p>
    <p>You should be able to manage injury-related swelling at home with <a href="javascript:void(0);">anti-inflammatory medicines</a>, such as ibuprofen, an icepack and rest.</p>
    <h3>Gout or pseudogout</h3>
    <p>If the skin over the joint is hot and red, and the pain comes in repeated attacks, the cause is likely to be either <a href="javascript:void(0);">gout</a> or pseudogout.</p>
    <p>Both of these are types of arthritis.</p>
    <p>Gout usually affects the joint of the big toe first before affecting other joints.</p>
    <p>It's important to correctly diagnose gout, as treatment will prevent future attacks of joint pain and disability.</p>
    <p>Pseudogout is similar to gout, but usually affects the knee joint first.</p>
    <p>See your GP if you think you have gout or pseudogout.</p>
    <h3>Damage to the cartilage at the back of the kneecap</h3>
    <p>Knee pain that feels worse when you go up or down stairs could be a sign of a damaged kneecap, called chondromalacia patellae.</p>
    <p>This should not cause any redness or heat around the knee.</p>
    <p>The cause is not understood, but it can be linked to overuse of the knee.</p>
    <p>You can treat this problem yourself with <a href="javascript:void(0);">anti-inflammatory medicines</a> such as ibruprofen, an icepack and rest.</p>
    <h3>Bleeding into the joint space</h3>
    <p>If you have recently had an injury to the knee joint, such as a torn ligament or knee fracture, it may cause bleeding into the joint spaces. This is known as haemarthrosis.</p>
    <p>This is more likely to happen if you take <a href="javascript:void(0);">anticoagulants</a>, such as <a href="javascript:void(0);">warfarin</a>.</p>
    <p>Signs of haemarthrosis are:</p>
    <ul>
      <li>swelling of the knee</li>
      <li>warmth</li>
      <li>stiffness and bruising, which occur soon after the injury</li>
    </ul>
    <p>Go to A&E immediately for treatment if you have a very swollen knee following an injury.</p>
    <h3>Less common causes</h3>
    <p>Sudden pain in a joint is less commonly caused by:</p>
    <ul>
      <li>a fracture – read about a <a href="javascript:void(0);"></a>broken arm or wrist, <a href="javascript:void(0);">broken leg</a>, <a href="javascript:void(0);">broken ankle</a> or <a href="javascript:void(0);">hip fracture</a></li>
      <li><a href="javascript:void(0);">reactive arthritis</a> – which usually develops after an infection and tends to affect young adults</li>
      <li><a href="javascript:void(0);">psoriatic arthritis</a> – a type of arthritis that affects up to 1 in 5 people with psoriasis</li>
      <li><a href="javascript:void(0);">rheumatoid arthritis</a> – which can start in just 1 joint, with the pain coming and going </li>
      <li><a href="javascript:void(0);">Osgood-Schlatter's disease</a> – swelling and tenderness over the bony bump just below the kneecap</li>
    </ul>
    <p>Rarely, the cause may be:</p>
    <ul>
      <li><a href="javascript:void(0);">septic arthritis</a> – a serious health condition that causes a painful, hot, swollen joint that you will not be able to move (sometimes with a high temperature); see your GP urgently or go to A&E</li>
      <li><a href="javascript:void(0);">haemophilia</a> – an inherited illness that affects the blood's ability to clot</li>
      <li>a tropical infection</li>
      <li>cancer</li>
      <li>crumbling of the bone (avascular necrosis) – caused by a lack of blood supply</li>
      <li>repeated dislocation of the joint</li>
    </ul>
    <h2>Pain in many joints</h2>
    <h3>Rheumatoid arthritis</h3>
    <p><a href="javascript:void(0);">Rheumatoid arthritis</a> is a type of arthritis that causes pain and swelling in the joints, usually the hands, feet and wrists.</p>
    <p>The pain may come and go in the early stages, with long periods between attacks.</p>
    <p>It can make you feel generally unwell and tired.</p>
    <p><a href="javascript:void(0);">Find out more about the symptoms of rheumatoid arthritis</a></p>
    <h3>Psoriatic arthritis</h3>
    <p>Psoriatic arthritis affects up to 1 in 5 people with <a href="javascript:void(0);">psoriasis</a>.</p>
    <p>This type of arthritis is unpredictable, but flare-ups can usually be controlled with treatment.</p>
    <p>Like other types of arthritis, it means that 1 or more of your joints are inflamed and become swollen, stiff, painful and difficult to move.</p>
    <h3>A viral infection that causes arthritis</h3>
    <p>Examples of viral infections that can cause pain in the joints and symptoms of a fever include:</p>
    <ul>
      <li>viral <a href="javascript:void(0);">hepatitis</a> – liver inflammation caused by a virus</li>
      <li><a href="javascript:void(0);">rubella</a> – a viral infection that used to be common in children</li>
    </ul>
    <h3>A disease of the connective tissue</h3>
    <p>Widespread joint pain is sometimes a sign of a disease that affects almost all the organs of the body, such as:</p>
    <ul>
      <li><a href="javascript:void(0);">lupus</a>  – where the immune system mistakenly attacks healthy cells, tissue and organs</li>
      <li><a href="javascript:void(0);">scleroderma</a> – where the immune system attacks connective tissue underneath the skin, causing hard, thickened areas of skin</li>
    </ul>
    <h3>Less common causes</h3>
    <p>Widespread joint pain can less commonly be caused by:</p>
    <ul>
      <li>a rarer type of arthritis – such as <a href="javascript:void(0);">ankylosing spondylitis</a>, <a href="javascript:void(0);">juvenile arthritis</a> or <a href="javascript:void(0);">reactive arthritis</a></li>
      <li><a href="javascript:void(0);">Behçet's syndrome</a> – a rare and poorly understood condition that causes inflammation of the blood vessels</li>
      <li><a href="javascript:void(0);">Henoch-Schönlein purpura</a> – a rare condition, usually seen in children, that causes blood vessels to become inflamed</li>
      <li>cancer </li>
      <li>some treatments – including <a href="javascript:void(0);">steroid therapy</a>, isoniazid and hydralazine</li>
      <li>hypertrophic pulmonary osteoarthropathy – a rare disorder that causes clubbing of the fingers, seen in people with lung cancer</li>
      <li><a href="javascript:void(0);">sarcoidosis</a> – a rare condition that causes small patches of tissue to develop in the organs</li>
    </ul>



    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>







  </div>
</div>
{% endblock %}
