<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4b.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Coronavirus (COVID-19) banner -->

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Symptoms</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Symptoms
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Sore or dry lips</h1>
    </div>
  </div>

  <article>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <section>
          <p data-block-key="zqkmz"><b>Dry or sore lips are a common problem, especially during hot or cold weather.
            There are things you can try yourself that may help.</b></p>
        </section>
        <section>
          <a id="self-care"></a>
          <h2>Things you can try if you have sore or dry lips</h2>
          <div class="nhsuk-do-dont-list">
            <h3 class="nhsuk-do-dont-list__label">
              Do
            </h3>
            <ul class="nhsuk-list nhsuk-list--tick">
              <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     fill="none" aria-hidden="true" height="34" width="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                </svg>
                <p data-block-key="5yieh">use a lip balm containing petroleum jelly or beeswax – you can buy these at a
                  pharmacy or supermarket</p>
              </li>
              <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     fill="none" aria-hidden="true" height="34" width="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                </svg>
                <p data-block-key="8op27">try a few different lip balms if one is not working for you – some people may
                  be sensitive to some fragrances, dyes or cosmetic ingredients</p>
              </li>
              <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     fill="none" aria-hidden="true" height="34" width="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                </svg>
                <p data-block-key="b9e1o">wash your hands before applying lip balm</p>
              </li>
              <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     fill="none" aria-hidden="true" height="34" width="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                </svg>
                <p data-block-key="nmra5">use a lip balm with a sun protection factor (SPF) of 15 or more every 2 hours
                  when outdoors</p>
              </li>
              <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     fill="none" aria-hidden="true" height="34" width="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                </svg>
                <p data-block-key="8ts24">cover your lips with a scarf when you're outside in cold weather</p>
              </li>
              <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     fill="none" aria-hidden="true" height="34" width="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                </svg>
                <p data-block-key="9v60c">drink plenty of water to avoid becoming dehydrated</p>
              </li>
            </ul>
          </div>
          <div class="nhsuk-do-dont-list">
            <h3 class="nhsuk-do-dont-list__label">
              Don’t
            </h3>
            <ul class="nhsuk-list nhsuk-list--cross">
              <li>
                <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     aria-hidden="true" width="34" height="34">
                  <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"
                        fill="#d5281b"></path>
                  <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"
                        fill="#d5281b"></path>
                </svg>
                <p data-block-key="yu487">do not pick or bite any flaky skin on your lips – this can slow down
                  healing</p>
              </li>
              <li>
                <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     aria-hidden="true" width="34" height="34">
                  <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"
                        fill="#d5281b"></path>
                  <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"
                        fill="#d5281b"></path>
                </svg>
                <p data-block-key="ar3x1">do not keep licking dry or cracked lips – this can make them sore</p>
              </li>
              <li>
                <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     aria-hidden="true" width="34" height="34">
                  <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"
                        fill="#d5281b"></path>
                  <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"
                        fill="#d5281b"></path>
                </svg>
                <p data-block-key="f063z">do not share lip balms with other people – this can spread germs</p>
              </li>
            </ul>
          </div>

          <h2 data-block-key="8fafh">A pharmacist can help with sore or dry lips</h2>
          <p data-block-key="3hvf1">A pharmacist can advise you about:</p>
          <ul>
            <li data-block-key="fjv95">the best treatments for dry or sore lips</li>
            <li data-block-key="dfgps">if you need to see a GP</li>
          </ul>

          <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/pharmacy/find-a-pharmacy">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 24 24" aria-hidden="true" height="36" width="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Find a pharmarcy</span>
            </a>
          </div>
        </section>

        <section>
          <a id="non-urgent-medical-help"></a>
          <div class="nhsuk-care-card nhsuk-care-card--primary">
            <div class="nhsuk-care-card__heading-container">
              <h2 class="nhsuk-care-card__heading">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">Non-urgent advice:  </span>See a GP if:
      </span>
              </h2>
              <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
            </div>
            <div class="nhsuk-care-card__content">
              <ul>
                <li data-block-key="z7s4t">your lips are hot, painful and swollen – this could be a sign of infection
                </li>
              </ul>
              <p data-block-key="gbcrw">If your GP thinks you have an infected lip, they may prescribe an antibiotic or
                antifungal cream to treat the problem.</p>
              <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <h3>Coronavirus (COVID-19) update: how to contact a GP</h3>
                <p>It's still important to get help from a GP if you need it. To contact your GP surgery:</p>
                <ul>
                  <li>visit their website</li>
                  <li>use the <a href="/using-the-nhs/nhs-services/the-nhs-app/">NHS App</a></li>
                  <li>call them</li>
                </ul>
                <p><a href="/conditions/coronavirus-covid-19/using-the-nhs-and-other-health-services/">Find out about
                  using the NHS during COVID-19</a></p>
              </div>
            </div>
          </div>
        </section>

        <section>
          <a id="causes"></a>
          <h2>Common causes of sore or dry lips</h2>
          <p data-block-key="k4rxt">Sore or dry lips can be caused by many things.</p>
          <p data-block-key="ah065">Common causes include:</p>
          <ul>
            <li data-block-key="ftbsp">cold weather, dry air or wind</li>
            <li data-block-key="182k6">damage from the sun</li>
            <li data-block-key="eg6fu">dehydration</li>
            <li data-block-key="8jdvg">a lip injury</li>
            <li data-block-key="2udl4">allergies</li>
          </ul>
          <p data-block-key="bhkhg">Sometimes they can be caused by a lack of vitamins and minerals.</p>
          <p data-block-key="51d3b">If you have a small, fluid-filled blister on your lip, you may have a cold sore.</p>
          <p data-block-key="c9lm4">Most people with cold sores get a tingling, burning or itching feeling on their lip
            before the blister appears.</p>
        </section>

        <div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
            Page last reviewed: 23 December 2021<br>
            Next review due: 23 December 2024
          </p>
        </div>

      </div>

    </div>
  </article>

{% endblock %}
