<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4b.html' %} {% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Symptoms - NHS {% endblock %}

<!-- Coronavirus (COVID-19) banner -->
{% block beforeContent %}

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a href="" class="nhsuk-breadcrumb__backlink">
                <span class="nhsuk-u-visually-hidden">Back to </span>Home
            </a>
        </p>
    </div>
</nav>
{% endblock %}

<!-- Homepage content -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>
            Dysphagia (swallowing problems)
        </h1>
    </div>
</div>
<article>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <section>
                <p data-block-key="ryloh"><b>Dysphagia is&nbsp;the medical term for swallowing difficulties.</b></p>
                <p data-block-key="iuq0o">Some people with dysphagia have problems swallowing certain foods or liquids, while others can't swallow at all.</p>
                <p data-block-key="9bwhp">Other signs of dysphagia include:</p>
                <ul>
                    <li data-block-key="f4ttk"><a href="/conditions/cough/">coughing</a> or choking when eating or drinking</li>
                    <li data-block-key="60ocq">bringing food back up, sometimes through the nose</li>
                    <li data-block-key="9gbwe">a sensation that food is stuck in your throat or chest</li>
                    <li data-block-key="n50hu">persistent drooling of saliva</li>
                    <li data-block-key="sz6uh">being unable to chew food properly</li>
                    <li data-block-key="wh728">a gurgly, wet-sounding voice when eating or drinking</li>
                </ul>
                <p data-block-key="z1g6o">Over time, dysphagia can also cause symptoms such as weight loss and repeated chest infections.</p>
            </section>
            <section>
                <h2 data-block-key="ktzcp">When to seek medical advice</h2>
                <p data-block-key="43ql1">You should see your GP if you, or someone you care for, have difficulty swallowing or any other signs of dysphagia so you can get treatment to help with your symptoms.</p>
                <p data-block-key="532rq">Early investigation can also help to rule out other more serious conditions, such as <a href="/conditions/oesophageal-cancer/">oesophageal cancer</a>.</p>
                <p data-block-key="r55we">Your GP will assess you and may refer you for further tests.</p>
                <p data-block-key="bjpwq">Read more about <a href="/conditions/swallowing-problems-dysphagia/diagnosis/">diagnosing dysphagia</a>.</p>
            </section>
            <section>
                <h2 data-block-key="2wvfp">Treating dysphagia</h2>
                <p data-block-key="xjhn0">Treatment usually depends on the cause and type of dysphagia.</p>
                <p data-block-key="05mxj">Many cases of dysphagia can be improved with careful management, but a cure isn't always possible.</p>
                <p data-block-key="az2g9">Treatments for dysphagia include:</p>
                <p data-block-key="acclx"> </p>
                <ul>
                    <li data-block-key="ebq6o">speech and language therapy to help people recover their swallowing with special exercises and techniques</li>
                    <li data-block-key="outm6">changing the consistency of food and liquids to make them safer to swallow</li>
                    <li data-block-key="ppchj">other forms of feeding – such as tube feeding through the nose or stomach</li>
                    <li data-block-key="y518j">surgery to widen the oesophagus, by stretching it or inserting a plastic or metal tube (stent)</li>
                </ul>
                <p data-block-key="wdzb9">Read more about <a href="/conditions/swallowing-problems-dysphagia/treatment/">treating dysphagia</a>.</p>
            </section>
            <section>
                <h2 data-block-key="xq4da">Causes of dysphagia</h2>
                <p data-block-key="akolv">Dysphagia is usually caused by another health condition, such as:</p>
                <ul>
                    <li data-block-key="eml90">a condition that affects the nervous system, such as a <a href="/conditions/stroke/">stroke</a>, <a href="/conditions/severe-head-injury/">head injury</a>,&nbsp;<a href="/conditions/multiple-sclerosis/">multiple sclerosis</a> or&nbsp;
                        <a href="/conditions/dementia/about/">dementia</a>
                    </li>
                    <li data-block-key="7qn95"><a href="/conditions/cancer/">cancer</a>&nbsp;– such as <a href="/conditions/mouth-cancer/">mouth cancer</a>&nbsp;or <a href="/conditions/oesophageal-cancer/">oesophageal cancer</a></li>
                    <li data-block-key="s7mwm"><a href="/conditions/heartburn-and-acid-reflux/">gastro-oesophageal reflux disease&nbsp;(GORD)</a>&nbsp;– where stomach acid leaks back up into the&nbsp;oesophagus</li>
                </ul>
                <p data-block-key="0krzy">Children&nbsp;can also have dysphagia as a result of a developmental or learning disability, such as <a href="/conditions/cerebral-palsy/">cerebral palsy</a>.</p>
                <p data-block-key="a9moa">Read more about the <a href="/conditions/swallowing-problems-dysphagia/causes/">causes of dysphagia</a>.</p>
            </section>
            <section>
                <h2 data-block-key="jvxsv">Complications of dysphagia</h2>
                <p data-block-key="0q1uo">Dysphagia can sometimes lead to further problems.</p>
                <p data-block-key="h0kwc">One of the most common problems is coughing or choking, when food goes down the "wrong way" and blocks your airway. This can lead to chest infections, such as aspiration <a href="/conditions/pneumonia/">pneumonia</a>, which require urgent
                    medical treatment.</p>
                <p data-block-key="w0774">Aspiration pneumonia can develop after accidentally inhaling something, such as a small piece of food.</p>
                <p data-block-key="3bfk4">Warning signs of aspiration pneumonia include:</p>
                <ul>
                    <li data-block-key="bdsu2">a wet, gurgly voice while eating or drinking</li>
                    <li data-block-key="lfefl">coughing while eating or drinking</li>
                    <li data-block-key="c59wt">difficulty breathing – breathing may be rapid and shallow</li>
                </ul>
                <p data-block-key="gzywd">If you, or someone you care for, have been diagnosed with dysphagia and you develop these symptoms, contact your treatment team immediately, or call <a href="https://www.nhs.uk/using-the-nhs/nhs-services/urgent-and-emergency-care/nhs-111/">NHS 111</a>.</p>
                <p data-block-key="c9x7i">Dysphagia may mean that you avoid eating and drinking due to a fear of choking, which can lead to <a href="/conditions/malnutrition/">malnutrition</a> and <a href="/conditions/dehydration/">dehydration</a>.</p>
                <p data-block-key="h2v6u">Dysphagia can also affect your quality of life because it may prevent you from enjoying meals and social occasions.</p>
                <h3 data-block-key="c2j1n">Dysphagia in children</h3>
                <p data-block-key="3qj5l">If children with long-term dysphagia aren't eating enough, they may not get the essential nutrients they need for physical and mental development.</p>
                <p data-block-key="aau0b">Children who have difficulty eating may also find meal times stressful, which may lead to behavioural problems.</p>
            </section>
            <section>
                <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <h3 data-block-key="woqmn">Social care and support guide</h3>
                    <p data-block-key="5nro8">If you:</p>
                    <ul>
                        <li data-block-key="tokfi">need help with day-to-day living because of illness or disability</li>
                        <li data-block-key="mnznt">care for someone regularly because they're ill, elderly or disabled (including family members)</li>
                    </ul>
                    <p data-block-key="0ixm0">Our <a href="/conditions/social-care-and-support-guide/">guide to care and support</a> explains your options and where you can get support.</p>
                </div>
            </section>
            <div>
                <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
                    Page last reviewed: 04 March 2021<br> Next review due: 04 March 2024
                </p>
            </div>
            <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
                <ul class="nhsuk-list nhsuk-pagination__list">
                    <li class="nhsuk-pagination-item--next">
                        <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="/conditions/swallowing-problems-dysphagia/causes/">
                            <span class="nhsuk-pagination__title">Next</span>
                            <span class="nhsuk-u-visually-hidden">:</span>
                            <span class="nhsuk-pagination__page">Causes</span>
                            <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
          <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
        </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</article>
{% endblock %}