<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-1b.html' %} {% set mainClasses = 'nhsuk-u-padding-top-0' %}
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Symptoms - NHS {% endblock %}
<!-- Coronavirus (COVID-19) banner -->
{% block beforeContent %}
<div class="app-global-alert" id="app-global-alert" role="complementary">
    <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="app-global-alert__content">
                    <div class="app-global-alert__message">
                        <h2>Coronavirus (COVID-19)</h2>
                        <p><a href="">Get the latest advice about COVID-19</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a href="" class="nhsuk-breadcrumb__backlink">
                <span class="nhsuk-u-visually-hidden">Back to </span>Home
            </a>
        </p>
    </div>
</nav>
{% endblock %}
<!-- Symptom content -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>Thumb pain</h1>
    </div>
</div>
<article>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <section class="nhsuk-page-content__section-one">
                <div class="nhsuk-page-content">
                    <p><strong>There are many causes of thumb pain. You can often ease the pain yourself. But see a GP if the pain does not improve.</strong></p>
                    <h2>How you can ease thumb pain yourself</h2>
                    <p>If you see a GP about pain in your thumb, they'll usually suggest you try these things:</p>
                    <div class="nhsuk-do-dont-list">
                        <h3 class="nhsuk-do-dont-list__label">
                            Do
                        </h3>
                        <ul class="nhsuk-list nhsuk-list--tick">
                            <li>
                                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg> rest your thumb when you can
                            </li>
                            <li>
                                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg> put an ice pack (or a bag of frozen peas) in a towel and place it on your thumb for up to 20 minutes every 2 to 3 hours
                            </li>
                            <li>
                                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg> take paracetamol to ease the pain
                            </li>
                            <li>
                                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg> take off any jewellery if your thumb looks swollen
                            </li>
                            <li>
                                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg> stop or cut down activities that are causing the pain – for example, typing, using vibrating tools for work, or playing an instrument
                            </li>
                            <li>
                                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg> wear a splint to support your thumb and ease pain, especially at night – you can get these at most pharmacies and supermarkets
                            </li>
                            <li>
                                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg> consider taping something like a pen or lollipop stick to your thumb – this will keep it in place until you can get a splint
                            </li>
                            <li>
                                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg> consider using gadgets or tools to make difficult or painful tasks easier – for example, to open jars or chop vegetables
                            </li>
                        </ul>
                    </div>
                    <div class="nhsuk-do-dont-list">
                        <h3 class="nhsuk-do-dont-list__label">
                            Don’t
                        </h3>
                        <ul class="nhsuk-list nhsuk-list--cross">
                            <li>
                                <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
          <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
          <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
        </svg> do not use ibuprofen in the first 48 hours after an injury
                            </li>
                            <li>
                                <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
          <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
          <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
        </svg> do not use heat packs or have hot baths for the first 2 to 3 days after an injury
                            </li>
                            <li>
                                <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
          <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
          <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
        </svg> do not lift heavy objects or grip anything too tightly
                            </li>
                        </ul>
                    </div>
                    <h3>You can ask a pharmacist about:</h3>
                    <ul>
                        <li>the best painkiller to take</li>
                        <li>the best splint to support your thumb and ease pain – flexible rubber splints are available if you still need to use your thumb</li>
                        <li>treatments for common skin problems </li>
                        <li>if you need to see a GP</li>
                    </ul>
                    <div class="nhsuk-action-link">
                        <a class="nhsuk-action-link__link" href="/Service-Search/Pharmacy/LocationSearch/10">
                            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="36" width="36">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
      </svg>
                            <span class="nhsuk-action-link__text">Find a pharmacy</span>
                        </a>
                    </div>
                    <div class="nhsuk-care-card nhsuk-care-card--primary">
                        <div class="nhsuk-care-card__heading-container">
                            <h3 class="nhsuk-care-card__heading">
                                <span role="text">
          <span class="nhsuk-u-visually-hidden">Non-urgent advice:  </span>See a GP if:
                                </span>
                            </h3>
                            <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
                        </div>
                        <div class="nhsuk-care-card__content">
                            <ul>
                                <li>the pain is severe or stopping you doing normal activities</li>
                                <li>the pain is getting worse or keeps coming back</li>
                                <li>the pain has not improved after treating it at home for 2 weeks</li>
                                <li>you have any tingling or loss of sensation in your hand</li>
                                <li>you have diabetes – hand problems can be more serious if you have diabetes</li>
                            </ul>
                            <details class="nhsuk-details">
                                <summary class="nhsuk-details__summary">
                                    <span class="nhsuk-details__summary-text">
      What we mean by severe pain
      </span>
                                </summary>
                                <div class="nhsuk-details__text">
                                    <dl class="nhsuk-summary-list">
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
            Severe pain:
        </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <ul>
                                                    <li data-block-key="6pxfo">always there and so bad it's hard to think or talk</li>
                                                    <li data-block-key="71b4t">you cannot sleep</li>
                                                    <li data-block-key="q90gp">it's very hard to move, get out of bed, go to the bathroom, wash or dress</li>
                                                </ul>
                                            </dd>
                                        </div>
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
            Moderate pain:
        </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <ul>
                                                    <li data-block-key="lwhtw">always there</li>
                                                    <li data-block-key="6fysl">makes it hard to concentrate or sleep</li>
                                                    <li data-block-key="8qp1n">you can manage to get up, wash or dress</li>
                                                </ul>
                                            </dd>
                                        </div>
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
            Mild pain:
        </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <ul>
                                                    <li data-block-key="cosvy">comes and goes</li>
                                                    <li data-block-key="luchc">is annoying but does not stop you doing daily activities</li>
                                                </ul>
                                            </dd>
                                        </div>
                                    </dl>
                                </div>
                            </details>
                            <div class="nhsuk-inset-text">
                                <span class="nhsuk-u-visually-hidden">Information: </span>
                                <h3>Coronavirus (COVID-19) update: how to contact a GP</h3>
                                <p>It's still important to get help from a GP if you need it. To contact your GP surgery:</p>
                                <ul>
                                    <li>visit their website</li>
                                    <li>use the <a href="/using-the-nhs/nhs-services/the-nhs-app/">NHS App</a></li>
                                    <li>call them</li>
                                </ul>
                                <p><a href="/conditions/coronavirus-covid-19/using-the-nhs-and-other-health-services/">Find out about using the NHS during COVID-19</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="nhsuk-care-card nhsuk-care-card--urgent">
                        <div class="nhsuk-care-card__heading-container">
                            <h3 class="nhsuk-care-card__heading">
                                <span role="text">
          <span class="nhsuk-u-visually-hidden">Urgent advice: </span>Go to an urgent treatment centre or A&amp;E if you:
                                </span>
                            </h3>
                            <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
                        </div>
                        <div class="nhsuk-care-card__content">
                            <ul>
                                <li>have severe pain</li>
                                <li>feel faint, dizzy or sick from the pain</li>
                                <li>heard a snap, grinding or popping noise at the time of the injury</li>
                                <li>are not able to move your thumb or hold things</li>
                                <li>have a thumb that's changed shape or colour, such as blue or white</li>
                            </ul>
                            <p>These might be signs of a broken thumb.</p>
                            <p><a href="/service-search/Urgent-Treatment-Centre/LocationSearch/10022">Find an urgent treatment centre</a></p>
                            <details class="nhsuk-details">
                                <summary class="nhsuk-details__summary">
                                    <span class="nhsuk-details__summary-text">
      What we mean by severe pain
      </span>
                                </summary>
                                <div class="nhsuk-details__text">
                                    <dl class="nhsuk-summary-list">
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
            Severe pain:
        </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <ul>
                                                    <li data-block-key="6pxfo">always there and so bad it's hard to think or talk</li>
                                                    <li data-block-key="71b4t">you cannot sleep</li>
                                                    <li data-block-key="q90gp">it's very hard to move, get out of bed, go to the bathroom, wash or dress</li>
                                                </ul>
                                            </dd>
                                        </div>
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
            Moderate pain:
        </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <ul>
                                                    <li data-block-key="lwhtw">always there</li>
                                                    <li data-block-key="6fysl">makes it hard to concentrate or sleep</li>
                                                    <li data-block-key="8qp1n">you can manage to get up, wash or dress</li>
                                                </ul>
                                            </dd>
                                        </div>
                                        <div class="nhsuk-summary-list__row">
                                            <dt class="nhsuk-summary-list__key">
            Mild pain:
        </dt>
                                            <dd class="nhsuk-summary-list__value">
                                                <ul>
                                                    <li data-block-key="cosvy">comes and goes</li>
                                                    <li data-block-key="luchc">is annoying but does not stop you doing daily activities</li>
                                                </ul>
                                            </dd>
                                        </div>
                                    </dl>
                                </div>
                            </details>
                        </div>
                    </div>
                    <h2>Common causes of thumb pain</h2>
                    <p>Thumb pain is often caused by bruising or injuring your thumb. </p>
                    <p>Your symptoms might also give you an idea of what's causing the pain in your thumb.</p>
                    <div class="nhsuk-table-container">
                        <table>
                            <caption class="nhsuk-u-visually-hidden">Common causes of thumb pain</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Symptoms</th>
                                    <th scope="col">Possible cause</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Pain, swelling, bruising after an injury</td>
                                    <td><a href="/conditions/sprains-and-strains/">sprained thumb</a></td>
                                </tr>
                                <tr>
                                    <td>Pain, swelling and stiffness at the base of the thumb that lasts a long time, may be hard to move your thumb, may have a lump</td>
                                    <td><a href="/conditions/tendonitis/">tendonitis</a> (de Quervain's disease) or <a href="/conditions/arthritis/">arthritis</a></td>
                                </tr>
                                <tr>
                                    <td>Aching pain that's worse at night, numbness or pins and needles, a weak thumb or difficulty gripping</td>
                                    <td><a href="/conditions/carpal-tunnel-syndrome/">carpal tunnel syndrome</a></td>
                                </tr>
                                <tr>
                                    <td>Pain or tenderness in your palm at the base of your thumb, stiffness, clicking when you move your finger or thumb</td>
                                    <td><a href="/conditions/trigger-finger/">trigger thumb</a></td>
                                </tr>
                                <tr>
                                    <td>Sudden, sharp pain, swelling, a popping or snapping sound during the injury</td>
                                    <td><a href="/conditions/broken-finger/">broken thumb</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="nhsuk-inset-text">
                        <span class="nhsuk-u-visually-hidden">Information: </span>
                        <p>Do not worry if you're not sure what the problem is. Follow the advice on this page and see a GP if the pain does not get better in 2 weeks.</p>
                        <p>You can also read about <a href="/conditions/hand-pain/">pain in other areas of your hand</a>.</p>
                    </div>
                </div>
                <div>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
                        Page last reviewed: 1 May 2019<br> Next review due: 1 May 2022
                    </p>
                </div>
                <div class="nhsuk-back-link">
                    <a class="nhsuk-back-link__link" href="/conditions/hand-pain/">
                        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg> Back to Hand pain
                    </a>
                </div>
            </section>
        </div>
        <div class="nhsuk-grid-column-one-third">
            <div class="app-related-nav">
                <h2 class="app-related-nav__heading">
                    Hand pain
                </h2>
                <nav role="navigation" class="app-related-nav__nav-section">
                </nav>
            </div>
        </div>
    </div>
</article>
{% endblock %}