<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4b.html' %} {% set mainClasses = 'nhsuk-u-padding-top-0' %}
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Symptoms - NHS {% endblock %}
<!-- Coronavirus (COVID-19) banner -->
{% block beforeContent %}

<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back">
            <a href="" class="nhsuk-breadcrumb__backlink">
                <span class="nhsuk-u-visually-hidden">Back to </span>Home
            </a>
        </p>
    </div>
</nav>
{% endblock %}
<!-- Symptom content -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>Vertigo</h1>
    </div>
</div>
<article>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <section>
                <p data-block-key="78nol"><b>Vertigo gets better in most cases without treatment. See a GP if it keeps coming back or is affecting your daily life.</b></p>
            </section>
            <section>
                <a id="symptoms"></a>
                <h2>Check if it's vertigo</h2>
                <p data-block-key="zheca">Vertigo feels like you or everything around you is spinning – enough to affect your balance. It's more than just feeling <a href="/conditions/dizziness/">dizzy</a>.</p>
                <p data-block-key="195nz">A vertigo attack can last from a few seconds to hours. If you have severe vertigo, it can last for many days or months.</p>
            </section>
            <section>
                <a id="self-care"></a>
                <h2>Help with vertigo</h2>
                <p data-block-key="s2dui">There are things you can do to ease vertigo symptoms when they're happening, and to reduce the number of episodes you have.</p>
                <div class="nhsuk-do-dont-list">
                    <h3 class="nhsuk-do-dont-list__label">
                        Do
                    </h3>
                    <ul class="nhsuk-list nhsuk-list--tick">
                        <li>
                            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg>
                            <p data-block-key="n093z">lie still in a quiet, dark room to reduce the spinning feeling</p>
                        </li>
                        <li>
                            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg>
                            <p data-block-key="ufl29">move your head carefully and slowly during daily activities</p>
                        </li>
                        <li>
                            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg>
                            <p data-block-key="zncsm">sit down straight away when you feel dizzy</p>
                        </li>
                        <li>
                            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg>
                            <p data-block-key="5aluc">turn on the lights if you get up at night</p>
                        </li>
                        <li>
                            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg>
                            <p data-block-key="upu2f">use a walking stick if you're at risk of falling</p>
                        </li>
                        <li>
                            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg>
                            <p data-block-key="4aum3">sleep with your head slightly raised on 2 or more pillows</p>
                        </li>
                        <li>
                            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg>
                            <p data-block-key="bns6u">get out of bed slowly and sit on the edge of the bed for a while before standing up</p>
                        </li>
                        <li>
                            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" height="34" width="34">
          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
        </svg>
                            <p data-block-key="20x4i">try to relax – anxiety can make vertigo worse</p>
                        </li>
                    </ul>
                </div>
                <div class="nhsuk-do-dont-list">
                    <h3 class="nhsuk-do-dont-list__label">
                        Don’t
                    </h3>
                    <ul class="nhsuk-list nhsuk-list--cross">
                        <li>
                            <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
          <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
          <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
        </svg>
                            <p data-block-key="3tjt4">do not bend over to pick things up – squat to lower yourself instead</p>
                        </li>
                        <li>
                            <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
          <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
          <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
        </svg>
                            <p data-block-key="wqhmb">do not stretch your neck – for example, while reaching up to a high shelf</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="nhsuk-care-card nhsuk-care-card--primary">
                    <div class="nhsuk-care-card__heading-container">
                        <h3 class="nhsuk-care-card__heading">
                            <span role="text">
          <span class="nhsuk-u-visually-hidden">Non-urgent advice:  </span>See a GP if you:
                            </span>
                        </h3>
                        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
                    </div>
                    <div class="nhsuk-care-card__content">
                        <ul>
                            <li data-block-key="js8vi">have vertigo that will not go away or keeps coming back</li>
                        </ul>
                        <div class="nhsuk-inset-text">
                            <span class="nhsuk-u-visually-hidden">Information: </span>
                            <h3>Coronavirus (COVID-19) update: how to contact a GP</h3>
                            <p>It's still important to get help from a GP if you need it. To contact your GP surgery:</p>
                            <ul>
                                <li>visit their website</li>
                                <li>use the <a href="/using-the-nhs/nhs-services/the-nhs-app/">NHS App</a></li>
                                <li>call them</li>
                            </ul>
                            <p><a href="/conditions/coronavirus-covid-19/using-the-nhs-and-other-health-services/">Find out about using the NHS during COVID-19</a></p>
                        </div>
                    </div>
                </div>
                <h3 data-block-key="hheri">What happens at your appointment</h3>
                <p data-block-key="918ef">The GP will ask about your symptoms to try to find out what type of vertigo you have.</p>
                <p data-block-key="a2l2a">A simple test that involves you moving quickly from a sitting to a lying position might be done to check your balance. This could bring on symptoms.</p>
                <p data-block-key="17iqx">You might also be referred to a specialist for further tests.</p>
                <div class="nhsuk-care-card nhsuk-care-card--urgent">
                    <div class="nhsuk-care-card__heading-container">
                        <h3 class="nhsuk-care-card__heading">
                            <span role="text">
          <span class="nhsuk-u-visually-hidden">Urgent advice: </span>Get advice from 111 now if you have vertigo and:
                            </span>
                        </h3>
                        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
                    </div>
                    <div class="nhsuk-care-card__content">
                        <ul>
                            <li data-block-key="ui1fj">have a severe headache</li>
                            <li data-block-key="dxojo">are being sick or feel very sick</li>
                            <li data-block-key="1hg20">have a very high temperature or feel hot and shivery</li>
                        </ul>
                        <p data-block-key="9peiy">111 will tell you what to do. They can arrange a phone call from a nurse or doctor if you need one.</p>
                        <p data-block-key="1timo">Go to <a href="https://111.nhs.uk/?utm_source=nhsuk&amp;utm_campaign=conditions&amp;utm_content=vertigo">111.nhs.uk</a> or <a href="tel:111">call 111</a>.</p>
                        <details class="nhsuk-details">
                            <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
      Other ways to get help
      </span>
                            </summary>
                            <div class="nhsuk-details__text">
                                <p data-block-key="ff3vi"><b>Get an urgent GP appointment</b></p>
                                <p data-block-key="tdxjd">A GP may be able to help you.</p>
                                <p data-block-key="ajukc">Ask your GP practice for an urgent appointment.</p>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="nhsuk-care-card nhsuk-care-card--immediate">
                    <div class="nhsuk-care-card__heading-container">
                        <h3 class="nhsuk-care-card__heading">
                            <span role="text">
          <span class="nhsuk-u-visually-hidden">Immediate action required: </span>Go to A&amp;E if you have vertigo and:
                            </span>
                        </h3>
                        <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
                    </div>
                    <div class="nhsuk-care-card__content">
                        <ul>
                            <li data-block-key="tcov0">double vision or loss of vision</li>
                            <li data-block-key="0jcwg">hearing loss</li>
                            <li data-block-key="72nlu">trouble speaking</li>
                            <li data-block-key="glwwi">leg or arm weakness, numbness or tingling</li>
                        </ul>
                        <p data-block-key="8ktut">Always take someone who cannot be woken up to A&amp;E or call 999.</p>
                    </div>
                </div>
            </section>
            <section>
                <a id="medical-treatments"></a>
                <h2>Treatment for vertigo</h2>
                <p data-block-key="ja5a5">Most cases of vertigo get better without treatment.</p>
                <p data-block-key="5yygw">Treatment will depend on the cause. The GP might prescribe antibiotics if it's caused by an infection.</p>
                <p data-block-key="suj1o">You could also be given special exercises to do to try to correct your balance.</p>
                <p data-block-key="zlz5d">Antihistamines can sometimes help with vertigo symptoms.</p>
                <div class="nhsuk-warning-callout">
                    <h3 class="nhsuk-warning-callout__label">
                        Important
                    </h3>
                    <p data-block-key="u59au">If you drive, you must tell the <a href="https://www.gov.uk/contact-the-dvla">DVLA</a> about your vertigo.</p>
                    <p data-block-key="yp6wj">Visit the GOV.UK website for more information on <a href="https://www.gov.uk/dizziness-and-driving">driving with vertigo</a>.</p>
                </div>
            </section>
            <section>
                <a id="causes"></a>
                <h2>What causes vertigo</h2>
                <p data-block-key="ld0mh">Inner ear problems, which affect balance, are the most common causes:</p>
                <ul>
                    <li data-block-key="68l41">benign paroxysmal positional vertigo (BPPV) – where specific head movements cause vertigo</li>
                    <li data-block-key="uytj6"><a href="/conditions/labyrinthitis/">labyrinthitis</a> – an inner ear infection caused by a cold or flu virus</li>
                    <li data-block-key="0botf"><a href="/conditions/vestibular-neuronitis/">vestibular neuronitis</a> – inflammation of the vestibular nerve</li>
                    <li data-block-key="c4gp3"><a href="/conditions/menieres-disease/">Ménière's disease</a> – a rare inner ear condition, which sometimes involves ringing in the ear (tinnitus) or loss of hearing</li>
                </ul>
                <p data-block-key="llsqq">Read more about BPPV on the <a href="http://www.menieres.org.uk/information-and-support/symptoms-and-conditions/bppv">Ménière’s Society website</a>.</p>
                <p data-block-key="vmebt">Other things that can cause vertigo:</p>
                <ul>
                    <li data-block-key="ufmih"><a href="/conditions/migraine/">migraine</a></li>
                    <li data-block-key="pngmg">some types of medicine – check the leaflet to see if it's listed as a side effect</li>
                </ul>
                <p data-block-key="swbtt">Sometimes the cause is unknown.</p>
            </section>
            <div>
                <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
                    Page last reviewed: 02 June 2020<br> Next review due: 02 June 2023
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock %}