<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-9-services.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK home
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
<main class="nhsuk-main-wrapper nhsuk-main-wrapper--no-padding nhsuk-homepage nhsuk-u-padding-top-0" id="maincontent" role="main">

<section class="nhsuk-section nhsuk-u-padding-top-4">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">

  <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
    <div>
      <ol class="nhsuk-breadcrumb__list ">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-9/">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-9/a-to-z">Health A to Z</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-9/a-to-z">Health A to Z</a></a></p>
    </div>
  </nav>
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper " id="maincontent" lang="en-GB">
    


<div class="nhsuk-u-reading-width">
  <h1>Our policies</h1>
  
</div>









  <ul class="nhsuk-grid-row nhsuk-card-group">
    
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        
        
<div class="nhsuk-card nhsuk-card--clickable">
<div class="nhsuk-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/our-policies/governance-of-the-nhs-website/">Governance of the NHS website</a>
  </h2>
  
    <p class="nhsuk-card__description">Find out about the governance of the NHS website</p>
  
</div>
</div>

      </li>
    
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        
        
<div class="nhsuk-card nhsuk-card--clickable">
<div class="nhsuk-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/our-policies/content-policy/">Content policy</a>
  </h2>
  
    <p class="nhsuk-card__description">The NHS website policies on how we create objective and trustworthy information and guidance on all aspects of health and healthcare</p>
  
</div>
</div>

      </li>
    
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        
        
<div class="nhsuk-card nhsuk-card--clickable">
<div class="nhsuk-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/our-policies/linking-from-the-nhs-website/">Linking from the NHS website</a>
  </h2>
  
    <p class="nhsuk-card__description">Find out how we choose the links on the NHS website and how to request a link to your website</p>
  
</div>
</div>

      </li>
    
    </ul>

  <ul class="nhsuk-grid-row nhsuk-card-group">
    
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        
        
<div class="nhsuk-card nhsuk-card--clickable">
<div class="nhsuk-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/our-policies/terms-and-conditions/">Terms and conditions</a>
  </h2>
  
    <p class="nhsuk-card__description">Information on NHS website terms and conditions</p>
  
</div>
</div>

      </li>
    
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        
        
<div class="nhsuk-card nhsuk-card--clickable">
<div class="nhsuk-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/lab-9/policies/your-privacy">Your privacy on the NHS website</a>
  </h2>
  
    <p class="nhsuk-card__description">This privacy policy covers what we collect and how we use, disclose, transfer and store your information.</p>
  
</div>
</div>

      </li>
    
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        
        
<div class="nhsuk-card nhsuk-card--clickable">
<div class="nhsuk-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/our-policies/cookies-policy/">Cookies on the NHS website</a>
  </h2>
  
    <p class="nhsuk-card__description">Find out about the cookies we use and change your cookie settings.</p>
  
</div>
</div>

      </li>
    
    </ul>

  <ul class="nhsuk-grid-row nhsuk-card-group">
    
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        
        
<div class="nhsuk-card nhsuk-card--clickable">
<div class="nhsuk-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/our-policies/comments-policy/">Reviews policy</a>
  </h2>
  
    <p class="nhsuk-card__description">Learn about the policies for rating and reviewing NHS services</p>
  
</div>
</div>

      </li>
    
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        
        
<div class="nhsuk-card nhsuk-card--clickable">
<div class="nhsuk-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/our-policies/requests-for-research-support/">Requests for research support</a>
  </h2>
  
    <p class="nhsuk-card__description">Information on how to get research support from the NHS website</p>
  
</div>
</div>

      </li>
    
    </ul>







    
  </main>
</div>



    </div>
  </div>
</section>
{% endblock %}
