<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Diabetic retinopathy - NHS.UKss
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px;">
  <section>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <section>
          <p class="nhsuk-u-margin-bottom-2" ><a href="/lab-3/a-to-z" >Health A to Z</a></p>
          <h1><span role="text">Diabetic retinopathy</span></h1>   
          <article>
            <section id="key-links" >
              <!--<h3 class="nhsuk-u-margin-bottom-0">Pages in this guide</h3>-->
              <ul class="key-links" class="nhsuk-u-padding-top-0">
                <li class="bradcrumbs__item--active" aria-current="page"><a href="/lab-3/a-to-z/diabetic-retinopathy-overview ">Overview</a></li>
                <li><a href="javascript:void(0);" title="">Stages</a></li> 
                <li><a href="javascript:void(0);">Treatment</a></li>
                <li><a href="javascript:void(0);">Prevention</a></li>
              </ul>
            </section>
          </article>
        </section>
      </div>
    </div>
  </section>
</main>



{% endblock %}
