<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Health A to Z
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <p class="nhsuk-lede-text">
        This page example includes a selection of styles and components available to the prototype kit.
      </p>
      
      {% from 'nav-a-z/macro.njk' import azNav %}

      {{ azNav({
        "items": [
          {
            "label": "A"
          },
          {
            "disable": "true",
            "label": "B"
          },
          {
            "label": "C"
          },
          {
            "label": "D"
          },
          {
            "label": "E"
          },
          {
            "label": "F"
          },
          {
            "label": "G"
          },
          {
            "label": "H"
          },
          {
            "label": "I"
          },
          {
            "label": "J"
          },
          {
            "label": "K"
          },
          {
            "label": "L"
          },
          {
            "label": "M"
          },
          {
            "label": "N"
          },
          {
            "label": "O"
          },
          {
            "label": "P"
          },
          {
            "label": "Q"
          },
          {
            "label": "R"
          },
          {
            "label": "S"
          },
          {
            "label": "T"
          },
          {
            "label": "U"
          },
          {
            "label": "V"
          },
          {
            "label": "W"
          },
          {
            "label": "X"
          },
          {
            "label": "Y"
          },
          {
            "label": "Z"
          }
        ]
      }) }}
      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
