<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">



      <!-- Change the page title here -->
      <h1>
        Health A to Z
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <p class="nhsuk-lede-text">
            Includes conditions, medicines, procedures and symptoms.
      </p>
      
      {% from 'nav-a-z/macro.njk' import azNav %}

      {{ azNav({
        "items": [
          {
            "label": "A"
          },
          {
            "disable": "true",
            "label": "B"
          },
          {
            "label": "C"
          },
          {
            "label": "D"
          },
          {
            "label": "E"
          },
          {
            "label": "F"
          },
          {
            "label": "G"
          },
          {
            "label": "H"
          },
          {
            "label": "I"
          },
          {
            "label": "J"
          },
          {
            "label": "K"
          },
          {
            "label": "L"
          },
          {
            "label": "M"
          },
          {
            "label": "N"
          },
          {
            "label": "O"
          },
          {
            "label": "P"
          },
          {
            "label": "Q"
          },
          {
            "label": "R"
          },
          {
            "label": "S"
          },
          {
            "label": "T"
          },
          {
            "label": "U"
          },
          {
            "label": "V"
          },
          {
            "label": "W"
          },
          {
            "label": "X"
          },
          {
            "label": "Y"
          },
          {
            "label": "Z"
          }
        ]
      }) }}



      {% from 'list-panel/macro.njk' import listPanel %}

      {{ listPanel({
        "label": "A",
        "id": "A",
        "backToTop": "true",
        "backToTopLink": "#nhsuk-nav-a-z",
        "items": [
          {
            "URL": "#",
            "link": "AAA"
          },
          {
            "URL": "#",
            "link": "Abdominal aortic aneurysm"
          },
          {
            "URL": "#",
            "link": "Abdominal aortic aneurysm screening"
          },
          {
            "URL": "#",
            "link": "Abortion"
          },
          {
            "URL": "#",
            "link": "Abscess"
          },
          {
            "URL": "#",
            "link": "Acanthosis nigricans"
          }
        ]
      }) }}
      
      {{ listPanel({
        "label": "B",
        "id": "B",
        "disable": "true",
        "backToTop": "true",
        "backToTopLink": "#nhsuk-nav-a-z",
        "message": "There are currently no conditions listed"
      }) }}
      
      {{ listPanel({
        "label": "C",
        "id": "C",
        "backToTop": "true",
        "backToTopLink": "#nhsuk-nav-a-z",
        "items": [
          {
            "URL": "/conditions/chest-pain/",
            "link": "Chest pain"
          },
          {
            "URL": "/conditions/cold-sores/",
            "link": "Cold sore"
          }
        ]
      }) }}
      
      {{ listPanel({
        "label": "D",
        "id": "D",
        "backToTop": "true",
        "backToTopLink": "#nhsuk-nav-a-z",
        "items": [
          {
            "URL": "/conditions/dandruff/",
            "link": "Dandruff"
          },
          {
            "URL": "/conditions/dementia/",
            "link": "Dementia"
          },
          {
            "URL": "/conditions/toothache/",
            "link": "Dental pain"
          }
        ]
      }) }}

      <!-- End of content -->



  </div>
{% endblock %}
