<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-6-a-to-z.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Level 1 hub - NHS.UK
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
        <div >
          <ol class="nhsuk-breadcrumb__list ">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-/">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-5/a-to-z">Health A to Z</a></li>

          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-5/a-to-z">Health A to Z</a></p>
        </div>
      </nav>

      <!-- Change the page title here -->
      <h1>
        Level 1 hub heading
      </h1>

      <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
              <p class="nhsuk-lede-text">Hub description.</p>
          </div>
        </div>









      <section id="Introduction">

          <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-bottom-4 nhsuk-u-padding-top-4">
              <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo--small">
                  <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                    <div class="nhsuk-promo__content">
                      <h3 class="nhsuk-promo__heading">Top task 1</h3>
                    </div>
                  </a>
                </div>
              </div>

              <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                  <div class="nhsuk-promo nhsuk-promo--small">
                    <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                      <div class="nhsuk-promo__content">
                        <h3 class="nhsuk-promo__heading">Top tasks 2</h3>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                    <div class="nhsuk-promo nhsuk-promo--small">
                      <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                        <div class="nhsuk-promo__content">
                          <h3 class="nhsuk-promo__heading">Top task 3</h3>
                        </div>
                      </a>
                    </div>
                  </div>

          </div>


        <div class="nhsuk-grid-row nhsuk-promo-group ">

          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo_canon">
                <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Cannon heading</h3>
                    <p class="nhsuk-promo__description">Canon description</p>
                  </div>
                  <div class="arrow" style="">
                    <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                      <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                      <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                        <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                        <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      </g>
                    </svg>
                  </div>
                </a>
              </div>
            </div>

            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo_canon">
                    <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                            <div class="nhsuk-promo__content">
                              <h3 class="nhsuk-promo__heading">Cannon heading</h3>
                              <p class="nhsuk-promo__description">Canon description</p>
                  </div>
                  <div class="arrow" style="">
                    <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                      <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                      <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                        <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                        <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      </g>
                    </svg>
                  </div>
                </a>
              </div>
            </div>

          </div>
          <div class="nhsuk-grid-row nhsuk-promo-group">

            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
                <div class="nhsuk-promo nhsuk-promo_canon">
                        <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                                <div class="nhsuk-promo__content">
                                  <h3 class="nhsuk-promo__heading">Cannon heading</h3>
                                  <p class="nhsuk-promo__description">Canon description</p>
                    </div>
                    <div class="arrow" style="">
                      <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                        <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                        <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                          <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                          <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                        </g>
                      </svg>
                    </div>
                  </a>
                </div>
              </div>

            <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
              <div class="nhsuk-promo nhsuk-promo_canon">
                    <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                            <div class="nhsuk-promo__content">
                              <h3 class="nhsuk-promo__heading">Cannon heading</h3>
                              <p class="nhsuk-promo__description">Canon description</p>
                  </div>
                  <div class="arrow" style="">
                    <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                      <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                      <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                        <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                        <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      </g>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>


          <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-bottom-4">

              <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
                  <div class="nhsuk-promo nhsuk-promo_canon">
                        <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                                <div class="nhsuk-promo__content">
                                  <h3 class="nhsuk-promo__heading">Cannon heading</h3>
                                  <p class="nhsuk-promo__description">Canon description</p>
                      </div>
                      <div class="arrow" style="">
                        <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                          <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                          <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                            <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                            <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                          </g>
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
                    <div class="nhsuk-promo nhsuk-promo_canon">
                            <a class="nhsuk-promo__link-wrapper" href="javascript:void(0);">
                                    <div class="nhsuk-promo__content">
                                      <h3 class="nhsuk-promo__heading">Cannon heading</h3>
                                      <p class="nhsuk-promo__description">Canon description</p>
                        </div>
                        <div class="arrow" style="">
                          <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667" viewBox="0 0 26.667 26.667">
                            <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8"/>
                            <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                              <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                              <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"/>
                            </g>
                          </svg>
                        </div>
                      </a>
                    </div>
                  </div>








      </section>

      <div class="nhsuk-grid-row ">
      <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
          <ul class="key-links">
              <h2>Related information</h2>
              <li><a href="javascript:void(0);" title="">Link 1</a></li>
              <li><a href="javascript:void(0);" title="">Link 2</a></li>
              <li><a href="javascript:void(0);" title="">Link 3</a></li>
              <li><a href="javascript:void(0);" title="">Link 4</a></li>
          </ul>
        </div>
      </div>


    <!-- <div class="">
      <div>
       <p>Help and support for diabetes</p>

        <p>Diabetes.uk</p>

      </div>
    </div> -->


    </div>
</div>
{% endblock %}
