<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK home
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
<div class="nhsuk-width-container">
  <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a href="/" class="nhsuk-breadcrumb__link">Home</a>
        </li>

        <li class="nhsuk-breadcrumb__item">
          <a href="/medicines/" class="nhsuk-breadcrumb__link">Medicines A to Z</a>
        </li>
  </ol>
  <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Back to Level three</a></p>
</div>
</nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <h1>
        Hydrocortisone
      </h1>

      <aside class="nhsuk-u-margin-bottom-8">
            <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-3">On this page</h2>
            <ol class="nhsuk-body-s">

                <li>About hydrocortisone</li>

                <li>Skin problems: hydrocortisone cream</li>

                <li>Piles and itchy bottom: hydrocortisone cream, ointment, foam or suppositories</li>

                <li>Mouth ulcers: hydrocortisone tablets that melt on the inside of your mouth</li>

                <li>Ulcerative colitis: hydrocortisone foam</li>

                <li>Painful joints: hydrocortisone 'steroid' injections</li>

                <li>Addison’s disease and other adrenal gland disorders: hydrocortisone tablets</li>

                <li>Severe asthma or allergies: hydrocortisone tablets</li>

            </ol>
          </aside>

<section id="About-hydrocortisone"></section>
          <h2>
            1. About hydrocortisone
          </h2>

          <div class="block-markdown"><p>Hydrocortisone is a corticosteroid medicine or ‘steroid’.</p>

              <p>It works by damping down the body’s immune response to reduce pain, itching and swelling.</p>

                <p>It can also be used as hormone replacement for people who don't have enough of the natural stress hormone, cortisol.</p>

                  <p>Hydrocortisone is used to treat many health problems. The medicine comes in different ways, including skin creams for the body and scalp, injections and tablets. The type of hydrocortisone you use will depend on your health problem.</p>
         </div>

         <section id="skin-problems"></section>
                   <h2>
                     2. Skin problems: hydrocortisone cream
                   </h2>

                   <div class="block-markdown">

                     <p>If you're treating a skin problem with hydrocortisone, it will usually be with a cream, ointment or lotion. These can be used for skin problems like:</p>

                      <ul>
                         <li> eczema and contact dermatitis (when the skin reacts to something it touches) </li>
                         <li> prickly heat rash </li>
                         <li> reactions to insect bites and stings </li>
                         <li> psoriasis </li>
                         <li> nappy rash </li>
                        </ul>

                    <p><a href="javascript:void(0);" title="">Find out more about hydrocortisone cream</a>.</p>

                  </div>

<section id="Piles-and-itchy-bottom"></section>
                            <h2>
                              3. Piles and itchy bottom: hydrocortisone cream, ointment, foam or suppositories
                            </h2>

                            <div class="block-markdown">

                              <p>Hydrocortisone comes as cream, ointment, foam or suppositories specially for inside and around the bottom. It can be used to treat:</p>

                              <ul>
                                  <li> piles (haemorrhoids) </li>
                                  <li> an itchy bottom </li>
                              </ul>

                             <p>
                                <a href="javascript:void(0);" title="">Find out more about hydrocortisone treatments for piles</a>
                             </p>

                           </div>

<section id="Mouth-ulcers"></section>
    <h2>
      4. Mouth ulcers: hydrocortisone tablets that melt on the inside of your mouth
    </h2>

         <div class="block-markdown">

              <p>
                Buccal tablets are small white pellets which stick to the inside of your mouth. They release hydrocortisone as they dissolve. Buccal tablets relieve the soreness of mouth ulcers.
              </p>
              <p>
                <a href="javascript:void(0);" title="">Find out more about hydrocortisone buccal tablets</a>
              </p>
         </div>

<section id="Ulcerative-colitis"></section>

    <h2>
      5. Ulcerative colitis: hydrocortisone foam
    </h2>

      <div class="block-markdown">

        <p>
         Ulcerative colitis is an illness where the inner lining of the bowel becomes sore and ulcerated. Your doctor may prescribe hydrocortisone rectal foam to relieve the symptoms of this illness.
        </p>

            <p>
              <a href="javascript:void(0);" title="">Find out more about hydrocortisone rectal foam</a>
            </p>
        </div>

<section id="Painful-joints"></section>

    <h2>
      6. Painful joints: hydrocortisone 'steroid' injections
    </h2>

        <div class="block-markdown">

          <p>
            Hydrocortisone or 'steroid' injections are used to treat swollen and painful joints in people with injuries and arthritis. Steroid injections help to reduce inflammation, which in turn reduces pain. The injections are also used to treat painful tendons and bursitis.
          </p>

            <p>
             <a href="javascript:void(0);" title="">Find out more about hydrocortisone rectal foam</a>
            </p>
                </div>


<section id="Addison's-disease"></section>

      <h2>
        7. Addison’s disease and other adrenal gland disorders: hydrocortisone tablets
      </h2>

            <div class="block-markdown">

                <p>
                  Your doctor may prescribe hydrocortisone tablets if your body doesn't make enough of the hormone cortisol - for example, if you have Addison's disease. The tablets work as a hormone replacement for natural cortisol.
                </p>

                    <p>
                     <a href="javascript:void(0);" title="">Find out more about hydrocortisone tablets</a>
                    </p>
            </div>

<section id="Severe-asthma"></section>

                  <h2>
                    8. Severe asthma or allergies: hydrocortisone tablets
                  </h2>

                        <div class="block-markdown">

                            <p>
                              You may also be prescribed hydrocortisone tablets if you have severe asthma or have a severe allergic reaction. Hydrocortisone tablets reduce your symptoms.
                            </p>

                            <p>
                              <a href="javascript:void(0);" title="">Find out more about hydrocortisone tablets</a>
                            </p>

                        </div>


<section id="page-review"></section>

  <div class="nhsuk-review-date">

      <p class="nhsuk-body-s">
        Page last reviewed: 18 September 2017<br>
        Next review due: 18 September 2020
      </p>
  </div>

      <!-- End of content -->

    </div>

  </div>
{% endblock %}
