<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS.UK prototype kit
      </h1>

      <hr>

      <h2>
        Symptom checker
      </h2>

      <ul>
        <li>
          <a href="lab-1">Homepage</a>
        </li>
        <li>
          <a href="lab-1/index-all">Homepage symptoms all</a>
        </li>
      </ul>

      <hr>

      <h2>
        Get started
      </h2>

      <p>Get started by using the:</p>

      <ul>
        <li>
          <a href="/docs/how-tos">how to guides</a>
        </li>
        <li>
          <a href="/docs/page-templates">page templates</a>
        </li>
        <li>
          code snippets for styles and components from the <a href="https://service-manual.nhs.uk/design-system">NHS digital service manual</a>
        </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
