<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK information architecture prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS.UK information architecture prototype kit
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->


      <hr>
      <h2>
        Lab 2 prototypes
      </h2>
      <p>These are all the pages built for the prototype and grouped by task, somne are referenced more than once.</p>

      <ul>
        <h3>Generic pages</h3>
        <li><a href="/home">Homepage</a> - [reset from NHS logo??]</li>
        <li><a href="/a-to-z">Health A to Z</a></li>
      </ul>
      <ol>
        <h3> Pages related to the tasks without the searchbox</h3>
        <li>
          <p >Task 1: "You have a pain on the sole of your foot, and you don’t know what it is, or what might be causing it. Where would you go to find out what it might be?"</p>
          <ul>
            <li><a href="/symptoms">Check a symptom</a></li>
            <li><a href="/a-to-z">Health A to Z</a></li>
            <li><a href="/feet-and-legs">Feet and legs (hub)</a></li>
            <li><a href="/foot-pain">Foot pain (hub)</a></li>
            <li><a href="/foot-pain">Pain in the bottom of the foot (page)</a></li>  
          </ul>
        </li>
        <li>
          <p>Task 2: "A friend has been diagnosed with pneumonia. Where would you find out more about this?"</p>
          <ul>
            <li><a href="/a-to-z">Health A to Z</a></li>
            <li><a href="/pneumonia">Pneumonia (page)</a></li>
          </ul>
        </li>
        <li>
          <p>Task 3: "A friend has told you that they have been to the doctor because they are feeling stressed and anxious - see if you can find any information on what they might be going through."</p>     
          <ul>
            <li><a href="/a-to-z">Health A to Z</a></li>
            <li><a href="/mental-health">Mental Health (hub)</a></li>
            <li><a href="/anxiety">Anxiety (page)</a></li>
            <li><a href="/depression">Depression (page)</a></li> 
            <li><a href="/anxiety-fear-panic">Anxiety, fear and panic (page)</a></li> 
          </ul>  
        </li>
        <li>
          <p>Task 4: "A friend has told you that they have been to the doctor because they are feeling stressed and anxious - see if you can find any information on what they might be going through."</p>
          
            <ul>
              <li><a href="/a-to-z">Health A to Z</a></li>
              <li><a href="/pregnancy">Pregnancy (hub)</a></li>
              <li><a href="/im-pregnant">Pregnancy - I'm pregnant (hub)</a></li>
              <li><a href="/early-days">Pregnancy - Early days (hub)</a></li>
              <li><a href="/pregnancy-to-do-list">Pregnancy - To do list (page)</a></li>
              <li><a href="/foods-to-avoid">Pregnancy - I'm pregnant - Foods to avoid in pregnancy (mini-hub)</a></li>
            </ul>
        </li>
        <li>
          <p>Task 5 : "At a recent doctor’s appointment, you have been prescribed Hydrocortisone for a prickly rash. Where would you go to find out about it?"</p>
          <ul>
            <li><a href="/a-to-z">Health A to Z</a></li>
            <li><a href="/symptoms">Check a symptom</a></li>
            <li><a href="/hydrocortisone">Hydrocortisone (medicine)</a></li>
            <li><a href="/prickly-heat">Heat rash (prickly heat)</a></li>
          </ul>
        </li> 
        <h3> Pages related to the tasks with the searchbox</h3>
        <li>
          <p>Task 6: "Using the search bar, can you try and find some information about Eczema?"</p>
          <ul>
            <li><a href="/eczema">Eczema (mini-hub)</a></li>
          </ul>
        </li>
        <li>
          <p>Task 7: "Using the search bar again, can you find information about Diarrhoea?"</p>
          <ul>
            <li><a href="/diarrhoea">Diarrhoea (page)</a></li>
          </ul>
        </li>
        <li>
          <p>Task 8: "And finally, can you find some information about Physiotherapy?"</p>
          <ul>
            <li><a href="/physiotherapy">Physiotherapy (treatment) (mini-hub)</a></li>
          </ul>
        </li>
        <li>
          <p>Optional Task 9: "We have a bit of extra time left. Would you like to do a couple more tasks using a different website?"</p>
          <ul>
            <li><a href="https://www.nhsinform.scot/">NHS Scotland</a> - [link in footer of prototype]</li>
          </ul>
        </li>
      </ol>





      <!-- End of content -->

    </div>
  </div>
{% endblock %}
