<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/header -->
{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="new-search-results-wrapper">
      <ul class="new-search-results">
        <li>

        </li>
      </ul>
    </div>
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="/lab-4/" aria-label="NHS homepage">
        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path class="nhsuk-logo__background" d="M0 0h40v16H0z"></path>
          <path class="nhsuk-logo__text" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
        </svg>
      </a>
    </div>
    <div class="nhsuk-header__content">
      <div class="nhsuk-header__search">  

        <form class="new-search" role="search">
          <label class="nhsuk-u-visually-hidden" for="search-field">Search the NHS website</label>
          <div class="autocomplete-container" id="autocomplete-container"></div>
          <input class="new-search__input" name="q" type="search" placeholder="Search" autocomplete="off">
          <button class="nhsuk-search__submit" >
            <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
              <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
            </svg>
            <span class="nhsuk-u-visually-hidden">Search</span>
          </button>
        </form>

      </div>
    </div>
  </div>
  <nav>
    <div class="nhsuk-width-container" style="margin: 0 auto;">
      <ul class="ia-new-nav">
        <li class="ia-new-nav__item">
          <a class="ia-new-nav__link" href="/lab-4/a-to-z">
            Health 
            <span class="ia-new-nav__link--break">A to Z</span>
          </a>
        </li>
        <li class="ia-new-nav__item">
          <a class="ia-new-nav__link" href="/lab-4/check-a-symptom">
            Check a 
            <span class="ia-new-nav__link--break">symptom</span>
          </a>
        </li>
        <li class="ia-new-nav__item">
          <a class="ia-new-nav__link" href="">
            NHS 
            <span class="ia-new-nav__link--break">services</span>
          </a>
        </li>
        <li class="ia-new-nav__item">
          <a class="ia-new-nav__link" href="">
            Healthy 
            <span class="ia-new-nav__link--break">living</span>
          </a>
        </li>
        <li class="ia-new-nav__item">
          <a class="ia-new-nav__link" href="">
            Mental 
            <span class="ia-new-nav__link--break">health</span>
          </a>
        </li>
        <li class="ia-new-nav__item">
          <a class="ia-new-nav__link" href="/lab-4/a-to-z/pregnancy">
            Pregnancy 
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
{% endblock %}


<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/footer -->
{% block footer %}
<div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
        <h2 class="nhsuk-u-visually-hidden">Support links</h2>
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item "><a class="nhsuk-footer__list-item-link nhsuk-body-m nhsuk-u-font-weight-bold" href="javascript:void(0);">Contact the NHS</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link nhsuk-body-m nhsuk-u-font-weight-bold" href="javascript:void(0);">About the NHS</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link nhsuk-body-m nhsuk-u-font-weight-bold" href="javascript:void(0);">NHS websites</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link nhsuk-body-m nhsuk-u-font-weight-bold" href="javascript:void(0);">NHS Jobs</a></li>
        </ul>
  
      </div>

  <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="javascript:void(0);">Sitemap</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="javascript:void(0);">Accessibility</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="javascript:void(0);">Cookies</a></li>
        <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="javascript:void(0);">Our policies</a></li>
      </ul>

      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
</div>
</footer>

{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
