<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK home
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    items: [
    {
      href: "/home",
      text: "Home"
    }
  ],
    href: "/a-to-z",
    text: "Health A to Z"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}


        
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
    
        <div class="nhsuk-u-reading-width">
    
          
      <h1>Mental health and wellbeing</h1>
      
        <div class="nhsuk-lede-text">
          <p>If you're feeling stressed, anxious or depressed, or just want to feel happier, we're here to help.</p>
    
    <p>There's separate information on <a href="javascript: void (0);" title="">dealing with a mental health crisis or emergency</a>.</p>
    
        </div>
      
    
    
        </div>
    
        <article>
    
          
      
        
          
            
            
              <div class="nhsuk-grid-row nhsuk-promo-group">
            
                <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
                  <div class="nhsuk-promo">
                    <a class="nhsuk-promo__link-wrapper" href="javascript: void (0);">
                      <div class="nhsuk-promo__content">
                        <h3 class="nhsuk-promo__heading">Mood self-assessment</h3>
                        
                        <p class="nhsuk-promo__description">Our mood self-assessment quiz can help you understand how you've been feeling recently and what you can do</p>
                        
                      </div>
                    </a>
                  </div>
                </div>
            
          
            
            
                <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
                  <div class="nhsuk-promo">
                    <a class="nhsuk-promo__link-wrapper" href="javascript: void (0);">
                      <div class="nhsuk-promo__content">
                        <h3 class="nhsuk-promo__heading">Mental wellbeing audio guides</h3>
                        
                        <p class="nhsuk-promo__description">These audio guides can help with low mood, anxiety, problems sleeping, low confidence and unhelpful thinking</p>
                        
                      </div>
                    </a>
                  </div>
                </div>
            
              </div>
            
          
        
      
        
          
    
    <hr class="nhsuk-hr">
    
      <h2>How are you feeling?</h2>
    
    
    
      <div class="nhsuk-grid-row">
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Help with stress, anxiety or depression</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="/stress">Stress</a></li>
            
                <li><a href="/anxiety-fear-panic">Anxiety, fear and panic</a></li>
            
                <li><a href="javascript: void (0);">Low mood, sadness and depression</a></li>
            
        </ul>
    </div>
    
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Help with other common feelings</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="javascript: void (0);" title="">Feeling lonely</a></li>
            
                <li><a href="javascript: void (0);" title="">Grief after bereavement or loss</a></li>
            
                <li><a href="javascript: void (0);" title="">Anger</a></li>
            
        </ul>
    </div>
    
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">I'm not sure how I feel</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="javascript: void (0);" title="">Mood self-assessment</a></li>
            
        </ul>
    </div>
    
        
      </div>
    
    
        
      
        
          
    
    <hr class="nhsuk-hr">
    
      <h2>More self-help and support</h2>
    
    
    
      <div class="nhsuk-grid-row">
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Your mental wellbeing</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="javascript: void (0);" title="">5 steps to mental wellbeing</a></li>
            
                <li><a href="javascript: void (0);" title="">Mindfulness</a></li>
            
                <li><a href="javascript: void (0);" title="">Mental wellbeing audio guides</a></li>
            
        </ul>
    </div>
    
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Improve low mood</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="javascript: void (0);" title="">How to be happier</a></li>
            
                <li><a href="javascript: void (0);" title="">Raising low self-esteem</a></li>
            
        </ul>
    </div>
    
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Reduce stress</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="javascript: void (0);" title="">10 stress busters</a></li>
            
                <li><a href="javascript: void (0);" title="">Breathing exercise for stress</a></li>
            
                <li><a href="javascript: void (0);" title="">Easy time-management tips</a></li>
            
                <li><a href="javascript: void (0);" title="">How to cope with money worries</a></li>
            
        </ul>
    </div>
    
        
      </div>
    
      <div class="nhsuk-grid-row">
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Depression support</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="javascript: void (0);" title="">Tips for coping with depression</a></li>
            
                <li><a href="javascript: void (0);" title="">How to help someone with depression</a></li>
            
                <li><a href="javascript: void (0);" title="">Exercise for depression</a></li>
            
        </ul>
    </div>
    
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Mental health at work</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="javascript: void (0);" title="">Bullying at work</a></li>
            
                <li><a href="javascript: void (0);" title="">Going to work after mental health issues</a></li>
            
        </ul>
    </div>
    
        
      </div>
    
    
        
      
        
          
    
    <hr class="nhsuk-hr">
    
      <h2>Therapy and counselling</h2>
    
    
    
      <div class="nhsuk-grid-row">
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Talking therapies and counselling</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="javascript: void (0);" title="">Types of talking therapies</a></li>
            
                <li><a href="javascript: void (0);" title="">Benefits of talking therapy</a></li>
            
                <li><a href="javascript: void (0);" title="">Self-help therapies</a></li>
            
                <li><a href="javascript: void (0);" title="">Can I get free therapy or counselling?</a></li>
            
        </ul>
    </div>
    
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Helplines and support groups</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="javascript: void (0);" title="">Mental health helplines</a></li>
            
                <li><a href="javascript: void (0);" title="">Depression support groups</a></li>
            
                <li><a href="javascript: void (0);" title="">Mental health issues if you're gay, lesbian, bisexual or trans</a></li>
            
                <li><a href="javascript: void (0);" title="">Loneliness in older people</a></li>
            
                <li><a href="javascript: void (0);" title="">Loneliness in the elderly: how to help</a></li>
            
        </ul>
    </div>
    
        
      </div>
    
    
        
      
        
          
    
    <hr class="nhsuk-hr">
    
      <h2>Support for children and young people</h2>
    
    
    
      <div class="nhsuk-grid-row">
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Children's mental health</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="javascript: void (0);" title="">Talking to children about feelings</a></li>
            
                <li><a href="javascript: void (0);" title="">Depression in children and teenagers</a></li>
            
                <li><a href="javascript: void (0);" title="">Anxiety in children</a></li>
            
                <li><a href="javascript: void (0);" title="">Dealing with child anger</a></li>
            
                <li><a href="javascript: void (0);" title="">Children and bereavement</a></li>
            
        </ul>
    </div>
    
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Teen mental health</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="javascript: void (0);" title="">Worried about your teenager?</a></li>
            
                <li><a href="javascript: void (0);" title="">Talking to your teenager</a></li>
            
                <li><a href="javascript: void (0);" title="">Teen aggression and arguments</a></li>
            
                <li><a href="javascript: void (0);" title="">Coping with your teenager</a></li>
            
                <li><a href="javascript: void (0);" title="">Bereavement and young people</a></li>
            
        </ul>
    </div>
    
        
          
    
    <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-heading-s nhsuk-list-links-heading">Student mental health</h3>
        <ul class="nhsuk-list nhsuk-list-links">
            
                <li><a href="javascript: void (0);" title="">Student mental health</a></li>
            
                <li><a href="javascript: void (0);" title="">Student stress: self-help tips</a></li>
            
                <li><a href="javascript: void (0);" title="">Tips on surviving exams</a></li>
            
                <li><a href="javascript: void (0);" title="">Help your child beat exam stress</a></li>
            
        </ul>
    </div>
    
        
      </div>
    
    
        
      
    
    
        </article>
    
      </div>
    </div>

{% endblock %}
