<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK home
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item">
                <a href="/" class="nhsuk-breadcrumb__link">Home</a>
              </li>
      
              <li class="nhsuk-breadcrumb__item">
                <a href="/medicines/" class="nhsuk-breadcrumb__link">Health A to Z</a>
              </li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Back to Level three</a></p>
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
          <span role="text">Overview
            <span class="nhsuk-caption-xl nhsuk-caption--bottom">
              <span class="nhsuk-u-visually-hidden"> - </span>
              Pneumonia
            </span>
          </span>
        </h1>

        <ol class="nhsuk-contents-list__list">
        
          
            <li class="nhsuk-contents-list__item" aria-current="page">
              <span class="nhsuk-contents-list__current">
                
                  Overview
                
              </span>
            </li>
          
        
          
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#">
                
                  Treatment
                
              </a>
            </li>
          
        
      </ol>


<section id="overview">
        <p><strong>Pneumonia is swelling (inflammation) of the tissue in one or both lungs. It's usually caused by a bacterial infection.</strong></p>
          <p>At the end of the breathing tubes in your lungs are clusters of tiny air sacs.</p>
            <p>If you have pneumonia, these tiny sacs become inflamed and fill up with fluid.</p>
</section>

<section id="Symptoms-of-pneumonia">
  <h2>Symptoms of pneumonia</h2>
    <p>The symptoms of pneumonia can develop suddenly over 24 to 48 hours, or they may come on more slowly over several days.</p>
      <p>Common symptoms of pneumonia include:</p>
        <ul>
          <li>a <a href="/conditions/cough/">cough</a> - which may be dry, or produce thick yellow, green, brown or blood-stained mucus (phlegm)
            </li>
          <li>
              <a href="/conditions/shortness-of-breath/">difficulty breathing</a> - your breathing may be rapid and shallow, and you may feel breathless, even when resting
          </li>
          <li> rapid heartbeat</li>
          <li>high temperature</li>
          <li>feeling generally unwell</li>
          <li>sweating and shivering</li>
          <li>loss of appetite</li>
          <li>
            <a href="/conditions/chest-pain/">chest&nbsp;pain</a>– which gets worse when breathing or coughing
          </li>
        </ul>
          <p>Less common symptoms include:
            <ul>
              <li>coughing up blood</li>
              <li>headaches</li>
              <li>feeling sick or being sick</li>
              <li>wheezing</li>
              <li>joint and muscle pain</li>
              <li>feeling confused and disorientated, particularly in elderly people</li>
            </ul>
          </p>
            <h3>When to see a GP</h3>
              <p>See a GP if you feel unwell and you have typical symptoms of pneumonia.</p>
                <p>Seek urgent medical attention if you're experiencing severe symptoms, such as rapid breathing, chest pain or confusion.</p>
</section>

<section id="Who's-affected">
  <h2>Who's affected</h2>
    <p>In the UK, pneumonia affects around 0.5 to 1% of adults each year. It's more widespread in autumn and winter.</p>
      <p>Pneumonia can affect people of any age, but it's more common, and can be more serious, in certain groups of people, such as the very young or the elderly.</p>
        <p>People in these groups are more likely to need hospital treatment if they develop pneumonia.</p>
</section>

<section id="What-causes-pneumonia">
  <h2>What causes pneumonia</h2>
    <p>Pneumonia is usually the result of a pneumococcal infection, caused by bacteria called Streptococcus pneumoniae.</p>
      <p>Many different types of bacteria, including Haemophilus influenzae and Staphylococcus aureus, can also cause pneumonia, as well as viruses and, more rarely, fungi.</p>
        <p>As well as bacterial pneumonia, other types include:</p>
          <ul>
            <li>viral pneumonia – most commonly caused by the respiratory syncytial virus (RSV) and sometimes influenza type A or B; viruses are a common cause of pneumonia in young children</li>
            <li>aspiration pneumonia – caused by breathing in vomit, a foreign object, such as a peanut, or a harmful substance, such as smoke or a chemical</li>
            <li>fungal pneumonia – rare in the UK and more likely to affect people with a weakened immune system</li>
            <li>hospital-acquired pneumonia – pneumonia that develops in hospital while being treated for another condition or having an operation; people in intensive care on breathing machines are particularly at risk of developing ventilator-associated pneumonia</li>
          </ul>
            <h3>Risk groups</h3>
              <p>The following groups have an increased risk of developing pneumonia:</p>
                <ul>
                  <li>babies and very young children</li>
                  <li>elderly people</li>
                  <li>people who smoke</li>
                  <li>people with other health conditions, such as asthma, cystic fibrosis, or a heart, kidney or liver condition</li>
                  <li>people with a weakened immune system – for example, as a result of a recent illness, such as flu, having HIV or AIDS, having chemotherapy, or taking medicine after an organ transplant</li>
                </ul>
</section>

<section id="Diagnosing pneumonia">
  <h2>Diagnosing pneumonia</h2>
    <p>A GP may be able to diagnose pneumonia by asking about your symptoms and examining your chest.</p>
      <p>Further tests may be needed in some cases.</p>
        <p>Pneumonia can be difficult to diagnose because it shares many symptoms with other conditions, such as the common cold, bronchitis and asthma.</p>
          <p>To help make a diagnosis, a GP may ask you:</p>
            <ul>
              <li>whether you feel breathless or you're breathing faster than usual</li>
              <li>how long you have had your cough, and whether you're coughing up mucus and what colour it is</li>
              <li>if the pain in your chest is worse when you breathe in or out</li>
            </ul>
              <p>A GP may also take your temperature and listen to your chest and back with a stethoscope to check for any crackling or rattling sounds.</p>
                <p>They may also listen to your chest by tapping it. Lungs filled with fluid produce a different sound from normal healthy lungs.</p>
                  <p>If you have mild pneumonia, you probably will not need to have a chest X-ray or any other tests.</p>
                    <p>You may need a chest X-ray or other tests, such as a sputum (mucus) test or blood tests, if your symptoms have not improved within 48 hours of starting treatment.</p>
  </section>

  <section id="Treating-pneumonia">
    <h2>Treating pneumonia</h2>
      <p>Mild pneumonia can usually be treated at home by:</p>
        <ul>
          <li>getting plenty of rest</li>
          <li>taking antibiotics</li>
          <li>drinking plenty of fluids</li>
        </ul>
          <p>If you do not have any other health problems, you should respond well to treatment and soon recover, although your cough may last for some time.</p>
            <p>It's usually safe for someone with pneumonia to be around others, including family members.</p>
              <p>But people with a weakened immune system are less able to fight off infections, so it's best they avoid close contact with a person with pneumonia.</p>
                <p>For at-risk groups, pneumonia can be severe and may need to be treated in hospital.</p>
                  <p>This is because it can lead to serious complications, which in some cases can be fatal, depending on a person's health and age.</p>
  </section>

  <section id="Complications-of-pneumonia">
    <h2>Complications of pneumonia</h2>
      <p>Complications of pneumonia are more common in young children, the elderly and those with pre-existing health conditions, such as diabetes.</p>
        <p>Possible complications of pneumonia include:</p>
          <ul>
            <li>pleurisy – where the thin linings between your lungs and ribcage (pleura) become inflamed, which can lead to respiratory failure</li>
            <li>a lung abscess – a rare complication that's mostly seen in people with a serious pre-existing illness or a history of severe alcohol misuse</li>
            <li>blood poisoning (septicaemia) – also a rare but serious complication</li>
          </ul>
            <p>You'll be admitted to hospital for treatment if you develop 1 of these complications.</p>
  </section>

  <section id="Preventing-pneumonia">
    <h2>Preventing pneumonia</h2>
      <p>Although most cases of pneumonia are bacterial and are not passed on from 1 person to another, ensuring good standards of hygiene will help prevent germs spreading.</p>
        <p>For example, you should:</p>
          <ul>
            <li>cover your mouth and nose with a handkerchief or tissue when you cough or sneeze</li>
            <li>throw away used tissues immediately – germs can live for several hours after they leave your nose or mouth</li>
            <li>wash your hands regularly to avoid transferring germs to other people or objects</li>
          </ul>
            <p>A healthy lifestyle can also help prevent pneumonia. For example, you should avoid smoking as it damages your lungs and increases the chance of infection.</p>
              <p>
                  <a href="/live-well/quit-smoking/10-self-help-tips-to-stop-smoking/">Find out&nbsp;how to stop smoking</a>
              </p>
                <p>Excessive and prolonged alcohol misuse also weakens your lungs' natural defences against infections, making you more vulnerable to pneumonia.</p>
                  <p>People at high risk of pneumonia should be offered the pneumococcal vaccine and flu vaccine.</p>
  </section>

  <section id="page-review"></section>

<div class="nhsuk-review-date">

  <p class="nhsuk-body-s">
    Page last reviewed: 18 September 2017<br>
    Next review due: 18 September 2020
  </p>
</div>
    
    </div>  

  </div>
{% endblock %}
