<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK Pregnancy
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1>
        Pregnancy
      </h1>
      <p class="nhsuk-lede-text">
        This page provides links to all the pages and topics relating to pregnancy. Whatever you want to know about <strong>getting pregnant</strong>, <strong>being pregnant</strong> and <strong>giving birth</strong> you should find it here. You'll find detailed week-by-week guides and lots of expert videos, parents' tips and interactive tools to explore.
      </p> 
    </div>
  </div>
</section>
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      
      <div class="nhsuk-grid-row nhsuk-promo-group">
        
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/xx",
            "heading": "Getting pregnant",
            "headingLevel": 1,
            "description": "Whatever you want to know about getting pregnant."
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/xx",
            "heading": "I'm pregnant",
            "headingLevel": 1,
            "description": "All the information that you need regarding your pregnancy."
          }) }}
        </div>

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/xx",
            "heading": "Labour and birth",
            "headingLevel": 1,
            "description": "What you need to know in order to prepare for the birth of your child."
          }) }}
        </div>
      </div>
      <div class="nhsuk-grid-row nhsuk-promo-group">  
        <div class="nhsuk-grid-column-full nhsuk-promo-group__item">
          {{ promo({
            "href": "/xx",
            "heading": "Early days",
            "headingLevel": 1,
            "description": "Find out everything you will need to know and do once you've confirmed that you're pregnant."
          }) }}
        </div>
      </div>

    </div>
  </div>
</section>
<section>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h2>Popular pages</h2>
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
              <ul class="nhsuk-list nhsuk-list-links">
                <li><a href="javascript:void(0);" title="How to make a birth plan">How to make a birth plan</a></li>
                <li><a href="javascript:void(0);">Signs and symptoms of pregnancy</a></li>
                <li><a href="javascript:void(0);">Antenatal checks and tests</a></li>
                <li><a href="javascript:void(0);">The 12 week pregnancy dating scan</a></li>
                <li><a href="/im-pregnant/food-and-drink/">Foods to avoid in pregnancy</a></li>    
              </ul>
          </div>
          <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirdsnhsuk-grid-column-one-half">
            <ul class="nhsuk-list nhsuk-list-links">
              <li><a href="javascript:void(0);">Your pregnancy to-do list</a></li>
              <li><a href="javascript:void(0);">Pain relief in labour</a></li>
              <li><a href="javascript:void(0);">Signs that labour has begun</a></li>
              <li><a href="javascript:void(0);">Tips for your birth partner</a></li>              
              <li><a href="javascript:void(0);">What happens during labour and birth</a></li> 
            </ul>
          </div>
        </div>

    </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h2>Most popular topics</h2>
      <div class="nhsuk-grid-row nhsuk-promo-group">

        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/xx",
            "heading": "Your pregnancy journey",
            "headingLevel": 1,
            "description": "You should start your antenatal care as soon as possible once you know you're pregnant. Find out what's available."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/xx",
            "heading": "Tests and scans",
            "headingLevel": 1,
            "description": "Make sure you know about what and when you will be offered a range of scans and tests."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/xx",
            "heading": "Help getting pregnant",
            "headingLevel": 2,
            "description": "Find out what help is available when trying to get pregnant."
          }) }}
        </div>

      </div>
      <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/xx",
            "heading": "Pregnancy-induced conditions",
            "headingLevel": 1,
            "description": "Information about gestational diabetes, pre-eclampsia and Hyperemesis gravidarum (severe vomiting)."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/xx",
            "heading": "Preparing for birth",
            "headingLevel": 1,
            "description": "From pain relief, what to pack for the birth, to what happens whilst you're in labour."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "/food-and-drink",
            "heading": "Food and drink in pregnancy",
            "headingLevel": 2,
            "description": "Make sure you know the important facts about food and drink whilst you're pregnant."
          }) }}
        </div>
      </div>

    </div>
  </div>
  
  </div>
</section>
      <!-- Add your content here -->
  <!--    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          {{ promo({
                  "href": "/xx",
                  "heading": "Check a symptom",
                  "headingLevel": 1,
                  "description": "xxxxxxxxx."
              }) }}
          </div>
      </div>-->

      <!-- End of content -->


{% endblock %}
