<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Stress - NHS.UK 
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item">
                <a href="/home" class="nhsuk-breadcrumb__link">Home</a>
              </li>
      
              <li class="nhsuk-breadcrumb__item">
                <a href="/a-to-z" class="nhsuk-breadcrumb__link">Health A to Z</a>
              </li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/a-to-z">Back to Health A to Z</a></p>
      </div>
      </nav>

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>Stress</h1>

<section id="overview">
    <p><strong>Most people feel stressed sometimes and some people find stress helpful or even motivating. But if stress is affecting your life, there are things you can try that may help.</strong></p>
    <p>Support is also available if you're finding it hard to cope with stress.</p>
        <h3>Symptoms of stress</h3>
            <p>Stress can cause many different symptoms. It might affect how you feel physically, mentally and also how you behave.</p>
            <p>It's not always easy to recognise when stress is the reason you're feeling or acting differently.</p>
            <div class="block-expander_group">
                <div class="nhsuk-expander-group">
                
                  
                    <details class="nhsuk-details nhsuk-expander">
                  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                    <span class="nhsuk-details__summary-text">
                    Physical symptoms
                    </span>
                  </summary>
                  <div class="nhsuk-details__text" id="details-content-0" aria-hidden="true">
                    <ul>
                <li>headaches or dizziness</li>
                <li>muscle tension or pain</li>
                <li>stomach problems</li>
                <li>chest pain or a faster heartbeat</li>
                <li>sexual problems</li>
                </ul>
                
                  </div>
                </details>
                
                
                  
                    <details class="nhsuk-details nhsuk-expander">
                  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-1" aria-expanded="false">
                    <span class="nhsuk-details__summary-text">
                    Mental symptoms
                    </span>
                  </summary>
                  <div class="nhsuk-details__text" id="details-content-1" aria-hidden="true">
                    <ul>
                <li>difficulty concentrating</li>
                <li>struggling to make decisions</li>
                <li>feeling overwhelmed</li>
                <li>constantly worrying</li>
                <li>being forgetful</li>
                </ul>
                
                  </div>
                </details>
                
                
                  
                    <details class="nhsuk-details nhsuk-expander">
                  <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-2" aria-expanded="false">
                    <span class="nhsuk-details__summary-text">
                    Changes in behaviour
                    </span>
                  </summary>
                  <div class="nhsuk-details__text" id="details-content-2" aria-hidden="true">
                    <ul>
                <li>being irritable and snappy</li>
                <li>sleeping too much or too little</li>
                <li>eating too much or too little</li>
                <li>avoiding certain places or people</li>
                <li>drinking or smoking more</li>
                </ul>
                
                  </div>
                </details>
                
                
                  
                
                </div>
                </div> 

                <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p>If you're not sure how you feel, try our <a href="javascript:void(0);" title="">mood self-assessment</a>.</p>
                </div>
</section>

<section id="things-you-can-do-to-help-with-stress">
    <h2>Things you can try to help with stress</h2>
    
    <div class="nhsuk-do-dont-list">
            <h3 class="nhsuk-do-dont-list__label">Do</h3>
            <ul class="nhsuk-list nhsuk-list--tick">
              <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                try talking about your feelings to a friend, family member or health professional. You could also contact
                <a href="javascript: void (0);" title="">Samaritans, call 116 123</a> or email
                <a href="javascript: void (0);" title="">jo@samaritans.org</a> if you need someone to talk to
              </li>
              <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                find out more about
                    <a href="javascript: void (0);" title=""> 10 stress busters</a> - including
                    <a href="javascript: void (0);" title=""> getting started with exercise</a> and setting aside time for yourself
              </li>
              <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                use easy
                <a href="javascript: void (0);" title="">time-management techniques</a> to help you take control
              </li>
              <li>
                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                    </svg>
                    use
                    <a href="javascript: void (0);" title=""> calming breathing exercises</a>
                  </li>
                <li>
                <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                </svg>
                plan ahead for stressful days or events – planning long journeys or making a list of things to remember can really help
              </li>
              <li>
                    <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                    </svg>
                    consider peer support, where people use their experiences to help each other.
                    <a href="javascript: void (0);" title=""> Find out more about peer support</a> on the Mind website
                </li>
                <li>
                        <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                          <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                        </svg>
                        listen to
                        <a href="javascript: void (0);" title=""> free mental wellbeing audio guides</a>
                    </li>
                    <li>
                            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                            </svg>
                            search and download
                            <a href="javascript: void (0);" title=""> relaxation and mindfulness apps</a> or
                            <a href="javascript: void (0);" title=""> online community apps</a> from the NHS apps library
                        </li>
            </ul>
          </div>

          <div class="nhsuk-do-dont-list">
                <h3 class="nhsuk-do-dont-list__label">Don&#39;t</h3>
                <ul class="nhsuk-list nhsuk-list--cross">
                  <li>
                    <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                      <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                    </svg>
                    do not try to do everything at once – set small targets you can easily achieve
                  </li>
                  <li>
                    <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                      <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                    </svg>
                    do not focus on the things you cannot change – focus your time and energy into helping yourself feel better
                  </li>
                  <li>
                    <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                      <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                    </svg>
                    try not to tell yourself that you're alone – most people feel stressed at some point in their life and support is available
                  </li>
                  <li>
                    <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                      <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                    </svg>
                    try not to use alcohol, cigarettes, gambling or drugs to relieve stress – these can all contribute to poor mental health
                  </li>
                </ul>
              </div>

</section>

<section id="further-information-and-support">

<div class="block-information">



        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <h3>Further information and support</h3>
        
        <p>The mental health charity Mind offers more information on:</p>
        
        <ul>
        <li><a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/stress/dealing-with-pressure/" title="external website">dealing with pressure</a></li>
        <li><a href="https://www.mind.org.uk/information-support/types-of-mental-health-problems/stress/developing-resilience/" title="External website">developing emotional resilience</a> to help you adapt and bounce back during difficult times</li>
        </ul>
        
        <p><a href="javascript: void(0):" title="">Your Mind Plan</a> on the Every Mind Matters website sends personalised tips and advice to your email inbox.</p>
        
        </div>
        
        
        </div>
    </section>

<section id= "where-to-get-nhs-help-for-stress">
    <h2>Where to get NHS help for stress</h2>
        <h3>Referring yourself for therapy</h3>
            <p>If you need more support, you can get free psychological therapies like
                <a href= "javascript: void(0):" title="">cognitive behavioural therapy (CBT)</a> on the NHS
            </p>
            <p>You can refer yourself directly to a psychological therapies service without a referral from a GP.</p>
            <div class="nhsuk-action-link">
                    <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551">
                      <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                      </svg>
                      <span class="javascript: void(0):" title="">Find a psychological therapies service in your area</span>
                    </a>
                  </div>        
</section>

<section id ="care-cards">
        <div class="nhsuk-care-card nhsuk-care-card--non-urgent">
                <div class="nhsuk-care-card__heading-container">
                  <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>Speak to a GP if:</span></h3>
                  <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
                </div>
                <div class="nhsuk-care-card__content">
              
                  <ul>
                    <li>you're struggling to cope with stress</li>
                    <li>things you're trying yourself are not helping</li>
                    <li>you would prefer to get a referral from a GP</li>
                  </ul>
              
                </div>
              </div>

              <div class="nhsuk-care-card nhsuk-care-card--urgent">
                    <div class="nhsuk-care-card__heading-container">
                      <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Urgent advice: </span>Call 11 or ask for an urgent GP appointment if:</span></h3>
                      <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
                    </div>
                    <div class="nhsuk-care-card__content">
                  
                      <ul>
                        <li>you need help urgently, but it's not an emergency</li>
                      </ul>
                      <p>111 can tell you the right place to get help if you need to see someone. Go to
                          <a href="javascript: void(0);" title="">111.nhs.uk</a> or 
                          <a href="javascript: void(0);" title="">call: 111</a>
                      </p>
                  
                    </div>
                  </div>
                  <div class="nhsuk-care-card nhsuk-care-card--immediate">
                        <div class="nhsuk-care-card__heading-container">
                          <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 or go to A&E now if</span></h3>
                          <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
                        </div>
                        <div class="nhsuk-care-card__content">
                      
                          <ul>
                            <li>you or someone you know needs immediate help</li>
                            <li>you have seriously harmed yourself - for example, by taking a drug overdose</li>
                          </ul>
                          <p>A mental health emergency should be taken as seriously as a medical emergency.</p>
                          <a href="javascript: void(0);" title="">Find your nearest A&E</a>
                      
                        </div>
                      </div>       
</section>

<section id="causes-of-stress">
    <h2>Causes of stress</h2>
    <p>Stress is usually a reaction to mental or emotional pressure. It's often related to feeling like you're losing control over something, but sometimes there's no obvious cause.</p>
    <p>When you're feeling anxious or scared, your body releases stress hormones such as adrenaline and cortisol.</p>
    <p>This can be helpful for some people and stress might help you get things done or feel more motivated.</p>
    <p>But it might also cause physical symptoms such as a faster heartbeat or sweating. If you're stressed all the time it can become a problem.</p>
    <h3>Identifying the cause</h3>
    <p>If you know what's causing your stress it might be easier to find ways to manage it.</p>
    <p>Some examples of things that may cause stress include:</p>
    <ul>
        <li>work - feeling pressure at work, unemployment or retirement</li>
        <li>family - relationship difficulties, divorce or
            <a href="javascript: void(0);" title="">caring for someone</a>
        </li>
        <li>financial problems - unexpected bills or borrowing money</li>
        <li>health - illness, injury or 
            <a href="javascript: void(0);" title=""> losing someone (bereavement)</a>
        </li>
    </ul>
    <p>Even significant life events such as buying a house, having a baby or planning a wedding could lead to feelings of stress.</p>
    <p>You might find it hard to explain to people why you feel this way, but talking to someone could help you find a solution.</p>
    <p>Find out about the
        <a href="javascript: void (0);" title=""> 5 steps to mental wellbeing</a>
    </p>
</section>

<div class="nhsuk-review-date">

  <p class="nhsuk-body-s">
    Page last reviewed: 18 September 2017<br>
    Next review due: 18 September 2020
  </p>
</div>

  <!-- End of content -->

</div>

</div>
{% endblock %}
