<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK Check a symptom
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Check a symptom
      </h1>
        <p class="nhsuk-lede-text">
              Intro text for this page goes here.
        </p>

      <!-- Add your content here -->

      <section>
        
          <h2>Check a symptom</h2>
          <p>Gen text...</p>
           <p> [searchbox goes here]</p>
 
        
      </section>

      <section>
        
          <h2>Browse by body part</h2>
          <p>Gen text...</p>
          <div class="nhsuk-grid-row">

            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Head</h3>
                    <p class="nhsuk-promo__description">xxxxx</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Shoulders</h3>
                    <p class="nhsuk-promo__description">xxxxx</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Knees</h3>
                    <p class="nhsuk-promo__description">xxxxx</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Toes</h3>
                    <p class="nhsuk-promo__description">xxxxx</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Eyes</h3>
                    <p class="nhsuk-promo__description">xxxxx</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Ears</h3>
                    <p class="nhsuk-promo__description">xxxxx</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Mouth</h3>
                    <p class="nhsuk-promo__description">xxxxx</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="nhsuk-grid-column-one-half">
              <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="https://www.nhs.uk">
                  <div class="nhsuk-promo__content">
                    <h3 class="nhsuk-promo__heading">Nose</h3>
                    <p class="nhsuk-promo__description">xxxxx</p>
                  </div>
                </a>
              </div>
            </div>

          </div>
        
      </section>

      <section>
        
          <h2>Emergency???</h2>
          <p>Gen text... what goes here?</p>
        
      </section>
      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
