<!-- Extends the layout from /views/layout.html -->
{% extends 'template-lab-4a.html' %}
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Symptoms - NHS
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumbs -->
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a href="" class="nhsuk-breadcrumb__link">Symptoms</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="" class="nhsuk-breadcrumb__backlink">
        <span class="nhsuk-u-visually-hidden">Back to </span>Symptoms
      </a>
    </p>
  </div>
</nav>
{% endblock %}


<!-- Homepage content -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Loss of libido (reduced sex drive)</h1>
    </div>
    <p><strong>Loss of libido (sex drive) is a common problem that affects many men and women at some point in their life.</strong></p>
    <p>It's often linked to relationship issues, stress or tiredness, but can be a sign of an underlying medical problem, such as reduced hormone levels.</p>
    <p>Everyone's sex drive is different and there's no such thing as a "normal" libido. But if you find your lack of desire for sex is distressing or it's affecting your relationship, it's a good idea to get help.</p>
    <p>This page explains where you can get help and some common causes of a low libido.</p>
    <h2>Where to get help and advice</h2>
    <ul>
      <li>a GP – they may be able to offer some helpful advice, or refer you to a specialist for an assessment and treatment</li>
      <li>a psychosexual therapist – a GP may be able to refer you an NHS therapist, or you could pay to see a therapist privately; find out more about <a href="javascript:void(0);">what sex therapists do and how to find one</a></li>
      <li>a <a href="javascript:void(0);">sexual health service</a>; <a href="javascript:void(0);">find a service offering sexual health information and support</a></li>
      <li><a href="javascript:void(0);">Relate – a relationship support service that has <a href="javascript:void(0);">online advice about sex and relationships</a>, <a href="javascript:void(0);">telephone and online counselling</a> and <a href="javascript:void(0);">local support services</a>, as well as therapists you can pay to see</li>
      <li><a href="javascript:void(0);">Sexual Advice Association</a> – a sexual health charity that has <a href="javascript:void(0);">online factsheets about sex problems</a></li>
    </ul>
    <p>Try to not feel embarrassed about getting help. Lots of people experience problems with their sex drive and seeking advice can be the first step towards resolving the issue.</p>
    <h2>Common causes of a low libido</h2>
    <h3>Relationship problems</h3>
    <p>One of the first things to consider is whether you're happy in your relationship. Do you have any doubts or worries that could be behind your loss of sexual desire?</p>
    <p>A low libido could be the result of:</p>
    <ul>
      <li>being in a long-term relationship and becoming overfamiliar with your partner</li>
      <li>loss of sexual attraction</li>
      <li>unresolved conflict and frequent arguments</li>
      <li>poor communication</li>
      <li>difficulty trusting each other</li>
      <li>physical sexual problems</li>
    </ul>
    <p>A GP may be able to refer you and your partner for relationship <a href="javascript:void(0);">counselling</a> if you're having persistent problems, or you may wish to contact <a href="javascript:void(0);">Relate for support and advice.</a></p>
    <h3>Sexual problems</h3>
    <p>Another thing to consider is whether the problem is a physical issue that makes sex difficult or unfulfilling.</p>
    <p>For example, a low sex drive can be the result of:</p>
    <ul>
      <li><a href="javascript:void(0);">ejaculation problems</a></li>
      <li><a href="javascript:void(0);">erectile dysfunction</a></li>
      <li><a href="javascript:void(0);">vaginal dryness</a></li>
      <li><a href="javascript:void(0);">painful sex</a></li>
      <li><a href="javascript:void(0);">an inability to orgasm</a></li>
      <li>involuntary tightening of the vagina <a href="javascript:void(0);">(vaginismus)</a></li>
    </ul>
    <h3>Stress, anxiety and exhaustion</h3>
    <p>Stress, anxiety and exhaustion can be all-consuming and have a major impact on your happiness, including your sex drive.</p>
    <p>If you feel you're constantly tired, stressed or anxious, you may need to make some lifestyle changes or speak to a GP for advice.</p>
    <p>You may find some of the following information and advice useful:</p>
    <ul>
      <li><a href="javascript:void(0);">Why am I tired all the time?</a></li>
      <li><a href="javascript:void(0);">Getting help with anxiety, fear or panic</a></li>
      <li><a href="javascript:void(0);">Self-help tips to fight tiredness</a></li>
      <li><a href="javascript:void(0);">10 ways to reduce stress</a></li>
      <li><a href="javascript:void(0);">Breathing exercises for stress</a></li>
    </ul>
    <h3>Depression</h3>
    <p><a href="javascript:void(0);">Depression</a> is very different from simply feeling unhappy, miserable or fed up for a short time. It's a serious illness that interferes with all aspects of your life, including your sex life.</p>
    <p>In addition to low libido, signs of depression can include:</p>
    <ul>
      <li>eelings of extreme sadness that don't go away</li>
      <li>feeling low or hopeless</li>
      <li>losing interest or pleasure in doing things you used to enjoy</li>
    </ul>
    <p>It's important to see a GP if you think you might be depressed. They can advise you about the main <a href="javascript:void(0);">treatments for depression</a> such as <a href="javascript:void(0);">talking therapies</a>, or <a href="javascript:void(0);">antidepressants</a>.</p>
    <p>A low sex drive can also be a side effect of antidepressants. Speak to a GP if you think this may be causing your problems.</p>
    <h3>Getting older and the menopause</h3>
    <p>A reduced sex drive is not an inevitable part of ageing, but it's something many men and women experience as they get older.</p>
    <p>There can be many reasons for this, including:</p>
    <ul>
      <li>lower levels of sex hormones (oestrogen and testosterone) just before, during and after the <a href="javascript:void(0);">menopause</a> in women</li>
      <li>lower levels of sex hormone (testosterone) in men</li>
      <li>age-related health problems, including mobility problems</li>
      <li>side effects of medicine</li>
    </ul>
    <p>Speak to a GP if you're concerned about this. They may ask about any other symptoms you have, and sometimes they may arrange for a <a href="javascript:void(0);">blood test</a> to check your hormone levels.</p>
    <p>There are treatments to increase hormone levels if low levels are causing problems, such as <a href="javascript:void(0);">hormone replacement therapy (HRT)</a> with or without testosterone treatment for women going through the menopause.</p>
    <p>Read more about <a href="javascript:void(0);">sex as you get older</a>.</p>
    <h3>Pregnancy, giving birth and breastfeeding</h3>
    <p>Loss of interest in sex is common during pregnancy, after giving birth and while breastfeeding.</p>
    <p>This can be because of:</p>
    <ul>
      <li>changes to your hormone levels</li>
      <li>changes to your body and issues with your body image</li>
      <li>exhaustion</li>
      <li>painful sex caused by an injury, such as a cut or tear, during childbirth</li>
      <li>changed priorities, such as focusing on looking after your bab</li>
    </ul>
    <p>These issues may improve over time. Speak to a GP if your sex drive does not return and it's a problem for you.</p>
    <p>It may also help to read about <a href="javascript:void(0);">sex in pregnancy</a> and <a href="javascript:void(0);">sex after giving birth</a>.</p>
    <h3>Underlying health problems</h3>
    <p>Any long-term medical condition can affect your sex drive. This may be a result of the physical and emotional strain these conditions can cause, or it may be a side effect of treatment.</p>
    <p>For example, a low libido can be associated with:</p>
    <ul>
      <li><a href="javascript:void(0);">heart disease</a></li>
      <li><a href="javascript:void(0);">diabetes</a></li>
      <li>an <a href="javascript:void(0);">underactive thyroid</a> – where the thyroid gland does not produce enough hormones</li>
      <li><a href="javascript:void(0);">cancer</a></li>
      <li>major surgery – for example, surgery to remove the ovaries and womb in women</li>
    </ul>
    <p>Speak to a GP or specialist if you think your low libido may be the result of an underlying medical condition or treatment.</p>
    <h3>Medicine and contraception</h3>
    <p>Certain medicines can sometimes reduce libido, including:</p>
    <ul>
      <li>medicine for <a href="javascript:void(0);">high blood pressure</a></li>
      <li>many types of <a href="javascript:void(0);">antidepressants</a></li>
      <li>medicine for seizures (fits), such as <a href="javascript:void(0);">topiramate</a></li>
      <li>medicines called <a href="javascript:void(0);">antipsychotics</a>, such as haloperidol</li>
      <li><a href="javascript:void(0);">medicine for an enlarged prostate</a>, such as finasteride</li>
      <li><a href="javascript:void(0);">medicine for prostate cancer</a>, such as cyproterone</li>
      <li>hormonal contraception, such as the <a href="javascript:void(0);">combined hormonal contraception pill</a>, <a href="javascript:void(0);">patch</a> or <a href="javascript:void(0);">ring</a>, the <a href="javascript:void(0);">progestogen-only pill</a>, the <a href="javascript:void(0);">contraceptive implant</a> and the <a href="javascript:void(0);">contraceptive injection</a></li>
    </ul>
    <p>Check the leaflet that comes with your medicine to see if low libido is listed as a possible side effect.</p>
    <p>See a GP if you think a medicine is affecting your sex drive. They may be able to switch you to a different medicine.</p>
    <h3>Alcohol and drugs</h3>
    <p>Drinking excessive amounts of alcohol over a long period can reduce your sex drive, so it's a good idea to not drink excessive amounts.</p>
    <p>Men and women are advised not to drink more than 14 <a href="javascript:void(0);">alcohol units</a> a week on a regular basis.</p>
    <p>Read some <a href="javascript:void(0);">tips on cutting down on alcohol</a> and find out <a href="javascript:void(0);">where to get support for a drinking problem</a> if you think you need it.</p>
    <p>Drug misuses is also linked to a loss of sex drive. Find out <a href="javascript:void(0);">where to get help for drug addiction</a>.</p>

    <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 02 August 2019<br>
    Next review due: 02 August 2022
    </p>

    <aside class="nhsuk-grid-column">
      <div id="sibling-nav" class="app-related-nav beta-hub-sibling-nav nhsuk-u-padding-top-5">
        <h2 class="app-related-nav__heading nhsuk-u-padding-bottom-3">
          More in
          
            <a href="/lab-4/a/symptoms/body-part/vagina-periods">Vagina and periods</a>
          
        </h2>
        <nav role="navigation" class="app-related-nav__nav-section">
          <ul class="app-related-nav__list beta-hub-sibling-nav__list">

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/vagina-periods/bedwetting">
                Bedwetting
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/vagina-periods/blood-urine">
                Blood in urine
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/vagina-periods/irregular-periods">
                Heavy periods
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/vagina-periods/irregular-periods">
                Irregular
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item  beta-hub-sibling-nav--current" aria-current="true">
              Loss of libido
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/vagina-periods/ovulation-pain">
                Ovulation pain
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/vagina-periods/pelvic-pain">
                Pelvic pain
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/vagina-periods/period-pain">
                Period pain
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/vagina-periods/post-menopausal-bleeding">
                Post menopausal bleeding
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/vagina-periods/smelly-urine">
                Smelly urine
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/vagina-periods/stopped-or-missed-periods">
                Stopped or missed periods
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/vagina-periods/vaginal-discharge">
                Vaginal discharge
              </a>
            </li>

            <li class="beta-hub-sibling-nav__item">
              <a class="app-related-nav__link" href="/lab-4/a/symptoms/body-part/vagina-periods/vaginal-dryness">
                Vaginal dryness
              </a>
            </li>



          </ul>
        </nav>
      </div>
    </aside>







  </div>
</div>
{% endblock %}
